Repository TencentBlueKing/bk-monitor, pull requests merged in 2023-11, with the labels that each got.

#62 feat: 新增规则调试API
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_desensitize/serializers.py
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, feat

#60 fix: 检索条件候选值根据时间变化更新
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#66 feat: 日志聚类数据链路旁路化改造 for bkdata --story=114933414
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/migrations/0024_clusteringconfig_clustered_rt.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/templates/flow/predict_flow_bkdata.json
Labels: project/log, feat

#70 fix: 修复IP选择器手动输入IP查询 --bug=116562211
  bklog/bkm_ipchooser/handlers/host_handler.py
Labels: project/log, fix

#67 feat: 提取链路管理参数密文传输
  bklog/web/src/views/manage/manage-extract/extract-link-manage/extract-link-create.vue
Labels: project/log, feat

#68 bugfix: 修复获取存储 kafka 记录 ID
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, fix

#39 pref: 优化空间路由功能
  bkmonitor/bkmonitor/management/commands/change_custom_group_biz.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/management/commands/add_bkci_metrics_and_dimensions.py
  bkmonitor/metadata/management/commands/init_redis_data.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/space/conftest.py
  bkmonitor/metadata/tests/space/test_space_router.py
  bkmonitor/metadata/tests/task/test_custom_report.py
Labels: project/monitor, perf

#69 fix: 修复日志检索条件存在/不存在未隐藏输入框问题 --bug=116557551
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#72 feat: 添加日志脱敏特性开关
  bklog/apps/feature_toggle/plugins/constants.py
Labels: project/log, feat

#74 feat: 日志归档支持索引集归档
  bklog/apps/log_databus/handlers/archive.py
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat

#6 feat: nodata执行前检查access最后执行时间 --story=887224331
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/alarm_backends/core/control/strategy.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/nodata/handler.py
Labels: project/monitor, feat

#65 fix: 修复策略data_lable为空时报错问题
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-ui/markdown-editor/editor.tsx
  bkmonitor/webpack/src/monitor-ui/markdown-editor/viewer.tsx
Labels: project/monitor, fix

#64 feat: 国密sdk接入 --story=114947267
  .pre-commit-config.yaml
  bklog/apps/log_extract/handlers/link.py
  bklog/apps/log_extract/models.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/utils/aes.py
  bklog/config/default.py
  bklog/requirements.txt
  bklog/web/src/views/manage/manage-extract/extract-link-manage/extract-link-create.vue
Labels: project/log, feat

#78 feat: 增加容器内置指标 --story=114962769
  bkmonitor/metadata/data/k8s_metrics/coredns.yaml
  bkmonitor/metadata/data/k8s_metrics/kube.yaml
  bkmonitor/metadata/data/k8s_metrics/kubelet.yaml
  bkmonitor/metadata/data/k8s_metrics/node.yaml
Labels: project/monitor, feat

#79 fix: 告警提醒人的位置调整 --bug=116575451
  bkmonitor/bkmonitor/utils/send.py
  bkmonitor/templates/notice/abnormal/action/markdown_content.jinja
  bkmonitor/templates/notice/abnormal/action/markdown_content_en.jinja
Labels: project/monitor, fix

#80 chore: https相关的django配置调整为web专用配置，避免容器化部署影响到api配置 --story=114964273
  bkmonitor/config/default.py
  bkmonitor/config/role/web.py
Labels: project/monitor, chore

#75 feat: 修改脱敏菜单配置特性为Debug模式
  bklog/apps/feature_toggle/plugins/constants.py
  bklog/apps/log_search/handlers/meta.py
  bklog/config/default.py
Labels: project/log, feat

#83 fix: 英文版本的markdown占位符错误 --bug=116622239
  bkmonitor/templates/notice/abnormal/action/markdown_content_en.jinja
Labels: project/monitor, fix

#82 feat: 日志导出API添加Superuser是否脱敏的判断逻辑
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#86 feat: gse2.0适配 --story=114840197
  bkmonitor/packages/monitor_web/commons/job/__init__.py
  bkmonitor/packages/monitor_web/uptime_check/collector/collector.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, feat

#84 fix: 无数据handler任务支持集群化 --bug=116626117
  bkmonitor/alarm_backends/service/nodata/handler.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/monitor, fix

#88 feat: 仪表盘目录树补充是否可编辑信息
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Labels: project/monitor, feat

#85 bugfix: 修复结果表长度，保持一致--bug=116620305
  bkmonitor/metadata/migrations/0175_auto_20231102_1742.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/vm/record.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, fix

#90 feat: 日志脱敏验收修复 & 日志脱敏灰度
  bklog/web/src/App.vue
  bklog/web/src/components/collection-access/components/step-add/monaco-editor.vue
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-masking.scss
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/collection-access/step.js
  bklog/web/src/components/global-setting/index.scss
  bklog/web/src/components/global-setting/index.tsx
  bklog/web/src/components/log-masking/masking-add-rule.scss
  bklog/web/src/components/log-masking/masking-add-rule.tsx
  bklog/web/src/components/log-masking/masking-dialog.scss
  bklog/web/src/components/log-masking/masking-field-input.scss
  bklog/web/src/components/log-masking/masking-field-input.tsx
  bklog/web/src/components/log-masking/masking-field.scss
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/components/log-masking/masking-select-rule-table.tsx
  bklog/web/src/components/log-masking/masking-setting.scss
  bklog/web/src/components/log-masking/masking-setting.tsx
  bklog/web/src/components/monitor-echarts/components/chart-title-new.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/components/nav/manage-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/language/lang/en/route.ts
  bklog/web/src/services/masking.ts
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/field-masking-separate/index.scss
  bklog/web/src/views/manage/field-masking-separate/index.tsx
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/list.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/time-formatter-switcher.scss
  bklog/web/src/views/retrieve/result-table-panel/original-log/time-formatter-switcher.tsx
Labels: project/log, feat

#92 chore: 日志采样文案调整
  bklog/web/src/components/global-setting/index.scss
  bklog/web/src/components/log-masking/masking-add-rule.tsx
  bklog/web/src/components/log-masking/masking-field-input.tsx
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, chore

#94 feat: 修改创建结果表为同步
  bklog/app.yml
  bklog/apps/log_databus/handlers/etl_storage/base.py
Labels: project/log, feat

#89 fix: grafana前端权限校验权限问题修复 --bug=116658921
  bkmonitor/bk_dataview/api.py
  bkmonitor/bkmonitor/iam/action.py
  bkmonitor/bkmonitor/iam/migrations/0002_single_dashboard.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/index-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/authority-map.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/fav-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/icon-btn.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/migrate-dashboard/authority-map.ts
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/view-detail.vue
  bkmonitor/webpack/src/monitor-pc/router/dashboard/index.ts
Labels: project/monitor, fix

#98 feat: 采集状态表单标题国际化处理
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#101 feat: 日志脱敏验收修复
  bklog/web/src/App.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/log-masking/masking-add-rule.scss
  bklog/web/src/components/log-masking/masking-add-rule.tsx
  bklog/web/src/components/log-masking/masking-setting.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/field-masking-separate/index.tsx
  bklog/web/src/views/manage/manage-access/custom-report/list.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
  bklog/web/src/views/retrieve/result-comp/result-header.vue
Labels: project/log, feat

#102 fix: [apm] add output_type and data_type
  bkmonitor/packages/apm_web/meta/plugin/log_trace_plugin_config.py
Labels: project/apm, fix

#103 chore: pre-push增加锁文件避免重复执行
  .pre-commit-config.yaml
  scripts/pre-commit/pre-push.py
Labels: project/public, refactor

#104 feat: 外部授权日志提取支持提取策略限制
  bklog/apps/log_commons/models.py
  bklog/apps/log_extract/handlers/explorer.py
  bklog/apps/utils/local.py
  bklog/log_adapter/home/views.py
  bklog/web/src/api/index.js
Labels: project/log, feat

#105 feat: 灰度业务判断逻辑优化
  bklog/web/src/store/index.js
Labels: project/log, fix

#100 feat: 上下文字段判断增加容器ID --bug=116638083
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#95 feat: 【产品功能】日志聚类功能补充 --story=886654115
  bklog/.pre-commit-config.yaml
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0025_auto_20231103_1656.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/pattern_views.py
Labels: project/log, feat

#108 fix: 日志脱敏验收修复
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/log-masking/masking-add-rule.tsx
  bklog/web/src/components/log-masking/masking-field.scss
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/components/log-masking/masking-setting.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/custom-report/list.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, fix

#109 feat: 主机静态数据展示优化
  bkmonitor/api/cmdb/define.py
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
Labels: project/monitor, feat

#112 chore: 日志脱敏tips文案调整
  bklog/web/src/components/log-masking/masking-field-input.scss
  bklog/web/src/components/log-masking/masking-field-input.tsx
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, chore

#115 feat: ascode支持通知图片开关配置 --story=115012376
  bkmonitor/bkmonitor/as_code/json_schema/rule.json
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/bkmonitor/as_code/schema.py
Labels: project/monitor, feat

#114 feat: 查询数据链路命令返回使用的 vm 信息 --story=114994062
  bkmonitor/metadata/management/commands/query_storage.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/service/storage_details.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/commands/test_query_storage.py
Labels: project/monitor, feat

#117 feat: add deepflow plugin to bkmonitor grafana config
  bkmonitor/support-files/templates/grafana#conf#grafana.ini
Labels: project/apm, feat, notapd

#116 feat: 后台指标上报集群化适配 --story=115014888
  bkmonitor/alarm_backends/core/lock/service_lock.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/access/event/processor.py
  bkmonitor/alarm_backends/service/scheduler/tasks/report_cron.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/utils/custom_report_aggate.py
  bkmonitor/config/default.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/core/prometheus/tools.py
  bkmonitor/urls.py
Labels: project/monitor, feat

#106 feat: 新增索引集标签功能API
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat

#120 主机静态数据展示接口优化
  bkmonitor/alarm_backends/core/lock/service_lock.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/access/event/processor.py
  bkmonitor/alarm_backends/service/scheduler/tasks/report_cron.py
  bkmonitor/api/cmdb/define.py
  bkmonitor/bkmonitor/as_code/json_schema/rule.json
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/bkmonitor/as_code/schema.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/utils/custom_report_aggate.py
  bkmonitor/config/default.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/core/prometheus/tools.py
  bkmonitor/metadata/management/commands/query_storage.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/service/storage_details.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/commands/test_query_storage.py
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
  bkmonitor/support-files/templates/grafana#conf#grafana.ini
  bkmonitor/urls.py
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/circulation-record.tsx
  scripts/pre-commit/preci.sh
Labels: project/monitor, feat

#119 fix: 解决 apm 创建应用时的存储索引名中缺失业务前缀名的显示。 --story=886903381
  bkmonitor/webpack/src/apm/pages/application/app-add/app-add.tsx
Labels: project/apm, fix

#122 feat: 脱敏预览增加日志原文字段预览值
  bklog/apps/log_desensitize/handlers/desensitize.py
Labels: project/log, feat

#124 chore: monitor开发镜像构建脚本
  bkmonitor/Dockerfile.dev
  bkmonitor/scripts/dev/code-server.yaml
  bkmonitor/scripts/dev/local_settings.py.tpl
  bkmonitor/scripts/dev/run.sh
  bkmonitor/scripts/dev/supervisord.conf
Labels: project/monitor, chore

#126 bugfix: 修复同步数据标签和结果表功能
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, fix

#125 fix: 日志脱敏回归验收修复
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/collection-access/step.js
  bklog/web/src/components/log-masking/masking-field.scss
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/components/log-masking/masking-select-rule-table.scss
  bklog/web/src/components/log-masking/masking-select-rule-table.tsx
  bklog/web/src/components/nav/manage-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/route.ts
  bklog/web/src/services/masking.ts
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/list.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
Labels: project/log, chore

#129 chore: 删除日志脱敏侧边栏顶部提示
  bklog/web/src/components/log-masking/masking-select-rule-table.scss
  bklog/web/src/components/log-masking/masking-select-rule-table.tsx
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, chore

#127 feat: 完成主机详情侧边栏的改造。 --story=887203085
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/common-detail.ts
Labels: project/monitor, feat

#133 Feat: 增加日志提取权限展示
  bklog/web/src/api/index.js
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, feat

#135 Merge: merge feat/po into deploy/log_stag
  bklog/apps/log_commons/cc.py
  bklog/web/src/api/index.js
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, merge

#134 fix: 修复原始日志预览未展示问题
  bklog/web/src/components/log-masking/masking-field.tsx
Labels: project/log, feat

#118 fix: 修复连通性探测 --bug=116807317
  bklog/apps/log_databus/views/storage_views.py
Labels: project/log, fix

#141 merge: 主机静态数据展示接口优化
  bklog/apps/log_databus/views/storage_views.py
  bkmonitor/Dockerfile.dev
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/scripts/dev/code-server.yaml
  bkmonitor/scripts/dev/local_settings.py.tpl
  bkmonitor/scripts/dev/run.sh
  bkmonitor/scripts/dev/supervisord.conf
  bkmonitor/webpack/src/apm/pages/application/app-add/app-add.tsx
Labels: project/monitor, feat, notapd

#110 feat: 主机静态数据展示优化 (#109) --story=114974610
  bkmonitor/api/cmdb/define.py
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/common-detail.ts
  scripts/pre-commit/preci.sh
Labels: project/monitor, feat

#140 fix: 部署兼容未注入节点管理 db 信息的场景（db共用） --bug=116866321
  bkmonitor/api/node_man/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, fix

#144 feat: 仪表盘支持用户自定义url参数 --story=115044451
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.vue
Labels: project/monitor, feat

#143 perf: 优化事务功能，减少 savepoint 的数量
  bkmonitor/metadata/models/custom_report/base.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, perf

#142 feat: 【产品功能】日志聚类功能补充 --story=886654115
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0026_auto_20231108_1624.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/views/pattern_views.py
Labels: project/log, feat

#145 feat: 外部版本支持中英文切换 --story=115045393
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.scss
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, feat

#147 feat: 故障自愈支持新版屏蔽链接 --bug=116913395
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/fta-solutions/pages/alarm-shield/alarm-shield-old.scss
  bkmonitor/webpack/src/fta-solutions/pages/alarm-shield/alarm-shield-old.tsx
  bkmonitor/webpack/src/fta-solutions/pages/app.tsx
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-dispatch/alarm-dispath.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-group/alarm-group.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-shield/alarm-shield.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/manage.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/set-meal/set-meal.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/strategy-config/strategy-config.ts
  bkmonitor/webpack/src/fta-solutions/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
Labels: project/monitor, feat

#150 feat: 日志聚类列表添加备注功能 --story=886654115
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/collect/collect-index.tsx
  bklog/web/src/views/retrieve/collect/component/group-dropdown.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, feat

#153 chore: 监控开发构建镜像优化，支持容器内git操作 --story=115052541
  Dockerfile.monitor.dev
  bkmonitor/scripts/dev/run.sh
  bkmonitor/scripts/dev/supervisord.conf
Labels: project/monitor, chore

#154 fix: 解决主机详情的运营状态icon显示逻辑和延展组件的样式问题。 --story=887203085
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
Labels: project/monitor, fix

#156 update master to deploy/log_stag
  Dockerfile.monitor.dev
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/collect/collect-index.tsx
  bklog/web/src/views/retrieve/collect/component/group-dropdown.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/scripts/dev/run.sh
  bkmonitor/scripts/dev/supervisord.conf
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/fta-solutions/pages/alarm-shield/alarm-shield-old.scss
  bkmonitor/webpack/src/fta-solutions/pages/alarm-shield/alarm-shield-old.tsx
  bkmonitor/webpack/src/fta-solutions/pages/app.tsx
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-dispatch/alarm-dispath.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-group/alarm-group.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/alarm-shield/alarm-shield.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/manage.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/set-meal/set-meal.ts
  bkmonitor/webpack/src/fta-solutions/router/manage/strategy-config/strategy-config.ts
  bkmonitor/webpack/src/fta-solutions/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.scss
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/log, merge

#160 运营数据合入预发布部署分支
  bklog/apps/decorators.py
  bklog/apps/log_clustering/tasks/flow.py
  bklog/apps/log_clustering/tasks/msg.py
  bklog/apps/log_clustering/tasks/subscription.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
  bklog/apps/log_databus/handlers/check_collector/handler.py
  bklog/apps/log_databus/tasks/bkdata.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_measure/handlers/metric_collectors/es_indices.py
  bklog/apps/log_measure/handlers/metric_collectors/es_pshard.py
  bklog/apps/log_measure/handlers/metric_collectors/es_stats.py
  bklog/apps/log_measure/tasks/report.py
  bklog/apps/log_search/tasks/mapping.py
  bklog/bk_monitor/utils/collector.py
  bklog/config/default.py
  bklog/home_application/constants.py
Labels: project/log, feat

#162 fix: 创建grafana org时增加admin权限，确保api调用正常 - --bug=116976497
  bkmonitor/bk_dataview/api.py
Labels: project/monitor, fix

#130 feature: 增加DeepFlow数据源发现、grafana自动接入 --story=114990012
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/apm/management/commands/pre_calculate.py
  bkmonitor/apm_ebpf/__init__.py
  bkmonitor/apm_ebpf/apps.py
  bkmonitor/apm_ebpf/constants.py
  bkmonitor/apm_ebpf/handlers/__init__.py
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/kube.py
  bkmonitor/apm_ebpf/handlers/workload.py
  bkmonitor/apm_ebpf/migrations/0001_initial.py
  bkmonitor/apm_ebpf/migrations/__init__.py
  bkmonitor/apm_ebpf/models/__init__.py
  bkmonitor/apm_ebpf/models/workload.py
  bkmonitor/apm_ebpf/tasks/__init__.py
  bkmonitor/apm_ebpf/tasks/finders.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/bkmonitor/utils/cache.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL_Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Applicaton-Dubbo-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/provisioning.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Labels: project/apm, feat

#164 refactor: 重构数据源&仪表盘生成逻辑
  bkmonitor/apm_ebpf/task/__init__.py
  bkmonitor/apm_ebpf/task/finders.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/bkmonitor/utils/cache.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, refactor, notapd

#97 feat: [apm] 变更 eBPF 查询方式，以及仪表盘展示能力 --story=114990207
  bkmonitor/api/deepflow/__init__.py
  bkmonitor/api/deepflow/default.py
  bkmonitor/apm/core/deepflow/__init__.py
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/apm/core/deepflow/constants.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/tests/deepflow/__init__.py
  bkmonitor/apm/tests/deepflow/test_ebpf_query.py
  bkmonitor/apm/tests/deepflow/test_ebpf_to_span.py
Labels: project/apm, feat

#170 feat: 代码优化适配PEP8规范
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_desensitize/serializers.py
  bklog/apps/log_desensitize/utils.py
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#165 feature: 增加DeepFlow数据源发现&grafana自动接入逻辑 --story=114990012
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/apm/core/deepflow/__init__.py
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/apm/core/deepflow/constants.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/management/commands/pre_calculate.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/tests/deepflow/__init__.py
  bkmonitor/apm/tests/deepflow/test_ebpf_query.py
  bkmonitor/apm/tests/deepflow/test_ebpf_to_span.py
  bkmonitor/apm_ebpf/__init__.py
  bkmonitor/apm_ebpf/apps.py
  bkmonitor/apm_ebpf/constants.py
  bkmonitor/apm_ebpf/handlers/__init__.py
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/kube.py
  bkmonitor/apm_ebpf/handlers/workload.py
  bkmonitor/apm_ebpf/migrations/0001_initial.py
  bkmonitor/apm_ebpf/migrations/__init__.py
  bkmonitor/apm_ebpf/models/__init__.py
  bkmonitor/apm_ebpf/models/workload.py
  bkmonitor/apm_ebpf/resource.py
  bkmonitor/apm_ebpf/task/__init__.py
  bkmonitor/apm_ebpf/task/finders.py
  bkmonitor/apm_ebpf/tasks/__init__.py
  bkmonitor/apm_ebpf/tasks/finders.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/bkmonitor/utils/cache.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL_Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Applicaton-Dubbo-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/provisioning.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Labels: project/apm, feat

#169 chore: 修复添加icon显示出错问题
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/log-masking/masking-extract.scss
  bklog/web/src/components/log-masking/masking-extract.tsx
  bklog/web/src/components/log-masking/masking-field-input.tsx
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
Labels: project/log, chore

#171 运营数据调度逻辑修复 --story=114948423
  bklog/apps/log_measure/tasks/report.py
  bklog/bk_monitor/utils/collector.py
Labels: project/log, feat

#172 fix: 调整主机详情的icon。 --story=887203085
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
Labels: project/monitor, fix

#166 chore: 修复日志聚类hover行时负责人白框问题 --story=886654115
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, chore

#174 fix: 修复无ebpf集群也会创建ebpf目录问题 --bug=117047781
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, fix

#177 chore: 日志聚类代码优化
  bklog/web/src/components/log-masking/masking-add-rule.tsx
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, chore

#178 fix: [apm] 修复ebpf转ot取值问题 ----story=114990207
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
Labels: project/apm, fix

#180 fix: [apm] ebpf query sql lenght overflow(2000) --story=114990207
  bkmonitor/apm/core/handlers/query/ebpf_query.py
Labels: project/apm, fix

#91 fix: 检索上下文乱序 --bug=116638083
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, fix

#181 feat: 加密字段秘钥配置变量支持
  bkmonitor/bkmonitor/utils/db/fields.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#184 fix: ebpf data otel span's parent span id missing
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/trace_handler/display_handler.py
Labels: project/apm, fix, notapd

#186 merge: Merge feat/po into deploy/log_stag
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/bkm_ipchooser/tools/gse_tool.py
  bklog/log_adapter/home/views.py
Labels: project/log, merge

#179 perf: 调整指标查询的分片数量
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/space/space_redis.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, fix

#189 merge: Merge feat/po into deploy/log_stag
  bklog/log_adapter/home/views.py
Labels: project/log, merge

#188 fix: [apm] 优化ebpf转ot，优化sql --story=114990207
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/tests/deepflow/test_ebpf_query.py
  bkmonitor/apm_ebpf/resource.py
Labels: project/apm, fix

#190 fix: ebpf data timestamp format
  bkmonitor/apm/core/deepflow/base.py
Labels: project/apm, fix, notapd

#191 merge: Merge feat/po into deploy/log_stag
  bklog/apps/log_commons/models.py
  bklog/apps/log_extract/handlers/explorer.py
  bklog/apps/utils/context_processors.py
  bklog/bkm_ipchooser/tools/gse_tool.py
  bklog/log_adapter/home/views.py
Labels: project/log, merge

#183 feat: 预计算支持指定队列下发&修复仪表盘同步
  bkmonitor/api/grafana/default.py
  bkmonitor/apm/core/discover/precalculation/daemon.py
  bkmonitor/apm/management/commands/pre_calculate.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL_Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Applicaton-Dubbo-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, perf

#182 style: 增加删除目录功能
  bkmonitor/api/grafana/default.py
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, style

#192 perf: 删除ebpf多余目录&调整定时任务触发
  bkmonitor/alarm_backends/service/scheduler/app.py
  bkmonitor/apm_ebpf/task/tasks.py
  bkmonitor/apm_ebpf/tasks/__init__.py
  bkmonitor/apm_ebpf/tasks/finders.py
  bkmonitor/config/role/worker.py
Labels: project/apm, perf

#193 feat: 仪表盘支持spaceUid指定空间快速跳转并携带仪表盘参数变量
  .github/workflows/label_check.yml
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/packages/monitor_adapter/grafana/views.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/packages/monitor_web/statistics/v2/host.py
  bkmonitor/packages/monitor_web/statistics/v2/user_group.py
Labels: project/monitor, feat

#187 perf: 优化更新或者创建自定义指标功能
  bkmonitor/metadata/models/custom_report/time_series.py
Labels: project/monitor, perf

#194 fix: ebpf data timestamp format
  bkmonitor/apm/core/deepflow/base.py
Labels: project/apm, fix, notapd

#195 fix: ebpf data elapsed_time data
  bkmonitor/apm/core/deepflow/base.py
Labels: project/apm, fix, notapd

#201 fix: [apm] ebpf query time zone error
  bkmonitor/apm/core/deepflow/base.py
Labels: project/apm, fix, notapd

#196 feat: 增加ping接口用于健康检查
  bkmonitor/packages/monitor_adapter/urls.py
Labels: project/monitor, feat

#123 perf: 优化指标更新功能
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, perf

#200 feat: 国密环境变量统一接入 --story=15065363
  bklog/apps/utils/aes.py
  bklog/config/default.py
Labels: project/log, feat

#207 feat: 增加用户运营数据 --story=115073941
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-pc/store/modules/report-log.ts
Labels: project/monitor, feat

#205 fix: 修复获取活跃业务接口报错问题 --bug=117114341
  bkmonitor/config/role/api.py
  bkmonitor/packages/utils/business.py
Labels: project/monitor, fix

#208 chore: 日志聚类备注时间倒叙展示 --story=886654115
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, chore

#210 fix: 修复关键字检索日志原文脱敏失效问题--bug=117117683
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#209 fix: 运营数据模块拆分修复 --story=114948423
  bklog/apps/log_measure/handlers/metric_collectors/es_indices.py
  bklog/apps/log_measure/handlers/metric_collectors/es_pshard.py
  bklog/apps/log_measure/handlers/metric_collectors/es_stats.py
  bklog/apps/log_measure/utils/es.py
  bklog/bk_monitor/handler/monitor.py
Labels: project/log, fix

#213 fix: [apm] ebpf last span data missing
  bkmonitor/packages/apm_web/handlers/trace_handler/base.py
Labels: project/apm, fix, notapd

#215 feat: api网关鉴权方案调整 --story=115075786
  bklog/apps/api/base.py
  bklog/apps/api/modules/bcs_cc.py
  bklog/apps/utils/local.py
Labels: project/log, feat

#168 feat: 支持主机场景检测 --story=884909807
  bkmonitor/alarm_backends/service/detect/strategy/multivariate_anomaly_detection.py
  bkmonitor/alarm_backends/tests/service/detect/test_multivariate_anomaly_detection.py
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/dataflow/node/machine_learning.py
  bkmonitor/bkmonitor/dataflow/utils/multivariate_anomaly/host/constant.py
  bkmonitor/bkmonitor/dataflow/utils/multivariate_anomaly/host/utils.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/bkmonitor/strategy/serializers.py
  bkmonitor/packages/monitor_web/aiops/host_monitor/resources.py
  bkmonitor/packages/monitor_web/constants.py
  bkmonitor/packages/monitor_web/strategies/resources/public.py
  bkmonitor/packages/monitor_web/strategies/views.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/webpack/src/monitor-api/modules/strategies.js
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-empty.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/description.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
  bkmonitor/webpack/src/monitor-pc/static/images/png/intelligent.png
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.scss
Labels: project/monitor, feat

#217 feat: 索引集归档权限点适配
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/views/archive_views.py
  bklog/apps/log_databus/views/restore_views.py
Labels: project/log, feat

#214 fix: 修复指标发现问题
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, fix

#216 feat: api网关鉴权方案调整 --story=115075786 (#215)
  bklog/apps/api/base.py
  bklog/apps/api/modules/bcs_cc.py
  bklog/apps/utils/local.py
Labels: project/log, feat

#219 fix: 运营数据模块拆分修复 --story=114948423
  bklog/apps/log_measure/handlers/metric_collectors/es_indices.py
  bklog/apps/log_measure/handlers/metric_collectors/es_pshard.py
  bklog/apps/log_measure/handlers/metric_collectors/es_stats.py
  bklog/apps/log_measure/tasks/report.py
  bklog/apps/log_measure/utils/metric.py
  bklog/bk_monitor/handler/monitor.py
  bklog/bk_monitor/utils/collector.py
  bklog/bk_monitor/utils/metric.py
Labels: project/log, fix

#197 fix: 修复运营数据获取异常问题 --bug=117077671
  bkmonitor/packages/monitor_web/scene_view/resources/observation_scene.py
  bkmonitor/packages/monitor_web/statistics/v2/grafana.py
  bkmonitor/packages/monitor_web/statistics/v2/observation_scene.py
  bkmonitor/packages/monitor_web/statistics/v2/uptimecheck.py
Labels: project/monitor, fix

#220 Revert "feat: api网关鉴权方案调整 --story=115075786 (#215)"
  bklog/apps/api/base.py
  bklog/apps/api/modules/bcs_cc.py
  bklog/apps/utils/local.py
Labels: project/log, fix

#218 fix: 主机静态数据优化 --bug=117122937
  .pre-commit-config.yaml
  bkmonitor/core/drf_resource/__init__.py
  bkmonitor/core/drf_resource/management/root.py
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
  scripts/sensitive_info_check/check_ip.py
Labels: project/monitor, fix

#222 fix: 调整策略设置里的判断条件中维度的默认长度。
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.scss
Labels: project/monitor, fix

#225 fix: 导航栏功能开关失效问题 --bug=117172479
  bklog/apps/log_search/handlers/meta.py
  bklog/web/src/components/nav/manage-nav.vue
Labels: project/log, fix

#221 fix: 主机监控详情添加 hover 展示、调整 所属模块 的展现形式。 --story=887203085
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/common-detail.ts
Labels: project/monitor, fix

#202 fix: 外部授权页面表格高度修改成根据内容撑开，在外部滚动 --bug=117041679
  bkmonitor/webpack/src/monitor-pc/pages/authorization-list/authorization-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/authorization-list/authorization-list.tsx
Labels: project/monitor, fix

#211 feat: 前端事件上报支持上报地址配置
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/commons/report/resources.py
Labels: project/monitor, feat

#229 feat: 二进制版本暂不支持高优先级队列 --story=114948423
  bklog/support-files/supervisord.conf
Labels: project/log, feat

#228 fix: 修复索引集归档更新API报错的问题
  bklog/apps/log_databus/handlers/archive.py
Labels: project/log, fix

#226 feat: 策略回溯功能新增性能分析 --story=115110507
  .pre-commit-config.yaml
  bkmonitor/alarm_backends/management/commands/strategy_check.py
  scripts/pre-commit/preci.py
Labels: project/monitor, feat

#232 fix: 修复检索上下文参数为空传递 --bug=117195437
  bklog/web/src/common/util.js
  bklog/web/src/mixins/table-row-deep-view-mixin.js
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, fix

#233 feat: unify_query查询支持按空间进行路由 --story=115126151
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#238 feat: 运营数据时间调度优化 & 增加执行锁 --story=114948423
  bklog/apps/log_measure/tasks/report.py
  bklog/apps/log_measure/views.py
  bklog/bk_monitor/utils/collector.py
  bklog/bk_monitor/utils/metric.py
Labels: project/log, feat

#241 fix: 插件导出丢失自动发现配置，导致再次导入失败 --bug=117189183
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#242 feat: 外部版顶部路由菜单 增加权限判断
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/router/index.js
  bklog/web/src/store/index.js
  bklog/web/src/views/extract/home/index.vue
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#244 feat: 合并3.8修改内容
  bkmonitor/packages/monitor_web/commons/data_access.py
  bkmonitor/packages/monitor_web/models/plugin.py
  bkmonitor/packages/monitor_web/plugin/manager/exporter.py
Labels: project/monitor, merge

#243 fix: 插件导出丢失自动发现配置，导致再次导入失败 --bug=117189183
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#251 feat: 修复主机详情智能异常检测结果不显示 --bug=117247549
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
Labels: project/monitor, fix

#236 fix: 修复指标检索单图模式下，表格列排序问题 --bug=116280503
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/utils.ts
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#235 fix: 修复快捷屏蔽时间选择器手动修改时间没有生效的bug --bug=117072169
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
Labels: project/monitor, fix

#249 fix: 单图模式下的趋势图高度调整为内容区的一半,最小值为210 --bug=115617635
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/dashboard-panels.vue
Labels: project/monitor, fix

#248 chore: 日志原始日志键名新增高亮 --story=887468485
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
Labels: project/log, chore

#259 feat: 增加前端事件数据上报接口 --story=115149920
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/urls.py
  bklog/apps/log_commons/views.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/config/default.py
  bklog/support-files/iam/initial.json
Labels: project/log, feat

#264 fix: 屏蔽微应用导航切换优化 --bug=117298121
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#256 fix: 修复编辑采集项容器日志配置项为空时数据回填失败问题 --bug=117254231
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, fix

#255 fix: 修复APM应用列表接口报错引导页显示 --bug=117268637
  bkmonitor/webpack/src/apm/pages/home/app-list.tsx
Labels: project/apm, fix

#263 feat: API时间字段支持传入秒级时间戳 --story=115156805
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_esquery/views/esquery_views.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_trace/serializers.py
  bklog/apps/utils/drf.py
Labels: project/log, feat

#262 fix: 修复清洗模板新建失败 --bug=117291861
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-storage.vue
Labels: project/log, fix

#273 fix: 前端运营路由上报初始化nav_name --bug=117300933
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/router/dashboard/email-subscriptions.ts
  bkmonitor/webpack/src/monitor-pc/router/dashboard/index.ts
  bkmonitor/webpack/src/monitor-pc/router/platform-setting/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-pc/store/modules/report-log.ts
Labels: project/monitor, fix

#267 fix: 【这种平铺的操作在国际化下如何处理？】--bug=113014709
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/components/collect-chart.vue
  bkmonitor/webpack/src/monitor-pc/utils/index.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-collect/chart-collect.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-collect/chart-collect.tsx
Labels: project/monitor, fix

#275 apigw网关鉴权方案调整 --story=115075786
  bklog/apps/api/base.py
  bklog/apps/api/modules/bcs_cc.py
  bklog/apps/api/modules/utils.py
  bklog/apps/utils/local.py
Labels: project/log, feat

#278 fix: 修复仪表盘editable权限错误 --bug=117314167
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.tsx
Labels: project/monitor, fix

#271 chore: 日志检索长字段名展示不全调整 --bug=116972099
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
Labels: project/log, docs

#269 feat: lucene语法优化输入框调整
  bklog/web/src/components/collection-access/components/step-add/monaco-editor.vue
  bklog/web/src/components/log-masking/masking-field-input.scss
  bklog/web/src/components/log-masking/masking-field-input.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/class-drag-mixin.ts
  bklog/web/src/services/masking.js
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.scss
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.tsx
Labels: project/log, feat

#280 chore: 日志检索表格字体调整 --story=115097556
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, chore
