Repository TencentBlueKing/bk-monitor, pull requests merged in 2023-12, with the labels that each got.

#437 feat: 异步导出支持给PO外部版用户发送邮件 --story=884710805
  bklog/apps/log_extract/handlers/tasks.py
  bklog/apps/log_search/handlers/search/async_export_handlers.py
  bklog/apps/log_search/tasks/async_export.py
  bklog/apps/utils/local.py
  bklog/apps/utils/notify.py
  bklog/log_adapter/home/views.py
Labels: project/log, feat

#390 feat: 优化自动发现周期任务控制，全局锁2小时 --story=115310221
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/task/custom_report.py
Labels: project/monitor, feat

#439 feat: 调整查询指标自动发现开始时间 --story=115341839
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/custom_report/time_series.py
Labels: project/monitor, feat

#441 feat: ESB 增加 databus_list_collectors 接口 --story=115355639
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat

#443 fix: 修复仪表盘查询报错问题 --bug=117807579
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#424 feat: 推荐权限组配置调整
  bkmonitor/bkmonitor/iam/action.py
  bkmonitor/support-files/iam/0002_initial.json
Labels: project/monitor, feat

#445 feat: feat: 时间清洗格式增加ISO8601 --story=115359238
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#447 fix: 采集运营数据队列调整
  bklog/apps/log_measure/tasks/report.py
Labels: project/log, fix

#448 fix: hotfix collect metric task
  bklog/apps/log_measure/tasks/report.py
Labels: project/log, fix

#458 fix: 修复web获取运维人员列表为空的bug
  bklog/apps/log_commons/cc.py
Labels: project/log, fix

#463 fix: 修复查询维度数据的时间间隔 --bug=117866281
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/management/commands/check_ts_metrics.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/models/space/space_redis.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, fix

#453 fix: 修复主机场景检测告警详情指标数量不一致的问题 --bug=117814583
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, fix

#472 fix: 修复日志单测以及添加单测超时
  .github/workflows/unittest.yml
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, fix, notapd

#476 feat: 新增esb api: pattern_search --story=115383883
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat

#479 feat: search_alert中，优化单业务场景下业务信息翻译效率 --story=115388162
  bkmonitor/packages/fta_web/alert/handlers/translator.py
Labels: project/monitor, feat

#480 feat: 应用配置基础信息SecureKey字段改为Token --story=115388191
  bkmonitor/webpack/src/apm/pages/application/app-add/no-data-guide.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
Labels: project/apm, feat

#471 feat: 修改前端运用数据上报nav_name --story=115382417
  bklog/web/src/router/index.js
Labels: project/log, feat

#462 feat: 更换平台logo源 --story=115375589
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/images/log-logo.png
Labels: project/log, feat

#483 fix: 增加一个功能开关控制 profiling 是否展示
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/images/log-logo.png
  bklog/web/src/router/index.js
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/kernel_api/middlewares/authentication.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/packages/fta_web/alert/handlers/translator.py
  bkmonitor/webpack/src/apm/pages/application/app-add/no-data-guide.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
Labels: project/apm, feat

#486 feat: 【日志聚类】接入链路旁路化改造 - 自采索引集 --story=114933437
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#489 feat: 增加 apm profiling 页面展示开关
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/shim.d.ts
  bkmonitor/webpack/webpack/utils.js
Labels: project/apm, feat

#451 feat: 联合检索搜索组合收藏功能、历史记录功能
  bklog/apps/iam/handlers/drf.py
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/favorite_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0072_auto_20231205_1548.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/urls.py
  bklog/apps/log_search/views/aggs_views.py
  bklog/apps/log_search/views/favorite_search_views.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#494 fix: remove profile apis for now
  bkmonitor/packages/apm_web/urls.py
  bkmonitor/requirements.txt
Labels: project/apm, fix

#474 feat: 删除命令行中的日志文件记录 --story=115377874
  bkmonitor/metadata/management/commands/access_bkdata_prom_compute_datasource.py
  bkmonitor/metadata/management/commands/add_bkci_metrics_and_dimensions.py
  bkmonitor/metadata/management/commands/add_bkci_system_dimensions.py
  bkmonitor/metadata/management/commands/add_extend_dimensions.py
  bkmonitor/metadata/management/commands/add_influxdb_instance.py
  bkmonitor/metadata/management/commands/check_dependent_service_health.py
  bkmonitor/metadata/management/commands/check_k8s_metrics.py
  bkmonitor/metadata/management/commands/check_realtime_strategy_kafka_storage.py
  bkmonitor/metadata/management/commands/clean_old_consul_config.py
  bkmonitor/metadata/management/commands/delete_data_source_consul_config.py
  bkmonitor/metadata/management/commands/deploy_official_plugin.py
  bkmonitor/metadata/management/commands/grayscale_result_table.py
  bkmonitor/metadata/management/commands/init_influxdb_proxy_storage.py
  bkmonitor/metadata/management/commands/init_metrics_and_refresh_router.py
  bkmonitor/metadata/management/commands/init_space_data.py
  bkmonitor/metadata/management/commands/init_space_type.py
  bkmonitor/metadata/management/commands/modify_data_id_belong_space.py
  bkmonitor/metadata/management/commands/modify_data_source_space_type.py
  bkmonitor/metadata/management/commands/modify_kafka_cluster.py
  bkmonitor/metadata/management/commands/query_data_id_by_transfer.py
  bkmonitor/metadata/management/commands/query_space.py
  bkmonitor/metadata/management/commands/redirect_datasource.py
  bkmonitor/metadata/management/commands/refresh_custom_report_metric_path.py
  bkmonitor/metadata/management/commands/switch_kafka_for_data_id.py
  bkmonitor/metadata/management/commands/switch_transfer_for_dataid.py
  bkmonitor/metadata/management/commands/sync_cluster_config.py
  bkmonitor/metadata/management/commands/sync_zk_config.py
  bkmonitor/metadata/management/commands/update_bcs_cluster_cloud_id_config.py
  bkmonitor/metadata/management/commands/update_bcs_replace_config.py
  bkmonitor/metadata/management/commands/update_influxdb_proxy_config.py
Labels: project/monitor, feat

#496 fix: 优化微前端实例销毁时机 --bug=117926965
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/monitor-pc/pages/apm/apm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/fta/fta.tsx
  bkmonitor/webpack/src/monitor-pc/pages/trace-retrieval/trace-retrieval.tsx
Labels: project/monitor, fix

#491 fix: 微信应用号通知之前判断是否存在sender --bug=117917523
  bkmonitor/bkmonitor/utils/send.py
Labels: project/monitor, fix

#498 fix: 无数据异常告警没有推送到队列问题修复 --bug=117924929
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
  bkmonitor/constants/action.py
Labels: project/monitor, fix

#454 feat: 启动同步空间路由结果表任务及删除切换vm白名单任务 --story=115360858
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/config.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/vm.py
Labels: project/monitor, feat

#485 chore: 修复日志编辑清洗存储步骤点击下一步时提示放弃操作问题 --bug=117909083
  bklog/web/src/components/collection-access/step-storage.vue
Labels: project/log, chore

#492 fix: 修复检索条件变更查询接口参数不一致 --bug=117922147
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
Labels: project/log, fix

#337 perf: 优化后台拨测任务信息缓存接口调用
  bkmonitor/alarm_backends/core/cache/models/uptimecheck.py
  bkmonitor/api/monitor/default.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Labels: project/monitor, fix

#505 perf: 暂停低效的运营数据API查询，清理无用的定时任务
  bkmonitor/alarm_backends/core/cache/event_group.py
  bkmonitor/packages/monitor_web/statistics/v2/custom_report.py
Labels: project/monitor, perf

#508 fix: 修复检索组件date_histogram报错问题
  bklog/apps/utils/search_module.py
Labels: project/log, fix

#509 feat: 新版日志日期选择及时区支持
  bklog/web/package.json
  bklog/web/src/components/monitor-echarts/datetime/moment-wrapper.ts
  bklog/web/src/components/monitor-echarts/options/base-chart-option.ts
  bklog/web/src/components/time-range/utils.ts
Labels: project/log, fix

#507 feat: 策略搜索增加等级查找 --story=114943034
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#506 fix: composite检测任务获取告警异常之后重试优化（部分组件异常导致） --bug=117921849
  bkmonitor/alarm_backends/core/alert/alert.py
  bkmonitor/alarm_backends/service/composite/tasks.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
Labels: project/monitor, fix

#510 feat: 【日志聚类】接入链路旁路化改造 - 自采索引集 --story=114933437
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#500 feat: 联合检索权限校验逻辑优化、历史记录API增加索引集名称字段信息
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#497 fix: 跨集群检索兼容时间戳类型查询
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix, notapd

#515 feat: 【日志聚类】接入链路旁路化改造 - 自采索引集 --stroy=14933437
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#516 fix: CC接口权限问题修复
  bklog/apps/api/base.py
  bklog/apps/api/modules/cc.py
Labels: project/log, fix, notapd

#511 chore: 原始日志显示优化
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, chore

#518 fix: 修复指标缓存分发异常 --bug=117962829
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, fix

#517 feat: 新版轮值
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/views/authorization/authorization-list.scss
  bklog/web/src/views/authorization/authorization-list.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
  bkmonitor/bkmonitor/utils/send.py
  bkmonitor/config/role/worker.py
  bkmonitor/constants/action.py
  bkmonitor/metadata/config.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/vm.py
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/typing.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/monitor-pc/pages/apm/apm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/fta/fta.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
  bkmonitor/webpack/src/trace/pages/rotation/typings/common.ts
Labels: project/monitor, feat

#520 feat: 【日志聚类】接入链路旁路化改造 - 自采索引集 --story=114933437
  bklog/apps/log_clustering/components/collections/data_access_component.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/data_cls.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/tasks/bkdata.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/templates/flow/predict_flow.json
  bklog/templates/flow/predict_flow_bkdata.json
Labels: project/log, feat

#519 feat: 【用户需求】希望在告警组增加一个应用告警分派规则数 --story=115273671
  bkmonitor/bkmonitor/action/serializers/strategy.py
Labels: project/monitor, feat

#521 fix: 创建处理动作的时候更新alert因为并发操作导致失败的问题优化 --bug=117964739
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
Labels: project/monitor, fix

#523 fix: 修复告警查询业务名称翻译失败的问题 --bug=117970131
  bkmonitor/packages/fta_web/alert/handlers/translator.py
Labels: project/monitor, fix

#525 fix: 联合检索联调问题修复
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#512 feat: 调整空间返回数据 --story=115410966
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/resources/space.py
  bkmonitor/metadata/tests/space/conftest.py
  bkmonitor/metadata/tests/space/test_utils.py
Labels: project/monitor, feat

#526 feat: 联合检索增加fields字段信息返回
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#527 feat: 修改平台logo尺寸 --story=115428507
  bklog/web/src/components/nav/head-nav.vue
Labels: project/log, feat

#530 fix: 获取空间详情时，如果空间不存在则尝试调用API获取 --bug=117998695
  bklog/apps/log_search/models.py
Labels: project/log, fix

#528 fix: 修复获取ebpf地址报错
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/workload.py
Labels: project/apm, fix

#531 feat: 针对接入 vm 集群结果表添加集群名称字段 --story=115435374
  bkmonitor/metadata/models/space/ds_rt.py
Labels: project/monitor, feat

#533 fix: 修复归档任务过期时间设置为永久时索引快照剩余时间的回显问题
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/archive.py
Labels: project/log, fix, notapd

#537 feat: 检索组件API时间字段支持时间戳类型
  bklog/bkm_search_module/serializers.py
Labels: project/log, feat

#534 fix: 联合检索联调问题修复
  bklog/apps/iam/handlers/drf.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#539 feat: 检索历史和日志导出接口支持时间戳参数 --story=115441736
  bklog/apps/bk_log_admin/serializers.py
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#538 fix: aiops测试问题
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
Labels: project/monitor, fix

#543 feat: 检索历史和日志导出接口支持时间戳参数 --story=115441736
  bklog/apps/bk_log_admin/serializers.py
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#541 fix: 修复时间选择器相关参数问题 --bug=118025135
  bklog/web/src/components/time-range/time-range.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
Labels: project/log, fix

#544 feat: 优化后台针对主机信息获取缓存调用频率 --story=115440524
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
Labels: project/monitor, feat

#550 feat: 外部授权管理页支持获取关联空间的索引集
  bklog/apps/log_commons/models.py
Labels: project/log, feat, notapd

#554 fix: 日志聚类采集项侧创建bkdata_data_id --story=118036637
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#557 chore: 新增metadata API 配置
  bkmonitor/docs/api/monitor_v3.yaml
Labels: project/monitor, chore

#556 feat: 新增联合检索字段值聚合API
  bklog/apps/log_search/handlers/search/aggs_handlers.py
  bklog/apps/log_search/views/aggs_views.py
  bklog/apps/log_trace/serializers.py
Labels: project/log, feat

#542 fix: 策略详情同比区间算法显示错误 --bug=118024967
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/detection-rules-display.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view-log.vue
Labels: project/monitor, fix

#555 feat: 升级和优化前端构建 --story=115447172
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/pnpm-workspace.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#559 fix: 修复过滤条件操作符不能切换问题
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#560 feat: 新版邮件订阅 --story=885662873
  bklog/apps/log_clustering/components/collections/data_access_component.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/docs/apidocs/bk_log.yaml
  bklog/web/package.json
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/api/bcs_cluster_manager/default.py
  bkmonitor/apm_ebpf/admin.py
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/relation.py
  bkmonitor/apm_ebpf/migrations/0003_auto_20231207_1520.py
  bkmonitor/apm_ebpf/models/workload.py
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/collecting/utils.py
  bkmonitor/packages/monitor_web/statistics/v2/custom_report.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/pnpm-workspace.yaml
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/detection-rules-display.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view-log.vue
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#561 fix: 聚类配置同步bkdata_data_id --story=118050477
  bklog/apps/log_clustering/components/collections/data_access_component.py
Labels: project/log, fix

#558 feat: 新版轮值
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/utils.ts
  bkmonitor/webpack/src/trace/pages/rotation/components/calendar-preview.ts
Labels: project/monitor, feat

#565 fix: 用户注销方案重构 --bug=118040019
  bkmonitor/packages/monitor_adapter/home/urls.py
  bkmonitor/packages/monitor_adapter/home/views.py
Labels: project/monitor, fix

#567 fix: 用户注销方案重构 --bug=118040019
  bkmonitor/packages/monitor_adapter/home/urls.py
  bkmonitor/packages/monitor_adapter/home/views.py
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, fix

#568 feat: 优化检测版本更新时间 --story=115460375
  bkmonitor/webpack/src/monitor-pc/pages/check-version.ts
Labels: project/monitor, feat

#513 fix: 插件指标维度保存的时候添加全局loading --bug=117747565
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/components/metric-dimension-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/components/metric-dimension-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
Labels: project/monitor, fix

#487 feat: 指标检索和告警策略页面中的维度选择允许模糊搜索name和id字段
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval-item/data-retrieval-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
Labels: project/monitor, feat

#575 fix: 修复存储切换时profling创建报错
  bkmonitor/apm/models/application.py
Labels: project/apm, fix

#536 feat: 联合查询联调
  bklog/web/src/components/index-set-label-select/index.scss
  bklog/web/src/components/index-set-label-select/index.tsx
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/services/index.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/services/union-search.js
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/collect/collect-group.scss
  bklog/web/src/views/retrieve/collect/collect-group.tsx
  bklog/web/src/views/retrieve/collect/collect-index.tsx
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#579 fix: 告警信息内存储的分派负责人增加一个排序 --bug=118096585
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_action_handle.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_assign.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_by_fakees.py
Labels: project/monitor, fix

#588 fix: 修复主机详情样式问题 --bug=118125617
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
Labels: project/monitor, fix

#583 feat: lucene语法优化验收部分修复
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.scss
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.tsx
Labels: project/log, feat

#586 chore: 修复多索引集收藏列表不显示问题
  bklog/web/src/views/retrieve/collect/collect-group.tsx
Labels: project/log, feat

#589 fix: 【AIOps主机异常检测】新建场景智能检测的策略，这里不能增删目标 --bug=118123083
  bkmonitor/packages/monitor_web/strategies/resources/v1.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, fix

#587 fix: 前端数据上报space_name参数取值错误 --bug=118123067
  bklog/web/src/store/modules/report-log.ts
Labels: project/log, fix

#577 feat: 日志检索组件功能 --story=885662947
  bklog/apps/utils/search_module.py
  bklog/bkm_search_module/__init__.py
  bklog/bkm_search_module/api.py
  bklog/bkm_search_module/apps.py
  bklog/bkm_search_module/constants.py
  bklog/bkm_search_module/docs/apidocs/0_共识、公共参数与外层响应描述.md
  bklog/bkm_search_module/docs/apidocs/10_获取表格配置列表以及当前使用配置.md
  bklog/bkm_search_module/docs/apidocs/11_新增表格配置.md
  bklog/bkm_search_module/docs/apidocs/12_更新表格配置.md
  bklog/bkm_search_module/docs/apidocs/13_更新用户当前使用表格配置.md
  bklog/bkm_search_module/docs/apidocs/14_删除表格配置.md
  bklog/bkm_search_module/docs/apidocs/15_查看上下文.md
  bklog/bkm_search_module/docs/apidocs/16_查看实时日志.md
  bklog/bkm_search_module/docs/apidocs/17_检索趋势柱状图.md
  bklog/bkm_search_module/docs/apidocs/18_日志下载.md
  bklog/bkm_search_module/docs/apidocs/19_获取日志下载链接.md
  bklog/bkm_search_module/docs/apidocs/1_索引集列表.md
  bklog/bkm_search_module/docs/apidocs/2_条件.md
  bklog/bkm_search_module/docs/apidocs/3_条件选项.md
  bklog/bkm_search_module/docs/apidocs/4_历史查询.md
  bklog/bkm_search_module/docs/apidocs/5_检索语句语法检测.md
  bklog/bkm_search_module/docs/apidocs/6_用户配置.md
  bklog/bkm_search_module/docs/apidocs/7_保存用户配置.md
  bklog/bkm_search_module/docs/apidocs/8_检索查询.md
  bklog/bkm_search_module/docs/apidocs/9_字段配置.md
  bklog/bkm_search_module/exceptions.py
  bklog/bkm_search_module/handlers/__init__.py
  bklog/bkm_search_module/handlers/log_search_handler.py
  bklog/bkm_search_module/migrations/0001_initial.py
  bklog/bkm_search_module/migrations/__init__.py
  bklog/bkm_search_module/models.py
  bklog/bkm_search_module/serializers.py
  bklog/bkm_search_module/types.py
  bklog/bkm_search_module/urls.py
  bklog/bkm_search_module/views.py
  bklog/config/default.py
  bklog/urls.py
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#449 fix: 用户首次访问业务仪表盘时拉取目录为空 --bug=117815597
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Labels: project/monitor, fix

#590 fix: 解决邮件订阅存在的一些问题和调整重新订阅接口
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/create-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#591 fix: 修复索引集下拉框不显示问题
  bklog/web/src/components/index-set-label-select/index.scss
  bklog/web/src/components/index-set-label-select/index.tsx
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#595 fix: 修改标签列表返回的标签名称
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, fix

#593 fix: 仪表盘xss安全优化 --bug=118153213
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.vue
Labels: project/monitor, fix

#573 fix: 修复运行测试时 bkmonitor 应用访问实际数据库的问题 --story=118098173
  bkmonitor/bkmonitor/app.py
Labels: project/monitor, fix

#592 fix: aiops问题修复
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/performance-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, fix

#596 fix: 【【监控】监控策略维度检索失效】
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/components/simple-condition-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/components/simple-select-input.tsx
Labels: project/monitor, fix

#602 fix: 给table添加loading和人员选择器逻辑的调整
  bkmonitor/webpack/src/monitor-pc/components/quick-create-subscription/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/components/quick-create-subscription/quick-create-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/create-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#603 fix: 打开主机监控报错 list index out of range --bug=118186047
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, fix

#571 perf: 首屏加载优化
  bkmonitor/api/cmdb/default.py
  bkmonitor/bkm_space/define.py
  bkmonitor/bkmonitor/commons/tools.py
  bkmonitor/packages/apm_trace/views.py
  bkmonitor/packages/apm_web/views.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/packages/fta_web/tasks.py
  bkmonitor/packages/fta_web/views.py
  bkmonitor/packages/monitor_adapter/home/views.py
  bkmonitor/packages/monitor_web/commons/context/resources.py
  bkmonitor/packages/monitor_web/commons/context/views.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/monitor-api/axios/axios.js
  bkmonitor/webpack/src/monitor-api/modules/model.js
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/global-config/global-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/grafana/authority-map.ts
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-header.vue
  bkmonitor/webpack/src/monitor-pc/pages/space-manage/space-manage.tsx
  bkmonitor/webpack/src/monitor-pc/router/dashboard/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
  bkmonitor/webpack/src/monitor-ui/vue.d.ts
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/webpack/utils.js
Labels: project/monitor, perf

#606 fix: 修复索引集删除时回溯任务列表报错的问题
  bklog/apps/log_databus/models.py
Labels: project/log, fix, notapd

#605 feat: 新增免登陆接口提供当前监控SaaS&后台版本号 --story=115502023
  bkmonitor/packages/monitor_adapter/api/urls.py
  bkmonitor/packages/monitor_adapter/api/views.py
Labels: project/monitor, feat

#608 chore: 联合查询修复
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#613 fix: 修复apm不显示问题 --bug=118208445
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
Labels: project/monitor, fix

#614 fix: 告警分派存在语音告警周期通知可能发出多条语音问题修复 --bug=118206773
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_assign.py
Labels: project/monitor, fix

#599 fix: 联合检索标签问题修复
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#611 fix: 修复 refresh_from_settings 信号接收函数的参数 --story=118098173
  bkmonitor/bkmonitor/app.py
Labels: project/monitor, fix

#615 fix: 修复代码合并错误
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix, notapd

#618 fix: 修复发送记录的table loading，以及对应接口 key 的修改
  bkmonitor/webpack/src/monitor-pc/components/quick-create-subscription/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#619 fix: 审计中心联调问题修复 --bug=118214917
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/tasks/bkdata.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_databus/views/storage_views.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, fix

#609 fix: 修复外部版授权状态显示异常的问题
  bklog/apps/log_commons/models.py
Labels: project/log, fix, notapd

#569 feat: 全部空间列表支持基于用户名规则屏蔽 --story=115460498
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/web.py
  bkmonitor/kernel_api/throttling.py
  bkmonitor/kernel_api/views/v3/query.py
  bkmonitor/packages/monitor_web/commons/biz/resources.py
Labels: project/monitor, feat

#621 fix: 修复全局权限action校验引起异常的问题 --bug=118234029
  bkmonitor/bkmonitor/iam/permission.py
Labels: project/monitor, fix

#620 perf: 优化首页数据统计接口查询耗时
  bkmonitor/bkmonitor/iam/permission.py
  bkmonitor/packages/fta_web/home/resources.py
Labels: project/monitor, perf

#616 chore: 联合查询修复
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/operator-tools.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, feat

#622 feat: 修改trace的span视角、接口统计、服务统计的错误栏对应的提交参数。--story=115523241
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/apm, feat

#623 fix: 审计中心联调问题修复 --bug=118214917
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#624 fix: 通知里的链接路由不正确问题 --bug=118245229
  bkmonitor/packages/monitor_adapter/home/urls.py
Labels: project/monitor, fix

#626 fix: 修改发送列表接口key相关的视图
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#634 fix: 修复未同步空间注入失败以及任务列表显示越权问题
  bklog/apps/log_extract/handlers/tasks.py
  bklog/apps/log_search/models.py
Labels: project/log, fix, notapd

#630 feat: 支持多云监控
  bkmonitor/bkmonitor/event_plugin/manager/base.py
  bkmonitor/bkmonitor/event_plugin/serializers.py
  bkmonitor/bkmonitor/migrations/0150_auto_20231214_1527.py
  bkmonitor/bkmonitor/models/fta/constant.py
  bkmonitor/bkmonitor/models/fta/plugin.py
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/alert.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/description.md
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/logo.png
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/media/蓝鲸智云.png
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/tutorial.md
  bkmonitor/packages/fta_web/event_plugin/resources.py
  bkmonitor/tests/web/fta_actions/test_event_plugin_migrate.py
Labels: project/monitor, feat

#633 perf: 优化 SaaS 接口中间件处理逻辑以减少非必要耗时
  bkmonitor/packages/apm_trace/views.py
  bkmonitor/packages/apm_web/views.py
  bkmonitor/packages/common/decorators.py
  bkmonitor/packages/common/middlewares.py
  bkmonitor/packages/fta_web/views.py
  bkmonitor/packages/monitor_adapter/home/views.py
  bkmonitor/packages/weixin/views.py
Labels: project/monitor, perf

#514 feat: 策略过滤查询优化 --story=115410821
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#636 feat: 联合查询验收文档问题修复
  bklog/web/src/components/index-set-label-select/index.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/collect/add-collect-dialog.scss
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/operator-tools.vue
Labels: project/log, feat

#632 fix: 授权列表切换业务表格操作实例显示异常 --bug=118267773
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, fix

#637 feat: 联合检索验收问题修复
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#639 fix: 日志聚类字段转换处理 --story=118296613
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#645 fix: 修复资源对象的策略和告警失效了 --bug=118042975
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/alarm-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, fix

#646 fix: 主机详情图表报错展示图标后不在展示错误信息 --bug=118095319
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/relation-graph/relation-graph.tsx
Labels: project/monitor, fix

#631 fix: 修复切换业务不上报页面访问运营数据 --bug=118266653
  bklog/web/src/store/modules/report-log.ts
Labels: project/log, fix

#648 feat: 微前端应用初始化加速 --story=115554820
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/monitor-pc/common/introduce.ts
  bkmonitor/webpack/src/monitor-pc/pages/trace-retrieval/trace-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/router/data-retrieval/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/trace/index.ts
Labels: project/monitor, feat

#459 feat: 优化更新指标查询db次数 --story=115366191
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/tests/custom_report/test_time_series.py
  bkmonitor/metadata/tests/task/conftest.py
  bkmonitor/metadata/tests/test_models.py
Labels: project/monitor, feat

#546 fix: 修复空间数据路由问题 --story=117999645
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, fix

#642 perf: 优化首页监控对象总览查询耗时
  bkmonitor/packages/monitor/migrations/0102_auto_20231216_1207.py
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_web/overview/resources.py
  bkmonitor/packages/monitor_web/overview/tools.py
Labels: project/monitor, perf

#652 fix: 拉伸宽度的时候不要跟着动 --bug=118194623
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/filter-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/filter-panel.tsx
Labels: project/monitor, fix

#654 fix: grafana仪表盘权限判断未支持AND类型权限策略
  bkmonitor/packages/monitor_web/grafana/permissions.py
Labels: project/monitor, fix

#651 feat: 完成快速新增抽屉迁移
  bklog/web/src/common/demand-import.js
  bklog/web/src/services/index.js
  bklog/web/src/services/new-report.js
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
Labels: project/log, feat

#641 feat: 增加聚合网关上报任务注册API
  bkmonitor/alarm_backends/service/scheduler/tasks/report_cron.py
  bkmonitor/bkmonitor/utils/custom_report_aggate.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#572 feat: trace上报增加request参数
  bkmonitor/bkmonitor/log_trace.py
Labels: project/monitor, feat

#653 fix: 修复查看采集信息可能KeyError的问题 --bug=118356451
  bkmonitor/packages/monitor_web/collecting/resources/frontend_resources.py
Labels: project/monitor, fix

#661 feat: 优化仪表盘加载 --story=115566032
  bkmonitor/webpack/src/monitor-pc/common/introduce.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana-old.vue
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.scss
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
  bkmonitor/webpack/src/monitor-pc/router/dashboard/index.ts
Labels: project/monitor, feat

#450 feat: 增加系统事件类数据清洗配置 --story=115360376
  bkmonitor/metadata/migrations/0176_add_system_event.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#658 fix: 自定义上报配置文件下发混淆json和prom格式问题修复 --bug=118371471
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#638 feat: 全局搜索结果加上主机临时分享链接字段 --story=114993494
  bkmonitor/packages/monitor_web/search/handlers/base.py
  bkmonitor/packages/monitor_web/search/handlers/host.py
Labels: project/monitor, feat

#647 feat: 时间选择器日期选择支持所有类型回填 --story=115554164
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#667 fix: 修复邮件订阅的已知问题
  bkmonitor/webpack/src/monitor-pc/components/quick-create-subscription/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#666 feat: 仪表盘切换加速优化 --story=115562882
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, perf

#668 fix: 调整日志平台的快速新增问题
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
Labels: project/log, fix

#664 chore: 联合查询验收问题处理
  bklog/web/src/common/util.js
  bklog/web/src/components/index-set-label-select/index.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/collect/collect-group.tsx
  bklog/web/src/views/retrieve/condition-comp/select-index-set-input.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set-input.tsx
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/result-comp/export-log.vue
Labels: project/log, feat

#643 fix: 图表的报错使用图表的规范 --bug=115115991
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.scss
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/theme/mixin.scss
Labels: project/apm, feat

#644 fix: 容器采集下发偶尔失败问题
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/tasks/collector.py
Labels: project/log, fix, notapd

#628 chore: 日志聚类功能优化 --bug=117634351
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, chore
