Repository TencentBlueKing/bk-monitor, pull requests merged in 2023-10, with the labels that each got.

#14 chore: 增加pr标签检查action
  .github/workflows/label_check.yml
Labels: chore

#19 fix: 修复ip选择器引入资源错误
  bklog/web/package.json
  bklog/web/src/components/log-ip-selector/log-ip-selector.tsx
Labels: project/log, fix

#21 test: 修复单元测试
  bklog/apps/tests/log_search/test_favorite.py
  bklog/apps/tests/user_operation_record/user_operation_record.py
Labels: project/log, fix

#15 bugfix: 修复 es 回溯时间时区问题
  bkmonitor/metadata/models/es_snapshot.py
Labels: project/monitor, fix

#23 fix: grafana细粒度权限支持外部版用户
  bkmonitor/bk_dataview/views.py
  bkmonitor/packages/monitor_adapter/grafana/urls.py
  bkmonitor/packages/monitor_adapter/grafana/views.py
  bkmonitor/packages/monitor_web/grafana/permissions.py
  pyproject.toml
Labels: project/monitor, fix

#26 fix: APM服务接入导航去掉临时分享
  bkmonitor/webpack/src/apm/pages/service/service-add.tsx
Labels: project/apm, fix

#22 test: [apm] add unittest
  bkmonitor/apm/tests/test_query_topo_instance.py
  bkmonitor/apm/tests/test_release_app_config.py
Labels: project/apm, test

#18 fix: [apm] change log to trace output config
  .github/workflows/codecov.yml
  .github/workflows/label_check.yml
  .github/workflows/pytest.yml
  .github/workflows/unittest.yml
  .github/workflows/web.yml
  bkmonitor/packages/apm_web/meta/plugin/log_trace_plugin_config.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, fix

#32 fix: 修复仪表盘跳转链接 404 问题
  bkmonitor/packages/monitor_adapter/grafana/views.py
  pyproject.toml
Labels: project/monitor, fix

#34 chore: add service.version tag to trace attributes
  bkmonitor/bkmonitor/log_trace.py
Labels: project/public, chore

#40 feat: 日志聚类支持快速导入导出聚类规则
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, chore

#41 feat: 修改规则列表过滤逻辑
  bklog/apps/log_desensitize/constants.py
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/apps/log_desensitize/serializers.py
  bklog/apps/log_desensitize/views/desensitize_rule_views.py
  bklog/locale/en/LC_MESSAGES/django.po
Labels: project/log, fix

#37 minor: 调整bmw调用url
  bkmonitor/api/bmw/default.py
  bkmonitor/config/default.py
Labels: project/apm, fix

#43 chore: [apm]change apm create notification event information
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, chore

#44 feat: 修复只有原文字段脱敏不生效的问题
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#48 docs: change the document url
  README.md
  README_EN.md
Labels: project/public, docs

#47 minor: 调整表格默认空值显示为"--"
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/table_format.py
Labels: project/apm, chore

#49 fix: 修复仪表盘指标数据查询报错的问题
  bklog/apps/grafana/handlers/query.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#28 fix: 修复数据平台策略维度where条件值没有对应维度类型
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, fix

#50 feat: 调整外部版用户获取空间列表逻辑以及创建授权ITSM参数
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/views.py
  bklog/config/default.py
  bklog/log_adapter/home/urls.py
  bklog/log_adapter/home/views.py
Labels: project/log, feat

#51 fix: 解决apm新建应用时出现应用名与应用别名的混用的问题。
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.tsx
  bkmonitor/webpack/src/apm/pages/application/app-add/setting-params.tsx
Labels: project/monitor, fix

#5 fix: 修复日志关键字指标回填策略显示问题
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/simple-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, fix

#52 feat: 增加显隐密码输入框
  bklog/web/src/views/manage/log-archive/archive-repository/repository-slider.vue
  bklog/web/src/views/manage/manage-extract/extract-link-manage/extract-link-create.vue
Labels: project/log, feat

#53 fix: 告警机器人发送通知格式回退调整
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
Labels: project/monitor, fix

#46 feat: 日志聚类数据链路旁路化改造
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/migrations/0024_clusteringconfig_clustered_rt.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/templates/flow/predict_flow_bkdata.json
Labels: project/log, feat

#54 fix: 修复ITSM参数
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/config/default.py
Labels: project/log, fix

#57 feat: 日志国密sdk接入
  bklog/apps/log_extract/models.py
  bklog/requirements.txt
Labels: project/log, feat

#58 fix: 日志脱敏验收问题修复
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_desensitize/handlers/desensitize.py
  bklog/locale/en/LC_MESSAGES/django.po
  bklog/support-files/iam/initial.json
Labels: project/log, fix

#59 bugfix: 修复__ext展开字段缺失
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#61 fix: [apm] updata log trace test
  bkmonitor/packages/apm_web/meta/plugin/log_trace_plugin_config.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/apm_web/tests/test_log_trace.py
Labels: project/apm, fix
