Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-01, with the labels that each got.

#850 fix: APM trace检索查询太慢问题 --bug=118911239
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/resources.py
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/trace_handler/base.py
  bkmonitor/packages/apm_web/handlers/trace_handler/display_handler.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, fix

#833 feat: 自定义实时日志、上下文字段功能
  bklog/apps/log_search/handlers/es/bk_mock_body.py
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0072_auto_20231228_1420.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#845 chore: 日志空间列表优化 --bug=118854335
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/biz-menu/list.vue
Labels: project/log, chore

#629 fix: 修复 nginx 代理路径和平台路径不一致会导致的问题
  bkmonitor/config/role/web.py
  bkmonitor/packages/weixin/core/accounts.py
  bkmonitor/packages/weixin/core/api.py
  bkmonitor/packages/weixin/core/settings.py
Labels: project/monitor, fix

#853 feat: 企业版移动端支持
  bkmonitor/config/role/web.py
  bkmonitor/packages/weixin/core/accounts.py
  bkmonitor/packages/weixin/core/api.py
  bkmonitor/packages/weixin/core/middlewares.py
  bkmonitor/packages/weixin/core/settings.py
Labels: project/monitor, feat, notapd

#854 fix: 尾部采样问题修复
  bkmonitor/api/bkdata/default.py
  bkmonitor/apm/core/handlers/bk_data/flow.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/bkmonitor/dataflow/task/apm_tail_sampling.py
  bkmonitor/packages/apm_web/meta/handlers/sampling_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#858 fix: 邮件订阅补充缺少的i18n文本，和部分问题 --story=885662873
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#860 feat: 支持bkdata数据查询单独配置apigateway入口 --story=115743534
  bkmonitor/api/bkdata/default.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#851 feat: 优化vue3应用中的国际化翻译功能 --story=115729405
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/trace/components/compare-select/compare-select.tsx
  bkmonitor/webpack/src/trace/components/condition/condition.tsx
  bkmonitor/webpack/src/trace/components/refresh-rate/refresh-rate.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/relation-topo.tsx
  bkmonitor/webpack/src/trace/components/statistics-table/statistics-table.tsx
  bkmonitor/webpack/src/trace/components/status-tab/status-tab.tsx
  bkmonitor/webpack/src/trace/pages/main/duration-filter/duration-filter.tsx
  bkmonitor/webpack/src/trace/pages/main/event-retrieval/field-filtering.tsx
  bkmonitor/webpack/src/trace/pages/main/event-retrieval/field-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/index.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/interface-statistics.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/service-statistics.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/flame-filter-list.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/components/flex-dashboard-panel.tsx
Labels: project/monitor, feat

#859 fix: 调整actionconfig全量查询阈值避免策略列表页面查询OOM
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, fix, notapd

#861 feat: 针对单指标单表对应结果表，功能开关控制取消 influxdb 存储 --story=115740530
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, feat

#864 fix: 智能场景数据缓存逻辑优化 --bug=118652183
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#857 fix: 自愈-作业平台渲染IP的默认值加上云区域ID --bug=117575437
  bkmonitor/support-files/fta/action_plugin_initial.json
Labels: project/monitor, fix

#865 fix: 按照业务迁移告警组业务获取不正确 --bug=119015205
  bkmonitor/alarm_backends/management/commands/migrate_duty_group.py
Labels: project/monitor, fix

#867 fix: 尾部采样bugs修复：数据源增加默认维护人、空值传参导致校验失败问题 (#866) #1010158081119015311
  bkmonitor/apm/core/handlers/bk_data/flow.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/apm/core/handlers/bk_data/virtual_metric.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
Labels: project/apm, fix

#871 fix: 修复无法保存0值
  bkmonitor/bkmonitor/dataflow/task/apm_tail_sampling.py
Labels: project/apm, fix

#874 fix: 解决邮件订阅的问题 --story=885662873
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/subscription-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#863 fix: 当鼠标划定局部区域进行放大时，若划出图外面去就是某时刻到now --bug=118652171
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/view-detail-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/view-detail.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#877 feat: 改造指标推荐方案并实施业务灰度 --story=115772688
  bkmonitor/bkmonitor/aiops/alert/utils.py
  bkmonitor/bkmonitor/dataflow/task/intelligent_detect.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_web/aiops/ai_setting/utils.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#875 fix: 实时日志、上下文自定义字段功能问题修复
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#880 fix: 修复策略的预览数据不见了 --bug=119063437
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
Labels: project/monitor, fix

#879 fix: sg环境移动端视图打开报错 --bug=119065887
  bkmonitor/webpack/src/monitor-mobile/i18n/i18n.ts
Labels: project/monitor, fix

#881 feat: profiling开发
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, feat

#882 fix: 调整邮件订阅克隆的实现方式 --story=885662873
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#886 fix: 调整订阅列表中提示dialog的标题内容过长导致省略的问题 --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/test-send-success-dialog.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/components/test-send-success-dialog.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, fix

#888 fix: 自定义上报配置文件下发混淆json和prom格式问题修复 --bug=118371471
  bkmonitor/alarm_backends/core/api_cache/library.py
  bkmonitor/alarm_backends/core/cache/models/custom_ts_grouop.py
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
  bkmonitor/api/bkssm/default.py
  bkmonitor/kernel_api/resource/action.py
  bkmonitor/kernel_api/resource/alert.py
  bkmonitor/metadata/management/commands/check_ts_metrics.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/utils/redis_tools.py
  bkmonitor/packages/monitor_web/admin.py
  bkmonitor/packages/monitor_web/tests/grafana/test_dimension_unify_query.py
  bkmonitor/tests/api/fta/test_action_instance.py
Labels: project/monitor, fix

#892 fix: 自定义上报配置文件下发混淆json和prom格式问题修复 --bug=118371471
  bkmonitor/alarm_backends/tests/core/cache/test_event_group.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#894 fix: 后台通过api缓存自定义指标上报协议信息 --bug=119095861
  bkmonitor/alarm_backends/core/api_cache/library.py
  bkmonitor/alarm_backends/core/cache/models/custom_ts_grouop.py
  bkmonitor/api/metadata/default.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, fix

#893 feat: apm应用增加Profiling开关
  bkmonitor/webpack/src/apm/components/editable-form-item/editable-form-item.tsx
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.scss
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
  bkmonitor/webpack/src/apm/pages/home/app-list.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
Labels: project/apm, feat

#899 fix: 集群管理列表页抖动问题 #1010158081119120535
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
  bklog/web/src/views/manage/manage-access/custom-report/detail.vue
Labels: project/log, fix

#895 fix: 仪表盘切换业务后默认最近打开dashboard --bug=119091491
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/utils.ts
Labels: project/monitor, feat

#901 fix: 去除ping url判断
  bkmonitor/apm_ebpf/handlers/deepflow.py
Labels: project/apm, fix

#887 feat: 增加celery worker计时指标上报，用于worker容量评估
  bkmonitor/alarm_backends/service/scheduler/app.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/core/prometheus/tools.py
Labels: project/monitor, feat, notapd

#903 feat: profiling开发
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/profiling-graph.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/mock.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Labels: project/apm, feat

#904 feat: profiling开发
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/page-header.ts
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
Labels: project/monitor, feat

#905 feat: profiling上传
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
Labels: project/monitor, feat

#907 fix: 回滚指标推荐恢复方案 --bug=119149181
  bkmonitor/bkmonitor/aiops/alert/utils.py
  bkmonitor/bkmonitor/dataflow/task/intelligent_detect.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_web/aiops/ai_setting/utils.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, fix

#657 fix: 不同的位置关联日志的逻辑不一样 --bug=118079839
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
Labels: project/monitor, fix

#908 fix: 修复settings配置不能及时更新&更新code代码
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/apm/core/handlers/bk_data/flow.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling_flink.java
Labels: project/apm, fix

#914 fix: 修复ebpf仪表盘并发访问导致创建但未显示问题
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/workload.py
  bkmonitor/apm_ebpf/task/tasks.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/config/role/web.py
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, fix

#917 fix: 日志聚类条件判断流程修复 --bug=118660445
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, fix

#919 feat: 应用监控列表
  bkmonitor/webpack/src/apm/pages/home/app-list-new.scss
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/apm/router/module/home.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.tsx
Labels: project/monitor, feat

#920 feat: 1. 调试应用详情接口 2. 抽离应用详情代码到组件内
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
Labels: project/monitor, feat

#922 fix: 解决邮件订阅验收问题和功能修改、icon库、CR问题 --story=885662873
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/test-send-success-dialog.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/create-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/types/index.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, project/log, fix

#900 feat: [apm] add profile interface
  bkmonitor/config/default.py
  bkmonitor/packages/apm_web/migrations/0018_auto_20240109_1013.py
  bkmonitor/packages/apm_web/models/profile.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/__init__.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/flamegraph.py
  bkmonitor/packages/apm_web/profile/diagrams/table.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/pprof/converter.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/urls.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/tasks.py
  bkmonitor/requirements.txt
  bkmonitor/webpack/src/monitor-api/modules/apm_profile.js
Labels: project/apm, feat

#926 feat: 1. 隐藏告警组表格的ID，配置来源，配置分组列 2. 修改列名称
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
Labels: project/monitor, feat

#925 fix: 主机列表筛选级联选择框宽度最小调整为320
  bkmonitor/webpack/src/monitor-pc/pages/performance/components/filter-panel-item.vue
Labels: project/monitor, fix

#928 feat: 1. 补充检索自动查询逻辑 2. 完善handleBtn组件 3. 应用服务选择器组件传值变更为数组 4. 隐藏收藏功能
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/handle-btn.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/handle-btn.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/page-header.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
Labels: project/monitor, feat

#787 feat: 创建BCS采集支持段日志 --story=15660755
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#932 fix: 实时数据拉取延时增长处理 --bug=119341787
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, fix

#934 feat: demo业务支持查看ebpf数据
  bkmonitor/apm_ebpf/handlers/relation.py
Labels: project/apm, feat, notapd

#936 perf: 更新指定结果表接入 vm 命令 #115874305
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
Labels: project/monitor, perf

#909 fix: 修复拨测导出KeyError报错 --bug=115819894
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, fix

#933 Fix/log datasource exceed limit
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Labels: project/monitor, fix

#927 feat: 获取主机进程端口 get_ts_data 改造为unify_query --story=115845183
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
Labels: project/monitor, feat

#940 fix: CMDB业务ID本地缓存与module冲突问题 --bug=119385459
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Labels: project/monitor, fix

#941 fix: 修整i18n文本重复问题 --story=885662873
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#930 feat: 应用监控列表
  bkmonitor/webpack/src/apm/pages/home/app-list-new.scss
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
Labels: project/monitor, feat

#935 chore: 原始日志展示优化 --bug=119344483
  bklog/web/src/common/util.js
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/index.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/event-popover.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#911 feat: 告警分派优化
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
Labels: project/monitor, feat

#943 chore: 数据指纹同比百分比保留两位小数
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, chore

#945 feat: 原始日志优化 --bug=119344483
  bklog/web/src/common/util.js
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/index.vue
  bklog/web/src/views/retrieve/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/event-popover.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#948 feat: 运营指标增加ebpf业务数统计
  bkmonitor/packages/monitor_web/statistics/v2/business.py
Labels: project/apm, feat, notapd

#929 feat: 容器采集exclude功能
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/migrations/0039_auto_20240112_1530.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#942 feat: 优化策略统计逻辑中，脏数据可能引起统计失败的情况 --story=115883625
  bkmonitor/packages/monitor_web/statistics/v2/strategy.py
Labels: project/monitor, feat

#953 feat: 增加APM Profile APi接口 --story=115892351
  bkmonitor/docs/api/monitor_v3.yaml
Labels: project/apm, feat

#950 fix: deepcopy datalink default strategies
  bkmonitor/packages/monitor_web/strategies/loader/datalink_loader.py
Labels: project/monitor, fix

#954 feat: profiling开发
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/profiling-graph.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/mock.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/trace/typings/trace.ts
Labels: project/apm, feat

#949 feat：增加获取应用/服务接口&解决冲突文件
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/urls.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_profile.js
Labels: project/apm, feat

#957 feat: 容器采集exclude功能
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#955 feat: 更新BCS采集支持段日志 --story=15660755
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#961 feat: 1. 根据接口文档返回结构调整应用/服务选择器组件 2. mock数据替换成api请求数据
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
Labels: project/monitor, feat

#960 fix: 调整邮件订阅 --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/quick-create-subscription.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#902 feat: 针对数据源统一时间单位为 ms
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
  bkmonitor/metadata/management/commands/init_influxdb_proxy_storage.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/tests/vm/test_utils.py
Labels: project/monitor, feat

#963 feat: 更新获取BCS采集项存储集群接口 --story=15660755
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat

#959 feat: add profiling labels & values api
  bkmonitor/packages/apm_web/models/profile.py
  bkmonitor/packages/apm_web/profile/collector.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/urls.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_profile.js
Labels: project/apm, feat

#964 fix: 修复日志聚类弹窗中过滤规则不完善问题 --bug=119475817
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
Labels: project/log, fix

#965 chore: 修复添加条件失焦后参数无法回填问题 --bug=119481479
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#967 fix: 后台部分SLI指标调整 --bug=119403101
  bkmonitor/alarm_backends/service/fta_action/tasks/action_tasks.py
Labels: project/monitor, fix

#968 feat: 【用户反馈-优化】分派的条件选择优化 --story=115455438
  bkmonitor/bkmonitor/action/alert_assign.py
  bkmonitor/constants/action.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/webpack/src/fta-solutions/pages/event/alert-analyze.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/related-events.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/horizontal-scroll-container.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/horizontal-scroll-container.tsx
Labels: project/monitor, feat

#971 fix: 给邮件订阅中详情里的发送频率为仅一次时添加发送时间 --story=885662873
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/detail-row.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/email-subscription/components/detail-row.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
Labels: project/monitor, project/log, fix

#973 feat: 1. 完成条件选择组件逻辑 2. 对接过滤项列表和以及过滤值列表接口
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
Labels: project/monitor, feat

#978 feat: 完善图表过滤、高亮能力
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/use-flame.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Labels: project/apm, feat

#975 feat: 调整应用列表/服务列表接口
  bkmonitor/api/apm_api/default.py
  bkmonitor/apm/migrations/0035_merge_20240115_1605.py
  bkmonitor/apm/views.py
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/migrations/0019_merge_20240115_2145.py
  bkmonitor/packages/apm_web/migrations/0020_auto_20240115_2145.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/monitor_web/scene_view/resources/base.py
  bkmonitor/packages/monitor_web/scene_view/table_format.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/apm, feat

#979 fix: 补上合并代码丢失的i18n文本和添加复制变量时的默认case --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, project/log, fix

#981 feat: 容器采集exclude功能
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#913 docs: 企业微信/微信移动端配置文档
  bkmonitor/packages/weixin/README.md
Labels: project/monitor, docs

#982 feat: 容器采集exclude需求
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/label-target-dialog.vue
  bklog/web/src/components/collection-access/components/step-add/match-label-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, feat

#983 fix: 采集项英文名放宽限制 --bug=119491947
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
Labels: project/log, chore

#951 fix: 自定义指标dataid下发对应配置文件失败问题修复 --bug=119408665
  .gitignore
  bkmonitor/alarm_backends/core/cache/models/custom_ts_group.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#977 fix: 采集项英文名放宽限制 --bug=119491947
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#896 fix: 后台通过api缓存自定义指标上报协议信息 --bug=119095861
  bkmonitor/alarm_backends/core/cache/models/custom_ts_group.py
Labels: project/monitor, fix

#984 minor: 增加 profiling 视图
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-profiling.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-profiling.json
Labels: project/apm, feat

#972 feat: 调整轮值的数据迁移migrations --story=115916938
  bkmonitor/alarm_backends/management/commands/migrate_duty_group.py
  bkmonitor/bkmonitor/migrations/0157_migrate_duty_groups.py
Labels: project/monitor, feat

#989 feat: 1. 添加文档跳转链接 2. 修复过滤项列表和值列表接口返回值结构错误的问题
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, feat

#958 feat: profiling文件上传
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
Labels: project/monitor, feat

#990 fix: 邮件订阅的问题 --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, project/log, fix

#970 feat: 引入通知中心SDK --story=115914354
  bklog/config/default.py
  bklog/requirements.txt
  bklog/scripts/test_env.sh
  bklog/urls.py
Labels: project/log, feat

#937 feat: remove redundancy selfmonitor
  bkmonitor/alarm_backends/service/selfmonitor/handler.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/__init__.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/__init__.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/celery_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/consul_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/database_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/default_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/elasticsearch_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/graph_exporter_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/gse_data_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/influxdb_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/kafka_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/mysql_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/pre_kafka_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/prometheus_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/redis_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_gse_ips.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_gse_port.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_influxdb_ips.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_influxdb_port.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_tsdb_proxy_ips.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/shell_script/get_tsdb_proxy_port.sh
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/supervisor_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/system_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/tsdb_proxy_checker.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/checker/utils.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/conf.py
  bkmonitor/alarm_backends/service/selfmonitor/healthz/processor.py
  bkmonitor/alarm_backends/templates/config/supervisor.tmpl
  bkmonitor/packages/healthz/define.py
  bkmonitor/packages/healthz/healthz_test/__init__.py
  bkmonitor/packages/healthz/healthz_test/bk_data.yml
  bkmonitor/packages/healthz/healthz_test/cc.yml
  bkmonitor/packages/healthz/healthz_test/gse.yml
  bkmonitor/packages/healthz/healthz_test/job.yml
  bkmonitor/packages/healthz/healthz_test/metadata.yml
  bkmonitor/packages/healthz/healthz_test/nodeman.yml
  bkmonitor/packages/healthz/resources.py
  bkmonitor/packages/healthz/utils.py
  bkmonitor/packages/healthz/views.py
  bkmonitor/packages/monitor_api/apps.py
  bkmonitor/support-files/templates/#etc#supervisor-bkmonitorv3-monitor-lite.conf
  bkmonitor/support-files/templates/#etc#supervisor-bkmonitorv3-monitor-stable.conf
  bkmonitor/support-files/templates/#etc#supervisor-bkmonitorv3-monitor.conf
Labels: project/monitor, feat

#991 feat: 新增消息通知跑马灯功能 --story=115939206
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.scss
  bkmonitor/webpack/src/monitor-pc/pages/setting-modal.scss
Labels: project/monitor, feat

#802 feat: 多云监控后台更改 (#789)
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/event_plugin/accessor.py
  bkmonitor/bkmonitor/event_plugin/constant.py
  bkmonitor/bkmonitor/event_plugin/manager/base.py
  bkmonitor/bkmonitor/event_plugin/serializers.py
  bkmonitor/bkmonitor/migrations/0158_auto_20240117_1015.py
  bkmonitor/bkmonitor/models/fta/constant.py
  bkmonitor/bkmonitor/models/fta/plugin.py
  bkmonitor/config/default.py
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/alert.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/description.md
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/logo.png
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/media/蓝鲸智云.png
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/multi_cloud/tutorial.md
  bkmonitor/packages/fta_web/event_plugin/plugins/prom/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/resources.py
  bkmonitor/packages/fta_web/event_plugin/views.py
  bkmonitor/packages/fta_web/handlers.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
  bkmonitor/support-files/fta/event_plugins/prom_alerts.tar.gz
  bkmonitor/support-files/fta/event_plugins/zabbix__1.0.1.tar.gz
  bkmonitor/tests/web/fta_actions/test_event_plugin_migrate.py
Labels: project/monitor, feat

#995 feat: 1.profiling图表写入api;2.trace->span详情profiling展示插件兼容
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/frame-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Labels: project/apm, feat

#999 fix: 调整发送频率FrequencyType和克隆时去掉id --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/types/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/types/index.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/types/index.ts
Labels: project/monitor, project/log, fix

#998 feat: 新增消息通知跑马灯功能 #1010158081115942987
  bklog/web/package.json
  bklog/web/src/App.vue
  bklog/web/src/components/global-setting/index.scss
  bklog/web/src/components/global-setting/index.tsx
  bklog/web/src/store/index.js
Labels: project/log, feat

#988 feat: 消息中心接入 --story=115932483
  bkmonitor/bkmonitor/migrations/0141_init_result_table_data_label.py
  bkmonitor/config/default.py
  bkmonitor/config/role/web.py
  bkmonitor/packages/monitor_api/apps.py
  bkmonitor/packages/monitor_web/migrations/0051_add_linux_aarch64.py
  bkmonitor/requirements.txt
  bkmonitor/urls.py
Labels: project/monitor, feat

#996 fix: 修复容器采集exclude需求问题
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, fix

#997 feat: 增加视图配置
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-profiling.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-profiling.json
Labels: project/apm, fix

#1001 fix: 去除collector 类型插件的proxy host获取 --bug=119582669
  bkmonitor/packages/fta_web/event_plugin/resources.py
Labels: project/monitor, fix

#872 feat: 日志/事件数据检测算法历史数据补0值
  bkmonitor/alarm_backends/core/control/mixins/detect.py
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
Labels: project/monitor, feat

#1002 feat: 去除自监控服务状态 --story=115949476
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-error.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-header.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz.vue
Labels: project/monitor, feat

#1003 fix: 修复监控跑马灯链接 --bug=119589159
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#1010 fix: 解决邮件订阅问题 --story=885662873
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/utils/index.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, fix

#985 fix: 原始日志验收修复 --bug=119344483
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, fix

#1005 chore: revert - 采集项英文名放宽限制 --bug=119491947
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
Labels: project/log, fix

#992 feat: 容器采集支持边缘存查链路 --story=115939685
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/collector_scenario/base.py
Labels: project/log, feat

#1012 feat: profiling&应用监控
  bkmonitor/webpack/src/apm/pages/home/app-list-new.scss
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/apm/pages/home/utils.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
Labels: project/monitor, feat

#1013 feat: 容器采集exclude需求
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/match-label-item.vue
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, feat

#1014 fix: 邮件订阅中详情跳转到编辑侧边栏鬼畜的问题 --story=885662873
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#1006 fix: revert - 采集项英文名放宽限制 --bug=119491947
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#1004 fix: 新增日志提取打包内网ip网段
  bklog/apps/log_extract/scripts/pack.sh
Labels: project/log, fix, notapd

#918 fix: 日志聚类条件判断流程修复 --bug=118660445 (#917)
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, fix

#1016 feat: 【产品功能】聚类备注增加修改、删除功能 --story=115926640
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/pattern_views.py
Labels: project/log, feat

#1020 fix: 补回邮件订阅代码回滚时丢失的代码 --story=885662873
  bkmonitor/webpack/src/monitor-pc/common/import-magicbox-ui.js
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#1019 feat: profiling拓扑视图
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/topo-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/topo-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/use-topo.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/topo-graph/topo-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/topo-graph/topo-graph.tsx
Labels: project/apm, feat

#1022 feat: 1. profiling条件增加删除功能 2. 修复调试过程中产生的问题
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/empty-card.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
  bkmonitor/webpack/src/trace/static/img/profiling-query.png
  bkmonitor/webpack/src/trace/static/img/profiling-upload-query.png
  bkmonitor/webpack/src/trace/utils/utils.ts
Labels: project/monitor, feat

#1021 fix: 采集状态告警栏逻辑调整
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alert-histogram.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/alert-histogram.tsx
Labels: project/monitor, fix

#1018 feat: 针对停用写入 influxdb 命令，允许非单指标单表 --story=115961300
  bkmonitor/metadata/management/commands/disable_influxdb_router_for_vm.py
Labels: project/monitor, feat

#1026 fix: 组件库降版本和引入微服务组件 --story=885662873
  bkmonitor/webpack/src/monitor-pc/pages/new-report/new-report.tsx
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#1007 minor: [apm] add data export interface
  bkmonitor/core/errors/common.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/table.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, feat

#1027 feat: 新增 select count 接口、修复应用列表过滤无效问题、创建应用新增 profiling 开关
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/migrations/0021_auto_20240118_1600.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-profiling.json
  bkmonitor/packages/monitor_web/scene_view/resources/base.py
Labels: project/apm, feat

#1023 feat: 聚类备注增加修改、删除功能 --story=115926640
  bklog/web/src/services/log-clustering.js
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, feat

#1031 fix: 优化邮件订阅 --story=885662873
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/utils/index.ts
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, project/log, fix

#1039 fix: 修复profiling联调过程遇到的问题
  bkmonitor/webpack/src/trace/components/select-menu/select-menu.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/page-header.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/page-header.ts
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
Labels: project/monitor, fix

#1038 feat: profiling上传功能
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/apm/pages/home/utils.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, feat

#1040 Feat/apm profiling
  bkmonitor/webpack/src/apm/pages/application/app-add/app-add.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/topo-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/topo-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/use-topo.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/topo-graph/topo-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/topo-graph/topo-graph.tsx
Labels: project/apm, feat

#1036 chore: 容器下发应用类型允许自定义输入
  bklog/web/src/components/collection-access/components/step-add/container-target-item.vue
Labels: project/log, chore

#1028 fix: 联合查询验收修复
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/search-comp/handle-btn.tsx
Labels: project/log, fix

#1041 fix: 检索条件新开页修复 --bug=119656579
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#1042 fix: 修复智能策略算法展示错误问题 --bug=119750341
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/horizontal-scroll-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/components/abnormal-cluster/abnormal-cluster.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/components/intelligent-detect/intelligent-detect.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/components/time-series-forecast/time-series-forecast.tsx
Labels: project/monitor, fix

#1035 feat: 容器采集预览pod过滤逻辑调整
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#1034 minor: [apm] add install graphviz command
  bkmonitor/Dockerfile
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, feat

#1045 minir: [apm] add export api in apm_profile.js
  bkmonitor/Dockerfile
  bkmonitor/webpack/src/monitor-api/modules/apm_profile.js
Labels: project/apm, feat

#994 feat: 添加文本溢出展示复制按钮功能
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/text-overflow-copy/text-overflow-copy.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/text-overflow-copy/text-overflow-copy.tsx
Labels: project/monitor, feat

#1030 feat: 【SRE】trigger延迟偶现数据超大问题跟进(添加流水日志)
  bkmonitor/alarm_backends/core/processor/base.py
  bkmonitor/alarm_backends/service/detect/process.py
  bkmonitor/alarm_backends/service/trigger/handler.py
  bkmonitor/alarm_backends/service/trigger/processor.py
Labels: project/monitor, feat

#1032 feat: 针对指标缓存添加云桌面对应的结果表 --story=115976083
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#1047 feat: 新增 ebpf内置仪表盘 --story=115991372
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Overview.json
Labels: project/apm, feat

#1048 fix: 修复修复采集详情编辑错误问题 --bug=119763503
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-detail.tsx
Labels: project/monitor, fix

#1046 fix: 新增告警策略时禁止添加两个智能算法
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/components/time-series-forecast/time-series-forecast.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
Labels: project/monitor, fix

#1049 fix: trigger 拉取不到数据的情况下，等待1s
  bkmonitor/alarm_backends/service/trigger/processor.py
Labels: project/monitor, feat

#846 feat: 运营指标 get_ts_data 改造为 unify_query --story=115721504
  bkmonitor/alarm_backends/management/story/kernel_story.py
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/packages/monitor_web/overview/tools.py
  bkmonitor/packages/monitor_web/statistics/v2/business.py
  bkmonitor/packages/monitor_web/statistics/v2/host.py
  bkmonitor/packages/monitor_web/tests/overview/__init__.py
  bkmonitor/packages/monitor_web/tests/overview/test_tools.py
  bkmonitor/packages/monitor_web/tests/statistics/__init__.py
  bkmonitor/packages/monitor_web/tests/statistics/test_business.py
  bkmonitor/packages/monitor_web/tests/statistics/test_host.py
Labels: project/monitor, feat
