Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-02, with the labels that each got.

#1163 fix: 修复开启对比模式后选择对比项页面展示的问题
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/handle-btn.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, fix

#1172 minor: [apm] add diff field sort
  bkmonitor/packages/apm_web/profile/diagrams/table.py
Labels: project/apm, feat

#1173 feat: 表格和火焰图对比功能开发
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/filter-select/filter-select.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/profiling-graph.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Labels: project/apm, feat

#1169 feat: 容器告警屏蔽优化 --story=116120670
  bkmonitor/alarm_backends/core/cache/cmdb/host.py
  bkmonitor/alarm_backends/service/alert/enricher/kubernetes_cmdb.py
  bkmonitor/alarm_backends/service/converge/shield/shielder/saas_config.py
  bkmonitor/alarm_backends/tests/core/cache/test_cmdb.py
  bkmonitor/alarm_backends/tests/service/converge/__init__.py
  bkmonitor/alarm_backends/tests/service/converge/test_shield.py
  bkmonitor/alarm_backends/tests/utils/__init__.py
  bkmonitor/alarm_backends/tests/utils/cmdb_data.py
  bkmonitor/api/cmdb/default.py
  bkmonitor/bkmonitor/migrations/0141_init_result_table_data_label.py
  bkmonitor/bkmonitor/migrations/0156_aifeaturesettings.py
Labels: project/monitor, feat

#1176 fix: 修复更新采集负责人告警组成员时,更新失败
  bkmonitor/packages/monitor_web/strategies/user_groups.py
Labels: project/monitor, fix

#1178 perf: 增加缓存未命中场景 api 补偿异常兜底，k8s 维度丰富减少非必要日志打印
  bkmonitor/alarm_backends/core/cache/cmdb/host.py
  bkmonitor/alarm_backends/service/alert/enricher/kubernetes_cmdb.py
Labels: project/monitor, perf

#1175 feat: profiling图表对比功能开发
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/filter-select/filter-select.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/frame-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
Labels: project/apm, feat

#1181 minor: [apm] 调整 records 接口 data_types 由 {} --> []
  bkmonitor/packages/apm_web/profile/serializers.py
Labels: project/apm, fix

#1180 fix: 修复日志聚类编辑弹窗过滤规则未回显问题 --bug=120246839
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
Labels: project/log, fix

#1179 fix: 修复下拉列表过滤失效 --story=887382605
  bklog/web/src/components/collection-access/components/step-add/container-target-dialog.vue
  bklog/web/src/components/collection-access/components/step-add/container-target-item.vue
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, fix

#1184 fix: 1. 检索表单操作后，判断操作内容是否需要进行新的查询 2. 修复点击引导卡片切换检索类型没有生效的问题
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, fix

#1183 fix: 重复查询
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/router/router-config.ts
Labels: project/apm, fix

#1185 feat: profiling文件列表优化
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
Labels: project/monitor, feat

#1186 fix: 创建 flow 中注册资源时区分地区 --bug=120254493
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, fix

#1189 fix: 修复拨测调试报错无 bkmonitorbeat 目录的问题 --bug=120309955
  bkmonitor/api/node_man/default.py
Labels: project/monitor, fix

#1191 fix: 修复 bkmonitorproxy 停用后仍进行订阅下发的问题 --bug=120346407
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/metadata/models/ping_server.py
Labels: project/monitor, fix

#1195 fix: unify-query查询条件method配置调整in->contains --bug=120540213
  bkmonitor/packages/monitor_web/scene_view/builtin/kubernetes.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  scripts/sensitive_info_check/ip_white_list.dat
Labels: project/monitor, fix

#1170 feat: 添加consul diff关键日志，空metric丢弃选项 --story=116119723
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/utils/consul_tools.py
Labels: project/monitor, feat

#1188 feat: ascode支持智能异常检测接入 --story=116160696
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#1093 fix: apigw鉴权方案bkmonitor模块处理 --bug=119818837
  bklog/app.yml
  bklog/bk_monitor/api/client.py
  bklog/blueking/component/client.py
  bklog/iam/api/client.py
Labels: project/log, fix

#1198 fix: 修复日志提取任务详情接口报错
  bklog/apps/log_extract/serializers.py
Labels: project/log, fix, notapd

#1201 fix: 修复部分运营指标上报失败 --bug=120585717
  bkmonitor/packages/monitor_web/statistics/v2/base.py
  bkmonitor/packages/monitor_web/statistics/v2/user_group.py
Labels: project/monitor, fix

#1200 fix: 支持配置是否需要创建临时节点 --bug=120601509
  bkmonitor/bkmonitor/dataflow/task/apm_tail_sampling.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, fix

#1171 feat: apm指标维度变更，支持trpc协议字段
  bkmonitor/apm/models/config.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/constants/apm.py
Labels: project/apm, feat, notapd

#1199 fix: 邮件订阅-最大展示数量，应该有控制 --bug=120559683
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#878 fix: 处理套餐/HTTP回调JSON格式校验优化 --bug=101262861
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/http-callback.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-content.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/utils.ts
Labels: project/monitor, fix

#1147 fix: 采集状态的可以过滤和复制 --bug=119389623
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-status-details.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-status-details.tsx
Labels: project/monitor, fix

#883 fix: 侧边过滤栏的风格规划和优化 --bug=97695529
  bkmonitor/webpack/src/fta-solutions/pages/event/event.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/group.scss
Labels: project/monitor, fix

#1177 feat: 【优化】指标选择器的样式和复制能力 --bug=108854229
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#1213 perf: [apm] trace_detail perf --bug=120630250
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, perf

#1205 feat: dsl接口支持scroll --story=116229951
  bklog/apps/log_esquery/esquery/esquery.py
  bklog/apps/log_esquery/serializers.py
Labels: project/log, feat

#1210 fix: 修复指标检索从PromQL模式切换成UI模式后，条件展示无法展示的问题 --bug=120619679
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/components/simple-condition-input.tsx
Labels: project/monitor, fix

#1204 fix: 修复apm和trace项目中因弹窗层级固定导致遮罩层展示问题 --bug=120617493
  bkmonitor/webpack/src/apm/static/scss/global.scss
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, fix

#1141 fix: 修复从仪表盘添加策略无法成功的问题 --bug=119983377
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#1217 fix: bkdata数据查询灰度unify-query查询失败问题修复 --bug=120653699
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#1168 fix: 数据清洗字段类型转换问题优化 --bug=120174271
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_delimiter.py
Labels: project/log, fix

#1193 test: 提供单元测试镜像 & 完善部分后台单测 --story=116197180
  bkmonitor/Makefile
  bkmonitor/alarm_backends/service/access/data/duplicate.py
  bkmonitor/alarm_backends/service/access/data/records.py
  bkmonitor/alarm_backends/service/access/priority.py
  bkmonitor/alarm_backends/service/composite/processor.py
  bkmonitor/alarm_backends/service/detect/README.md
  bkmonitor/alarm_backends/service/detect/process.py
  bkmonitor/alarm_backends/service/trigger/README.md
  bkmonitor/alarm_backends/tests/core/cache/test_cmdb.py
  bkmonitor/alarm_backends/tests/core/control/test_mixins_checker.py
  bkmonitor/alarm_backends/tests/core/detect_result/test_check_result.py
  bkmonitor/alarm_backends/tests/core/detect_result/test_clean.py
  bkmonitor/alarm_backends/tests/service/access/data/test_filters.py
  bkmonitor/alarm_backends/tests/service/access/data/test_priority.py
  bkmonitor/alarm_backends/tests/service/alert/builder/test_processor.py
  bkmonitor/alarm_backends/tests/service/alert/enricher/test_whitelist.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_action_handle.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_close.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_recover.py
  bkmonitor/alarm_backends/tests/service/composite/test_processor.py
  bkmonitor/alarm_backends/tests/service/converge/test_shield.py
  bkmonitor/alarm_backends/tests/service/detect/test_advanced_ring_ratio.py
  bkmonitor/alarm_backends/tests/service/detect/test_algorithm_connector.py
  bkmonitor/alarm_backends/tests/service/detect/test_multivariate_anomaly_detection.py
  bkmonitor/alarm_backends/tests/service/detect/test_processor.py
  bkmonitor/alarm_backends/tests/service/trigger/test_checker.py
  bkmonitor/alarm_backends/tests/service/trigger/test_processor.py
  bkmonitor/requirements_test.txt
  bkmonitor/scripts/unittest/.dockerignore
  bkmonitor/scripts/unittest/Dockerfile
  bkmonitor/scripts/unittest/README.md
  bkmonitor/scripts/unittest/entrypoint.sh
  bkmonitor/scripts/unittest/local_settings.py
  bkmonitor/scripts/unittest/parse_test_output.py
  bkmonitor/tests/web/fta_actions/test_action_instance.py
Labels: project/monitor, feat

#1226 fix: 日志导出API请求方法修改为POST
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#1227 feat: 支持配置多个redis sentinel地址 --story=116257555
  bkmonitor/alarm_backends/core/storage/redis.py
  bkmonitor/alarm_backends/service/scheduler/app.py
  bkmonitor/packages/utils/redis_client.py
Labels: project/monitor, feat

#1220 feat: 日志清洗添加自定义分词操作
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation copy.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.scss
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
Labels: project/log, feat

#1230 feat: 优化vue3应用加载资源 --story=116267540
  bkmonitor/webpack/package.json
  bkmonitor/webpack/src/trace/components/exception-guide/exception-guide.tsx
  bkmonitor/webpack/src/trace/components/status-tab/status-tab.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-dimension.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/where-display.tsx
  bkmonitor/webpack/src/trace/pages/main/event-retrieval/field-filtering.tsx
  bkmonitor/webpack/src/trace/pages/main/event-retrieval/field-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/main/search-header/search-header.tsx
  bkmonitor/webpack/src/trace/pages/main/search-left/search-left.tsx
  bkmonitor/webpack/src/trace/plugins/charts/exception-guide/exception-guide.tsx
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/plugins/components/flex-dashboard-panel.tsx
  bkmonitor/webpack/src/trace/plugins/hooks/chart.ts
  bkmonitor/webpack/src/trace/plugins/utls/menu.ts
Labels: project/monitor, perf

#1231 feat: 轮转索引条件新增analyzer
  bkmonitor/bkmonitor/utils/elasticsearch/ilm.py
Labels: project/monitor, project/log, feat, notapd

#1232 fix: login组件esb调用302问题
  bklog/blueking/component/client.py
Labels: project/log, fix, notapd

#1233 fix: 【蓝鲸监控】策略详情获取日志指标维度值列表时缺少index_set_id参数 --bug=120716147
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/where-display.tsx
Labels: project/monitor, fix

#1234 fix: 【蓝鲸监控】策略promql转换ui 后 再点击监控目标 target 展示失效错误 --bug=120718625
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
Labels: project/monitor, fix

#910 feat: 维度下钻通知模板刷新到存量默认模板 --story=115679890
  bkmonitor/alarm_backends/core/context/__init__.py
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/core/context/utils.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/aiops/alert/utils.py
  bkmonitor/bkmonitor/aiops/utils.py
  bkmonitor/bkmonitor/management/commands/update_notice_template.py
  bkmonitor/bkmonitor/strategy/migrate.py
  bkmonitor/bkmonitor/strategy/tests/conftest.py
  bkmonitor/bkmonitor/strategy/tests/test_migrate.py
  bkmonitor/bkmonitor/strategy/tests/test_migrations.py
  bkmonitor/config/default.py
  bkmonitor/constants/alert.py
  bkmonitor/core/errors/alert.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_web/aiops/ai_setting/resources.py
  bkmonitor/packages/monitor_web/promql_import/resources.py
  bkmonitor/packages/monitor_web/strategies/loader/k8s_loader.py
  bkmonitor/packages/monitor_web/strategies/loader/os_loader.py
  bkmonitor/packages/monitor_web/strategies/user_groups.py
  bkmonitor/packages/monitor_web/tests/ai_ops/test_ai_setting.py
  bkmonitor/packages/weixin/event/resources.py
Labels: project/monitor, feat

#1236 perf: [apm] es query param perf --bug=120802494
  bkmonitor/apm/core/handlers/query/base.py
Labels: project/apm, perf

#1239 feat: 日志检索分隔符切割逻辑调整
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
Labels: project/log, feat

#1240 fix: 【蓝鲸监控】策略promql转换ui 后 再点击监控目标 target 展示失效错误 --bug=120718625
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#1242 feat: 邮件订阅调整说明文本。--bug=120597941
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
Labels: project/monitor, project/log, fix

#1244 feat: 日志检索分词高亮修复
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
Labels: project/log, feat

#1243 fix: 修复事件中心tooltips展示问题 --bug=120685493
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
Labels: project/monitor, fix

#1238 fix: 采集项容量评估审批阶段编辑态页面空白异常 --bug=1010158081
  bklog/web/src/components/collection-access/index.vue
Labels: project/log, fix

#1174 fix: 修复数据检索图例点击切换很慢的问题 --story=116110887
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#1254 fix: 修复指标检索切换图例导致线条变粗和收藏图标太大的问题
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/dashboard-panels.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#1206 feat: 添加数据源批量启停接口 --story=116231523
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/service/data_source.py
Labels: project/monitor, feat

#1203 feat: 复制主机数据 --story=116227031
  bkmonitor/metadata/management/commands/add_p4_system_dimensions.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#1209 fix: 策略预览监控目标选择业务无数据问题 --bug=120635905
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
Labels: project/monitor, fix

#1235 feat: grafana导入支持新的告警事件数据源 --story=116268790
  bkmonitor/packages/monitor_web/export_import/import_config.py
Labels: project/monitor, feat

#1196 fix: 避免获取采集配置列表信息失败导致页面报错弹窗 --bug=120564681
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
Labels: project/monitor, fix

#1259 fix: 修复索引轮转判断条件
  bkmonitor/bkmonitor/utils/elasticsearch/ilm.py
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, fix, notapd

#1261 minor: 升级优化前端依赖 --story=116318186
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-api/package.json
  bkmonitor/webpack/src/monitor-common/package.json
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-static/package.json
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#1263 fix: 导入策略配置报错问题 --bug=120879801
  bkmonitor/packages/monitor_web/export_import/import_config.py
Labels: project/monitor, fix

#1258 fix: 导入采集配置报错问题 --bug=120868457
  bkmonitor/bkmonitor/migrations/0046_auto_20210819_2173.py
  bkmonitor/packages/monitor/tasks.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/packages/utils/business.py
Labels: project/monitor, fix

#1264 feat: k8s新增部分内置指标 --story=116269451
  bkmonitor/metadata/data/k8s_metrics/kube.yaml
Labels: project/monitor, feat

#1265 feat: redis sentinel列表随机化，避免请求全部落入相同节点 --story=116323321
  bkmonitor/alarm_backends/core/storage/redis.py
  bkmonitor/alarm_backends/service/scheduler/app.py
  bkmonitor/packages/utils/redis_client.py
Labels: project/monitor, feat

#1266 fix: 修复内置策略KubeClientCertificateExpiration相关表达式 --bug=120830025
  bkmonitor/packages/monitor_web/strategies/default_settings/k8s/v1.py
  bkmonitor/packages/monitor_web/strategies/default_settings/k8s/v2.py
Labels: project/monitor, fix

#1267 fix: 策略条件值太多后出现样式错误 --bug=120897565
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/components/simple-condition-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
Labels: project/monitor, fix

#1257 fix: 修复 apm_ebpf 安装仪表盘报错 --bug=120850449
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/provisioning.py
  bkmonitor/apm_ebpf/migrations/0005_deepflowdashboardrecord.py
  bkmonitor/apm_ebpf/models/workload.py
  bkmonitor/bk_dataview/provisioning.py
  bkmonitor/packages/monitor_web/grafana/provisioning.py
Labels: project/apm, fix

#1268 fix: 字段信息分词符显示调整
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
Labels: project/log, fix

#1273 minor: 优化监控前端构建 --story=116329007
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/change-record/change-record.scss
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.scss
  bkmonitor/webpack/src/monitor-pc/components/copy-link/copy-text.scss
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, perf

#1136 fix: 修复APM创建应用轮训授权问题 --bug=120049303
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, fix

#1271 fix: 事件数据没有跳转到对应的事件上面 --bug=117633287
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
Labels: project/monitor, fix

#1274 fix: 指标检索查询时取消上一次的查询接口调用 --bug=120933245
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#1270 feat: 单BCS采集项删除支持 --story=16326874
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#1278 fix: 图表查询过滤监控目标存在问题 --bug=120949097
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
Labels: project/monitor, fix

#1280 fix: bkdata数据查询灰度unify-query查询失败问题修复 --bug=120653699
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/monitor, fix

#1252 feat: 采集内容、采集路径过滤优化功能
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/collector_scenario/row.py
  bklog/apps/log_databus/handlers/collector_scenario/section.py
  bklog/apps/log_databus/handlers/collector_scenario/utils.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#1281 邮件订阅--发送记录可以鼠标下滚到底后，应该不再移动 --bug=120631761
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, fix

#1218 perf: [apm] service_url_list perf --bug=120635674
  bkmonitor/packages/apm_web/handlers/span_handler.py
Labels: project/apm, perf

#1245 feat: 公有云告警接收插件 --story=116290347
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/alert.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/description.md
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/logo.png
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/media/蓝鲸智云.png
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/tutorial.md
  bkmonitor/support-files/fta/event_plugins/public_cloud_alert__0.1.0.tar.gz
Labels: project/monitor, feat

#1256 fix: 同步导出下载方式调整
  bklog/web/src/api/index.js
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
Labels: project/log, fix

#1225 feat: 优化数据采集 CMDB 拓扑同步延迟的问题 --story=116255923
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
Labels: project/monitor, feat

#1289 feat: 优化周期任务的索引集执行范围 --story=116348573
  bklog/apps/log_search/tasks/mapping.py
  bklog/apps/log_search/tasks/no_data.py
Labels: project/log, feat

#1290 feat: 我的申请/订阅、订阅管理都内嵌进日志平台。--story=885662873
  bklog/web/src/components/global-dialog/index.scss
  bklog/web/src/components/global-dialog/index.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/router/index.js
  bklog/web/src/views/manage/report-management/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/my-apply-iframe.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/my-subscription-iframe.tsx
  bkmonitor/webpack/src/monitor-pc/router/manager/new-report.ts
Labels: project/monitor, project/log, feat

#1212 feat: profile暂停功能 --story=116213487
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/migrations/0037_apmapplication_is_enabled_profiling.py
  bkmonitor/apm/models/application.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, feat

#1293 feat: 优化维度下钻模板异常场景的日志打印逻辑 --story=116352134
  bkmonitor/alarm_backends/core/context/alarm.py
Labels: project/monitor, feat
