Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-08, with the labels that each got.

#2443 fix: 日志告警策略配置功能问题修复 --bug=128221617
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/views/clustering_monitor_views.py
Labels: project/log, fix

#2449 feat: 查询通知组接口把业务id改为仅支持单个 --story=118974460
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/clustering_monitor_views.py
Labels: project/log, feat

#2440 fix: 新创建的索引，点击检索的时候会报错 --bug=128079691
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, fix

#2452 feat: 完成APM大屏对比拓扑功能
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-graph-tools.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-graph-tools.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-fullscreen.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-fullscreen.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/relation-graph/relation-graph.tsx
Labels: project/monitor, feat

#2455 feat: 【专项】APM 应用拓扑（请求数缩略图）
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/mini-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/mini-chart.tsx
Labels: project/monitor, feat

#2453 fix: 上下文高亮对象类型显示修复
  bklog/web/src/components/common/fields-config.vue
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-comp/context-log.vue
Labels: project/log, fix

#2457 fix: 策略屏蔽编辑模式不可编辑策略 --Bug=128316155
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
Labels: project/monitor, fix

#2458 feat: 【用户需求】希望策略选择的监控目标可以支持动态分组 --Story=116206651
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/vue3.x.js
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-scope.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-detail.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/typing/alarm-shield-config.ts
Labels: project/monitor, feat

#2450 fix: resource js api生成问题处理 --bug=128272789
  bkmonitor/core/drf_resource/management/js_api_generator.py
Labels: project/monitor, fix

#2456 fix: 日志聚类总开关逻辑调整
  bklog/web/src/views/retrieve/result-table-panel/index.vue
Labels: project/log, fix

#2461 fix: profile 支持秒级别查询 --bug=128331047
  bkmonitor/packages/apm_web/profile/diagrams/tendency.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#2459 feat: 【产品功能】【Profiling】支持秒级展示Profile数据 --Story=118967036
  bkmonitor/webpack/src/monitor-pc/pages/global-search-modal-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, feat

#2464 feat: 【专项】APM 应用拓扑 (请求数，错误数图表调整)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/common-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/common-legend.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
Labels: project/monitor, feat

#2468 feat: 告警后台alert.manager模块日志流水优化，部分逻辑轻微重构 --story=119018947
  bkmonitor/alarm_backends/core/alert/alert.py
  bkmonitor/alarm_backends/core/context/__init__.py
  bkmonitor/alarm_backends/service/alert/manager/checker/action.py
  bkmonitor/alarm_backends/service/alert/manager/checker/base.py
  bkmonitor/alarm_backends/service/alert/manager/checker/close.py
  bkmonitor/alarm_backends/service/alert/manager/checker/next.py
  bkmonitor/alarm_backends/service/alert/manager/checker/recover.py
  bkmonitor/alarm_backends/service/alert/manager/checker/shield.py
  bkmonitor/alarm_backends/service/alert/manager/checker/upgrade.py
  bkmonitor/alarm_backends/service/composite/processor.py
  bkmonitor/alarm_backends/service/converge/shield/shielder/saas_config.py
  bkmonitor/alarm_backends/service/fta_action/tasks/action_tasks.py
  bkmonitor/alarm_backends/service/trigger/checker.py
  bkmonitor/bkmonitor/app.py
  bkmonitor/bkmonitor/migrations/0141_init_result_table_data_label.py
  bkmonitor/packages/monitor_web/strategies/views.py
Labels: project/monitor, feat

#2469 feat: 告警后台alert.manager模块日志流水优化，部分逻辑轻微重构 --story=119018947
  bkmonitor/alarm_backends/service/alert/builder/processor.py
  bkmonitor/alarm_backends/service/alert/manager/processor.py
  bkmonitor/alarm_backends/service/alert/manager/tasks.py
  bkmonitor/alarm_backends/service/alert/processor.py
  bkmonitor/alarm_backends/service/converge/shield/shielder/saas_config.py
  bkmonitor/alarm_backends/tests/service/alert/test_alert_poller.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#2301 feat: 【产品功能】告警事件处理阶段查询 --story=118290356
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
Labels: project/monitor, feat

#2470 fix: 去除通知人字段长度限制 --bug=128411757
  bkmonitor/bkmonitor/action/serializers/action.py
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, fix

#2395 feat: 实时日志接口通过size控制返回条数 --story=118743325
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2471 fix: 日志7.2版本问题修复
  bklog/web/src/components/common/welcome-page.vue
  bklog/web/src/components/global-setting/index.tsx
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/views/manage/field-masking-separate/index.tsx
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
  bklog/web/src/views/retrieve/field-filter-comp/index.scss
Labels: project/log, fix

#2472 fix: 条件组合初始化合并修复 --bug=128321539
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#2474 feat: IAM SDK升级到1.3.6 --story=119032602
  bkmonitor/.devcontainer/devcontainer.json
  bkmonitor/requirements.txt
Labels: project/monitor, feat

#2466 feat: 日志聚类告警配置功能增加删除接口 --story=119000510
  bklog/apps/api/modules/monitor.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/clustering_monitor_views.py
Labels: project/log, feat

#2433 feat: 新增时间后缀配置支持
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat, notapd

#2482 feat: update trace id & update package json
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/api/index.js
  bklog/web/src/main.js
Labels: project/log, perf

#2478 fix: 【监控】告警组群机器人输入长度限制不合理 --bug=128421595
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/components/notice-mode.tsx
Labels: project/monitor, fix

#2484 feat: 【产品功能】告警屏蔽支持策略id进行搜索 --story=118836716
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
Labels: project/monitor, fix

#2485 feat: 【专项】APM 应用拓扑(拓扑tab栏页面布局)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/dashboard-panel.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/dashboard-panel.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
Labels: project/monitor, feat

#2487 feat: alert.builder模块日志流水优化 --story=119018988
  bkmonitor/alarm_backends/service/alert/builder/processor.py
  bkmonitor/alarm_backends/service/alert/builder/tasks.py
  bkmonitor/alarm_backends/service/alert/enricher/__init__.py
  bkmonitor/alarm_backends/service/alert/enricher/base.py
  bkmonitor/alarm_backends/service/alert/enricher/cmdb.py
  bkmonitor/alarm_backends/service/alert/processor.py
  bkmonitor/alarm_backends/service/composite/processor.py
  bkmonitor/alarm_backends/service/composite/tasks.py
  bkmonitor/bkmonitor/management/commands/run_cmd.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#2480 fix: 【监控】告警源跳转事件中心检索条件错误 --bug=128467893
  bkmonitor/webpack/src/fta-solutions/pages/integrated/event-source-detail/event-source-detail.tsx
Labels: project/monitor, fix

#2488 feat: 优化采集状态大数据下内存溢出 --Story=119066157
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-status-details.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-host-detail/utils.ts
Labels: project/monitor, perf

#2489 feat: 日志聚类聚类告警配置功能
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/retrieve.js
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#2490 feat: 监控平台title名称规范初始化配置 --Story=119070296
  bkmonitor/webpack/index.ejs
  bkmonitor/webpack/index.html
  bkmonitor/webpack/src/monitor-pc/store/modules/platform-config.ts
Labels: project/monitor, feat

#2476 fix: 【监控】告警源模态框z-index --bug=128415837
  bkmonitor/webpack/src/fta-solutions/pages/integrated/install-plugin-dialog.scss
Labels: project/monitor, fix

#2493 fix: 日志7.2版本问题修复
  bklog/web/index.html
  bklog/web/src/common/jsonp.js
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, fix

#2483 feat: 日志过滤功能优化 --story=116120320
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/type.ts
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/scss/basic.scss
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/basic-info.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/components/container-base.vue
Labels: project/log, feat

#2491 feat: update trace id & update package json (#2482)
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/api/index.js
  bklog/web/src/main.js
Labels: project/log, perf

#2315 fix: 语法转换异常case修复 --bug=127441621
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#2481 feat: 【产品功能】k8s观测场景下node编辑视图导致页面图无数据 --story=119047828
  bkmonitor/packages/monitor_web/scene_view/builtin/kubernetes.py
Labels: project/monitor, feat

#2492 feat: 【产品优化】Profiling 检索默认时间范围变更为近15分钟 --Story=119062476
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, feat

#2494 feat: 【产品功能】告警策略列表筛选功能字段自定义显示
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/filter-panel-popover.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/filter-panel-popover.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2495 fix: 日志平台年度版本验收修复
  bklog/web/index.html
  bklog/web/src/common/jsonp.js
  bklog/web/src/components/common/welcome-page.vue
  bklog/web/src/components/global-setting/index.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/store/modules/platform-config.ts
  bklog/web/src/views/manage/field-masking-separate/index.tsx
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
Labels: project/log, fix

#2496 fix: 故障根因体验相关问题修复 --bug=127549945 (#2422)
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/chat-group/chat-group.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/failure-handle.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-main.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-main.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/tags-utils.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/aggregation-select.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/feedback-cause-dialog.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/node-type-svg.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/timeline.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/topo-tools.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/topo-tppltip-plugin.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/types.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/utils.ts
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-graph.tsx
  bkmonitor/webpack/src/trace/plugins/components/alert-action-list.tsx
  bkmonitor/webpack/src/trace/static/img/failure/icon-alert.svg
Labels: project/monitor, feat

#2497 feat: 【监控&日志】英文版名称变更为首字母大写 --Story=119079182
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/platform-config.ts
Labels: project/monitor, feat

#2501 feat: 【专项】APM 应用拓扑（拓扑tab页布局及告警条形图）
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
Labels: project/monitor, feat

#2505 feat: alert.builder模块日志流水优化 --story=119018988
  bkmonitor/alarm_backends/service/alert/builder/processor.py
  bkmonitor/alarm_backends/service/alert/enricher/base.py
  bkmonitor/alarm_backends/service/alert/enricher/cmdb.py
  bkmonitor/alarm_backends/service/alert/manager/processor.py
  bkmonitor/alarm_backends/service/alert/manager/tasks.py
  bkmonitor/alarm_backends/service/alert/processor.py
  bkmonitor/alarm_backends/service/fta_action/tasks/alert_assign.py
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/alarm_backends/tests/service/alert/builder/test_processor.py
  bkmonitor/alarm_backends/tests/service/alert/test_alert_poller.py
Labels: project/monitor, feat

#2503 feat:【监控&日志】英文版名称变更为首字母大写--story=119079182
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, feat

#2504 feat: 日志英文版名称变更为首字母大写
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, chore

#2502 fix: 简易修改、更新采集配置接口报错问题修复 --bug=128565605
  bklog/apps/log_databus/handlers/etl/transfer.py
Labels: project/log, fix

#2508 feat: alert.builder模块日志流水优化 --story=119018988
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/alarm_backends/service/converge/shield/shielder/saas_config.py
  bkmonitor/alarm_backends/service/fta_action/utils.py
  bkmonitor/bkmonitor/app.py
  bkmonitor/bkmonitor/migrations/0164_auto_20240808_1118.py
  bkmonitor/bkmonitor/models/base.py
Labels: project/monitor, feat

#2506 feat: 日志上下文/实时日志添加高亮功能
  bklog/web/src/common/util.js
  bklog/web/src/components/common/fields-config.vue
  bklog/web/src/components/log-view/highlight-html.js
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/condition-comp/data-filter.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
Labels: project/log, feat

#2479 feat: 聚类 pattern 同步时，过滤掉已删除或者聚类已关闭的索引集 --story=119022867
  bklog/apps/log_clustering/tasks/sync_pattern.py
Labels: project/log, feat

#2462 feat: 日志关键字告警详情增加跳转链接 --story=119007764
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/monitor, feat

#2509 fix: 调整多指标查询判定
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix, notapd

#2511 feat: 修复告警视图头部展示问题
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.scss
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-title.scss
  bkmonitor/webpack/src/trace/plugins/components/chart-title.tsx
Labels: project/monitor, feat

#2513 fix: 字段分析问题修复
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
Labels: project/log, fix

#2514 feat: Metadata-根据VMRT反查关联业务信息，接口支持从CollectorPluginMeta中查询 --story=119108280
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/tests/resources/test_vm.py
Labels: project/monitor, feat

#2518 fix: 告警关联信息related --bug=128682585
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/log, fix

#2515 fix: 监控外发版本翻译问题 --Bug=128680317
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/global-search-modal-new.tsx
Labels: project/monitor, fix

#2519 minor: reference 支持prom计算
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix, notapd

#2516 feat: 日志聚类告警配置,增加跳转链接label信息 --story=119112251
  bklog/apps/log_clustering/handlers/clustering_monitor.py
Labels: project/log, feat

#2523 feat: 日志聚类告警联调
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/type.ts
Labels: project/log, feat

#2522 fix: V7.2 外发前整体特性验收修复 --Bug=128688407
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/no-business/no-business.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-empty.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/menu.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-title.tsx
Labels: project/monitor, feat

#2525 feat: 724版本 --story=118759344
  bkmonitor/config/default.py
  bkmonitor/locale/en/LC_MESSAGES/django.mo
  bkmonitor/locale/en/LC_MESSAGES/django.po
Labels: project/monitor, feat

#2526 fix: 插件导出时release报错 --bug=128706179
  bkmonitor/packages/monitor_web/plugin/manager/base.py
  bkmonitor/packages/monitor_web/plugin/views.py
Labels: project/monitor, fix

#2528 fix: 监控logo title默认名称变更 --Bug=128724561
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
Labels: project/monitor, fix

#2530 fix: trace忽略stream类的response --bug=128729951
  bkmonitor/bkmonitor/trace/requests.py
  bkmonitor/packages/monitor_web/ai_assistant/views.py
Labels: project/monitor, fix

#2529 feat: 【专项】APM 应用拓扑（告警条形图框选缩放功能）
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
Labels: project/monitor, feat

#2500 feat: 完善筛选面板的交互
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/filter-panel-popover.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/filter-panel-popover.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2533 fix: 日志7.2版本问题修复
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/App.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, fix

#2534 fix: 日志7.2版本问题修复
  bklog/web/src/App.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, fix

#2447 feat: 支持查询无效aiops策略 --Story=118895940
  bkmonitor/bkmonitor/management/commands/find_invalid_ai_strategy.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#2531 bugfix: revert traceparent id random method
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/api/index.js
  bklog/web/src/common/util.js
  bklog/web/src/main.js
  package-lock.json
Labels: project/log, fix

#2532 feat: Metadata:关联协议-监控内置可观测数据上报&定时任务&命令&RT模型 --story=119134160
  bkmonitor/config/default.py
  bkmonitor/metadata/migrations/0186_resulttable_is_builtin.py
  bkmonitor/metadata/models/custom_report/base.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, feat

#2527 feat: Metadata-根据VMRT反查关联业务信息，接口支持从CollectorPluginMeta中查询,接口移至monitor_web --story=119108280
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/tests/resources/test_vm.py
  bkmonitor/packages/monitor_web/datalink/resources.py
  bkmonitor/packages/monitor_web/tests/datalink/test_resources.py
Labels: project/monitor, feat

#2517 feat: ascode API支持空间ID --story=119110257
  bkmonitor/bkmonitor/utils/serializers.py
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, feat

#2536 fix: log search 数据源条件解析修复 --bug=128833809
  bkmonitor/bkmonitor/data_source/backends/log_search/compiler.py
Labels: project/log, fix

#2540 feat: 空间列表获取优化 --story=119154710
  bkmonitor/bkm_space/define.py
  bkmonitor/bkmonitor/iam/permission.py
  bkmonitor/packages/monitor_web/commons/biz/resources.py
  bkmonitor/packages/monitor_web/commons/biz/space_api.py
  bkmonitor/packages/monitor_web/iam/resources.py
Labels: project/monitor, feat

#2477 feat: api增加业务鉴权Token配置 --story=119035180
  bkmonitor/api/bk_apigateway/__init__.py
  bkmonitor/api/bk_apigateway/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/models/token.py
  bkmonitor/config/default.py
  bkmonitor/config/role/api.py
  bkmonitor/kernel_api/middlewares/authentication.py
Labels: project/monitor, feat

#2542 feat: 空间列表获取优化 --story=119154710
  bkmonitor/constants/action.py
  bkmonitor/packages/monitor_web/commons/biz/space_api.py
Labels: project/monitor, feat

#2543 chore: 日志过滤条件传参参数改为数组
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/search-comp/handle-btn.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, chore

#2544 feat: Metadata:接入VM时，兼容中划线和下划线同时存在场景 --story=119167127
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, feat

#2545 fix: 【监控】trace异常事件json格式功能异常 --Bug=128899953
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, fix

#2232 feat: 报错样式优化调整，新增报错详情信息，分类别弹框提醒 --story=118355314
  bkmonitor/bkmonitor/utils/common_utils.py
  bkmonitor/bkmonitor/views/renderers.py
  bkmonitor/core/drf_resource/exceptions.py
  bkmonitor/core/errors/__init__.py
  bkmonitor/core/errors/api.py
  bkmonitor/core/errors/iam.py
Labels: project/monitor, feat

#2424 feat: 【产品缺陷】统一卸载废弃插件（bkmetricbeat） --story=118485863
  bkmonitor/bkmonitor/migrations/0164_update_strategy_config.py
  bkmonitor/packages/monitor_web/strategies/default_settings/gse/v1.py
Labels: project/monitor, feat

#2548 fix: 聚类告警策略验收修复
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
Labels: project/log, fix

#2549 feat： 完成APM Topo右侧服务概览面板的开发
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-fullscreen.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-topo-graph.tsx
Labels: project/monitor, feat

#2550 fix: 监控时序图图例小于1h图表展示成mm:ss --Bug=128919657
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/axis.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, fix

#2551 fix: 数据检索连接被截断时区报错 --Bug=128924367
  bkmonitor/webpack/src/monitor-pc/components/time-range/time-range.tsx
  bkmonitor/webpack/src/monitor-pc/i18n/dayjs.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
Labels: project/monitor, fix

#2546 feat: 【产品优化】计算平台过来的日志配置告警时，告警策略维度名称需要支持 “字段名” 和 “中文字段名” --story=118239703
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#2552 fix: 日志聚类告警策略配置验收修复
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#2537 feat: 【专项】APM 应用拓扑(告警条形图优化及完善拓扑布局页)
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/table-chart/status-tab.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/table-chart/status-tab.tsx
Labels: project/monitor, feat

#2554 fix: 切换业务ai小鲸没有刷新 --Bug=128991889
  bkmonitor/webpack/src/monitor-pc/lang/doc.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#2535 feat: 优化监控版本更新弹窗展示 --Story=119148443
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/check-version.ts
Labels: project/monitor, feat

#2521 fix: 外部版仪表盘申请人权限校验未使用新版权限 --bug=128690655
  bkmonitor/bkmonitor/models/external_iam.py
  bkmonitor/packages/monitor_web/grafana/permissions.py
  bkmonitor/packages/monitor_web/iam/resources.py
Labels: project/monitor, fix

#2556 feat: 空间列表获取优化 --story=119154710
  bkmonitor/alarm_backends/service/report/tasks.py
  bkmonitor/bkmonitor/iam/permission.py
  bkmonitor/packages/common/middlewares.py
  bkmonitor/packages/fta_web/alert/handlers/translator.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/home/resources.py
  bkmonitor/packages/monitor_web/cc/resources/biz.py
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/commons/biz/resources.py
  bkmonitor/packages/monitor_web/commons/biz/space_api.py
  bkmonitor/packages/monitor_web/notice_group/resources/front.py
  bkmonitor/packages/monitor_web/report/resources.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/space/__init__.py
  bkmonitor/packages/monitor_web/space/resources.py
  bkmonitor/packages/monitor_web/strategies/resources/v1.py
  bkmonitor/packages/monitor_web/tasks.py
  bkmonitor/packages/utils/business.py
  bkmonitor/urls.py
Labels: project/monitor, feat

#2555 feat: 简易修改采集配置,无法更新target_object_type --story=119192791
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#2557 fix: winevent类型采集项详情空白修复 --bug=128999947
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/basic-info.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/components/container-base.vue
Labels: project/log, fix

#2559 fix: 多个空间下事件中心列表空间名没有展示 --Bug=128999209
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/action-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/typings/event.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
Labels: project/monitor, fix

#2558 feat: 空间列表获取优化 --story=119154710
  bkmonitor/bkmonitor/middlewares/application_protection.py
  bkmonitor/config/role/web.py
  bkmonitor/packages/monitor_web/space/resources.py
Labels: project/monitor, feat

#2566 feat: ascode配置导出支持携带配置id及锁定文件名 --story=119201595
  bkmonitor/bkmonitor/utils/serializers.py
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, feat

#2441 feat: 监控目标支持动态分组 --story=118695889
  bkmonitor/.devcontainer/Dockerfile
  bkmonitor/alarm_backends/core/cache/cmdb/dynamic_group.py
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/converge/shield/display_manager.py
  bkmonitor/alarm_backends/service/converge/shield/shield_obj.py
  bkmonitor/alarm_backends/tests/service/access/data/test_filters.py
  bkmonitor/alarm_backends/tests/service/access/data/test_processor.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
  bkmonitor/api/cmdb/client.py
  bkmonitor/api/cmdb/default.py
  bkmonitor/api/cmdb/ipchooser.py
  bkmonitor/apm/apps.py
  bkmonitor/bkm_ipchooser/handlers/dynamic_group_handler.py
  bkmonitor/bkm_ipchooser/serializers/dynamic_group_sers.py
  bkmonitor/bkm_ipchooser/tools/gse_tool.py
  bkmonitor/bkm_ipchooser/views.py
  bkmonitor/bkmonitor/app.py
  bkmonitor/bkmonitor/models/base.py
  bkmonitor/bkmonitor/utils/range/target.py
  bkmonitor/bkmonitor/utils/shield.py
  bkmonitor/constants/cmdb.py
  bkmonitor/constants/shield.py
  bkmonitor/constants/strategy.py
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
  bkmonitor/packages/monitor_web/commons/cc/resources/backend_resources.py
  bkmonitor/packages/monitor_web/commons/cc/utils/cmdb.py
  bkmonitor/packages/monitor_web/commons/views.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/shield/utils.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-api/modules/model.js
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/typing.ts
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/utils.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/common.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-table.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-ipv6/strategy-ipv6.tsx
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/typing.ts
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/utils.ts
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/vue3.x.js
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-scope.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-detail.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/alarm-shield-ipv6.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/typing/alarm-shield-config.ts
Labels: project/monitor, feat

#2567 feat: 上下文/实时日志高亮跳转功能
  bklog/web/src/components/log-view/highlight-html.js
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/components/log-view/log-view-control/index.scss
  bklog/web/src/components/log-view/log-view-control/index.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/condition-comp/data-filter.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
Labels: project/log, feat, notapd

#2328 feat: 【产品功能】k8s数据展示问题 --story=118057624
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/models/bcs_node.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
  bkmonitor/packages/monitor_web/tests/conftest.py
  bkmonitor/packages/monitor_web/tests/scene_view/views/test_get_kubernetes_cluster_list.py
  bkmonitor/packages/monitor_web/tests/scene_view/views/test_get_kubernetes_node.py
  bkmonitor/packages/monitor_web/tests/scene_view/views/test_get_kubernetes_node_list.py
  bkmonitor/packages/monitor_web/tests/scene_view/views/test_get_kubernetes_pod.py
  bkmonitor/packages/monitor_web/tests/scene_view/views/test_get_kubernetes_pod_list.py
Labels: project/monitor, feat

#1666 feat: 后台新增Redis性能采集任务并上报数据 --story=116989937
  bkmonitor/alarm_backends/service/selfmonitor/collect/__init__.py
  bkmonitor/alarm_backends/service/selfmonitor/collect/redis.py
  bkmonitor/alarm_backends/service/selfmonitor/tasks.py
  bkmonitor/config/role/worker.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#2568 feat: 上下文/实时日志高亮跳转功能
  bklog/web/src/components/log-view/log-view-control/index.tsx
Labels: project/log, feat, notapd

#2569 feat: grafana query 对空条件的适配 --story=119196838
  bklog/apps/grafana/handlers/query.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2572 feat: 调整告警策略url参数格式
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2571 fix: 日志导出接口兼容查询语句为空的情况 --bug=129050451
  bklog/apps/log_search/serializers.py
Labels: project/log, fix

#2570 feat: 日志聚类告警新建默认值调整
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
Labels: project/log, feat

#2539 feat: 支持迁移 bklog grafana 数据至 bkmonitor --story=10158081
  bklog/apps/log_databus/management/commands/migrate_grafana.py
  bklog/bk_dataview/grafana/client.py
Labels: project/log, feat

#2574 fix: 修复 service_info 接口报错 --bug=129074995
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, fix

#2565 feat: 日志聚类告警配置功能 --story=118673779
  bklog/apps/api/modules/monitor.py
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/log_clustering/views/clustering_monitor_views.py
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/type.ts
Labels: project/log, feat

#2575 feat: 上下文/实时日志高亮跳转输入框优化
  bklog/web/src/components/log-view/log-view-control/index.scss
  bklog/web/src/components/log-view/log-view-control/index.tsx
Labels: project/log, feat

#2576 feat: 联邦集群发布支持，ES路由调整 --story=118575014
  bkmonitor/api/bcs/default.py
  bkmonitor/api/bcs_cluster_manager/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/bcs/__init__.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/models/bcs/resource.py
  bkmonitor/metadata/models/data_link/constants.py
  bkmonitor/metadata/models/data_link/resource.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#2580 fix: 列表过滤条件失效问题 --bug=129093847
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#2581 feat: 完成APM 右侧面板图表echarts配置处理
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, feat

#2579 perf: 【产品优化】业务机器太多，查看主机监控时经常卡住不动 --Story=119007348
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, perf

#2584 feat: Metadata-联邦集群支持-DataLinkResource新增条件节点名称字段 --story=119235585
  bkmonitor/metadata/migrations/0187_auto_20240816_1458.py
Labels: project/monitor, feat

#2586 feat: 后台新增Redis性能采集任务并上报数据 --story=116989937
  bkmonitor/alarm_backends/service/alert/manager/tasks.py
  bkmonitor/alarm_backends/service/selfmonitor/collect/__init__.py
  bkmonitor/alarm_backends/service/selfmonitor/collect/redis.py
  bkmonitor/alarm_backends/service/selfmonitor/tasks.py
  bkmonitor/config/role/worker.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/version_logs_md/zh-cn/V3.9.0_20240630.md
Labels: project/monitor, feat

#2589 feat: 【专项】APM 应用拓扑(服务概览事件告警柱状堆叠图)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/alarm-event-chart/alarm-event-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/alarm-event-chart/alarm-event-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
Labels: project/monitor, feat

#2547 feat: 空间同步任务性能优化 --story=119118831
  bklog/apps/log_search/tasks/space.py
Labels: project/log, feat

#2467 fix: 告警事件推送队列为更新最新告警状态问题 --bug=128265149
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/alarm_backends/service/alert/manager/checker/action.py
  bkmonitor/alarm_backends/service/alert/processor.py
  bkmonitor/alarm_backends/service/fta_action/message_queue/processor.py
Labels: project/monitor, fix

#2563 feat: 告警状态调整: 已关闭-> 已失效 --story=119198866
  bkmonitor/alarm_backends/service/alert/manager/checker/close.py
  bkmonitor/bkmonitor/models/base.py
  bkmonitor/constants/alert.py
  bkmonitor/docs/api/apidocs/zh_hans/search_event.md
  bkmonitor/locale/en/LC_MESSAGES/django.mo
  bkmonitor/locale/en/LC_MESSAGES/django.po
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.mo
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.po
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/monitor_web/alert_events/constant.py
  bkmonitor/packages/monitor_web/alert_events/resources/frontend_resource.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#2595 fix: 故障根因国际化相关问题修复 --bug=127549945 (#2422)
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-content/failure-content.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-input.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-nav/failure-nav.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/utils.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-view/failure-view.tsx
  bkmonitor/webpack/src/trace/plugins/components/alert-action-list.tsx
Labels: project/monitor, fix

#2596 fix: 策略列表部分字段url刷新无数据 --Bug=129290383
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, fix

#2597 fix: 快速切换导航出现页面加载显示错误 --Bug=129317739
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set.tsx
Labels: project/monitor, fix

#2598 fix: 修复采集项配置操作不符合预期问题 --bug=129319321
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, fix

#2600 feat: 聚类算法调整为单敏感度 & Pattern 展示实时性优化 --story=118101346
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/data_cls.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0029_auto_20240819_2049.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/utils/bkdata.py
  bklog/templates/flow/log_count_aggregation_flow.json
  bklog/templates/flow/predict_flow.json
Labels: project/log, feat

#2604 fix: 修复路由切换有无侧边栏时路由重复渲染问题
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/router/index.js
Labels: project/log, fix

#2607 feat: 根因问题修复
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/failure/failure-content/failure-content.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-main.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-nav/failure-nav.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/failure-timing.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-view/failure-view.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure.tsx
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.scss
Labels: project/monitor, fix

#2606 fix: 适配查询条件数据结构改造 --bug=129373397
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix

#2608 feat: 告警处理日志流水优化 --story=119244666
  bkmonitor/alarm_backends/core/alert/alert.py
  bkmonitor/alarm_backends/core/cache/assign.py
  bkmonitor/alarm_backends/service/alert/builder/processor.py
  bkmonitor/alarm_backends/service/alert/enricher/base.py
  bkmonitor/alarm_backends/service/alert/enricher/rule_assign.py
  bkmonitor/alarm_backends/service/alert/manager/checker/upgrade.py
  bkmonitor/alarm_backends/service/fta_action/tasks/alert_assign.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_assign.py
Labels: project/monitor, feat

#2605 perf: 优化空间管理打开慢问题 --Story=119290823
  bkmonitor/webpack/src/monitor-pc/lang/table-content.ts
  bkmonitor/webpack/src/monitor-pc/pages/space-manage/space-manage.tsx
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
  bkmonitor/webpack/tsconfig.base.json
Labels: project/monitor, perf

#2609 fix: 修复告警策略监控对象筛选条件刷新页面无法回填的问题
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, fix

#2599 fix: AsCode导出grafana配置转换问题 --bug=129329973
  bkmonitor/api/grafana/exporter.py
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#2610 feat: 策略列表增加total字段 --story=119292617
  bkmonitor/packages/monitor_web/shield/utils.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#2611 fix: 去掉多余的空间筛选文案
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, fix

#2602 fix: markdown通知转义兼容中括号和小括号组合情况 --bug=129340493
  bkmonitor/bkmonitor/utils/template.py
Labels: project/monitor, fix

#2612 chore: 路由重复渲染问题回滚
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/router/index.js
Labels: project/log, chore

#2613 feat: 故障根因问题修复
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
Labels: project/monitor, fix

#2618 feat: 优化聚合查询语句 --story=119297636
  bklog/apps/log_search/handlers/search/aggs_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2619 fix: 【APM】表格指标值为 0 不应该展示-- --bug=129294517
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
Labels: project/monitor, fix

#2614 fix: 【监控】icon 图标调整 --bug=129386335
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/flame-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/types.ts
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
Labels: project/monitor, fix

#2623 feat: 监控体验的一些文案改动及issue修复 --Story=119301583
  bkmonitor/webpack/src/fta-solutions/pages/event/alert-analyze.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/checkbox-tree.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/group.tsx
  bkmonitor/webpack/src/fta-solutions/store/getters.ts
  bkmonitor/webpack/src/fta-solutions/store/modules/app.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, feat

#2622 bugfix: 日志首页加载点击其他路由会重新返回问题修复
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#2624 fix: 日志检索跳转链接错误 --Bug=129418379
  bkmonitor/webpack/src/fta-solutions/store/modules/app.ts
  bkmonitor/webpack/src/monitor-pc/pages/log-retrieval/log-retrieval.vue
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, fix

#2626 fix: 修复故障根因定位国际化和文案相关的问题 --bug=128713497
  bkmonitor/core/errors/incident.py
  bkmonitor/locale/en/LC_MESSAGES/django.mo
  bkmonitor/locale/en/LC_MESSAGES/django.po
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.mo
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.po
  bkmonitor/packages/fta_web/alert/handlers/incident.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, fix

#2629 fix: 修复时间选择器选择时区失效问题
  bklog/web/src/components/time-range/time-range.tsx
Labels: project/log, fix

#2628 minor: profile查询5分钟内的数据按秒级来展示 --bug=128331047
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#2631 minor: profile 在查询无数据时，不做异常返回 --bug=129482825
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix
