Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-07, with the labels that each got.

#2175 fix: 场景智能检测监控目标编辑异常 --bug=126630077
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#2177 chore: 字段分析验收问题修复
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/collected-items-mixin.js
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
Labels: project/log, feat

#2178 perf: 优化列表页面的最大高度设置 --story=118271271
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, perf

#2179 feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
  bkmonitor/webpack/src/trace/hooks/vue-flow-hooks.ts
  bkmonitor/webpack/src/trace/pages/main/inquire-content/node-topo.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/store/constant.ts
Labels: project/monitor, feat

#2143 feat: 增加 consul token 字段 & 增加resource标准字段 --story=118162236
  bkmonitor/apm/core/discover/precalculation/consul_handler.py
  bkmonitor/constants/apm.py
Labels: project/apm, fix

#2186 fix: 监控独立域名部署时候切换语言不生效问题 --bug=126704411
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, fix

#2181 feat: 编辑采集项时winlog_match_op参数不允许为空 --story=118271266
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#2190 fix: 重新进入告警源页面后弹窗蒙层没有固定--bug=126751829 (#2190)
  bkmonitor/webpack/src/fta-solutions/pages/integrated/event-source-detail/event-source-detail.scss
Labels: project/monitor, fix

#2191 fix: 【专项】Trace 检索—新拓扑图支持问题修复
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/node-topo.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
Labels: project/monitor, fix

#2184 fix: 【监控】告警组更新时间显示的是服务器时间，与实际相差8个小时 --bug=126654693
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
Labels: project/monitor, fix

#2188 fix: 【监控】新建拨测组弹窗上传图片区域默认需要有说明 --bug=126509955
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/upload-content.scss
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/upload-content.tsx
Labels: project/monitor, fix

#2187 fix: 【监控】新建策略页面策略名称前端未判断不能为空 --bug=126637765
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
Labels: project/monitor, fix

#2183 fix: IP选择器中没有显示agent状态icon --bug=126663945
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/alarm-shield-ipv6.scss
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/alarm-shield-ipv6.tsx
Labels: project/monitor, fix

#2192 fix: 修复【创建拨测任务时，名称为空格也能保存】的问题 --bug=126508805
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/task-form.vue
Labels: project/monitor, fix

#2193 fix: 修复【告警组页面群机器人输入框前端未判断输入内容】问题 --bug=126644381
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/components/notice-mode.tsx
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
Labels: project/monitor, fix

#2194 fix: 告警组删除按钮禁用时增加提示 --bug=126654903
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
Labels: project/monitor, fix

#2125 feat: 初始化 bk log 路由 --story=118121943
  bkmonitor/api/log_search/default.py
  bkmonitor/config/default.py
  bkmonitor/metadata/management/commands/sync_bklog_es_router.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/tests/commands/test_sync_bklog_es_router.py
  bkmonitor/on_migrate
Labels: project/monitor, feat

#2176 feat: 日志过滤兼容操作符
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/type.ts
  bklog/web/src/components/collection-access/step-issued.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, feat

#2197 feat: 检索添加一键展开长字段功能 --story=118199272
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
Labels: project/log, feat

#2202 feat: 本地支持配置API报错信息不弹窗展示 --story=118325779
  bkmonitor/webpack/src/monitor-api/base.js
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-config-detail/collector-config-detail.vue
Labels: project/monitor, fix

#2204 fix: 【监控】拨测名称输入框前端未判断限制输入表情符号 --bug=126509861
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-data.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/task-form.vue
  bkmonitor/webpack/src/monitor-pc/utils/index.ts
Labels: project/monitor, fix

#2200 fix: 【监控】创建拨测任务报错时，报错内容超出显示框显示不全 --bug=126508987
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/task-form-done.vue
Labels: project/monitor, fix

#2199 fix: 【监控】收藏的检索保存按钮一直显示红点 --bug=126460881
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#2117 feat: [apm] 新增精简服务topo --story=118001604
  bkmonitor/packages/apm_web/trace/diagram/service_topo.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#2203 fix: 修复【图表更多按钮tooltips说明文案展示】问题 --bug=126463397
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, fix

#2209 fix: 日志采集数据的回显bug修复 --bug=126825235
  bklog/apps/log_databus/handlers/collector_scenario/row.py
  bklog/apps/log_databus/handlers/collector_scenario/section.py
Labels: project/log, fix

#2210 feat: 自定义事件指标策略数据查询补充field_dict event_name --story=118334891
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
Labels: project/monitor, feat

#2201 fix: 修复【已添加拨测目标，还显示添加拨测目标提示文案】问题 --bug=126507701
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/task-form.vue
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/tcp-target.tsx
Labels: project/monitor, fix

#2198 fix: 修复【计算平台对接功能关闭，进入新建策略页面报错】问题 --bug=126637087
  bkmonitor/webpack/src/monitor-pc/pages/global-config/global-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#2207 fix: 所有采集任务执行完成后’执行中‘状态不在显示loading图标 --bug=126757189
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-status-details.tsx
Labels: project/monitor, fix

#2196 fix: promql变量查询不能固定bkmonitor前缀 --bug=126759637
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, fix

#2212 feat: 【产品功能】选择业务时，名称打字一半，鼠标移动走后，页面会自动收起 --story=117711199
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
Labels: project/monitor, feat

#2213 chore: 收藏添加新开页功能 --story=118199395
  bklog/web/src/views/retrieve/collect/collect-index.tsx
  bklog/web/src/views/retrieve/collect/component/group-dropdown.tsx
Labels: project/log, chore

#2214 chore: 采集项列表新增按标签、存储集群过滤功能 --story=118226945
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, chore

#2215 perf: 拨测编辑和新增渲染效率优化 --story=118342107
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/task-form.vue
Labels: project/monitor, perf

#2216 feat: 针对自定义时间清洗格式直接跳过校验 --story=118344027
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/tasks/collector.py
Labels: project/log, feat

#2219 fix: 单仪表盘权限同步失败问题处理 --bug=126858499
  bkmonitor/packages/monitor_web/grafana/permissions.py
Labels: project/monitor, fix

#2218 feat: 处理kafka ssl 参数
  bklog/apps/log_databus/handlers/collector_scenario/kafka.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#2224 chore: 修复采集下发无法点击下一步问题
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, chore

#2225 feat: 调整查询计算平台结果表路由方法 --story=118351534
  bkmonitor/kernel_api/views/v3/meta.py
Labels: project/monitor, feat

#2211 feat: 内置策略去掉自定义字符型告警策略 --story=118335533
  bkmonitor/packages/monitor_web/strategies/default_settings/os/v1.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
  bkmonitor/packages/monitor_web/strategies/resources/v1.py
Labels: project/monitor, feat

#2222 feat: ascode配置时间字段支持复合时间字段 --story=118349793
  bkmonitor/bkmonitor/as_code/ply/function/__init__.py
Labels: project/monitor, feat

#2077 feat: 公有云告警接收插件支持aws和azure --story=118010078
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/plugin.yaml
  bkmonitor/packages/fta_web/event_plugin/plugins/public_cloud_alert/tutorial.md
  bkmonitor/support-files/fta/event_plugins/public_cloud_alert__0.1.0.tar.gz
  bkmonitor/support-files/fta/event_plugins/public_cloud_alert__0.3.0.tar.gz
Labels: project/monitor, feat

#2226 fix: 修复日志带有轮询的页面离开后轮询未清空问题
  bklog/web/src/components/collection-access/step-issued.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
Labels: project/log, fix

#2223 fix: 【监控】trace服务topo图连接线数字样式优化 --bug=126864276
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
Labels: project/monitor, fix

#2220 fix: 【监控】创建插件成功后点击新建采集，采集页面没有自动选中对应的插件 --bug=126787237
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
Labels: project/monitor, fix

#2221 fix: 【监控】采集详情页面编辑配置名称，配置名称输入框未检查为空和表情符号 --bug=126774657
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
Labels: project/monitor, fix

#2182 feat: 针对查询数据源命令，添加gse路由 --story=118284100
  bkmonitor/metadata/management/commands/delete_spec_gse_router.py
  bkmonitor/metadata/management/commands/query_storage.py
  bkmonitor/metadata/service/storage_details.py
Labels: project/monitor, feat

#2228 feat: 优化kafka配置模板参数
  bklog/apps/log_databus/handlers/collector_scenario/kafka.py
Labels: for approve

#2138 feat: GSE Agent状态接口切换到节点管理接口 --story=118083451
  bkmonitor/api/cmdb/ipchooser.py
  bkmonitor/api/node_man/default.py
  bkmonitor/bkm_ipchooser/api.py
  bkmonitor/bkm_ipchooser/handlers/dynamic_group_handler.py
  bkmonitor/bkm_ipchooser/handlers/host_handler.py
  bkmonitor/bkm_ipchooser/handlers/template_handler.py
  bkmonitor/bkm_ipchooser/handlers/topo_handler.py
  bkmonitor/bkm_ipchooser/tools/gse_tool.py
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
  bkmonitor/tests/api/node_man/__init__.py
  bkmonitor/tests/api/node_man/test_fill_agent_status.py
Labels: project/monitor, feat

#2229 feat: 添加创建或更新ES结果表的API --story=118355946
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/es.py
  bkmonitor/metadata/service/space_redis.py
Labels: project/monitor, feat

#2231 feat: 忽略对nested字段的高亮以避免报错 --story=118357744
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2234 fix: 修复采集下发列表分页问题
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, fix

#2233 feat: 【产品优化】从告警策略导出的yaml文件，在导入时报错 --story=118118471
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2236 chore: 日志过滤路径黑名单为空时参数调整
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, chore

#2237 feat: 主机监控列表增加暂无进程文案以及tooltips指引文案 --story=117521576
  bkmonitor/webpack/src/monitor-pc/common/constant.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/performance/components/performance-table.vue
Labels: project/monitor, feat

#2238 feat: 支持段日志/行日志采集配置切换 --story=117845469
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#2239 fix: trace火焰图工具位置错误 --bug=126916733
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/graph-tools/graph-tools.scss
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/graph-tools/graph-tools.tsx
Labels: project/monitor, fix

#2235 perf：[apm] ebpf 数据查询优化 --bug==126904636
  bkmonitor/apm/core/deepflow/base.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm_ebpf/resource.py
Labels: project/apm, perf

#2240 feat: es索引路由支持 --story=118364152
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat

#2243 feat: grafana运营数据采集性能优化 --story=118373177
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/statistics/v2/grafana.py
Labels: project/monitor, feat

#2244 feat: 调整数据采集详情复制目标功能展示逻辑调整 --bug=126763833
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-status-details.tsx
Labels: project/monitor, feat

#2245 fix: 【监控】创建进程采集一直提示自定义指标名称错误 --bug=126756621
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, fix

#2189 fix: 修复 requests hook 没有记录到参数 --bug=126701501
  bkmonitor/bkmonitor/trace/django.py
  bkmonitor/bkmonitor/trace/log_trace.py
  bkmonitor/bkmonitor/trace/requests.py
  bkmonitor/bkmonitor/trace/utils.py
Labels: project/apm, fix

#2242 feat: 屏蔽页面打开耗时过长 --story=117905332
  bkmonitor/bkmonitor/models/base.py
  bkmonitor/bkmonitor/utils/shield.py
  bkmonitor/bkmonitor/utils/time_tools.py
  bkmonitor/constants/shield.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/shield/utils.py
Labels: project/monitor, perf

#2248 fix: 故障根因定位前端代码文件新增 --story=887330485 (#2156)
  bkmonitor/webpack/src/trace/pages/common/constant.ts
  bkmonitor/webpack/src/trace/pages/common/debounce-decorator.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/auto-input/auto-input.tsx
  bkmonitor/webpack/src/trace/store/modules/set-meal-add.ts
Labels: project/monitor, feat

#2247 feat: 针对数据源添加来源字段，标识来自gse还是bkdata --story=118360123
  bkmonitor/metadata/management/commands/sync_bklog_es_router.py
  bkmonitor/metadata/migrations/0185_datasource_created_from.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, feat

#2254 feat: 支持段日志/行日志采集配置切换 --story=117845469
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, feat

#2250 feat: 提升redis内存周期清理效率 --story=118377379
  bkmonitor/alarm_backends/core/detect_result/clean.py
  bkmonitor/alarm_backends/core/detect_result/tasks.py
  bkmonitor/bkmonitor/action/serializers/strategy.py
  bkmonitor/packages/monitor_web/user_group/views.py
Labels: project/monitor, feat

#2260 feat: 插件管理页面，查看下发状态接口有重复请求节点管理api --story=118225361
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
Labels: project/monitor, feat

#2257 feat: 日志上下文/实时日志添加高亮功能
  bklog/web/src/components/log-view/highlight-html.js
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/condition-comp/data-filter.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
Labels: project/log, feat

#2255 fix: 原始日志快捷操作点击无效修复 --bug=127055491
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
Labels: project/log, fix

#2249 feat: 日志过滤开发
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
Labels: project/log, feat

#2253 fix: 日志字符串过滤回显问题修复 --bug=127054067
  bklog/apps/log_databus/handlers/collector_scenario/row.py
  bklog/apps/log_databus/handlers/collector_scenario/section.py
Labels: project/log, fix

#2258 feat: AI设置方案选择增加placeholder --bug=127062120
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.tsx
Labels: project/monitor, feat

#2256 fix: 修复【告警事件左侧过滤项hover时，蓝条没有沾满】问题 --bug=127054534
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/monitor-drag.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/monitor-drag.tsx
Labels: project/monitor, fix

#2259 fix: 修复trace检索文档指引跳转地址错误问题 --bug=127063288
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, fix

#2246 fix: 修复日历服务新增事项永不结束按钮展示问题 --bug=127054168
  bkmonitor/webpack/src/monitor-pc/pages/calendar/calendar-add-form.tsx
Labels: project/monitor, fix

#2263 feat: 处理外部请求用户认证失败的问题
  bklog/apps/middleware/apigw.py
Labels: project/log, feat, notapd

#2264 feat: ai设置默认方案ID为0认为没有选择方案 --bug=127062120
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.tsx
Labels: project/monitor, feat

#2267 feat: 调整kafka ssl 参数序列化约束
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#2227 feat: 首屏页面白屏间隙加入动画效果体验 --story=116559094
  bkmonitor/webpack/.browserslistrc
  bkmonitor/webpack/babel.config.js
  bkmonitor/webpack/index.ejs
  bkmonitor/webpack/index.html
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/public/pc/loading.gif
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-api/package.json
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/components/condition/condition.tsx
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, perf

#2252 feat: 【功能优化】处理套餐在调试时弹窗的默认值改成置灰提示的效果 --story=115294103
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/components/simple-form.scss
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/components/simple-form.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-content.scss
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-content.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-debug-dialog.scss
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-debug-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
Labels: project/monitor, feat

#2269 feat: 【【功能优化】处理套餐在调试时弹窗的默认值改成置灰提示的效果】--story=115294103
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/components/simple-form.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/meal-debug-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#2268 fix: 修复某些页面切换业务后，页面loading没有取消的问题 --bug=127125262
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#2271 fix: 故障根因定位前端代码优化 --story=887330485 (#2156)
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/typings/event.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-confirm.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-dispatch.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/auto-input/auto-input.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/collapse.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/dynamic-form/dynamic-form.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/group-select.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/http-editor/utils.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/manual-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal-detail/set-meal-detail.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal-detail/set-meal-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/auto-input/auto-input.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/auto-input/auto-input.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/dynamic-form/dynamic-form.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/dynamic-form/dynamic-form.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/notice-mode.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/components/verify-item/verify-item.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/meal-content/http-callback.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/verify-input/verify-input.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-content/failure-content.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/failure-handle.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-input.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-input.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-main.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handler-list.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-edit-dialog.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-nav/failure-nav.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/tag-show.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/timeline.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/topo-tools.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/types.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-view/failure-view.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-view/metrics-collapse.tsx
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-data.ts
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-graph.tsx
  bkmonitor/webpack/src/trace/pages/failure/types/type.ts
  bkmonitor/webpack/src/trace/shim.d.ts
Labels: project/monitor, feat

#2270 fix: agent状态查询相关API偶发报错 --bug=127139885
  bkmonitor/api/node_man/default.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, fix

#2265 feat: 调整表格列为空的时候，用--代替展示 --bug=127074628
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
Labels: project/monitor, feat

#2275 feat: 调整获取共享集群命名空间异常问题 --story=118476789
  bkmonitor/api/bcs/default.py
Labels: project/monitor, feat

#2277 feat: 事件检索事件列表接口增加is_platform字段 --story=118481136
  bkmonitor/packages/monitor_web/grafana/resources/event.py
Labels: project/monitor, feat

#2278 feat: 字段分析新增白名单配置
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/webpack.config.js
Labels: project/log, feat

#2283 fix: 【监控】APM详情页面出现两个配置按钮 --bug=127263703
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, fix

#2284 fix: 日志侧边栏无法彻底关闭修复 --bug=127269641
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/es-slider.vue
  bklog/web/src/views/manage/log-archive/archive-list/components/archive-slider.vue
  bklog/web/src/views/manage/log-archive/archive-repository/repository-slider.vue
  bklog/web/src/views/manage/log-archive/archive-restore/restore-slider.vue
Labels: project/log, fix

#2281 feat: 补充监控项目遗漏的文本国际化 --bug=127146232
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/service/service-configuration/basic-info.tsx
  bkmonitor/webpack/src/apm/pages/service/service-configuration/configuration.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/replace-rotation-table-item.scss
  bkmonitor/webpack/src/trace/pages/rotation/components/replace-rotation-table-item.tsx
Labels: project/monitor, feat

#2285 fix: 【监控】告警分派设计稿还原度优化 --bug=127182708
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/debugging-result.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/debugging-result.tsx
Labels: project/monitor, fix

#2287 feat: 策略aiops算法仅支持数据平台指标 --story=118504908
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/rules-select.tsx
Labels: project/monitor, feat

#2261 feat: 事件类策略支持内置虚拟事件 --story=118310720
  bkmonitor/bkmonitor/data_source/backends/fta_event/compiler.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/constants/event.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#2286 feat: 字段分析白名单调整
  bklog/web/src/main.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/skeleton/retrieve-loader.vue
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
Labels: project/log, feat

#2288 feat: 字段分析白名单功能调整
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
Labels: project/log, feat

#2289 fix: unifyquery网关环境变量默认配置补充 --bug=127294085
  bklog/config/default.py
Labels: project/log, fix

#2293 fix: 主机列表无进程时短暂展示错误 --bug=127321461
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/performance/components/performance-table.vue
Labels: project/monitor, fix

#2291 feat: 【日志平台】聚类责任人筛选优化 --story=118199480
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/tests/log_clustering/__init__.py
  bklog/apps/tests/log_clustering/test_pattern_search.py
Labels: project/log, feat

#2294 feat: 聚类责任人筛选优化 --story=118199480
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, feat

#2296 feat: 字段分析白名单调整
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#2298 feat: 字段过滤显隐问题修复
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
Labels: project/log, feat

#2302 fix: 页面footer没有显示版本号 --bug=127346569
  bkmonitor/webpack/src/monitor-pc/store/modules/platform-config.ts
Labels: project/monitor, fix

#2295 chore: 修复github run action时的报错
  .github/workflows/codecov.yml
  .github/workflows/unittest.yml
  .github/workflows/web.yml
  bklog/config/default.py
Labels: project/public, chore, notapd

#2297 feat: 【日志检索】联合查询日志导出适配 --story=118392411
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#2304 feat: 优化APM Profiling未开启时的展示效果 --bug=127326201
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
Labels: project/monitor, feat

#2195 feat: 拨测节点列表优化 --story=118013522
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Labels: project/monitor, feat

#2305 fix: 日志年度版问题修复
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, fix

#2307 fix: 联合查询同步下载异常修复 --story=118392411
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/retrieve/result-comp/export-log.vue
Labels: project/log, fix

#2308 fix: 日志年度版问题修复
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, fix

#2309 feat: 日志聚类敏感度只保留一档 --story=117845936
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#2303 feat: 前端工程Makefile功能 --story=118530278'
  bkmonitor/webpack/.editorconfig
  bkmonitor/webpack/Dockerfile
  bkmonitor/webpack/Makefile
Labels: project/monitor, feat

#2316 fix: 通知模板支持markdown转义字符 --bug=127453003
  bkmonitor/bkmonitor/utils/template.py
Labels: project/monitor, fix

#2314 fix: IP选择器无权限报错未返回403错误码 --bug=127445335
  bkmonitor/bkm_ipchooser/views.py
Labels: project/monitor, fix

#2318 fix: 日志年度版本验收问题修复
  bklog/web/src/components/nav/head-nav.vue
Labels: project/log, fix

#2310 feat: ascode导出仪表盘配置性能优化 --story=118575331
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, feat

#2292 feat: 自定义事件索引清理增加是否配置策略的判断 --story=118507616
  bkmonitor/metadata/task/custom_report.py
Labels: project/monitor, feat

#2321 feat: 平台统一配置title/favicon/name等 --story=118584830
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/doc.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/route.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/table-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/lang/frontend/validate.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/components/business-alarm-square.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/platform-config.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/axis.ts
Labels: project/monitor, feat

#2319 feat: saas 适配 redis 哨兵模式
  bklog/config/default.py
  bklog/requirements.txt
Labels: project/log, feat, notapd

#2324 feat: 上下文高亮更新样式
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/result-comp/context-log.vue
Labels: project/log, feat

#2327 fix: 根因故障跳转修复 (#2300)
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/incident/incident-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/incident/incident-detail.tsx
  bkmonitor/webpack/src/monitor-pc/router/event/event-center.ts
Labels: project/monitor, fix

#2326 fix: 所有采集任务执行完成后执行中状态不在显示loading图标 --bug=126757189
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/config-deploy/config-deploy.vue
Labels: project/monitor, fix

#2312 fix: 【监控】全站表格统一的页码 --bug=127440644
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal.tsx
  bkmonitor/webpack/src/monitor-common/utils/constant.ts
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/common/mixins.js
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-scenes/custom-scenes.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance.vue
  bkmonitor/webpack/src/monitor-pc/pages/performance/table-store.ts
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-manager.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-data.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-node.tsx
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
Labels: project/monitor, fix

#2330 perf: 优化多图表缩放时卡顿 --story=118601228
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
Labels: project/monitor, perf

#2320 fix: 完成告警策略事件指标检索跳转功能 --bug=127290790
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/filter-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
Labels: project/monitor, feat

#2331 fix: 修改数据采集详情右上指引按钮文案 --bug=127496111
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-detail.tsx
Labels: project/monitor, fix

#2336 feat: 3.8 的 bugfix
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/models/bcs_node.py
  bkmonitor/bkmonitor/utils/kubernetes.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
  bkmonitor/packages/monitor_web/uptime_check/views.py
Labels: project/monitor, feat

#2323 feat: 添加es路由选项配置 --story=118592778
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/management/commands/sync_bklog_es_router.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/es.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/tests/commands/test_sync_bklog_es_router.py
Labels: project/monitor, feat

#2333 feat: 添加部分查询influxdb的结果表跳过写入链路 --story=118608711
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/data_source.py
Labels: project/monitor, feat

#2334 fix: 【监控】告警策略事件指标检索应该跳转到事件检索 --bug=127290790
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/filter-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/where-display.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
Labels: project/monitor, feat

#2339 fix: 修复检索分页回弹问题 --bug=127412239
  bklog/web/src/skeleton/retrieve-loader.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, fix

#2340 feat: 停止已经迁移的任务 --story=118621320
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/task/config_refresh.py
Labels: project/monitor, feat

#2337 docs: 更新前端开发指引 --story=118619656
  bkmonitor/webpack/README.md
Labels: project/monitor, docs

#2342 fix: 拨测任务域名编辑失效 --bug=127553245
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-form/tcp-target.tsx
Labels: project/monitor, fix

#2343 fix: iam migrate在全新部署时执行失败问题 --bug=127557447
  bkmonitor/bkmonitor/app.py
  bkmonitor/packages/monitor_api/apps.py
Labels: project/monitor, fix

#2345 fix: 日志聚类接入问题修复 --bug=127551305
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/aiops_model_handler.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/data_cls.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
Labels: project/log, fix

#2351 fix: 日志年度版本问题修复
  bklog/web/src/store/modules/platform-config.ts
Labels: project/log, fix

#2349 fix: 【APM】错误页面跳转过去调用链没有附带时间 + 没有带上查询条件 --bug=127339527
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/feedback-cause-dialog.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/plugins/components/alert-action-list.tsx
Labels: project/monitor, fix

#2355 feat: 新增策略回滚命令 --story=118620924
  bkmonitor/bkmonitor/management/commands/rollback_strategy.py
Labels: project/monitor, feat

#2357 fix: 修复 APM 服务配置报错 --bug=127575525
  bkmonitor/apm/core/discover/precalculation/processor.py
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, fix

#2338 fix: [apm] 修复 error 页，左右两侧数据不一致问题 --bug=127544438
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, fix

#2360 feat: 添加通过消息队列查询数据源ID的命令 --story=118636450
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/management/commands/query_data_id_by_mq.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/service/data_source.py
  bkmonitor/metadata/task/config_refresh.py
Labels: project/monitor, feat

#2359 feat: 根因故障拓扑布局优化 (#2300)
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/elkjs-utils.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/node-type-svg.ts
Labels: project/monitor, feat

#2350 fix: 修复【APM页面拓扑列表点击服务名称，前端报错】问题 --bug=127537695
  bkmonitor/webpack/src/apm/pages/service/service.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
Labels: project/monitor, fix

#2061 fix: 屏蔽维度跟告警维度需要一致问题 --bug=124046851
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-dimension.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/condition.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/dimension-input.scss
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/dimension-input.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/method.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/select-input.scss
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/select-input.tsx
Labels: project/monitor, fix

#2274 feat: 【产品优化】promql表达式在告警屏蔽中选择不了维度 --story=118349408
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-dimension.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/select-input.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/strategy-detail.tsx
Labels: project/monitor, feat

#2364 fix: 外部授权页面搜索报错 --bug=127642459
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/authorization-list/authorization-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/authorization-list/authorization-list.tsx
Labels: project/monitor, fix
