Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-09, with the labels that each got.

#2733 feat: 完成拓扑图右键菜单下钻功能展示
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
Labels: project/monitor, feat

#2718 feat: APM profiling 使用统计补全 --story=119429900
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, feat

#2736 feat: 【专项】APM 应用拓扑 (联调)
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
Labels: project/monitor, feat

#2737 feat: 1.完成图例节点颜色、节点大小的筛选以及link菜单的跳转 2. 修复图表加载前筛选条件没有生效的问题
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-topo-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-topo-legend.tsx
Labels: project/monitor, feat

#2734 fix: 外部权限授权列表接口缺少status字段 --bug=129983615
  bkmonitor/packages/monitor_web/iam/resources.py
Labels: project/monitor, fix

#2724 feat: 避免通过过期的AgentId获取错误的主机缓存 --story=119462850
  bkmonitor/alarm_backends/core/cache/cmdb/host.py
Labels: project/monitor, feat

#2739 feat: 采集配置导入功能
  bklog/web/src/components/collection-access/components/index-import-modal/index.scss
  bklog/web/src/components/collection-access/components/index-import-modal/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/configs-select.vue
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/storage-mixin.js
  bklog/web/src/store/collect.js
Labels: project/log, feat

#2741 feat: 【专项】APM 应用拓扑 （联调）
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/text-overflow-copy/text-overflow-copy.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
Labels: project/monitor, feat

#2743 feat: 完成拓扑图右击菜单的下钻功能
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
Labels: project/monitor, feat

#2745 feat: 日志聚类一件开启功能
  bklog/web/src/images/cluster-img/clean-image-grayed1.png
  bklog/web/src/images/cluster-img/clean-image-grayed2.png
  bklog/web/src/images/cluster-img/cluster.png
  bklog/web/src/images/images.d.ts
  bklog/web/src/images/xiaojingAI.svg
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-filter.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-popover.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-popover.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, feat

#2751 feat: 日志聚类一键开启告警检查步骤调整
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
Labels: project/log, feat

#2682 feat: PlainStrategyListResource接口性能优化 --story=119237038
  bkmonitor/packages/monitor_web/strategies/resources/v1.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#2750 feat: 【专项】APM 应用拓扑 (联调)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
Labels: project/monitor, feat

#2754 feat: 1. 修复边的起始节点和结束节点一致时节点的展示问题 2. 修复工具栏原始大小功能
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/compare-topo-fullscreen/compare-graph-tools.tsx
Labels: project/monitor, feat

#2752 feat: 【集成】自定义指标的描述应该可便捷 --story=118680605
  bkmonitor/packages/monitor_web/custom_report/resources.py
  bkmonitor/packages/monitor_web/custom_report/views.py
  bkmonitor/webpack/src/monitor-api/modules/custom_report.js
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail.vue
  bkmonitor/webpack/src/monitor-pc/store/modules/custom-escalation.js
  bkmonitor/webpack/src/monitor-pc/types/custom-escalation/custom-escalation-detail.ts
Labels: project/monitor, feat

#2717 feat: APM 编辑触发通知 --story=119429883
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, feat

#2747 feat: Trace 全文检索性能优化 --story=119485225
  bkmonitor/packages/apm_web/handlers/trace_handler/query.py
Labels: project/monitor, project/apm, feat

#2755 feat: APM 编辑触发通知-2 --story=119429883
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, feat

#2753 feat: ES查询性能优化 --story=119476076
  bklog/apps/feature_toggle/plugins/constants.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2759 feat: 【专项】APM 应用拓扑 （联调）
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/text-overflow-copy/text-overflow-copy.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
Labels: project/monitor, feat

#2761 fix: 修复kv列表traceid按钮点击无效问题
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
Labels: project/log, fix

#2762 fix: 修复初始化是原始日志时，操作列不生效问题 --bug=130030093
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#2763 feat: 【专项】APM 应用拓扑 (联调)
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
Labels: project/monitor, feat

#2760 feat: 【产品功能】眼睛的tips文案优化 --story=119404834
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, feat

#2765 feat: track_total_hits参数优化 --story=119515180
  bklog/apps/log_search/decorators.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2758 feat: 【产品功能】检索页面里只有一项查询时删除的交互优化 --story=119404846
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, feat

#2766 fix: 【监控】事件中心快速切换其他导航出现回到事件组件显示问题 --Bug=130006971
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-slider.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, fix

#2768 feat: 【专项】APM 应用拓扑 （联调）
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
Labels: project/monitor, feat

#2769 feat: 完成时间切片点击功能
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
Labels: project/monitor, feat

#2771 fix: 1. 修复topo报错后，下次topo图布局紊乱的问题 2. 修复工具栏图例层级问题 3. 增加图表loading态
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
Labels: project/monitor, fix

#2767 feat: 日志聚类一键开启功能修复
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, fix

#2772 fix: 采集配置导入问题修复
  bklog/web/src/components/collection-access/components/index-import-modal/index.tsx
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-issued.vue
Labels: project/log, feat

#2773 feat: 左侧筛选输入迁移
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/result-table-panel-v2/index.scss
  bklog/web/src/views/retrieve-v2/result-table-panel-v2/index.vue
  bklog/web/src/views/retrieve-v2/result-table-panel-v2/panel-filter.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/tab-panel/index.vue
Labels: project/log, feat

#2774 feat: 【告警屏蔽】快捷屏蔽这里可以编辑维度信息后再保存 --story=119455292
  bkmonitor/alarm_backends/service/alert/manager/tasks.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
Labels: project/monitor, feat

#2775 feat: 【产品功能】指标事件等可视化页面问题 --Story=119404775
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/settings-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/tab-form.tsx
Labels: project/monitor, feat

#2776 feat: 【告警屏蔽】【MF】快捷屏蔽这里可以编辑维度信息后再保存 --story=119455292
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/store/modules/event.ts
Labels: project/monitor, feat

#2777 fix: 更新采集项名称失败修复 --bug=130109577
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#2748 feat: ES索引轮转--白名单过滤逻辑优化，修复格式非法告警问题 --story=119485342
  bkmonitor/metadata/task/config_refresh.py
Labels: project/monitor, feat

#2780 feat: 【告警屏蔽】【MF】快捷屏蔽这里可以编辑维度信息后再保存 --story=119455292 (#2776)
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/store/modules/event.ts
Labels: project/monitor, feat

#2782 feat: 采集一键配置导入功能
  bklog/web/src/components/collection-access/components/index-import-modal/index.tsx
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, feat

#2770 feat: 【专项】APM 应用拓扑 (联调)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, feat

#2779 feat: 日志采集配置支持快速导入
  bklog/web/src/components/collection-access/components/index-import-modal/index.scss
  bklog/web/src/components/collection-access/components/index-import-modal/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/configs-select.vue
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-issued.vue
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/mixins/storage-mixin.js
  bklog/web/src/store/collect.js
Labels: project/log, feat, notapd

#2786 feat: 优化引导页获取配置渲染时机 --Story=119530833
  bkmonitor/webpack/src/monitor-pc/common/introduce.ts
Labels: project/monitor, perf

#2789 feat: 【产品功能】检索页面里只有一项查询时删除的交互优化 --story=119404846
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.scss
Labels: project/monitor, feat

#2788 feat: 日志聚类一件告警开启功能
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
Labels: project/log, feat

#2784 feat: ES查询性能优化filter & mappings --story=119529009
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2778 feat: 日志聚类一键开启功能
  bklog/apps/api/modules/bkdata_dataflow.py
  bklog/apps/log_clustering/components/collections/data_access_component.py
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/migrations/0030_auto_20240826_2156.py
  bklog/apps/log_clustering/migrations/0031_auto_20240826_2157.py
  bklog/apps/log_clustering/migrations/0032_clusteringconfig_access_finished.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/tasks/flow.py
  bklog/apps/log_clustering/tasks/msg.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/log_clustering/views/clustering_monitor_views.py
  bklog/apps/log_clustering/views/pattern_views.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/tasks/space.py
  bklog/apps/utils/pipline.py
  bklog/web/src/images/cluster-img/clean-image-grayed1.png
  bklog/web/src/images/cluster-img/clean-image-grayed2.png
  bklog/web/src/images/cluster-img/cluster.png
  bklog/web/src/images/images.d.ts
  bklog/web/src/images/xiaojingAI.svg
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-filter.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-popover.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-popover.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, feat, notapd

#2669 fix: 采集目标跨页全选cloud_area ip选择器适配 --Bug=129698257
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-target-add-del/bk-host/bk-host.vue
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#2790 feat: 【专项】APM 应用拓扑 (联调)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, feat

#2711 feat: 【日志平台】日志排序仅支持全部升序或全部降序 --story=119332822
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2791 feat: 对齐aiops聚类正则匹配逻辑
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/utils/pattern.py
  bklog/requirements.txt
Labels: project/log, feat, notapd

#2796 feat: 1. topo图loading展示效果调整 2. 修复节点颜色问题 3. 修复某些情况topo图布局错乱问题
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
Labels: project/monitor, feat

#2797 fix: es查询优化处理 --bug=130157397
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#2756 refactor: 智能监控策略巡检任务 --story=119432579
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/aiops/alert/maintainer.py
  bkmonitor/bkmonitor/dataflow/constant.py
  bkmonitor/config/role/web.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/packages/monitor_web/constants.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, refactor

#2799 feat: iam鉴权逻辑优化 --story=119535494
  bkmonitor/bkmonitor/iam/permission.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/core/cache/__init__.py
  bkmonitor/core/cache/localmem.py
  bkmonitor/packages/monitor_web/commons/biz/resources.py
  bkmonitor/packages/monitor_web/commons/biz/space_api.py
Labels: project/monitor, feat

#2800 fix: 仪表盘metric接口调用失败问题修复 --bug=130168833
  bklog/apps/grafana/handlers/query.py
Labels: project/log, fix

#2802 minor: add k8s info to span
  bklog/apps/log_trace/trace/__init__.py
  bkmonitor/bkmonitor/trace/log_trace.py
Labels: project/public, feat, notapd

#2801 feat: 页面添加annotation过滤
  bklog/web/src/components/collection-access/components/step-add/config-log-set-edit-item.vue
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/configs-select.vue
  bklog/web/src/components/collection-access/components/step-add/match-label-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, feat

#2805 fix: 监控首页重复调用api问题 --Bug=130177843
  bkmonitor/webpack/src/monitor-pc/pages/home/home.tsx
Labels: project/monitor, fix

#2806 fix: 告警事件图表调整数据检索丢失部分表达式操作符 --Bug=130189531
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/view-info.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-alarm-chart.tsx
Labels: project/monitor, fix

#2807 feat: iam权限表达式解析报错问题 --story=119551753
  bkmonitor/bkmonitor/iam/permission.py
Labels: project/monitor, feat

#2808 fix: 事件快捷屏蔽传参事件id应为字符串类型 --Bug=130193925
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
Labels: project/monitor, fix

#2809 feat: ES链路迁移支持，用户更改后通知计算平台，query_data_source新增返回归属业务ID --story=119552317
  bkmonitor/api/bkdata/default.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#2811 chore: 日志脱敏字段接口时间传参改为时间戳
  bklog/web/src/components/collection-access/components/step-add/configs-select.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/log-masking/masking-field.tsx
Labels: project/log, chore, notapd

#2804 fix: search handler 获取description修复 --bug=130175759
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#2813 feat: ES链路迁移支持,根据space_uid反查业务ID --story=119555658
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#2814 feat: 1. 优化右键菜单和工具栏弹窗展示位置逻辑 2. 切换时间范围后关闭右侧面板
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-topo-legend.scss
Labels: project/monitor, feat

#2815 fix: 预计算分配任务使用队列均分逻辑 --bug=130208973
  bkmonitor/apm/core/discover/precalculation/daemon.py
  bkmonitor/apm/management/commands/reload_apm_daemon.py
Labels: project/apm, fix

#2817 fix: 修复Metadata循环导入问题 --bug=130215535
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, fix

#2818 fix: 修复索引集点击空白后过滤条件和字段清空问题
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix, notapd

#2820 fix: 聚类查询dataflow状态时无权限 --bug=130222045
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#2821 fix: 修复 Trace 错误码检索不到数据的问题 --bug=130222161
  bkmonitor/packages/apm_web/handlers/trace_handler/query.py
Labels: project/monitor, fix

#2819 feat: 根据space_uid查询归属业务ID支持多类型 --story=119560235
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#2824 perf: 优化部分页面返回需等待dom销毁阻塞路由 --Story=119564806
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-plugin.vue
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-nodes/uptime-check-node-edit.vue
Labels: project/monitor, perf

#2826 fix: promql策略告警缺少agg_dimensions字段 --bug=130231491
  bkmonitor/alarm_backends/core/alert/alert.py
  bkmonitor/alarm_backends/service/alert/enricher/strategy.py
Labels: project/monitor, fix

#2792 feat: 【数据探索】tracing检索页面title --story=119405105
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, feat

#2825 feat: 检索已添加的字段信息初始化
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Labels: project/log, feat

#2829 fix: 修复重新因为新增字段导致 migrate 报错问题 --bug=130257797
  bkmonitor/apm/migrations/0002_initbuilt_config.py
Labels: project/apm, fix

#2831 feat: 查询结果统计样式调整
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
Labels: project/log, feat

#2795 fix: 新建的采集项显示的字段只有时间 --bug=129786545
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#2834 bugfix: 修复索引集脱敏配置创建兼容配置正则的问题
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, fix, notapd

#2832 fix: 计算平台数据源直查无权限 --bug=130227751
  bklog/apps/api/modules/utils.py
Labels: project/log, fix

#2828 feat: 【专项】APM 应用拓扑（优化）
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apdex-chart/apdex-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, feat

#2836 fix: 修复查询统计结果搜索过滤失效问题 --bug=130285755
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
Labels: project/log, fix

#2841 feat: 【专项】APM 应用拓扑(布局优化)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
Labels: project/monitor, feat

#2842 fix: 【监控】国际化文案补充 --bug=130299317
  bkmonitor/webpack/src/monitor-pc/lang/doc.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
Labels: project/monitor, fix

#2840 feat: 日志聚类表格功能迁移
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/index.vue
  bklog/web/src/views/retrieve-v2/index.scss
  bklog/web/src/views/retrieve-v2/search-result-chart/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-filter.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-filter.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-popover.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-popover.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-rule-dialog.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-tools/cluster-rule-dialog.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-cluster-step.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#2839 feat: 【告警分派】编辑值输入框需要支持AND和OR的逻辑 --story=119451001
  bkmonitor/bkmonitor/action/serializers/assign.py
  bkmonitor/bkmonitor/utils/range/__init__.py
  bkmonitor/bkmonitor/utils/range/conditions.py
Labels: project/monitor, feat

#2844 feat: 空间列表序列化优化 --story=119586702
  bkmonitor/api/cmdb/default.py
  bkmonitor/apm/core/discover/precalculation/processor.py
  bkmonitor/bkm_space/define.py
  bkmonitor/bkmonitor/management/commands/iam_upgrade_action_v2.py
  bkmonitor/bkmonitor/models/bcs_cluster.py
  bkmonitor/bkmonitor/space/__init__.py
  bkmonitor/bkmonitor/space/space_api.py
  bkmonitor/config/default.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/resources/space_api.py
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/commons/biz/resources.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#2845 feat: 查询统计结果功能抽离
  bklog/web/src/components/monitor-echarts/components/chart-title-new.vue
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve-v2/result-comp/table-column.vue
  bklog/web/src/views/retrieve-v2/search-result-chart/index.scss
  bklog/web/src/views/retrieve-v2/search-result-chart/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/index.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
Labels: project/log, feat

#2846 feat: 空间列表序列化优化 --story=119586702
  bkmonitor/bkmonitor/space/space_api.py
Labels: project/monitor, feat

#2848 fix: 采集详情链路状态查询数据量级报错修复 --bug=130332663
  bkmonitor/packages/monitor_web/datalink/resources.py
Labels: project/monitor, fix

#2696 feat: 【产品优化】告警策略-批量操作-修改告警组 添加提示防止用户误操作 --story=118621315
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#2851 feat: 检索功能迁移
  bklog/web/src/skeleton/retrieve-loader.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/query-history.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Labels: project/log, feat

#2852 feat: 采集详情链路存储状态新增日志关键字采集支持 --story=119589846
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/packages/monitor_web/datalink/storage.py
Labels: project/monitor, feat

#2853 fix: 修复群通知指定知会人后，套餐执行发送群通知失败的问题 --bug=130338505
  bkmonitor/alarm_backends/service/fta_action/__init__.py
  bkmonitor/bkmonitor/utils/send.py
Labels: project/monitor, fix

#2835 fix: 上下文查询log情景未使用container_id进行查询 --bug=130285023
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
Labels: project/log, fix

#2856 fix: 修复APM服务列表展开报错问题 --bug=130357639
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, fix

#2857 feat: 【专项】APM 应用拓扑 (优化)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
Labels: project/monitor, fix

#2860 fix: 故障根因问题和国际化修复 --bug=129463655
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-input.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/handle-search.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-nav/failure-nav.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/failure-process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-process/process.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure.tsx
Labels: project/monitor, fix

#2862 feat: annotation验收修复
  bklog/web/src/components/collection-access/components/step-add/config-log-set-edit-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/components/container-base.vue
Labels: project/log, feat

#2864 feat: 【专项】APM 应用拓扑 （优化）
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
Labels: project/monitor, feat

#2863 fix: ascode导入导出兼容data_label --bug=130376437
  bkmonitor/bkmonitor/as_code/utils.py
Labels: project/monitor, fix

#2869 feat: 替换全局loading效果
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
Labels: project/monitor, feat

#2870 feat: 【专项】APM 应用拓扑 (优化)
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
Labels: project/monitor, feat

#2867 feat: 联邦集群调整，联邦数据表逻辑变更 --story=119592194
  bkmonitor/metadata/migrations/0189_auto_20240909_1134.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#2873 feat: 【k8s监控】【MF】仪表盘数值过长导致的样式问题 --story=119558375
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, feat

#2871 feat: 字段列表统计功能迁移、原始/表格操作列迁移
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/index.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/operator-tools.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
Labels: project/log, feat

#2874 fix: 【监控+日志】时间选择器先选择时区后未关闭弹窗时再重新选择日期回填有误 --Bug=130283497
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#2843 feat: APM资源topo开发
  bkmonitor/packages/apm_web/calculation.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/constants.py
  bkmonitor/packages/apm_web/metric/handler/statistics.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/topo/constants.py
  bkmonitor/packages/apm_web/topo/handle/__init__.py
  bkmonitor/packages/apm_web/topo/handle/bar_query.py
  bkmonitor/packages/apm_web/topo/handle/graph_plugin.py
  bkmonitor/packages/apm_web/topo/handle/graph_query.py
  bkmonitor/packages/apm_web/topo/handle/relation/define.py
  bkmonitor/packages/apm_web/topo/handle/relation/detail.py
  bkmonitor/packages/apm_web/topo/handle/relation/entrance.py
  bkmonitor/packages/apm_web/topo/handle/relation/path.py
  bkmonitor/packages/apm_web/topo/resources.py
  bkmonitor/packages/apm_web/topo/serializers.py
  bkmonitor/packages/apm_web/topo/views.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-topo.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-remote_service-http-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-topo.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-api/modules/apm_topo.js
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apdex-chart/apdex-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-graph-content.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/resource-topo/resource-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, feat

#2872 feat: 隐藏Profiling相关入口 --story=119607832
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/router/data-retrieval/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/router/router.ts
Labels: project/monitor, feat

#2875 fix: 【监控+日志】时间选择器先选择时区后未关闭弹窗时再重新选择日期回填有误 --Bug=130283497
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#2877 fix: apm资源topo体验测试问题 --Bug=130459779
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/resource-topo/resource-topo.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, fix

#2865 fix: 【7.2版本监控】导航栏规范问题 --bug=130366781
  bkmonitor/version_logs_md/en/V3.9.0_20240630.md
  bkmonitor/webpack/src/monitor-pc/components/log-version/log-version.vue
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-navigation/monitor-navigation.vue
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, fix

#2810 feat:【产品功能】维度条件交互方式不一致问题 --Story=119404826 (#2807)
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/function-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/function-select.tsx
Labels: project/monitor, feat

#2691 feat: 【产品优化】告警策略-批量操作-修改告警组 添加提示防止用户误操作 --story=118621315
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-dialog/strategy-config-dialog.tsx
Labels: project/monitor, feat

#2830 feat: Metadata：支持关联空间信息查询，SPACE_TO_RESULT_TABLE新增关联空间信息 --story=119570140
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, feat

#2884 feat: 指标发现，TimeSeriesGroup指标发现逻辑适配V4链路 --story=119625464
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#2880 fix: 修复表格排序问题以及节点接口列表展示后，点击其他区域不关闭接口列表
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
Labels: project/monitor, fix

#2885 fix: 【专项】APM 应用拓扑(bug修复)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/message-chart/message-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/message-chart/message-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/table-chart/table-chart.tsx
Labels: project/monitor, fix

#2881 fix:策略数据预览量级问题，导致右侧数据加载不出 --bug=129294011
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
Labels: project/monitor, fix

#2891 feat: 【APM】外发3.9版本，需要隐藏Profiling相关入口 --story=119607832
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/monitor, feat

#2888 fix: 修复日志聚类初始化分组不生效问题
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/filter-rule.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
Labels: project/log, fix, notapd

#2892 chore: 修复上下文超过4位数时显示被遮盖问题 --bug=129786291
  bklog/web/src/components/log-view/highlight-html.js
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
Labels: project/log, chore

#2889 feat: 故障列表右键新窗口打开及故障详情增加部分类型节点支持跳转逻辑
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
Labels: project/monitor, fix

#2896 fix: 【监控】数据检索查询错误重复显示 --Bug=129778797
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/dashboard-panels.vue
Labels: project/monitor, fix

#2897 feat: 【策略导入】使用策略页面导出的策略不能使用导入页面进行导入 --Story=119441159
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2894 fix: 全文检索未包含带下划线字段的检索结果 --bug=130494237
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_esquery/esquery/esquery.py
  bklog/apps/log_search/handlers/es/indices_optimizer_context_tail.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/tests/log_esquery/test_esquery.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#2723 feat: 审计中心接入 --story=119065916
  bklog/apps/log_audit/apps.py
  bklog/apps/log_audit/client.py
  bklog/apps/log_audit/instance.py
  bklog/apps/log_audit/middleware.py
  bklog/config/default.py
  bklog/requirements.txt
Labels: project/log, feat

#2900 feat: 预览添加annotations功能
  bklog/web/src/components/collection-access/components/step-add/configs-select.vue
Labels: project/log, feat

#2901 智能监控策略巡检优化 & 集成获取导出配置接口优化
  bkmonitor/bkmonitor/aiops/alert/maintainer.py
  bkmonitor/bkmonitor/dataflow/constant.py
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/packages/monitor_web/export_import/resources.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, refactor

#2902 fix:策略数据预览量级问题，导致右侧数据加载不出 --bug=129294011
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
Labels: project/monitor, fix

#2583 feat: APM ES 查询切换至 datasource 模块 --story=118979611
  bkmonitor/api/metadata/default.py
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/builder.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/core/handlers/query/origin_trace_query.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/core/handlers/query/statistics_query.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/apm/models/application.py
  bkmonitor/apm/types.py
  bkmonitor/apm/utils/base.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/compiler.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/connection.py
  bkmonitor/bkmonitor/data_source/backends/fta_event/compiler.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/models/query.py
  bkmonitor/bkmonitor/data_source/models/sql/query.py
  bkmonitor/bkmonitor/data_source/tests/conftest.py
  bkmonitor/bkmonitor/data_source/tests/test_conditions.py
  bkmonitor/bkmonitor/data_source/tests/test_data_source.py
  bkmonitor/bkmonitor/data_source/tests/test_elasticsearch.py
  bkmonitor/bkmonitor/data_source/tests/test_log_search.py
  bkmonitor/bkmonitor/data_source/tests/test_metric_id.py
  bkmonitor/bkmonitor/data_source/tests/test_sql.py
  bkmonitor/bkmonitor/data_source/unify_query/functions.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/kernel_api/resource/query.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/utils/es_tools.py
  bkmonitor/query_api/resources.py
  bkmonitor/scripts/unittest/README.md
Labels: project/monitor, project/apm, feat

#2886 feat:日志检索里支持带参数分享--story=119543585
  bklog/web/src/router/index.js
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bkmonitor/webpack/src/monitor-pc/pages/log-retrieval/log-retrieval.vue
Labels: project/monitor, fix

#2855 feat: 增加日志聚类持续未完成接入的事件上报 --story=119591061
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/tasks/msg.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
  bklog/apps/log_databus/tasks/bkdata.py
  bklog/config/default.py
Labels: project/log, feat

#2905 fix: 【数据探索】检索页面加载慢问题 --Story=119405156
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
Labels: project/monitor, fix

#2906 feat: 删除profiling入口
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
Labels: project/monitor, feat

#2740 feat: Metadata：result_table_detail新增存储引擎类型字段 --story=119479020
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#2910 fix: Metadata-循环导入问题修复 --bug=130574381
  bkmonitor/metadata/models/common.py
  bkmonitor/metadata/models/record_rule/rules.py
Labels: project/monitor, fix

#2911 fix: apm资源topo图名称显示长度问题 --Bug=130566055
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, fix

#2913 feat: 新版检索功能迁移
  bklog/web/src/common/util.js
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/time-setting.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve-v2/setting-modal/field-extraction.vue
  bklog/web/src/views/retrieve-v2/setting-modal/full-text-index.vue
  bklog/web/src/views/retrieve-v2/setting-modal/index.vue
  bklog/web/src/views/retrieve-v2/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve-v2/setting-modal/rule-table.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/retrieve-setting.vue
Labels: project/log, feat

#2909 feat:注释掉APM首页的Profiling状态和Profiling数据量
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/monitor, feat

#2914 fix: 【产品功能】指标事件等可视化页面问题 --Story=119404775
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/settings-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/tab-form.tsx
Labels: project/monitor, fix

#2915 feat: 采集项索引集支持自定义上下文字段 --story=119666975
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#2920 feat: 文档中心链接规范化 --story=119642413
  bkmonitor/config/default.py
Labels: project/monitor, feat

#2917 feat: 字段设置同步显示修复
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Labels: project/log, feat

#2908 fix: 【专项】APM 应用拓扑(bug修复)
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/service-overview.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
Labels: project/monitor, fix

#2904 feat: 调整阴影节点的展示效果
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-relation-topo.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/apm-topo-legend.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
Labels: project/monitor, feat

#2921 fix: 【产品故障】监控平台-配置-告警策略页面显示有BUG --Story=119663036
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, fix

#2926 chore: 导航栏规范问题调整 --bug=130458143
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/label.ts
Labels: project/log, chore
