Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-05, with the labels that each got.

#1739 fix: 适配bcs-storage接口参数调整导致拉取数据失败的问题 --bug=123566325
  bkmonitor/alarm_backends/core/detect_result/tasks.py
  bkmonitor/api/bcs_storage/default.py
Labels: project/monitor, fix

#1726 feat: 【产品功能】支持批量修改告警策略预警阈值，致命阈值，提醒阈值 --story=886461555
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/store.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-dialog/strategy-config-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-dialog/strategy-config-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/util.ts
Labels: project/monitor, feat

#1730 feat: 【产品功能】支持批量修改告警策略预警阈值，致命阈值，提醒阈值 --story=886461555
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#1742 fix: 修复修改时间段检索表格表头宽度重置问题 --bug=123489657
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#1741 feat: 采集项解耦问题修复
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
Labels: project/log, feat

#1744 fix: 通过grafana token请求日志数据源无权限问题 --bug=123670539
  bkmonitor/bkmonitor/middlewares/authentication.py
Labels: project/monitor, fix

#1585 fix: [apm] 修复部分 DB tab 页接口有数据, 而指标及其他无数据场景 --bug=122797778
  bkmonitor/packages/apm_web/handlers/component_handler.py
Labels: project/apm, fix

#1746 feat: 后台数据拉取日志优化 --story=117258039
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, feat

#1743 feat: 【产品功能】支持批量修改告警策略预警阈值，致命阈值，提醒阈值 --story=886461555
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/store.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-dialog/strategy-config-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-dialog/strategy-config-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/util.ts
Labels: project/monitor, feat

#1711 feat: 【日志采集】采集名不允许以8位日期结尾 --story=116366728
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#1160 feat: search select组件切换为新版体验交互 --story=116093627
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/apm/pages/home/app-list-new.scss
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield-list/alarm-shield.vue
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail.vue
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list-k8s/common-list-k8s.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list/common-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-tree/common-tree.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/page-title.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/page-title.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/select-panel/apm-api-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/common.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/compare-panel.vue
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-list/host-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-alert.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-common-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-config-metric/strategy-config-metric-new.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-config-metric/strategy-config-metric.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/relation-chart-title/relation-chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/relation-graph/relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/table-chart/table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
Labels: project/monitor, feat

#1748 fix: 修复监控事件中心dev模式告警错误 --bug=123709675
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, fix

#1749 feat: 日志检索图表数据同步请求 --story=117250460
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/operator-tools.vue
Labels: project/log, feat

#1753 perf: 【APM】服务基本配置里，关联设置交互卡顿 --bug=123730353
  bkmonitor/webpack/src/apm/pages/home/guide-page.tsx
  bkmonitor/webpack/src/apm/pages/service/service-configuration/basic-info.tsx
Labels: project/monitor, perf

#1760 fix: 修复表格操作行错位 --bug=117094799
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, fix

#1759 fix: 修复Profiliing未开启也显示无数据的问题 --bug=123711937
  bkmonitor/webpack/src/apm/pages/home/utils.ts
Labels: project/monitor, fix

#1761 fix: Trace详情全屏模式下展开侧边栏，按ESC键页面不响应 --bug=123758283
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/virtualized-trace-view.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/apm, fix

#1680 feat: 图表查询支持可选监控目标后置查询过滤
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#1672 feat: 索引集异步导出支持配置单次请求条数 --story=116988574
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0075_logindexset_result_window.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/tasks/async_export.py
  bklog/apps/tests/log_search/test_indexset.py
  bklog/apps/tests/log_search/test_search.py
Labels: project/log, feat

#1758 fix: 修复profiling检索页无数据报错问题 --bug=123718555
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
Labels: project/monitor, fix

#1757 fix: 修复bkdata数据源数据落地时间持续刷新可能会导致待检测数据丢失的问题 --bug=123696181
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/api/node_man/default.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, fix

#1751 fix: 【监控】token显示后框变得可以上下左右拖动 --bug=123698209
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
Labels: project/monitor, fix

#1754 fix: 【监控】点击一级应用后，已选中的应用/服务被清空 --bug=123695493
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
Labels: project/monitor, fix

#1769 fix: 修复【监控】告警组里的勾选样式没有居中 --bug=123704713
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/file.d.ts
Labels: project/monitor, fix

#1771 fix: 修复事件检索，时间抽显示样式错乱 --bug=123764131
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#1772 fix: 找不到搜索-获取指定索引集配置接口问题修复 --bug=123788147
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#1719 feat: 存量实时监控策略切换 --story=116292554
  bkmonitor/alarm_backends/management/story/redis_story.py
  bkmonitor/bkm_space/define.py
  bkmonitor/bkmonitor/iam/permission.py
  bkmonitor/bkmonitor/management/commands/migrate_real_time_strategy.py
  bkmonitor/bkmonitor/management/commands/run_cmd.py
  bkmonitor/bkmonitor/migrations/0159_migrate_strategy_dimension.py
  bkmonitor/bkmonitor/migrations/0160_migrate_real_time_strategy.py
  bkmonitor/bkmonitor/migrations/0161_merge_20240426_1808.py
  bkmonitor/metadata/resources/space.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/packages/fta_web/home/resources.py
  bkmonitor/packages/monitor_web/commons/context/resources.py
Labels: project/monitor, feat

#1764 feat: 获取空间列表的接口优化 --story=117279634
  bklog/apps/iam/handlers/permission.py
  bklog/apps/log_search/handlers/meta.py
Labels: project/log, feat

#1774 chore: 副本/分片数超出最大值时添加超出提示 --bug=123805697
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/scss/storage.scss
Labels: project/log, chore

#1777 fix: 修复研发空间未关联业务，获取topo信息异常的问题 --bug=123816379
  bkmonitor/api/cmdb/client.py
Labels: project/monitor, fix

#1775 fix: 修复上下文保存接口缺少传参问题 --bug=123813445
  bklog/web/src/views/retrieve/result-comp/context-log.vue
Labels: project/log, fix

#1776 feat: 【日志采集】采集名不允许以8位日期结尾 --story=116366728
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#1752 feat: apm 预计算任务命令行工具 --story=117271610
  bkmonitor/api/bmw/default.py
  bkmonitor/apm/core/discover/precalculation/daemon.py
  bkmonitor/apm/management/commands/reload_apm_daemon.py
  bkmonitor/apm/utils/base.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, feat

#1734 feat: 采集下发编辑页解耦 --story=116890957
  bklog/web/src/components/collection-access/components/cluster-table.vue
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-issued.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/collection-access/step.js
  bklog/web/src/components/log-masking/masking-field.tsx
  bklog/web/src/components/nav/manage-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/custom-report/detail.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/basic-info.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-storage.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.scss
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/index.vue
Labels: project/log, feat

#1762 chore: 检索页面原始/表格切换的配置支持存储本地 --bug=123766149
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, fix

#1779 fix: 适配bcs-storage接口参数调整导致拉取数据失败的问题 --bug=123566325
  bkmonitor/bkmonitor/models/bcs_base.py
Labels: project/monitor, fix

#1782 feat: 登录弹窗方法挂载window优化 --story=117312938
  bkmonitor/webpack/src/monitor-pc/common/global-login.ts
Labels: project/monitor, feat

#1608 perf: [apm] profile services interface perf --bug=122870488
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/profile/resources.py
Labels: project/apm, perf

#1778 fix: 【监控】国际化上传文件说明文案有重叠 --bug=123781877
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
Labels: project/monitor, fix

#1783 fix: 【【监控】国际化图表说明文案未翻译 --bug=123781629
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
Labels: project/monitor, fix

#1781 fix: 修复采集任务链路状态表格展示样式错乱 --bug=123767237
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/link-status-chart.tsx
Labels: project/monitor, fix

#1786 fix: 修复自定义事件可视化添加tab页签报错 --bug=123743819
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/settings-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings-tab/tab-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/settings/settings.tsx
Labels: project/monitor, fix

#1784 fix: 日志查询字符串中包含冒号报错问题修复 --bug=123830793
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#1787 feat: 调整ApiTokenAuthBackend，提前返回，消除产生的大量1048-OperationalError --story=117322747
  bkmonitor/bkmonitor/middlewares/authentication.py
  bkmonitor/kernel_api/middlewares/authentication.py
Labels: project/monitor, feat

#1770 feat: 调整排班计划更新方式，修复SaveUserGroup大量死锁异常 --story=117293326
  bkmonitor/bkmonitor/action/duty_manage.py
Labels: project/monitor, feat

#1790 feat: 采集下发英文名错误原因提示调整
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, chore

#1789 fix: 编辑解耦验收修复
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/log-clean/clean-manage/create.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/basic-info.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-storage.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
Labels: project/log, fix

#1791 fix: 日志解耦步骤保存接口异常弹窗未关闭修复
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
Labels: project/log, fix

#1745 feat: bcs元数据任务优化 --story=117247249
  bkmonitor/api/bcs/tasks.py
  bkmonitor/api/bcs_storage/default.py
  bkmonitor/api/kubernetes/default.py
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/models/bcs_container.py
  bkmonitor/bkmonitor/models/bcs_pod.py
  bkmonitor/bkmonitor/utils/kubernetes.py
Labels: project/monitor, feat

#1792 fix: 修复策略全量缓存失败的问题 --bug=123870115
  bkmonitor/alarm_backends/core/cache/cmdb/service_template.py
  bkmonitor/alarm_backends/core/cache/cmdb/set_template.py
  bkmonitor/alarm_backends/core/cache/strategy.py
Labels: project/monitor, fix

#1793 fix: 图表配置项增加全屏表格配置开关
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
Labels: project/monitor, fix

#1795 fix: 【【监控】告警详情告警内容字段展示支持“\n” --bug=123886560
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
Labels: project/monitor, fix

#1798 feat: AIOps验证的一些问题 --bug=123889875
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-metric-select.tsx
Labels: project/monitor, fix

#1794 feat: 删除ILM之前对ES集群RED的判断逻辑 --story=117328068
  bkmonitor/metadata/task/tasks.py
Labels: project/log, feat

#1800 fix: 修复 APM ES 限流逻辑 --bug=123914579
  bkmonitor/apm/utils/es_search.py
Labels: project/apm, fix

#1802 fix: 操作符为is时，value取值为列表会导致查询出错 --bug=123920023
  bklog/apps/log_esquery/serializers.py
Labels: project/log, fix

#1331 feat: grafana/策略导出支持data_label转换 --story=116108051
  bkmonitor/api/grafana/exporter.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/export_import/resources.py
Labels: project/monitor, feat

#1803 fix: 操作符为is时，value取值为列表会导致查询出错 --bug=123920023
  bklog/apps/log_esquery/serializers.py
Labels: project/log, fix

#1806 feat: 优化拉取空间列表接口性能 --story=117347672
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_search/handlers/meta.py
  bklog/iam/iam.py
Labels: project/log, feat

#1807 feature: 新增 Continuous Profiling 数据上报
  bkmonitor/bkmonitor/app.py
  bkmonitor/bkmonitor/log_trace.py
  bkmonitor/bkmonitor/profiling.py
  bkmonitor/config/default.py
  bkmonitor/requirements.txt
Labels: project/monitor, feat, notapd

#1736 feat: 后台周期任务refresh_es_storage并发优化 --story=116960802
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#1805 feat: access数据分片按策略id进行路由 --story=117346380
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, feat

#1812 fix: 修复es写别名生命周期管理问题 --bug=123971001
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, fix

#1813 feat: 主机场景告警信息换行和恢复文案优化 --story=887330485
  bkmonitor/alarm_backends/service/alert/manager/checker/recover.py
  bkmonitor/alarm_backends/service/detect/strategy/host_anomaly_detection.py
Labels: project/monitor, feat

#1809 bugfix: fix profiling module not exists, import failed
  bkmonitor/bkmonitor/app.py
Labels: project/monitor, fix, notapd

#1796 feat: [APM] add simple_service_list interface --story_id=117061698
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/meta/views.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-instance.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-instance.json
  bkmonitor/webpack/src/monitor-api/modules/apm_meta.js
Labels: project/apm, feat

#1801 feat: 针对bksaas类型兼容多个插件更新功能 --story=117340463
  bkmonitor/metadata/task/sync_space.py
Labels: project/monitor, feat

#1785 feat: [APM] 调整 endpoint_point 接口的 columns 顺序 --story=117062769
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, feat

#1817 fix: 修复首次打开检索页过滤条件初始化失败问题 --bug=123994853
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#1727 feat: 调整BCS集群状态 --story=117199440
  bkmonitor/metadata/migrations/0180_alter_bcsclusterinfo_status.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/service/vm_storage.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/tests/test_bcs.py
Labels: project/monitor, feat

#1799 feat: 针对查询bcs vm结果表接口，支持返回对应的数据源ID --story=117339280
  bkmonitor/metadata/service/vm_storage.py
Labels: project/monitor, feat

#1815 feat: 空间接口代码逻辑调整 --story=117431176
  bklog/apps/iam/handlers/permission.py
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/log_search/models.py
Labels: project/log, refactor

#1811 fix: 修复同步kafka分区数量问题 --bug=123947759
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/requirements.txt
Labels: project/monitor, fix

#1822 feat: access数据分片数据压缩 --story=117445487
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, feat

#1808 fix: 【监控】数据量过多时，应用/服务接口相应过慢下拉列表没有显示加载状态 --bug=123698655
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
Labels: project/monitor, fix

#1823 feat: 【APM】TRPC专项-应用和服务的面包屑可以快速切换
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.scss
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/apm/pages/application/application.scss
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/service/service.tsx
  bkmonitor/webpack/src/apm/static/scss/global.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, feat

#1826 fix: 容量评估情况下点采集编辑页面空白 --bug=124047485
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
Labels: project/log, fix

#1829 feat: 采集任务的状态优化为分页拉取 --story=117437153
  bkmonitor/packages/monitor/models/models.py
Labels: project/monitor, feat

#1619 feat: 支持预计算功能 --story=116942186
  bkmonitor/api/bkdata/default.py
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/migrations/0181_recordrule_resulttableflow.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/common.py
  bkmonitor/metadata/models/record_rule/__init__.py
  bkmonitor/metadata/models/record_rule/constants.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/models/record_rule/utils.py
  bkmonitor/metadata/models/space/managers.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/record_rule/__init__.py
  bkmonitor/metadata/tests/record_rule/conftest.py
  bkmonitor/metadata/tests/record_rule/test_flow.py
  bkmonitor/metadata/tests/record_rule/test_rule.py
  bkmonitor/metadata/tests/record_rule/test_utils.py
Labels: project/monitor, feat

#1832 fix: 修改结果表失败导致 clean stash 数据不一致 --bug=124104035
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/log, fix

#1814 fix: tail接口调用问题修复 --bug=123967041
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/kafka.py
  bklog/requirements.txt
Labels: project/log, fix

#1833 fix: 修复关联日志时间格式不对问题 --bug=124101435
  bkmonitor/packages/monitor_web/scene_view/table_format.py
Labels: project/apm, fix

#1834 fix: 1. 修复下拉框类名权重不足的样式问题 2. 调整导航选择触发区域
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.scss
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/apm/pages/application/application.scss
Labels: project/monitor, fix

#1835 feat: web请求trace增加用户名字段 --story=117479409
  bkmonitor/bkmonitor/log_trace.py
Labels: project/monitor, feat

#1831 fix: 新增日志告警关联信息原始字段 --bug=124088477
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/log, fix

#1767 feat: profile 支持显示不同单位 --story=117270034 (#1766)
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/discover/profile/service.py
  bkmonitor/apm/core/handlers/profile/query.py
  bkmonitor/apm/migrations/0039_profileservice_sample_type.py
  bkmonitor/apm/models/profile.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/migrations/0020_profileuploadrecord_data_time.py
  bkmonitor/packages/apm_web/models/profile.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/tendency.py
  bkmonitor/packages/apm_web/profile/doris/converter.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-service.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-profiling.json
  bkmonitor/webpack/src/apm/pages/service/service.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/use-flame.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/valueFormats/dateTimeFormatters.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
Labels: project/apm, feat

#1824 feat: 【数据探索页面配置可通过url分享 --story=117350428
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
Labels: project/monitor, feat

#1830 feat: 在中间件中引入pyinstrument --story=117475615
  bklog/apps/middleware/pyinstrument.py
  bklog/config/default.py
  bklog/requirements.txt
Labels: project/log, feat

#1836 feat: 调整字段清洗暂存逻辑 --story=117470526
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-storage.vue
Labels: project/log, feat

#1839 fix: 恢复 profile 代码 --bug=124121979
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#1840 fix: 修改结果表失败导致 clean stash 数据不一致 --bug=124104035
  bklog/apps/log_databus/handlers/etl/transfer.py
Labels: project/log, fix

#1841 fix: 修复bkdata数据源监控策略表达式不生效的问题 --bug=124124929
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/monitor, fix

#1842 fix: 去掉多余的log --bug=124150637
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, fix

#1838 fix: 采集下发容量评估调整 --bug=124047485
  bklog/web/src/components/collection-access/index.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/mixins/collected-items-mixin.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, fix

#1843 fix: 修复排除新开标签页点击失效问题 --bug=124153755
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
Labels: project/log, fix

#1844 feat: 恢复apm导航栏下拉选择触发样式
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.scss
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/apm/pages/application/application.scss
  bkmonitor/webpack/src/apm/pages/application/application.tsx
Labels: project/monitor, feat

#1847 feat: 容量审批中的采集项提示优化 --story=117502446
  bklog/web/src/mixins/collected-items-mixin.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, feat

#1848 feat: 告警事件生命周期管理性能优化 --story=117508075
  bkmonitor/alarm_backends/core/cache/assign.py
  bkmonitor/alarm_backends/service/alert/manager/checker/upgrade.py
Labels: project/monitor, feat

#1851 fix: 修复获取维度候选值未应用页面传参的问题 --bug=124187055
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, fix

#1849 feat: 优化新建屏蔽页面渲染速率 --story=11750785
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/vue3.x.js
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/alarm-shield-ipv6.tsx
Labels: project/monitor, feat

#1853 feat: 获取用户信息、索引列表性能优化
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/log_search/models.py
  bklog/apps/middleware/user_middleware.py
Labels: project/log, feat, notapd

#1852 fix: 修复 profile trace 柱状图无法查看 --bug=124191163
  bkmonitor/packages/apm_web/profile/diagrams/tendency.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#1854 fix: 修复monaco-editor版本导致事件中心页面出错 --bug=124197095
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
Labels: project/monitor, fix

#1858 feat: 异步加载ip选择器 --story=117520928
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/common/global-login.ts
  bkmonitor/webpack/src/monitor-ui/markdown-editor/editor.tsx
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.scss
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/alarm-shield-ipv6.tsx
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#1861 fix: [apm] 修复应用错误分析页面，表格统计和侧边统计数值不一致问题 --bug=124037733
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-error.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/kubernetes-node.json
Labels: project/apm, fix

#1804 feat: 【APM】新建 APM 应用需要补充一条默认 QPS 配置记录 --bug=123357047
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, feat

#1862 feat: 支持动态调整请求ES超时时间 --story=117535395
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/utils/es_tools.py
Labels: project/monitor, feat

#1850 feat: 数据探索页面配置可通过url分享 --story=117350428
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, feat

#1866 fix: 退出登录相关功能完善 --bug=124340735
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_adapter/home/views.py
Labels: project/monitor, fix

#1864 feat: 更新前端linter --story=117541234
  bkmonitor/webpack/package.json
  bkmonitor/webpack/prettier.config.js
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield-detail/alarm-shield-detail-scope.vue
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield-detail/alarm-shield-detail-strategy.vue
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield-set/alarm-shield-dimension.tsx
  bkmonitor/webpack/stylelint.config.js
Labels: project/monitor, feat

#1867 fix: 退出登录相关功能完善 --bug=124340735
  bkmonitor/packages/monitor_adapter/home/views.py
Labels: project/monitor, fix

#1868 fix: 修复构建时的version错误 --bug=124361147
  bkmonitor/webpack/package.json
Labels: project/monitor, fix

#1870 fix: 回退ip选择器版本 --story=117551408
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#1871 fix: 修复字段清洗步骤更新接口缺少es_shards参数问题
  bklog/web/src/components/collection-access/step-field.vue
Labels: project/log, fix

#1856 fix: [apm] 修复服务拓扑视图报请求参数问题 --bug=123315423
  bkmonitor/packages/apm_web/serializers.py
Labels: project/apm, fix

#1859 feat: 优化空间选择器导致的页面卡顿 --story=117507413
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/mixins/space-selector-mixin.js
  bklog/web/src/scss/space-tag-option.scss
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/es-slider.vue
  bklog/web/src/views/manage/manage-data-link/manage-data-link-conf/config-dialog.vue
Labels: project/log, feat

#1863 feat: 接口优化 --story=117459769
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, perf

#1857 fix: 索引检索历史记录无法正常显示 --bug=124107815
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#1873 fix: 修复主机场景检测接入失败引发策略配置页面异常报错 --bug=124366385
  bkmonitor/packages/monitor_web/strategies/resources/public.py
Labels: project/monitor, fix

#1876 fix: ping配置主机下发重复 --bug=124424625
  bkmonitor/metadata/task/ping_server.py
Labels: project/monitor, fix

#1872 feat: 添加查询流量为空和已经停用的数据源ID --story=117542783
  bkmonitor/metadata/management/commands/query_disabled_data_id.py
  bkmonitor/metadata/management/commands/query_no_data_data_id.py
  bkmonitor/metadata/tests/commands/test_query_disabled_data_id.py
  bkmonitor/metadata/tests/commands/test_query_no_data_data_id.py
Labels: project/monitor, feat

#1878 feat: 版本号更新 --story=117569114
  bklog/app.yml
Labels: project/log, feat

#1879 feat: 告警模板告警变量支持时间戳格式 --story=117567320
  bkmonitor/alarm_backends/core/context/alarm.py
Labels: project/monitor, feat

#1880 fix: 【日志】新建链路无法选择至空间 --bug=124226651
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/mixins/space-selector-mixin.js
  bklog/web/src/scss/space-tag-option.scss
  bklog/web/src/store/index.js
Labels: project/log, feat

#1881 fix: 修复插件调试成功但指标解析失败无弹框的问题 --bug=124441677
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#1202 feat: 事件详情图表支持系统事件查询 --story=116223637
  bkmonitor/bkmonitor/aiops/alert/utils.py
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/view-info.tsx
Labels: project/monitor, feat

#1855 fix: 修复趋势图单位错误 --bug=124212835
  bkmonitor/packages/apm_web/profile/diagrams/tendency.py
Labels: project/apm, fix

#1885 fix: 【监控】事件详情主机视图查询报错 --bug=124471115
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
Labels: project/monitor, fix

#1886 feat: 字段分析联调
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/retrieve/condition-comp/agg-chart.vue
  bklog/web/src/views/retrieve/condition-comp/favorite-card.vue
  bklog/web/src/views/retrieve/condition-comp/favorite-popper.vue
  bklog/web/src/views/retrieve/condition-comp/field-filter-popover.vue
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/condition-comp/filter-condition-item.vue
  bklog/web/src/views/retrieve/condition-comp/select-indexSet.vue
  bklog/web/src/views/retrieve/field-filter-comp/agg-chart.scss
  bklog/web/src/views/retrieve/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-filter-popover.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-filter-popover.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-item.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/field-filter-comp/index.scss
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#1889 minor: Continuous Profiling，set default only cpu type
  bkmonitor/bkmonitor/profiling.py
Labels: project/apm, feat, notapd

#1891 fix: 修复aiops体验的一些问题 --bug=124474687
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.scss
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/router/manager/ai-settings.ts
Labels: project/monitor, fix

#1893 fix: 修复异常分值告警详情查看图表失败问题 --bug=124524177
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, fix

#1883 fix: 检索表格列内容重叠 --bug=124444859
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, fix

#1897 fix: 【监控】Profiling检索查询条件内容串了 --bug=123741501
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
Labels: project/apm, fix

#1890 fix: 修复关闭自动查询后，左侧功能修改后不查询的问题 --bug=124469807
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#1896 feat: 添加查询数据源下可以删除的 es 索引列表 --story=117573869
  bkmonitor/metadata/management/commands/query_es_index.py
  bkmonitor/metadata/service/es_storage.py
  bkmonitor/metadata/tests/commands/test_query_es_index.py
Labels: project/monitor, feat

#1895 feat: [apm] TRPC 场景，接口分析页支持 TRPC 场景 --story=117450245
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
Labels: project/apm, feat

#1898 feat: 从APM页面携带跳转到profiling页面 --story=117450157
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, feat

#1828 feat: 告警事件骨架屏 --story=117471484
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/utils.ts
  bkmonitor/webpack/src/fta-solutions/static/scss/global.scss
  bkmonitor/webpack/src/fta-solutions/static/scss/mixin.scss
Labels: project/monitor, feat

#1899 feat: ai设置页ip选择器更新 --story=117573415
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/components/ip-selector.scss
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/components/ip-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/components/notification.scss
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/components/notification.tsx
Labels: project/monitor, feat

#1903 feat: 调整部分命令参数 --story=117606092
  bkmonitor/metadata/management/commands/switch_kafka_for_data_id.py
  bkmonitor/metadata/management/commands/switch_transfer_for_dataid.py
Labels: project/monitor, feat

#1902 feat: 删除已经停用的数据源对应的gse路由 --story=117604299
  bkmonitor/metadata/management/commands/delete_gse_router.py
Labels: project/monitor, feat

#1900 feat: 针对查询流量为空的数据源添加更多参数 --story=117594399
  bkmonitor/metadata/management/commands/query_disabled_data_id.py
  bkmonitor/metadata/management/commands/query_no_data_data_id.py
  bkmonitor/metadata/tests/commands/test_query_disabled_data_id.py
Labels: project/monitor, feat

#1845 feat: 调整获取空间下数据源ID及资源信息 --story=117485497
  bkmonitor/metadata/management/commands/query_space.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/models/record_rule/utils.py
  bkmonitor/metadata/service/data_source.py
  bkmonitor/metadata/tests/commands/test_query_space.py
Labels: project/monitor, feat

#1882 feat: 调整查询数据源详情信息 --story=117560584
  bkmonitor/metadata/service/storage_details.py
  bkmonitor/metadata/tests/commands/test_query_storage.py
Labels: project/monitor, feat

#1865 feat: nodata任务分发优化 --story=117541395
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/nodata/handler.py
Labels: project/monitor, feat

#1904 fix: 字段分析验收修复
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/store/constant.js
  bklog/web/src/views/retrieve/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#1884 fix: ES字段失败问题处理 --bug=124446611
  bklog/apps/log_esquery/esquery/client/QueryClientEs.py
  bklog/apps/log_esquery/esquery/client/QueryClientLog.py
  bklog/apps/log_esquery/esquery/client/QueryClientTemplate.py
Labels: project/log, fix

#1911 feat: 去除旧版的gse agent status接口查询 --story=117617249
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
  bkmonitor/packages/monitor_web/commons/cc/utils/cmdb.py
Labels: project/monitor, feat

#1906 fix: [apm] 修复指标选择器不能获取部分apm指标问题 --story=117469116
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/apm, fix
