Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-12, with the labels that each got.

#4137 fix: promql策略告警详情预览失败的问题修复 --bug=134747617
  bkmonitor/api/unify_query/default.py
Labels: project/monitor, fix

#4141 feat: APM项目接口bk_biz_id参数调整
  bkmonitor/webpack/src/apm/index.ts
Labels: project/monitor, feat

#4118 fix: 【图表多条曲线无法展示策略/告警 icon】--story=120944017
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, fix

#4145 feat: 增加 BCS API 调用白名单 --story=121004935
  bklog/config/default.py
Labels: project/log, feat

#4150 feat: Metadata: ES支持Object别名，更改为新表实现方案，无需声明配置字段，QueryDataLink接口修复transfer集群ID为空问题 --story=121013310
  bkmonitor/metadata/migrations/0199_esfieldqueryaliasoption.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/result_table/test_result_table.py
  bkmonitor/metadata/tests/result_table/test_result_table_modify.py
  bkmonitor/metadata/tests/storage/test_es_storage.py
Labels: project/monitor, feat

#4154 feat: 容器场景开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4155 feat: 接口请求时出现 MYSQL INSERT 错误问题处理 --story=120782168
  bklog/apps/middleware/api_token_middleware.py
Labels: project/log, feat

#4151 feat: apm 自定义指标增加groupby/对比功能
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/compare-time.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/compare-time.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-by.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-by.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-compare-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-compare-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-contrast.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/tab-btn-group.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/tab-btn-group.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#4159 feat: Metadata: 新增BkAppSpace空间鉴权表 --story=121019456
  bkmonitor/metadata/admin.py
  bkmonitor/metadata/migrations/0200_bkappspacerecord.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/space/__init__.py
  bkmonitor/metadata/models/space/space.py
Labels: project/monitor, feat

#4134 fix: 修复 apm 集群内默认上报行为配置不正确问题
  bkmonitor/apm/core/platform_config.py
Labels: project/apm, fix, notapd

#4138 feat: 【trace】瀑布图详情页布局优化 --story=120923725
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4162 feat: 修改 collector 平台配置，增加 fixed_token，给默认上报 APM 应用使用
  bkmonitor/apm/core/platform_config.py
Labels: project/apm, feat, notapd

#4113 feat: 表格统计里对比优化--story=120924839
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/trace/components/compare-select/compare-select.tsx
Labels: project/monitor, feat

#3792 feat: 升级更新监控构建及依赖 --Story=120605172
  bkmonitor/webpack/Dockerfile
  bkmonitor/webpack/babel.config.js
  bkmonitor/webpack/eslint.config.js
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/tailwind.config.js
Labels: project/monitor, feat

#4164 feat: 指定service可以从全局变量中获取配置
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, feat, notapd

#4165 bugfix: 修复data_name的生成依赖参数为collector_config_name_en
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix, notapd

#4067 feat: 监控面板支持grafana组件
  bkmonitor/packages/apm_web/trace/serializers.py
  bkmonitor/packages/monitor_web/grafana/resources/__init__.py
  bkmonitor/packages/monitor_web/grafana/resources/apm.py
  bkmonitor/packages/monitor_web/grafana/utils.py
  bkmonitor/packages/monitor_web/grafana/views.py
  bkmonitor/webpack/src/monitor-api/modules/grafana.js
Labels: project/apm, feat, notapd

#4168 feature: ESB注册文件增加原始日志检索API
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat

#4153 feat: 日志索引集列表增加addition字段进行默认查询 --bug=134643555
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
Labels: project/monitor, feat

#4172 feat: CMDB Relation 关联协议后台定时任务重构 --story=121018809
  bkmonitor/metadata/task/sync_cmdb_relation.py
  bkmonitor/metadata/tests/task/test_sync_cmdb_relation.py
Labels: project/monitor, feat

#4176 fix: 【指标插件】插件保存中提示文案也会一起旋转 --bug=134905197
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-done.vue
Labels: project/monitor, fix

#4169 fix: 智能监控策略配置开关不准 --bug=134755509
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/rules-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/intelligent-models.ts
Labels: project/monitor, fix

#4163 feat: 【仪表盘】目录选择框支持搜索 --story=121023938
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
Labels: project/monitor, feat

#4178 feat: 【日志】APM 日志需要增加默认查询语句（UI 查询） --Bug=134643555
  bklog/web/scripts/link-package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, feat

#4170 feat: 修改 callgraph 颜色/字体大小/方框大小画图逻辑 增强大小颜色对比程度
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
Labels: project/apm, feat, notapd

#4184 fix: 修复trace检索查询没有请求列表数据的问题 --bug=134917799
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, fix

#4175 fix: 图表分析问题修复 --bug=134858359
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, fix

#4173 feat: 【trace】去掉接口服务统计tab --story=120928838
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
Labels: project/monitor, feat

#4166 fix: 【主机关联】自定义 hover 颜色内容、调整时间后接口重新请求 --bug=134689163
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-list/host-list.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, fix

#4188 feat: trace日志详情字段变更 --Story=121042465
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
Labels: project/monitor, feat

#4190 fix: 【监控】safari浏览器打开仪表盘高度异常 --Bug=134986575
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, fix

#4195 fix: 拥有相同前缀的索引集名称会被错误统计进来 --bug=133559281
  bklog/apps/log_esquery/utils/es_route.py
Labels: project/log, fix

#4135 feat: 从bcs创建的采集项，导致采集名超过50个字符的，再次编辑会报错 --story=120945613
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#4197 feat: Metadata：bkbase新版预计算接口协议补充，新增schemaless配置字段 --story=121048388
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/tests/record_rule/test_compose_flow_node.py
Labels: project/monitor, feat

#4201 fix: 拥有相同前缀的索引集名称会被错误统计进来 --bug=133559281
  bklog/apps/log_esquery/utils/es_route.py
Labels: project/log, fix

#4196 feat: 【日志聚类】聚类预测节点修改为使用字段组配置 #1010158081117298536
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, feat

#4204 feat: 调用分析 - 模调监控库快捷时间选项优化 --story=120798093
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-contrast.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/contrast-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/contrast-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
Labels: project/monitor, feat

#4208 fix: 回填时自动请求数据
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, fix

#4116 feat: trace详情页面交互优化--story=120929234
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail-header.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail-header.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
Labels: project/monitor, feat

#4207 feat: Metadata: BCS集群同步任务逻辑优化，BCSClusterInfo新增是否允许查看历史数据字段 --story=121050806
  bkmonitor/metadata/migrations/0201_bcsclusterinfo_is_deleted_allow_view.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#4213 fix: 【监控】APM 自定义指标页面INC视图tab转跳问题 --Bug=134988887
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-custom-graph/apm-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, fix

#4210 perf: 优化trace panel 异常查询返回，app和trace不确定时返回空即可
  bkmonitor/packages/monitor_web/grafana/resources/apm.py
Labels: project/apm, perf, notapd

#4214 fix: 修复检索结果列表抖动 --bug=134999835
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
Labels: project/log, fix

#4217 Feat/callgraph
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
Labels: project/apm, fix

#4189 feat: 智能监控策略通过开关切换到SDK来执行检测逻辑 --story=120679992
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
  bkmonitor/alarm_backends/service/preparation/aiops/processor.py
  bkmonitor/alarm_backends/service/preparation/handler.py
  bkmonitor/api/aiops_sdk/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/constants/aiops.py
Labels: project/monitor, feat

#4211 feat: Metadata：兼容联邦集群场景组装bkbase_data_name时的重名问题 --story=121053190
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/tests/data_link/test_data_link_utils.py
Labels: project/monitor, feat

#4218 feat: object支持别名 --story=120936210
  bklog/apps/log_databus/handlers/etl_storage/base.py
Labels: project/log, feat

#4157 feat: APM 服务发现增加识别框架、SDK、平台 --story=120997477
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/core/discover/node.py
  bkmonitor/apm/migrations/0041_apmtopodiscoverrule_sort.py
  bkmonitor/apm/migrations/0045_auto_20241203_1450.py
  bkmonitor/apm/models/config.py
  bkmonitor/apm/models/topo.py
  bkmonitor/apm/resources.py
  bkmonitor/constants/apm.py
Labels: project/apm, feat

#4222 fix: 主机遗留事项：自定义文案 & 侧边栏调整 --bug=134908949
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-container.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-host.json
Labels: project/apm, fix

#4223 fix: grafana trace 面板组件 修复校验器参数问题
  bkmonitor/packages/monitor_web/grafana/resources/apm.py
Labels: project/apm, fix, notapd

#4227 fix: 修复trace检索spanId查询报错以及spanId点击报错的问题
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/store/modules/trace.ts
Labels: project/monitor, fix

#4229 feat: Metadata: 联邦集群监控--优化新老比对方式 --story=121059523
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/tests/task/test_bcs_tasks.py
Labels: project/monitor, feat

#4225 fix: tarce详情表格统计样式调整
  bkmonitor/webpack/src/trace/components/statistics-table/statistics-table.scss
Labels: project/monitor, fix

#4231 fix: 修复trace抽屉内的图表无法自适应尺寸问题
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.scss
Labels: project/monitor, fix

#4233 feat: 检索历史记录长度限制调整 --story=121061415
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#4232 fix: 图表分析tab自动切换问题修复 --bug=135015549
  bklog/web/src/components/collection-access/components/log-filter/validator-input.scss
  bklog/web/src/components/collection-access/components/log-filter/validator-input.tsx
  bklog/web/src/hooks/use-segment-pop.ts
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/retrieve-v2/collect/collect-index.tsx
  bklog/web/src/views/retrieve-v2/search-bar/index.scss
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/builtinFunctions.json
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/builtinVariables.json
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/keywords.json
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/lang.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/operators.json
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, fix

#4235 minor: 修正 models.CharField 长度定义(528->512)
  bkmonitor/apm/migrations/0033_auto_20240111_1434.py
  bkmonitor/apm/models/profile.py
  bkmonitor/packages/apm_web/migrations/0008_auto_20220525_1714.py
  bkmonitor/packages/apm_web/migrations/0024_alter_apmmetaconfig_level_key.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/models/service.py
Labels: project/apm, fix, notapd

#4219 feat: 容器场景filter by选择器开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4228 fix: grafana trace 面板组件 修复校验器参数问题-2
  bkmonitor/packages/monitor_web/grafana/resources/apm.py
Labels: project/apm, fix, notapd

#4238 feat: 修改 collector 平台配置，增加 bk_biz_id 和 app_name 给默认上报 APM 应用使用
  bkmonitor/apm/core/platform_config.py
Labels: project/apm, fix, notapd

#4239 feat: 修改 collector 平台配置，增加 bk_biz_id 和 app_name 给默认上报 APM 应用使用
  bkmonitor/apm/core/platform_config.py
Labels: project/apm, fix, notapd

#4241 fix: 修复智能告警缩略图的问题 & 修复边聚合失败的情况 --bug=133137197
  bkmonitor/bkmonitor/aiops/alert/utils.py
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, fix

#4242 fix: 修复处理反馈数据的bug --bug=135048399
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, fix

#4212 fix: 切换集群获取mappings兼容 --bug=134496665
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, fix

#4245 fix: 修复mark标签渲染问题
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/lang.ts
Labels: project/log, fix

#4247 feat: 容器场景filter by选择器开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4249 feat: 【日志聚类】聚类预测节点修改为使用字段组配置 #1010158081117298536
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, feat

#4252 feat: ES Object支持字段别名，别名配置模型中新增path_type，避免新索引创建失败 --story=121083635
  bkmonitor/metadata/migrations/0202_esfieldqueryaliasoption_path_type.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/tests/storage/test_es_storage.py
Labels: project/monitor, feat

#4254 fix: trigger量级过大引起push kafka异常修复 --bug=135086299
  bkmonitor/alarm_backends/core/alert/adapter.py
  bkmonitor/alarm_backends/core/storage/kafka.py
  bkmonitor/alarm_backends/service/trigger/processor.py
Labels: project/monitor, fix

#4246 feat: 图表 tooltips 经常飘到左上角 --Bug=135054701
  bkmonitor/webpack/src/apm/router/router.ts
  bkmonitor/webpack/src/monitor-pc/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
Labels: project/monitor, fix

#4256 feat: 容器场景开发__table组件开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4257 fix: 切换profiling上传文件报错 --Bug=135091339
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
Labels: project/monitor, fix

#4262 fix: 修复回填参数处理错误问题
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, fix

#4265 fix: profiling 文件解析报错 --bug=135106931
  bkmonitor/packages/apm_web/profile/perf/converter.py
Labels: project/apm, fix

#4267 feat: 清洗配置同步bkbase逻辑抽象 --story=121100615
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/tasks/flow.py
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, feat

#4263 object支持别名修改
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#4268 feat: Metadata: RetryError透传底层原因，优化慢查询问题 --story=121103884
  bkmonitor/metadata/migrations/0202_alter_datasource_created_from.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#4259 feat: 智能监控策略通过开关切换到SDK来执行检测逻辑 --story=120679992
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/preparation/aiops/processor.py
  bkmonitor/alarm_backends/service/preparation/handler.py
  bkmonitor/alarm_backends/service/preparation/tasks.py
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#4271 字段分析支持列表下载能力
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/utils.py
  bklog/apps/log_search/views/field_views.py
  bklog/apps/log_unifyquery/handler.py
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/preparation/aiops/processor.py
  bkmonitor/alarm_backends/service/preparation/handler.py
  bkmonitor/alarm_backends/service/preparation/tasks.py
  bkmonitor/config/role/worker.py
Labels: project/log, feat

#4269 feat: 邮件订阅图片改为jpeg减少大小 --story=121105253
  bkmonitor/alarm_backends/service/report/handler.py
Labels: project/monitor, feat

#4248 feat: 【产品功能】新版容器场景 --story=120562130
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/utils/kubernetes.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/utils.py
  bkmonitor/packages/monitor_web/k8s/core/filters.py
  bkmonitor/packages/monitor_web/k8s/readme.md
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/k8s/views.py
  bkmonitor/packages/monitor_web/tests/k8s/test_filter.py
Labels: project/monitor, feat

#4282 feat: 完成K8S Dimension类的开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4278 fix: 修复路由地址解析和更新流程保证数据流的单向流
  bklog/log_adapter/home/views.py
  bklog/web/src/store/retrieve.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/retrieve-v2/collect/collect-index.tsx
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/time-setting.vue
  bklog/web/src/views/retrieve-v2/search-result-chart/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, fix

#4285 feat: 容器场景filter by选择器开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/panel-tools/time-compare-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/panel-tools/time-compare-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4287 fix: 旧版收藏回填参数处理
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#4291 fix: 修复日志过滤保存失效问题
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
Labels: project/log, fix

#4292 feat: 智能监控策略通过开关切换到SDK来执行检测逻辑 --story=120679992
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
Labels: project/monitor, feat

#4294 fix: 修复采集路径分割正则部分数据点击调试无反应问题
  bklog/web/src/components/collection-access/step-field.vue
Labels: project/log, fix

#4203 feat: 屏蔽新增标签字段，API支持基于标签的检索 --story=121036813
  bkmonitor/bkmonitor/migrations/0167_shield_label.py
  bkmonitor/bkmonitor/models/base.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/shield/serializers.py
Labels: project/monitor, feat

#4297 feat: 容器场景__table组件重构及groupFilter工具类开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4298 feat: 后台拨测任务缓存更新，清理已删除任务 --story=121136369
  bkmonitor/alarm_backends/core/cache/models/uptimecheck.py
Labels: project/monitor, feat

#4237 fix: 日志默认查询语句路径更改 --bug=135024431
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
Labels: project/apm, fix

#4270 feat: 仪表盘增加profiling检索 --story=120931427
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/__init__.py
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/diagrams/grafana_flame.py
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/resources.py
  bkmonitor/packages/monitor_web/grafana/views.py
Labels: project/apm, feat

#4289 字段分析支持列表下载
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/utils.py
  bklog/apps/log_search/views/field_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#4299 feat: ui查询字段排序 --story=121139774
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/theme-light.scss
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.scss
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, feat

#4302 fix: bkdata高级条件查询维度候选值异常 --bug=135320395
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#4303 feat: 后台拨测任务缓存更新，清理已删除任务 --story=121136369
  bkmonitor/alarm_backends/core/cache/models/uptimecheck.py
Labels: project/monitor, feat

#4301 object支持别名 接口返回修改
  bklog/apps/grafana/handlers/query.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, feat

#4283 minor: 更新接口文档
  bkmonitor/packages/monitor_web/k8s/readme.md
  bkmonitor/packages/monitor_web/k8s/resources.py
Labels: project/monitor, feat

#4304 feat: 数据平台指标缓存同步内存优化 --story=121136464
  bkmonitor/api/bkdata/default.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#4221 feat: Grafana10 仪表盘旧 panel 迁移 --story=120814592
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/packages/monitor_web/grafana/views.py
  bkmonitor/webpack/src/monitor-api/modules/grafana.js
Labels: project/monitor, feat

#4305 feat: 支持多维度批量预测 --story=120679992
  bkmonitor/alarm_backends/core/control/mixins/detect.py
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
  bkmonitor/api/aiops_sdk/default.py
Labels: project/monitor, feat

#4300 feat: 调用分析 - 当路由中带有单/多视角的时候回填处理 --story=120798093
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
Labels: project/monitor, feat

#4272 fix: 修复关联指标导航滚动
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/correlation-nav.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-view.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-view.tsx
Labels: project/monitor, fix

#4260 feat: 告警策略支持仪表盘类型 --story=119126364
  bkmonitor/bk_dataview/api.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
  bkmonitor/bkmonitor/as_code/schema.py
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/bkmonitor/strategy/serializers.py
  bkmonitor/constants/data_source.py
  bkmonitor/packages/monitor_web/as_code/resources.py
  bkmonitor/packages/monitor_web/export_import/resources.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/packages/monitor_web/grafana/views.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#4308 feat: 升级监控根目录下dockerfile前端依赖 --Story=121148255
  bkmonitor/Dockerfile
Labels: project/monitor, feat

#4307 fix: ui查询请求字段提示过滤功能完善
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-bar/pop-instance-util.ts
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, fix

#4123 feat: APM 自定义指标添加 top_limit 功能
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-custom_metric.json
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
Labels: project/apm, feat, notapd

#4090 feat: apm 自定义指标增加groupby/对比功能
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/compare-time.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/compare-time.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-by.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-by.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-compare-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-compare-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/tab-btn-group.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/tab-btn-group.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#4311 feat: 新版k8s左侧面板开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-drilldown.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-drilldown.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-left-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-left-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-metric-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-metric-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4313 feat: 获取维度选项接口数据
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4312 feat: 修复策略同步信号的bug --story=120679992
  bkmonitor/alarm_backends/core/cache/strategy.py
Labels: project/monitor, fix

#4315 feat:【主机监控】大图场景维度需要支持搜索过滤
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/convergence-options-item.vue
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/query-criteria-item.vue
Labels: project/monitor, feat

#4317 fix: 修复package包版本
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, fix

#4314 fix: 修复调用分析指标类型探测偶现不准确的问题 --bug=135335439
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
Labels: project/apm, fix

#4318 fix: 修复 apm 服务关联容器报错 --bug=135338747
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
Labels: project/apm, fix

#4319 fix: 检索结果符号被转义问题 --bug=135339697
  bklog/web/src/hooks/use-json-formatter.ts
Labels: project/log, fix

#4322 feat: 容器场景开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-drilldown.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4323 feat: 加载更多交互调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4266 feat: 【trace】瀑布图详情页里增加下一跳快捷方式 --story=120923588
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/virtualized-trace-view.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4243 feat: AI小鲸体验优化汇总 --Story=121035678
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#4324 feat: 支持多维度批量预测 --story=120679992
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
  bkmonitor/api/aiops_sdk/default.py
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#4306 perf: 自定义指标优化-监控项cache
  bkmonitor/bkmonitor/utils/common_utils.py
  bkmonitor/config/role/web.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/metric_group/helper.py
  bkmonitor/packages/apm_web/tasks.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, perf, notapd

#4288 fix: profiling 文件上传报错 --bug=135221605
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/apps.py
  bkmonitor/packages/apm_web/profile/doris/converter.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/jfr/__init__.py
  bkmonitor/packages/apm_web/profile/perf/converter.py
  bkmonitor/packages/apm_web/profile/pprof/converter.py
  bkmonitor/packages/apm_web/profile/profileconverter.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#4326 fix: ui查询匹配结果提示函数处理 --bug=135358471
  bklog/web/src/views/retrieve-v2/search-bar/pop-instance-util.ts
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
Labels: project/log, fix

#4253 feat: 【产品功能】监控策略目标与指标维度不对应提示 --story=121028048
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, feat

#4264 feat: Profiling 检索页面的查询条件需要支持手动输入
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
Labels: project/monitor, feat

#4286 feat: APM服务下的Profiling页面，Filters支持粘贴操作
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/filter-select/filter-select.tsx
Labels: project/monitor, feat

#4335 fix: 索引集配置修复字段快速配置的问题 --bug=135383999
  bklog/web/src/global/field-setting.vue
Labels: project/log, fix

#4321 feat: 容器场景filter by选择器开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4333 fix: 修复default port 为空的情况下，插件无法渲染成功的问题
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#4336 fix: 修复ui查询过滤参数未清理问题
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, fix

#4316 feat: Metadata: ES索引持续管理能力&UnifyQuery跨ES查询路由支持 --story=121143639
  bkmonitor/metadata/migrations/0204_esstorageclusterrecord.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/tests/space/test_ongoing_es_storage_management.py
  bkmonitor/metadata/tests/storage/test_es_storage.py
Labels: project/monitor, feat

#4274 feat: APM 支持从 Metric 数据源进行拓扑发现 --story=121070411
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/apm/apps.py
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/core/discover/metric/__init__.py
  bkmonitor/apm/core/discover/metric/base.py
  bkmonitor/apm/core/discover/metric/service.py
  bkmonitor/apm/core/discover/node.py
  bkmonitor/apm/core/discover/profile/base.py
  bkmonitor/apm/core/discover/profile/service.py
  bkmonitor/apm/migrations/0046_toponode_source.py
  bkmonitor/apm/models/topo.py
  bkmonitor/apm/task/tasks.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
Labels: project/apm, feat

#4327 fix: 【告警】通过告警通知点击告警屏蔽出现详情页问题 --Bug=135360905
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, fix

#4338 fix: 事件中心业务搜索兼容报错 --Bug=135388313
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/checkbox-list.tsx
Labels: project/monitor, feat

#4339 fix: 切换索引集更新参数 & 行号样式
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, fix

#4328 feat: 图表分析-like条件查询首位加%,过滤条件从 dtEventTimestamp 改为 thedate --story=121158648
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, feat

#4340 feat: 增加刷新锁来中断重复的历史依赖准备任务 --story=120679992
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/alarm_backends/core/lock/service_lock.py
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/preparation/aiops/processor.py
  bkmonitor/alarm_backends/service/preparation/tasks.py
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#4341 fix: ui查询匹配条件支持前后匹配 & 清洗配置初始化逻辑修复
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, fix

#4337 fix: 段日志正则调试逻辑问题 --bug=134996531
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#3949 feat: 字段分析支持列表下载能力 --story=120754642
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/utils.py
  bklog/apps/log_search/views/field_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#4124 feat: 统计使用百分位策略信息 --story=120925360
  bkmonitor/bkmonitor/management/commands/run_cmd.py
Labels: project/monitor, feat

#4345 fix: 修复worker无法引入graphunifyquery问题 --bug=135398825
  bkmonitor/apm/core/discover/metric/service.py
Labels: project/apm, fix

#4342 fix: 修复索引集配置抽屉前往清洗时路径正则调试按钮报错问题
  bklog/web/src/components/collection-access/step-field.vue
Labels: project/log, fix

#4329 feat: 【产品功能】监控策略目标与指标维度不对应提示 --story=121028048
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#4354 feat: 1. k8s维度类改造，完成workload维度的特殊处理 2. 完成k8s维度类搜索和加载更多的逻辑处理 3. 完成grou…
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-drilldown.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4349 fix: 【监控】APM自定义指标列表显示不全 --bug=135380565
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
Labels: project/monitor, fix

#4358 Feat/add test unit/#1010158081120562130
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/tests/k8s/test_filter.py
Labels: project/monitor, feat

#4360 feat: 避免预检测失败的维度再次进行检测，浪费资源 --story=120679992
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
Labels: project/monitor, feat
