Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-10, with the labels that each got.

#3198 feat: 增加默认应用创建 & collector 发现逻辑
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/core/bk_collector_config.py
  bkmonitor/apm/core/cluster_config.py
  bkmonitor/apm/core/handlers/application_hepler.py
  bkmonitor/apm/core/platform_config.py
  bkmonitor/apm/task/tasks.py
  bkmonitor/apm_ebpf/handlers/__init__.py
  bkmonitor/apm_ebpf/handlers/bk_collector.py
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/models/workload.py
  bkmonitor/apm_ebpf/task/tasks.py
  bkmonitor/config/role/worker.py
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, feat

#3154 feat: diskfull/corefile 事件告警补充维度 --story=119880713
  bkmonitor/alarm_backends/service/access/event/records/corefile.py
  bkmonitor/alarm_backends/service/access/event/records/disk_full.py
  bkmonitor/alarm_backends/service/access/event/records/oom.py
Labels: project/monitor, feat

#3141 feat: 【监控策略】告警模板需求：维度信息是url时转换成链接 --story=119434147
  bkmonitor/alarm_backends/core/context/alarm.py
Labels: project/monitor, feat

#3153 feat: 新增四线监控数据导出API
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/views.py
  bkmonitor/packages/fta_web/constants.py
Labels: project/monitor, feat

#3201 chore: 导航栏规范问题调整 --bug=130458143
  bklog/web/src/components/nav/head-nav.vue
Labels: project/log, chore

#3202 chore: 导航栏规范问题调整 --bug=130458143
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-tools/cluster-popover.tsx
Labels: project/log, chore

#3209 feat: po环境开放日志聚类 --story=119960998
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#3207 feat: apm新建应用表单代码优化
  bkmonitor/webpack/src/apm/pages/application/app-add/app-add-new.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/dataStatus/metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-new-add/app-new-add.scss
  bkmonitor/webpack/src/apm/pages/application/app-new-add/app-new-add.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/router/module/application.ts
Labels: project/monitor, feat

#3199 feat: ES索引轮转优化--后台任务优化，减少异常堆栈 --story=119949507
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#3178 feat: 链路健康状况接口： 鲁棒性提升，时间戳格式化，支持返回VM查询地址，优化异常判断逻辑 --story=119907354
  bkmonitor/metadata/resources/bkdata_link.py
Labels: project/monitor, feat

#3208 feat: 【产品功能】邮件订阅及发送历史骨架屏 --story=119859037
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-history.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions.vue
Labels: project/monitor, feat

#3113 feat: 【产品缺陷】计算平台数据源转promql 失败。 --story=119797024
  bkmonitor/constants/data_source.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#3206 fix:修复profiling检索页面下载pprof文件报错问题
  bkmonitor/packages/apm_web/profile/patch.py
Labels: project/monitor, fix

#3200 feat: BCS集群迁移场景适配： 迁移后，同步对应链路路由元信息 --story=119950637
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/utils/bcs.py
Labels: project/monitor, feat

#3031 feat: 策略创建页面默认触发条件优化 --story=119696558
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#3211 feat: 【产品功能】邮件订阅页面补充标题栏 --story=119859143
  bkmonitor/webpack/src/monitor-pc/router/dashboard/email-subscriptions.ts
Labels: project/monitor, feat

#3212 feat: 1. 服务配置增加自定义标签 2. 修复查看应用右上角菜单跳转问题
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/apm/typings/base-info.ts
Labels: project/monitor, feat

#3214 feat: 链路接入VM流程优化：事务中嵌套异步任务导致接入VM失败问题修复，不再根据特性开关两次判断接入链路版本 --story=119976472
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/service/data_source.py
  bkmonitor/metadata/task/vm.py
Labels: project/monitor, feat

#3215 feat: 应用配置骨架屏及代码整理
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/skeleton/storage-info-skeleton.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/skeleton/storage-info-skeleton.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-log.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-log.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-metric.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
Labels: project/monitor, feat

#3203 fix: 【监控】Trace检索初始化应展示骨架屏 --Bug=131370427
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, fix

#3217 feat: 监控图表工具默认展示 --Story=119981994
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-chart/aiops-chart.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
Labels: project/monitor, feat

#3213 feat: apm列表优化
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-resize-layout.tsx
  bkmonitor/webpack/src/apm/pages/home/skeleton/apm-home-skeleton.scss
  bkmonitor/webpack/src/apm/pages/home/skeleton/apm-home-skeleton.tsx
Labels: project/monitor, feat

#3221 feat: 【产品功能】K8s场景下的所有指标，名称旁给一个tips，hover展示【具体含义】 --story=119912594
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, feat

#3225 feat: 聚类过滤条件支持嵌套类型字段 --story=119988990
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, feat

#3224 feat: V4链路适配--只有单指标单表时序指标数据允许接入V4链路 --story=119989055
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#3171 feat: 【日志检索】日志关联cmdb信息缓存问题优化 --story=119783568
  bklog/apps/log_search/tasks/cmdb.py
  bklog/apps/utils/core/cache/cache_base.py
  bklog/apps/utils/core/cache/cmdb_host.py
Labels: project/log, feat

#3227 feat: 优化keyword
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
Labels: project/monitor, feat

#3220 feat: 新版检索验收问题修复
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/manage/manage-access/components/index-set/manage/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/detail.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/index.vue
  bklog/web/src/views/retrieve-v2/collect/manage-group-dialog.scss
  bklog/web/src/views/retrieve-v2/collect/manage-group-dialog.tsx
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-history.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/bookmark-pop.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
Labels: project/log, feat, notapd

#3228 fix: 增加检索条件后，点击添加到本次检索报错 & 收藏分享后链接无法正确定位 & 从下载历史跳转检索，检索页面无法正常打开 & 点击查询语法无响应
  bklog/web/src/common/util.js
  bklog/web/src/router/index.js
  bklog/web/src/store/index.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/retrieve-hub.vue
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-history.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
Labels: project/log, fix

#3219 fix: 日志检索新首页优化 --bug=131872553
  bklog/apps/log_search/serializers.py
  bklog/apps/utils/db.py
  bklog/web/src/main.js
  bklog/web/webpack.config.js
Labels: project/log, fix

#3230 fix: 根据白名单切换检索首页版本
  bklog/web/src/views/retrieve-hub.vue
Labels: project/log, fix, notapd

#3232 fix: apm调用链tab数据加载问题修复
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
Labels: project/monitor, fix

#3233 fix: 某些ES集群获取数据节点数量为0，优化统计逻辑 --bug=131897947
  bklog/apps/log_databus/handlers/storage.py
Labels: project/log, fix

#3226 feat: apm缩略图及错误率显示优化
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/mini-time-series/mini-time-series.tsx
Labels: project/monitor, feat

#3231 fix: 修复自定义标签回填展示问题
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/apm/typings/base-info.ts
Labels: project/monitor, fix

#3234 fix: 检索条件为字段不存在时内容未清空 --issue=131840521
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, fix

#3235 fix: 【仪表盘】小屏幕的时候，新增目录弹窗样式有问题 --bug=131882687
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
Labels: project/monitor, fix

#3239 fix: 导航样式修复
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/views/playground/data.js
Labels: project/log, fix

#3240 fix: 调整k8s类采集插件数据接入清洗配置类型 --bug=131934205
  bkmonitor/alarm_backends/service/access/event/records/disk_full.py
  bkmonitor/packages/monitor_web/commons/data_access.py
Labels: project/monitor, fix

#3241 feat: 联邦集群： 兼容联邦集群子集群此前已经接入过VM的场景，优化联邦集群接入VM方式 --story=119997999
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#3242 feat: 应用观测 Go 演示样例支持通过 Docker 运行 --story=120011943
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.golang.centos.md
Labels: project/monitor, feat

#3243 fix: 【专项】APM 接入优化（bug修复）
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
Labels: project/monitor, fix

#3247 fix: 接入指引文案优化 --bug=131947553
  bkmonitor/packages/apm_web/meta/plugin/context_manager/fields.py
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.cpp.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.golang.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.java.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.python.centos.md
Labels: project/monitor, fix

#3244 fix: APM接入优化查询接口调用方式修复 --story=119969222
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/data_source/data_source/rawdatas.py
  bkmonitor/bkmonitor/data_source/tests/test_raw_datas.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#3246 feat: 主被调分析 --stroy=119907153
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/dashboard-panel.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/SEARCH_KEY_LIST.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/baseFIlterList.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/apm-caller-line-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/apm-caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-bar-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-pie-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-pie-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-contrast.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-contrast.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/chart-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/chart-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/contrast-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/contrast-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/group-by-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/group-by-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/tab-btn-group.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/tab-btn-group.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/testData.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
Labels: project/monitor

#3238 feat: k8s场景pod图表container_cpu_cfs_throttled_periods_total，Y轴显示问题 --story=119922915
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#3248 fix: 修复访问接口问题 & 修复metric无数据告警配置 --story=119969222
  bkmonitor/api/bkdata/default.py
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Labels: project/apm, fix

#3249 fix: 下载跳转参数回填解析失败修复
  bklog/web/.gitignore
  bklog/web/src/store/index.js
Labels: project/log, fix

#3251 fix: 字段设置样式调整适配Mac小屏展示
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
Labels: project/log, fix

#3245 feat: 【仪表盘】grafana 升级 --Story=119926141
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/router/dashboard/index.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/router/router.ts
Labels: project/monitor, feat

#3255 fix: 修复告警套餐无法渲染alarm.target_string问题 --bug=131970867
  bkmonitor/bkmonitor/documents/alert.py
Labels: project/monitor, fix

#3254 fix: 兼容轮询其中一个报错的情况 --story=119969222
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#3256 fix: 查询时记录当前的查询时间戳
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
Labels: project/log, fix

#3257 fix: apm应用接入问题修复
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.tsx
Labels: project/monitor, fix

#3258 fix: po环境测试问题修复
  bklog/web/src/store/condition-operator.ts
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
Labels: project/log, fix

#3260 fix: po环境测试问题修复
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.tsx
Labels: project/log, fix

#3262 feat: Trace 检索耗时过滤支持 m / h / d 等常见时间单位 --story=119992709
  bkmonitor/webpack/src/trace/pages/main/duration-filter/duration-filter.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, feat

#3252 fix: 【profiling】无权限弹窗样式跑出屏幕问题 --bug=131882753
  bkmonitor/webpack/src/trace/components/authority-modal/authority-modal.scss
  bkmonitor/webpack/src/trace/components/authority-modal/authority-modal.tsx
Labels: project/monitor, fix

#3264 feat: 1. 服务配置关联日志编辑移除日志选择项 2. 调整编辑页底部样式 3. 接入服务文档增加调整功能
  bkmonitor/webpack/src/apm/pages/service/data-guide.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.scss
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#3267 feat: 【产品功能】优化监控图表tooltips超长展示 --story=119860138
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#3253 feat: 新增 tmp 数据导出 api
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/utils.py
  bkmonitor/packages/fta_web/constants.py
Labels: project/monitor, feat

#3269 feat: 【产品功能】profling新版应用选择器优化 --story=119874602
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
Labels: project/monitor, feat

#3270 fix: space切换丢失bizId & url参数解析检索自动更新日期格式时间显示 & 业务选择框位置调整到顶部导航
  bklog/web/src/App.vue
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
Labels: project/log, fix

#3273 fix: APM应用列表问题修复
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.scss
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.tsx
Labels: project/monitor, fix

#3275 fix: 【监控】从其他页面切换到仪表盘会白屏 --Bug=132007565
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, fix

#3274 fix: 查看大图弹框报错修复 --bug=132007843
  bkmonitor/core/prometheus/tools.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, fix

#3266 fix: APM 应用服务接入问题修复
  bkmonitor/webpack/src/apm/components/editable-form-item/editable-form-item.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-log.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/tabList.tsx
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, fix

#3277 fix: APM 应用服务接入问题修复
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
Labels: project/monitor, fix

#3278 feat: 外部版日志聚类开放 --story=119960998
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#3279 fix: 修复自监控sli指标上报异常问题 --bug=132027983
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, fix

#3268 fix: metric V4数据状态兼容 --story=119969222
  bkmonitor/api/log_search/default.py
  bkmonitor/constants/apm.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Labels: project/apm, fix

#3280 fix: 隐藏策略
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/alarm-tools.tsx
Labels: project/monitor, fix

#3281 fix: 新建插件采集订阅缺少 task_id 参数问题处理 --bug=132029885
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
Labels: project/monitor, fix

#3283 feat: 外部版日志聚类开放 --story=119960998
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#3282 fix: APM 应用服务接入优化（自测问题修复） --story=119969222
  bkmonitor/api/log_search/default.py
  bkmonitor/apm/migrations/0042_add_application_token_and_log_datasource.py
  bkmonitor/apm/migrations/0043_alter_profiledatasource_profile_bk_biz_id.py
  bkmonitor/apm/models/application.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/task/tasks.py
  bkmonitor/apm/utils/report_event.py
  bkmonitor/config/default.py
  bkmonitor/config/role/web.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/migrations/0025_application_service_count.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/apm_web/service/serializers.py
  bkmonitor/packages/apm_web/tasks.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-messaging-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/webpack/src/apm/components/editable-form-item/editable-form-item.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-log.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-trace.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/tabList.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/service/data-guide.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.scss
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/alarm-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.scss
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/variable.ts
Labels: project/apm, fix

#3250 feat: 【日志平台】路径解析元数据补充/元数据自定义 --story=119426491
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_delimiter.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_json.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_regexp.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, feat

#3285 fix: 【监控】K8s场景下指标，hover 展示的 tips 未去重 --bug=132044559
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
Labels: project/monitor, fix

#3287 fix: APM 应用服务接入问题修复
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/mini-time-series/mini-time-series.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/mini-time-series/mini-time-series.tsx
Labels: project/monitor, fix

#3288 feat: 旧版检索聚类规则无法拖拽问题修复
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, fix, notapd

#3286 fix: 【apm】接入中的应用，进到服务接入页面时报错问题
  bkmonitor/packages/apm_web/handlers/span_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix, notapd

#3291 fix: 直接基于前端的信息检索
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/service/data-guide.tsx
Labels: project/monitor, fix

#3293 fix: APM 服务配置更新，操作记录未设置
  bkmonitor/packages/apm_web/serializers.py
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, fix, notapd

#3294 feat: 同步聚类清洗后，从尾部开始消费队列数据 --story=120053181
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/data_access/data_access.py
Labels: project/log, feat

#3292 fix: 【监控】profiling查看大图样式错位 --bug=132039421
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
Labels: project/monitor, fix

#3289 feat: 【产品功能】K8S环状图宽度自适应右侧拖动面板 --story=120037585
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/ratio-ring-chart/ratio-ring-chart.scss
Labels: project/monitor, feat

#3296 fix: sg环境屏蔽ip选择器没有滚动条 --Bug=132067329
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#3297 fix: APM 数据源启停后，数据状态未及时更新
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix, notapd

#3298 feat: 变更 apm 应用列表排序规则
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, feat, notapd

#3299 fix: 修复配置服务编辑底部栏层级展示问题
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.scss
Labels: project/monitor, fix

#3300 feat: 接入VM时，若DS查询不存在，添加重试机制，减少事务不一致的影响 --story=120060959
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, feat

#3284 fix: 【【监控】数据检索图表tooltip显示优化】--bug=132043552
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#3147 fix: 修改操作逻辑问题 --bug=131419289
  bklog/apps/log_search/models.py
Labels: project/log, fix

#3302 fix: 修复 APM 接口错误统计不准确的问题 --bug=132109067
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/statistics_query.py
Labels: project/monitor, fix

#3301 feat: 接入指引优化、样例支持通过 Docker 运行 --story=120061581
  bkmonitor/packages/apm_web/meta/plugin/context_manager/fields.py
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.cpp.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.golang.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.java.centos.md
  bkmonitor/packages/apm_web/meta/plugin/help_md_new/opentelemetry.python.centos.md
Labels: project/monitor, feat

#3303 fix: 访问bk_data设置bk_username问题修复 --story=119540434
  bkmonitor/api/bkdata/default.py
Labels: project/apm, fix

#3305 feat: 仪表盘快速访问支持直接访问grafana页面 --story=120070974
  bkmonitor/packages/monitor_adapter/grafana/views.py
Labels: project/monitor, feat

#3276 feat: po支持开放聚类能力 --story=119960998
  bklog/apps/constants.py
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#3308 fix: AsCode 导入仪表盘缺少数据源提示优化 --bug=132128687
  bkmonitor/bkmonitor/as_code/parse.py
Labels: project/monitor, fix

#3272 feat: 仪表盘迁移增加默认配置 --story=120037459
  bkmonitor/packages/monitor_web/promql_import/resources.py
Labels: project/monitor, feat

#3218 fix: 查询配置转换接口权限设置不合理 --bug=131871161
  bkmonitor/packages/monitor_web/strategies/views.py
Labels: project/monitor, fix

#3133 feat: 全业务监控目标策略主机删除后无数据告警 --story=119859949
  bkmonitor/alarm_backends/core/control/mixins/nodata.py
Labels: project/monitor, feat

#3313 fix: 修复主机异常检测保存后策略状态丢失的问题 --bug=124607841
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, fix

#3311 feat: 【profiling】拓扑页面缩放逻辑优化 --Story=119406070
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/use-topo.ts
Labels: project/monitor, feat

#3314 feat: 仪表盘快速访问支持直接访问grafana页面 --story=120070974
  bkmonitor/packages/monitor_adapter/grafana/views.py
Labels: project/monitor, feat

#3319 fix: 应用配置数据状态逻辑调整
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
  bkmonitor/webpack/src/monitor-api/modules/apm_meta.js
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, fix

#3326 feat: 外部版添加批量授权 --story=120050745
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/authorization/authorization-dialog.scss
  bklog/web/src/views/authorization/authorization-dialog.tsx
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, feat

#3327 feat: 计算平台索引的日志关键字查维度，少了index_set_id这个参数 --story=120091449
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#3328 feat: 外部版添加批量授权 --story=120050745
  bklog/web/src/views/authorization/authorization-dialog.tsx
Labels: project/log, feat

#3331 fix: 【监控】告警源过滤无数据展示按照规范展示 --bug=132155107
  bkmonitor/webpack/src/fta-solutions/pages/integrated/group.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/integrated.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/integrated.tsx
Labels: project/monitor, fix

#3318 fix: 【采集】腾讯云指标采集新建输入框无法输入问题 --bug=131983025
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/auto-complete-input.vue
Labels: project/monitor, fix

#3329 feat: 【应用创建】应用保存后增加“接入中”的状态
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/home/typings/app.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/operate-options.tsx
Labels: project/monitor, feat

#3337 fix: APM 应用服务接入验收会问题修复
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/tabList.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/components/details-side.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/valueFormats/categories.ts
Labels: project/monitor, fix

#3321 feat: ES索引轮转周期任务优化：索引完全就绪时再进行绑定关系切换、ES句柄复用、轮转任务按照集群分组以提高并发性能 --story=120083727
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/tests/storage/test_refresh_es_storage.py
Labels: project/monitor, feat

#3335 feat: 接入聚类前增加对索引集类型的判断 --story=120085351
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/utils/monitor.py
Labels: project/log, feat

#3338 feat: APM 应用服务接入验收问题修复
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/service/service.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#3341 fix: 【监控】事件中心关联信息tooltips位置错误 --bug=132152283
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.scss
Labels: project/monitor, fix

#3340 feat: 【产品功能】tace 检索总览图标 hover 展示 tooltips（多指标） --story=120086612
  bkmonitor/webpack/src/trace/plugins/components/chart-title.scss
  bkmonitor/webpack/src/trace/plugins/components/chart-title.tsx
Labels: project/monitor, feat

#3342 feat: ES索引轮转： 添加更多异常处理和日志记录 --story=120102710
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#3334 feat: profiling检索增加时间对比功能 --story=119073372
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/types/monitor-echarts.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/comparison-chart.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/comparison-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, feat

#3316 feat: 预计算自动检测是否正常运行 --story=120014101
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/core/discover/precalculation/check.py
  bkmonitor/apm/core/discover/precalculation/daemon.py
  bkmonitor/apm/core/discover/precalculation/processor.py
  bkmonitor/apm/task/tasks.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
Labels: project/apm, fix

#3229 feat: 告警通知支持直接跳转到数据检索 --story=119966633
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_adapter/home/urls.py
  bkmonitor/packages/monitor_adapter/home/views.py
Labels: project/monitor, feat

#3345 fix: 修复指标上报直方图数据不准确的问题 --bug=132247821
  bkmonitor/alarm_backends/service/converge/tasks.py
  bkmonitor/alarm_backends/service/fta_action/common/processor.py
  bkmonitor/core/prometheus/base.py
Labels: project/monitor, fix

#3347 fix: APM 应用服务接入验收会问题修复
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, fix

#3344 feat: 外部版添加批量授权 --story=120050745
  bklog/web/src/views/authorization/authorization-dialog.tsx
Labels: project/log, feat

#3348 feat: 优化APM导航栏服务选择区域
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.scss
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
Labels: project/monitor, feat

#3159 feat: 【产品功能】告警跳转过来的查询语句，需要加上告警维度（只读，可以清除） --Story=119579485
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/filter-dict.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/filter-dict.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
Labels: project/monitor, feat

#3261 feat: 【日志平台】日志聚类正则逻辑调整 --story=119885732
  bklog/apps/log_clustering/admin.py
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service_online.py
  bklog/apps/log_clustering/handlers/regex_template.py
  bklog/apps/log_clustering/migrations/0033_auto_20241016_0944.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/urls.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/log_clustering/views/regex_template_views.py
  bklog/apps/log_databus/migrations/0041_auto_20240830_1524.py
Labels: project/log, feat

#3350 feat: V4链路可用性优化：新增vm_data_name,data_link_version等字段，RT创建过程添加打点日志 --story=120107857
  bkmonitor/api/bkdata/default.py
  bkmonitor/metadata/migrations/0191_auto_20241016_1125.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/models/vm/record.py
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, feat

#3351 feat: 外部版添加批量授权 --story=120050745
  bklog/web/src/views/authorization/authorization-dialog.tsx
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, feat

#3352 feat: 【仪表盘】grafana 升级 --Story=119926141
  bkmonitor/webpack/src/monitor-common/utils/docs.ts
  bkmonitor/webpack/src/monitor-pc/constant/constant.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.scss
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, feat

#3354 fix: APM 应用服务接入验收会问题修复
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, fix

#3290 fix: 全文检索字段分析修复 --bug=132052917
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix

#3357 feat: 【日志平台】po环境外部授权增加批量授权能力 --story=120050745
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/serializers.py
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/authorization/authorization-dialog.scss
  bklog/web/src/views/authorization/authorization-dialog.tsx
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, feat

#3358 fix: 【监控】Trace检索收藏链接没有刷新总览图表数据 --bug=132152497
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, fix

#3362 fix: 修复新版链路接入失败-data_source传参问题 --bug=132270219
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, fix

#3364 fix: 请求被取消后出现无message弹窗 --Bug=132271381
  bkmonitor/webpack/src/monitor-api/base.js
Labels: project/monitor, fix

#3360 fix: bcs容器采集更新流程修复 --bug=132150871
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#3365 fix: 修改创建/更新 APM 应用报错的问题
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix, notapd

#3366 chore: 聚类新建策略添加新建告警组按钮 --bug=132103893
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/strategy/index.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/strategy/index.tsx
Labels: project/log, feat

#3368 fix: 仪表盘展示升级信息后显示不全 --Bug=132274879
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, fix

#3336 fix: 【监控】trace应用配置跳转错误 --bug=132152945
  bkmonitor/webpack/src/trace/pages/main/inquire-content/index.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, fix

#3370 chore: 日志聚类表格显示调整 --bug=132118787
  bklog/web/src/views/retrieve-v2/index.scss
Labels: project/log, chore

#3374 fix: 修复图表相关告警菜单跳转查询问题
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/menu.ts
Labels: project/monitor, fix

#3376 fix: 修复日志清洗体验问题bug及样式优化
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
Labels: project/log, fix

#3384 fix: 业务下 APM 应用全部删除后, 需要进入到引导页
  bkmonitor/packages/monitor_web/commons/biz/func_control.py
Labels: project/apm, fix, notapd

#3387 minor: apm 的数据状态页面，去掉指标的日数据量，待v4链路补齐后需要改回去
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Labels: project/apm, fix, notapd

#3388 feat: APM开启无数据告警确认框修改 --story=120123370
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.scss
  bkmonitor/webpack/src/apm/pages/application/app-configuration/data-state/data-state-metric.tsx
  bkmonitor/webpack/src/apm/pages/service/data-guide.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#3389 minor: 修改 apm 无数据告警配置
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Labels: project/apm, fix, notapd

#3390 fix: 修复柱状图无数据 && 补零promql 添加括号 --bug=132294415
  bkmonitor/packages/apm_web/metric_handler.py
  bkmonitor/packages/apm_web/topo/handle/bar_query.py
Labels: project/apm, fix

#3391 fix: 修复 trace 无数据告警查询指标不正确问题
  bkmonitor/packages/apm_web/handlers/backend_data_handler.py
Labels: project/apm, fix, notapd
