Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-11, with the labels that each got.

#3677 fix: 图表查询heatmap及table模式不需要补全空点 --bug=133147045
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, fix

#3678 fix: 修复调用分析时间下钻汇总不准确、耗时计算异常的问题 --bug=133154795
  bkmonitor/bkmonitor/data_source/unify_query/builder.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
Labels: project/monitor, project/apm, fix

#3681 feat: V4链路适配工作 -- 路由同步、表结构字段类型变更、已知问题修复、路由接入 --story=120463975
  bkmonitor/metadata/admin.py
  bkmonitor/metadata/migrations/0194_alter_bkbaseresulttable_bkbase_table_id.py
  bkmonitor/metadata/migrations/0195_bkbaseresulttable_bkbase_rt_name.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/bkdata/result_table.py
  bkmonitor/metadata/models/data_link/__init__.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
  bkmonitor/metadata/tests/space/test_compose_table_id_detail.py
Labels: project/monitor, feat

#3645 chore: 外部版日志聚类一键开启按钮隐藏
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-chart/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve-v2/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve/search-comp/query-statement.scss
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
Labels: project/log, chore

#3682 fix: 故障拓扑聚合后的节点，不应该能被拖出原来的service框框 (#133105421)
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
Labels: project/monitor, fix

#3670 feat: bcs采集项接口支持多配置 --story=120262545
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/migrations/0042_containercollectorconfig_index.py
  bklog/apps/log_databus/models.py
  bklog/apps/tests/log_databus/test_bcs_collector.py
  bklog/apps/tests/log_databus/test_e2e_collectorviewsetapi.py
Labels: project/log, feat

#3684 fix: 系统事件告警监控目标支持动态分组 --bug=133204075
  bkmonitor/alarm_backends/service/access/event/records/custom_event.py
  bkmonitor/alarm_backends/tests/service/access/event/config.py
Labels: project/monitor, fix

#3683 feat: json多层展开功能支持
  bklog/web/src/common/util.js
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/global/json-view/index.ts
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/global/utils/json-editor-task.ts
  bklog/web/src/global/utils/pop-instance-util.ts
  bklog/web/src/global/utils/segment-pop-instance.ts
  bklog/web/src/global/utils/task-pool.ts
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-json-root.ts
  bklog/web/src/hooks/use-segment-pop.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve-v2/result-comp/table-column.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve-v2/segment-pop.scss
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, feat

#3223 feat: 屏蔽列表接口性能优化 --story=119969807
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
Labels: project/monitor, feat

#3687 feat: SearchActionResource接口分片优化 --story=120489988
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, feat

#3689 feat: V4链路--在请求结构元信息中新增数据真实绑定的业务ID --story=120494229
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/tests/data_link/test_compose_data_link_configs.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#3694 feat: 提升调用分析汇总数据计算准确性 --story=120496063
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/builder.py
  bkmonitor/bkmonitor/data_source/unify_query/functions.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/apm_web/metric/views.py
Labels: project/apm, feat

#3695 fix: 去掉公共集群置灰
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
Labels: project/log, fix

#3697 fix: format date milliseconds
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
Labels: project/log, fix

#3698 fix: 修复调用分析数据点下钻无数据的问题 --bug=133220417
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/functions.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
Labels: project/apm, fix

#3542 fix: 修复 AccessVMRecord 一对多问题
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/tests/custom_report/test_time_series.py
Labels: project/monitor, fix

#3700 feat: 组装计算平台相关元数据名称时，限定长度截断 --story=120503264
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/tests/data_link/test_data_link_utils.py
Labels: project/monitor, feat

#3696 fix: 去掉公共集群置灰 (#3695)
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
Labels: project/log, fix

#3673 fix: 日志聚类高度问题导致最后一行配置隐藏
  bklog/web/src/views/retrieve-v2/setting-modal/log-cluster.vue
Labels: project/log, fix

#3702 fix: apm调用分析需要记录每个服务切换的主备调类型
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
Labels: project/monitor, fix

#3710 fix: 日志提取时间格式修复
  bklog/web/src/views/extract/create/preview-files.vue
Labels: project/log, fix

#3712 feat: apm服务日志功能
  bklog/web/src/views/retrieve-v2/collect/collect-container.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/setting-modal/rule-table.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
  bkmonitor/webpack/src/monitor-ui/directive/index.ts
  bkmonitor/webpack/src/monitor-ui/directive/log-drag.ts
Labels: project/monitor, feat

#3715 fix: 调用分析图表 tips 保持和 groupby 顺序一致 --bug=133349537
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, fix

#3706 feat: 日志ES：索引冷热切换时新增double_check，避免将索引误降冷 --story=120514888
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/tests/storage/test_refresh_es_storage.py
Labels: project/monitor, feat

#3714 feat: 1. APM 日志检索顶部调整完成 2. 调整日志顶部和监控的交互以及路由参数
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/monitor/monitor.scss
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/search-bar/time-setting.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3716 fix: 修复第三方告警源关联事件查询到了其他业务的问题 --bug=133351165
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, fix

#3720 feat: 告警通知维度信息固定顺序 --story=120524738
  bkmonitor/alarm_backends/core/context/alarm.py
Labels: project/monitor, feat

#3704 fix: 新增集群冷热配置参数 --bug=133318223
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
Labels: project/apm, fix

#3721 feat: UI查询提示信息按照单字段进行查询 & 收藏查询回填时日志聚类显示逻辑判定调整
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, feat

#3713 fix: 移除告警配置
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
Labels: project/log, fix

#3723 feat: 告警策略自定义事件支持query string --story=120529881
  bkmonitor/bkmonitor/strategy/serializers.py
Labels: project/monitor, feat

#3724 feat: apm服务日志功能__searchBar
  bklog/web/src/views/retrieve-v2/monitor/index.ts
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
Labels: project/monitor, feat

#3727 feat: 索引列表样式优化
  bkmonitor/webpack/src/fta-solutions/pages/event/monitor-drag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, feat

#3728 feat: apm服务日志功能
  bklog/web/src/views/retrieve-v2/monitor/monitor.scss
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3708 fix: 【监控】鼠标放置在图表上，对应的说明弹窗一直不停的闪烁 --bug=131210551
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/components/bar-alarm-chart.scss
Labels: project/monitor, fix

#3717 feat: Metadata:根据data_id查询对应的真实的业务ID和空间UID --story=120521683
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/tests/utils/test_data_source_utils.py
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#3644 feat: 【体验优化】事件检索页面骨架屏展示 --story=120142997
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, feat

#3602 fix: 【监控】屏蔽创建成功提示修改 --bug=132959025
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/quick-alarm-shield/quick-alarm-shield-strategy.vue
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.tsx
Labels: project/monitor, fix

#3730 feat: 调整监控APM URL参数和日志组件的交互
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3729 feat: V4链路--链路各组件状态查询（实时属性+静态字段）& 状态扫描定时任务 --story=120530621
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/task/refresh_data_link.py
  bkmonitor/metadata/tests/task/test_refresh_data_link.py
Labels: project/monitor, feat

#3731 fix: 行号功能暂时去掉，待组件修复缺陷后再放开
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
Labels: project/log, fix

#3733 feat: 日志打印优化&任务调度路径更正 --story=120545686
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#3665 feat: 【产品功能】故障自愈空间选择器与监控保持一致 --story=120145407
  bkmonitor/webpack/src/fta-solutions/pages/app.scss
  bkmonitor/webpack/src/fta-solutions/pages/app.tsx
  bkmonitor/webpack/src/fta-solutions/static/scss/global.scss
  bkmonitor/webpack/src/fta-solutions/store/modules/app.ts
Labels: project/monitor, feat

#3686 fix: 【指标检索】从仪表盘跳转检索时需针对表达式视图的处理 --bug=131970577
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/view-info.tsx
Labels: project/monitor, fix

#3734 feat: 时序数据源支持无数据恢复能力 --story=120454690
  bkmonitor/alarm_backends/service/alert/manager/checker/recover.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_recover.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/metadata/migrations/0193_process_data_label.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/monitor_web/datalink/resources.py
Labels: project/monitor, feat

#3725 fix: 修复回溯索引集检索不存在报错的问题
  bklog/apps/log_search/handlers/search/pre_search_handlers.py
Labels: project/log, feat, fix, notapd

#3732 fix: 表格表头渲染逻辑索引获取修复 & 切换索引集清空排序条件 & 停止自定义上报采集判定逻辑
  bklog/web/src/mixins/collected-items-mixin.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
Labels: project/log, fix

#3739 fix: 修复维度下钻场景相关体验问题
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/dimension.table.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/dimension.table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/tab-title.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-point/aiops-dimension-point.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-point/aiops-dimension-point.tsx
Labels: project/monitor, fix

#3736 feat: V4链路--调整task位置，修复链路状态任务异步未被正确接收问题 --story=120553823
  bkmonitor/metadata/task/refresh_data_link.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/task/test_refresh_data_link.py
Labels: project/monitor, feat

#3679 feat: 插件采集增加单实例主动下发接口 --story=120473278
  bkmonitor/api/node_man/default.py
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/packages/monitor_web/collecting/deploy/base.py
  bkmonitor/packages/monitor_web/collecting/deploy/k8s.py
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
  bkmonitor/packages/monitor_web/collecting/resources/backend.py
  bkmonitor/packages/monitor_web/collecting/views.py
Labels: project/monitor, feat

#3737 feat: 联调索引集信息快速展示功能
  bklog/web/src/components/collection-access/issued-slider.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/global/setting-table.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/collect.js
Labels: project/log, feat

#3667 feat: 主机列表页面渲染优化 --Story=120464319
  bkmonitor/webpack/src/monitor-pc/common/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/performance/components/performance-table.vue
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-type.ts
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance.vue
  bkmonitor/webpack/src/monitor-pc/pages/performance/table-store.ts
Labels: project/monitor, perf

#3741 fix: 拖拽导致的cell resize计算宽度问题修复
  bklog/web/package.json
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/views/retrieve-v2/result-comp/table-column.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
Labels: project/log, fix

#3738 fix: 优化调用分析指标上报方式探测逻辑 --bug=133447947
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
Labels: project/apm, fix

#3743 fix: 聚类接入dataflow兼容保留字段 --bug=133460545
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#3747 feat: APM 日志功能
  bklog/web/src/views/retrieve-v2/collect/collect-container.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-filter-popover.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/monitor/utils.ts
  bklog/web/src/views/retrieve-v2/result-comp/context-log.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-history.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/real-time-log.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/strategy/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/panel-util.js
  bklog/web/src/views/retrieve-v2/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve-v2/setting-modal/rule-table.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3752 feat: 第三方告警通知附带原始信息 关联信息 --story=120565910
  bkmonitor/bkmonitor/utils/event_related_info.py
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, feat

#3751 feat: 补全接口
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3755 feat: 删除保存清洗时对 table_id 的校验逻辑 --story=120565402
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#3757 feat: APM 日志功能
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/monitor/utils.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/empty-view.vue
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3745 feat: V4链路：新增链路接入相关全方位指标 --story=120563332
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/metadata/models/data_link/constants.py
  bkmonitor/metadata/models/vm/constants.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#3753 fix: 【日志】采集项-详情接口内置字段分词和大小写敏感bug修复 --bug=133454021
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_text.py
Labels: project/log, fix

#3750 feat: AI 监控接入智能QA --story=120509451
  bkmonitor/api/aidev/__init__.py
  bkmonitor/api/aidev/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/core/drf_resource/contrib/api.py
  bkmonitor/packages/monitor_web/ai_assistant/views.py
Labels: project/monitor, feat

#3761 fix: 日志聚类开启完毕弹出窗口未关闭
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/quick-open-cluster.tsx
Labels: project/log, fix

#3763 fix: 修复url参数回填丢失的问题
  bklog/web/src/store/retrieve.js
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
Labels: project/monitor, fix

#3764 feat: 自定义指标上报配置文件订阅默认开启巡检 --story=120578409
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, feat

#3746 fix: 【APM】两个 scene 接口需要加上时间范围 --bug=133109363
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, fix

#3680 refactor: 【产品功能】针对页面的导入导出功能进行审计上报 #1010158081119473994
  bkmonitor/packages/monitor_web/as_code/resources.py
  bkmonitor/packages/monitor_web/commons/report/resources.py
  bkmonitor/packages/monitor_web/export_import/resources.py
Labels: project/monitor, refactor

#3766 feat: Metadata自监控--指标化改造，后台任务耗时统计&接入链路趋势统计指标 --story=120586640
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/task/refresh_data_link.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#3767 feat: APM 日志功能
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
Labels: project/monitor, feat

#3762 feat: 单元测试异常用例跟进 --story=120579512
  bkmonitor/alarm_backends/tests/service/alert/builder/test_processor.py
Labels: project/monitor, feat

#3769 feat: 展示仪表盘升级信息
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, feat

#3765 feat: 【APM】视图右上角更多和勾选点击范围优化 --story=120579327
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.scss
Labels: project/monitor, feat

#3772 Revert "fix: 【日志】采集项-详情接口内置字段分词和大小写敏感bug修复 --bug=133454021"
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_text.py
Labels: project/log, fix

#3621 feat: 事件中心查询语句报错： 处理阶段 : 已通知 AND 状态 : 未恢复 --story=120115468
  bkmonitor/packages/fta_web/alert/utils.py
Labels: project/monitor, feat

#3222 feat: monitor_web.custom_report.resources.GetCustomEventGroup接口优化， event_name 限制上限1000 --story=119917488
  bkmonitor/api/metadata/default.py
  bkmonitor/metadata/models/custom_report/event.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, feat

#3774 fix: 【日志】采集项-详情接口内置字段分词和大小写敏感bug修复 --bug=133454021
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_delimiter.py
Labels: project/log, fix

#3782 fix: 组件挂载时清空store
  bklog/web/src/store/index.js
Labels: project/monitor, fix

#3768 minor: 修改 apm 预计算数据默认存储周期
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, fix

#3790 fix: 修复代码
  bklog/web/src/store/index.js
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, fix

#3788 feat: 监控APM日志功能开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, feat

#3785 feat: Metadata可观测：后台任务耗时指标统计&上报 --story=120597816
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/ping_server.py
  bkmonitor/metadata/task/sync_cmdb_relation.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/task/vm.py
  bkmonitor/metadata/tools/constants.py
Labels: project/monitor, feat

#3794 feat: Metadata: Kafka迁移操作新增选项参数，支持变更前端/后端 Kafka --story=120604741
  bkmonitor/metadata/management/commands/switch_kafka_for_data_id.py
  bkmonitor/metadata/tests/commands/test_switch_kafka_cluster.py
Labels: project/monitor, feat

#3787 fix: 【指标检索】PromQL 模式下 无数据时视图异常 --bug=133606391
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval-view.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, fix

#3798 feat: 单元测试异常用例跟进 --story=120579512
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_by_fakees.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
Labels: project/monitor, feat

#3789 feat: 日志检索接口脱敏白名单 --story=120598822
  bklog/apps/feature_toggle/models.py
  bklog/apps/feature_toggle/plugins/constants.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#3800 fix: 【日志】采集项-详情接口内置字段分词和大小写敏感bug修复 --bug=133454021
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_delimiter.py
Labels: project/log, fix

#3801 feat: 修改deepClone导入路径
  bklog/web/src/store/index.js
Labels: project/monitor, feat

#3799 fix: 【监控】事件检索小图标不见了 --bug=133576593
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/field-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/field-list.tsx
Labels: project/monitor, fix

#3802 feat: 自定义指标需求开发
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/custom-chart/custom-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/custom-chart/custom-chart.tsx
Labels: project/monitor, feat

#3793 fix: 【处理套餐详情关联策略获取方式参数需要调整】--bug=133613253
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal-detail/set-meal-detail.tsx
Labels: project/monitor, fix

#3744 feat: 【前端】自定义事件支持query string表单配置 --story=120554983
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, feat

#3807 fix: text segment font
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
Labels: project/log, fix

#3804 fix: 修复推送审计事情排除免登录接口 --bug=133713473
  bklog/apps/log_audit/instance.py
Labels: project/log, fix

#3805 bugfix: annotation_selector 添加 default 值
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix, notapd

#3815 feat: 告警分派支持cmdb动态分组 --story=120594296
  bkmonitor/alarm_backends/core/cache/assign.py
  bkmonitor/bkmonitor/action/alert_assign.py
Labels: project/monitor, feat

#3816 fix: bool类型查询条件回填显示问题 --bug=133735633
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/webpack.config.js
Labels: project/log, fix

#3818 fix: 监控APM接入日志验收单据修复
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
Labels: project/monitor, fix

#3758 feat: 策略预览维度输入后样式问题 --story=119892681
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/view-dimensions.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/view-dimensions.tsx
Labels: project/monitor, feat

#3823 feat: 告警分派支持cmdb动态分组 --Story=120594296
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
Labels: project/monitor, feat

#3824 fix: json多层展开体验问题修复 --bug=133749909
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/hooks/use-intersection-observer.ts
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-json-root.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/skeleton/retrieve-loader.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/table-column.vue
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation copy.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
Labels: project/log, fix

#3608 fix: 新增修复 tmp 数据过滤导出逻辑
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/constants.py
Labels: project/monitor, fix

#3699 feat: tRPC 调用分析字段下钻、维度分析能力支持 --story=119907153
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/admin.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/migrations/0026_coderedefinedconfigrelation.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/SEARCH_KEY_LIST.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/baseFIlterList.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/apm-caller-line-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/apm-caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-bar-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-pie-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/chart/caller-pie-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-filter.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/common-comp/group-by-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/apm, feat

#3803 feat: APM服务详情自定义指标集成
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/metric/views.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-custom_metric.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-custom_metric.json
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
  bkmonitor/webpack/src/fta-solutions/pages/event/monitor-drag.tsx
  bkmonitor/webpack/src/monitor-api/modules/apm_metric.js
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-var-select/filter-var-select-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-var-select/filter-var-select-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/page-title.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/where-filters/where-filters.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/where-filters/where-filters.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/condition-input.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-custom-graph/apm-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-custom-graph/apm-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, feat

#3647 fix: span检索主机关联支持通过容器 IP 关联 && 观测场景主机关联新增通过关联接口数据关联P --bug=133043809
  bkmonitor/packages/apm_web/handlers/endpoint_handler.py
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/topo/handle/graph_query.py
  bkmonitor/packages/apm_web/topo/handle/relation/define.py
  bkmonitor/packages/apm_web/topo/handle/relation/path.py
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
Labels: project/apm, fix

#3829 fix: 修复展开查询结果样式以及字段展示被截断问题 --bug=133763579
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
Labels: project/log, fix

#3830 fix: 插件采集下发时判断插件是否已经上传到节点管理 --bug=133764673
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
Labels: project/monitor, fix

#3832 feat: github runner 配置调整 --story=120649028
  .github/workflows/codecov.yml
  .github/workflows/label_check.yml
  .github/workflows/unittest.yml
  .github/workflows/web.yml
  bkmonitor/.github/workflows/pytest.yml
Labels: project/log, feat

#3813 fix: 【主机监控】模块级别的端口汇聚报错 --bug=132724891
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
Labels: project/monitor, fix

#3836 fix: 去除日志vue style scoped
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, fix

#3840 feat: 异步下载邮件通知失败优化 --story=120655039
  bklog/apps/log_search/tasks/async_export.py
Labels: project/log, feat

#3841 fix: 策略列表日志指标监控项tooltips展示dom --Bug=133796341
  bkmonitor/webpack/src/monitor-common/utils/xss.ts
  bkmonitor/webpack/src/monitor-pc/mixins/authorityMixin.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/store.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/type.ts
Labels: project/monitor, fix

#3843 fix: 修复拓扑关联无法查询问题 --bug=133784945
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, fix

#3844 fix: 资源查询接口增加参数 --bug=133804509
  bkmonitor/api/unify_query/default.py
Labels: project/apm, fix

#3827 fix: 异步下载bkbase获取总数优化 --bug=133763257
  bklog/apps/log_search/handlers/search/async_export_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0081_logindexset_max_async_count.py
  bklog/apps/log_search/models.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, fix

#3847 feat: 日志快速下载 --story=120657453
  bklog/apps/log_esquery/esquery/esquery.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/async_export_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/tasks/async_export.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#3846 feat: APM自定义指标图表支持INC --Story=120656963
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-custom-graph/apm-custom-graph.tsx
Labels: project/monitor, feat

#3849 fix: 回退日志更改 --bug=133815543
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-log.json
Labels: project/apm, fix

#3833 feat: APM服务详情自定义指标集成-sdk_name查询优化&INC聚合查询添加
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-custom_metric.json
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
Labels: project/apm, feat

#3850 feat: AI 监控接入智能QA --story=120509451
  bkmonitor/api/aidev/default.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, feat

#3852 fix: 基础功能验证问题修复 --bug=133802679
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/retrieve-setting.vue
Labels: project/log, fix

#3845 fix: 调用分析体验问题修复 --story=119907153
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/apm

#3652 feat: 【事件中心】事件中心空间筛选搜索不能将精确匹配的放置到前面 --story=120323536
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
Labels: project/monitor, feat

#3407 feat: 【产品功能】自定义事件详情列表展示优化 --story=119476455
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail.vue
Labels: project/monitor, feat

#3859 feat: grafana 8.3.2 版本升级兼容 --story=120664644
  bklog/bk_dataview/grafana/settings.py
Labels: project/log, feat

#3860 feat: 【产品功能】策略创建成功后刷新当前策略的监控目标列表 --Story=120640829
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#3825 feat: 拨测支持目标自定义标签 --story=120639205
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
  bkmonitor/packages/monitor_web/scene_view/resources/uptime_check.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
  bkmonitor/packages/monitor_web/uptime_check/constants.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, feat

#3861 feat: APM日志及span日志信息加上start_time和end_time --Story=120666740
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
Labels: project/monitor, feat

#3826 feat: 新增 fta 告警数据统计 api
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/utils.py
  bkmonitor/packages/fta_web/alert/views.py
Labels: project/monitor, feat

#3862 feat: APM 日志同步日志平台组件 --Story=120667634
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, feat

#3810 feat: Metadata: 索引轮转默认使用新方式轮转 --story=120628485
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#3820 feat: Metadata: V4链路各个组件新增完整配置属性，调整指标上报,新增component_id属性 --story=120634949
  bkmonitor/metadata/models/bkdata/result_table.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#3835 feat: 日志快速下载功能
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/retrieve-v2/result-comp/export-history.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
Labels: project/log, feat

#3839 fix: 单仪表盘权限适配数据源代理查询接口 --bug=133797893
  bkmonitor/packages/monitor_adapter/grafana/views.py
Labels: project/monitor, fix

#3864 fix: bool类型条件默认值设置为空字符串
  bklog/web/src/store/index.js
Labels: project/log, fix

#3869 fix: 清洗类型为 object 时会导致清洗保存失败 --bug=133854195
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#3817 feat: 【告警策略】【MF】pod重启事件恢复后仍然告警问题 --story=120228013
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/common.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/store.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#3870 fix: 自定义指标查询验收-scope_name配置获取优化
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, fix

#3871 feat: 展示grafanav10升级差异信息 --Story=120677026
  bkmonitor/webpack/src/monitor-pc/constant/constant.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, feat

#3873 feat: 【告警策略】恢复条件文案优化 --Story=120228013
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.tsx
Labels: project/monitor, feat

#3875 feat: 日志快速下载修复
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
Labels: project/log, feat

#3877 fix: 系统事件偶发过快关闭问题处理 --bug=133883721
  bkmonitor/alarm_backends/service/alert/manager/checker/recover.py
Labels: project/monitor, fix

#3814 feat: 单元测试异常用例跟进 --story=120579512
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_by_fakees.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
Labels: project/monitor, feat

#3886 feat: 容器观测场景Service查看网络指标无数据修复 --story=120683783
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_recover.py
Labels: project/monitor, feat

#3883 feat: cmdb动态分组的tooltip优化 --Story=120594296
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
Labels: project/monitor, feat

#3857 fix: 修改task.py中的topo_discover_cron函数，新增功能半小时内新创建的应用每 2 分钟执行一次拓扑发现
  bkmonitor/apm/task/tasks.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, fix

#3882 fix: bool类型显示值为空 --bug=133893587
  bklog/web/src/common/util.js
Labels: project/log, fix

#3887 fix: 字段分析出现行数查询条件调整 --bug=133888051
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix

#3169 feat: sg 环境离岸账号支持邮件通知渠道 --story=119720848
  bkmonitor/api/bk_login/default.py
  bkmonitor/api/cmsi/default.py
  bkmonitor/bkmonitor/utils/send.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#3879 fix: 调用分析字段下钻 & 表格统计相关问题修复 --story=119907153
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/caller-callee-table-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/chart-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/apm
