Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-06, with the labels that each got.

#1985 fix: 事件源选择后配置策略页面预览失败修复 --bug=124992541
  bkmonitor/alarm_backends/core/cache/result_table.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/bkmonitor/strategy/serializers.py
  bkmonitor/constants/action.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, fix

#1986 feat: 支持监控apigw调用 --story=117778584
  bklog/app.yml
  bklog/apps/api/modules/monitor.py
  bklog/config/default.py
  bklog/config/domains.py
  bklog/prod.env.yml
  bklog/stag.env.yml
Labels: project/log, feat

#1990 fix: 【监控】apm视图切换空间出错 --bug=125231985
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#1988 fix: 【监控】上云环境策略编辑白屏 --bug=125202813
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set.tsx
Labels: project/monitor, fix

#1983 feat: 检索历史增加收藏来源的记录 --story=117730336
  bklog/apps/log_search/decorators.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0077_userindexsetsearchhistory_from_favorite_id.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#1987 fix: 修复事件检索部分api重复请求的问题 --bug=125202611
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
Labels: project/monitor, fix

#1992 fix: trace 索引名重复问题 --bug=125208341
  bkmonitor/apm/core/discover/base.py
  bkmonitor/apm/core/discover/precalculation/consul_handler.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/core/handlers/query/origin_trace_query.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/models/datasource.py
Labels: project/apm, fix

#1945 fix: [apm] 修复应用创建失败，然后建同名应用报【应用名称：xxx已被创建】问题 --bug=124819920
  bkmonitor/apm/models/application.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#1995 fix: 【监控】指标图的同轴变化没有做好，框选是一起框选的，但是复位没有一起复位 --bug=124607863
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/performance-view.tsx
Labels: project/monitor, fix

#1609 perf: [apm] list_application interface perf --bug=122870610
  bkmonitor/bkmonitor/iam/drf.py
  bkmonitor/packages/apm_web/meta/views.py
Labels: project/apm, perf

#1998 fix: 保存索引集返回到列表页后，首次查询关键字会被重置 --bug=125197079
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
Labels: project/log, fix

#1997 fix: 检索条件会自动追加非预期的关键字修复 --bug=125197205
  bklog/web/src/views/retrieve/search-comp/condition.tsx
Labels: project/log, fix

#1999 feat: 【产品功能】策略表单提交和取消按钮浮动展示 --story=117798171
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#1996 chore: 点击检索收藏添加收藏ID --story=117730336
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, chore

#2001 chore: 聚类规则弹窗调整 --bug=125056805
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
Labels: project/log, chore

#1921 feat: 采集实例接口调用逻辑优化 --story=117547880
  bklog/apps/api/base.py
  bklog/apps/api/modules/bk_node.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/tests/log_databus/test_collector.py
Labels: project/log, feat

#2005 feat: 添加结果表别名参数 --story=117808797
  bkmonitor/metadata/management/commands/query_storage.py
  bkmonitor/metadata/service/storage_details.py
Labels: project/monitor, feat

#2007 fix: 日志聚类数量排序失效、备注错位 --bug=125290133
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#2006 feat: 优化策略保存时优先级计算耗时 --story=117809476
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, feat

#2010 feat: 日志聚类过滤掉空的signature --story=117759516
  bklog/apps/log_clustering/handlers/pattern.py
Labels: project/log, feat

#2000 fix: profile 查询速度优化 --bug=124895879
  bkmonitor/apm/core/discover/profile/service.py
  bkmonitor/apm/migrations/0040_profileservice_is_large.py
  bkmonitor/apm/models/profile.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/profile/__init__.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/__init__.py
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/diff.py
  bkmonitor/packages/apm_web/profile/diagrams/flamegraph.py
  bkmonitor/packages/apm_web/profile/diagrams/table.py
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
  bkmonitor/packages/apm_web/profile/doris/converter.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/perf/converter.py
  bkmonitor/packages/apm_web/profile/pprof/converter.py
  bkmonitor/packages/apm_web/profile/profileconverter.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/utils.py
Labels: project/apm, fix

#2016 fix: [apm] 修复 trace 检索 span 详情服务跳转到服务页面报错问题 --bug=125252893
  bkmonitor/packages/apm_web/serializers.py
Labels: project/apm, fix

#2011 fix: [apm] 修复应用错误 tab 页左右两侧次数不一致问题 --bug=125252677
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-error.json
Labels: project/apm, fix

#2017 feat: 集成-插件管理页面获取插件列表接口耗时过长 --story=117813162
  bkmonitor/webpack/src/monitor-pc/components/monitor-export/monitor-export.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/plugin-selector.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/plugin-selector.tsx
Labels: project/monitor, feat

#2008 feat: 添加计算平台批量检查授权和批量授权API --story=117809998
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/dataflow/auth.py
  bkmonitor/metadata/models/record_rule/rules.py
Labels: project/monitor, feat

#2019 fix: 修复 profile 查询api 找不到 --bug=125366863
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#2018 fix: 修复查询蓝鲸应用所属集群接口 --bug=125361837
  bkmonitor/api/bk_paas/default.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, fix

#2021 feat: 网关jwt校验中间件兼容内外部 --story=117810058
  bklog/apps/middlewares.py
  bklog/config/default.py
Labels: project/log, feat

#2022 revert: 网关apigw回滚处理
  bklog/apps/log_search/permission.py
  bklog/config/default.py
Labels: project/log, fix, notapd

#2025 feat: Trace列表全屏弹窗改造 --story=117831461
  bkmonitor/webpack/src/trace/pages/main/inquire-content/simple-list/simple-list.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/simple-list/simple-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
Labels: project/apm, feat

#2012 feat: 告警分派代码优化 --story=117822925
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/condition.ts
Labels: project/monitor, feat

#2026 fix: 字段分析选中颜色不匹配修复
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
Labels: project/log, feat

#2023 fix: 【监控】重名校验，是否可以在策略名称失焦时检测 --bug=124607861
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#2029 fix: 【监控】重名校验，是否可以在策略名称失焦时检测 --bug=124607861
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
Labels: project/monitor, fix

#2031 feat: 优化采集编辑重复api请求 --story=117868857
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/variable-table.vue
Labels: project/monitor, feat

#2032 fix: announcements api 重复301问题 --bug=125483063
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#2033 fix: 【APM】span 详情查询日志修改关键词后，上方图表不会再请求接口 --bug=125280913
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
Labels: project/apm, fix

#2034 fix: 采集实例列表展示数据缺失 --bug=125484819
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#2028 fix: [apm] 调整 APM 相关页面响应耗时计算方法 --bug=125410523
  bkmonitor/packages/apm_web/trace/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_application-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-component-default-overview.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-db.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-endpoint.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-overview.json
Labels: project/apm, fix

#2035 fix: 字段分析验收修复
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
Labels: project/log, feat

#2036 feat: 优化策略所属列表展示 --story=117879468
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#2037 fix: 【监控】重名校验，是否可以在策略名称失焦时检测 --bug=124607861
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
Labels: project/monitor, fix

#2038 feat: 字段去重数量接口联调
  bklog/web/src/services/retrieve.js
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#1947 feat: 添加接口，供es更新路由使用 --story=117698222
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/migrations/0182_auto_20240604_1213.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/space/managers.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/__init__.py
  bkmonitor/metadata/resources/es.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/task/config_refresh.py
Labels: project/monitor, feat

#2043 fix: 修复 migration 冲突问题 --bug=125584879
  bkmonitor/metadata/migrations/0183_auto_20240611_1136.py
Labels: project/monitor, fix

#2040 feat: CMDB缓存支持额外指定redis集群配置 --story=117833339
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/alarm_backends/core/cache/result_table.py
  bkmonitor/alarm_backends/core/storage/redis.py
  bkmonitor/alarm_backends/service/fta_action/message_queue/processor.py
Labels: project/monitor, feat

#2045 fix: 【监控】重名校验，是否可以在策略名称失焦时检测 --bug=124607861
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
Labels: project/monitor, fix

#2042 feat: aiops验收单据合并开发
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/performance-view.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/mixins/metricTipsContentMixin.tsx
  bkmonitor/webpack/src/monitor-pc/pages/ai-settings/ai-settings-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.tsx
  bkmonitor/webpack/src/monitor-pc/pages/exception-page/exception-page.vue
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/ai-panel/ai-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/authority.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
Labels: project/monitor, feat

#2015 fix: 【监控】容器监控列表搜索多选时值没有被选上 --bug=125233035
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.tsx
Labels: project/monitor, fix

#1925 fix: 【监控】点击一级应用后，已选中的应用/服务被清空 --bug=123695493
  bkmonitor/webpack/src/trace/pages/profiling/components/application-cascade.tsx
Labels: project/monitor, fix

#2050 fix: 告警详情里字段显示里重复字段 --bug=123827193
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.tsx
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
Labels: project/monitor, fix

#2054 fix: 完成新一轮AiOps的验收单据修复
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-detail/alarm-group-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-detail/alarm-group-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/store.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
Labels: project/monitor, feat

#2055 feat: 告警策略列表告警组数量溢出时展示tooltip
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#2049 feat: 事件检索过滤字段支持自定义输入 --story=117781444
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/filter-condition.tsx
Labels: project/monitor, feat

#2056 feat: APM新增自定义服务自动匹配说明 --story=117943986
  bkmonitor/webpack/src/apm/pages/application/app-configuration/add-service-dialog.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
Labels: project/apm, feat

#2057 bugfix: 修复profile定位任务执行失败问题
  bkmonitor/apm/core/discover/profile/service.py
Labels: project/apm, fix, notapd

#2058 feat: 告警策略详情智能检测增加文档说明
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
Labels: project/monitor, feat

#2053 feat: 采集实例接口中plugin_search调用逻辑调整 --story=117894715
  bklog/apps/api/base.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/tests/log_databus/test_collector.py
Labels: project/log, feat

#2046 fix: 字段分析柱状图范围调整
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
Labels: project/log, feat

#2041 feat: 添加通过bkdata获取指标和维度的API --story=117895840
  bkmonitor/api/bkdata/default.py
  bkmonitor/metadata/config.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/utils/redis_tools.py
Labels: project/monitor, feat

#2030 feat: 添加迁移vm集群命令 --story=117864097
  bkmonitor/metadata/management/commands/switch_vm_cluster.py
  bkmonitor/metadata/tests/commands/conftest.py
  bkmonitor/metadata/tests/commands/test_swith_vm_cluster.py
Labels: project/monitor, feat

#2059 fix: 优化icon classname --bug=125638857
  bklog/config/default.py
  bklog/web/src/static/icons/iconcool.eot
  bklog/web/src/static/icons/iconcool.svg
  bklog/web/src/static/icons/iconcool.ttf
  bklog/web/src/static/icons/iconcool.woff
  bklog/web/src/static/icons/log-icons.css
Labels: project/log, feat

#2067 fix: 修复策略告警组详情编辑按钮展示问题 --bug=124607817
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, fix

#2065 feat: alert模块消费组在kafka抖动后无法正常工作修复 --story=117895970
  bkmonitor/alarm_backends/service/alert/handler.py
  bkmonitor/alarm_backends/service/alert/manager/processor.py
  bkmonitor/metadata/data/k8s_metrics/kube.yaml
  bkmonitor/packages/monitor_web/datalink/resources.py
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Labels: project/monitor, feat

#2069 feat: 通知中心接入免配置环境变量 --story=117982183
  bkmonitor/config/default.py
Labels: project/monitor, feat

#2068 fix: 轮值规则变更后，应用轮值的用户组告警轮班未更新 --bug=125271085
  bkmonitor/bkmonitor/action/serializers/strategy.py
Labels: project/monitor, fix

#2063 feat: 网关jwt校验中间件兼容内外部 --story=117810058
  bklog/apps/middleware/apigw.py
  bklog/config/default.py
Labels: project/log, feat

#2074 fix: 修复无数据告警的维度条件变更，会产生错误的无数据异常点判断的问题
  bkmonitor/alarm_backends/core/control/item.py
  bkmonitor/alarm_backends/service/nodata/scenarios/filters.py
Labels: project/monitor, fix

#2075 fix: 【监控】数据检索promql删除交互异常 --bug=125756302
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#2024 feat: 清理自定义上报/日志关键字空闲索引 --story=117813348
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/migrations/0183_auto_20240607_1638.py
  bkmonitor/metadata/migrations/0184_auto_20240611_1136.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/custom_report/event.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
  bkmonitor/packages/monitor_web/models/custom_report.py
Labels: project/monitor, feat

#2064 fix: 预计算存储建表没有区分存储集群 --bug=125678293
  bkmonitor/apm/core/discover/precalculation/storage.py
Labels: project/apm, fix

#1975 fix: APM 数据治理体验问题修复二 --bug=125009991
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#2062 fix: APM 数据治理发现问题修复 & trace 上报调整 --bug=125290697
  bkmonitor/apm/models/config.py
  bkmonitor/bkmonitor/app.py
  bkmonitor/bkmonitor/trace/__init__.py
  bkmonitor/bkmonitor/trace/django.py
  bkmonitor/bkmonitor/trace/log_trace.py
  bkmonitor/bkmonitor/trace/logging.py
  bkmonitor/bkmonitor/trace/requests.py
  bkmonitor/bkmonitor/trace/threading.py
  bkmonitor/core/drf_resource/base.py
  bkmonitor/core/drf_resource/viewsets.py
  bkmonitor/packages/apm_web/handlers/span_handler.py
  bkmonitor/packages/apm_web/meta/handlers/custom_service_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#2079 fix: 修复拓扑发现内存占用问题 --bug=125839969
  bkmonitor/apm/core/discover/base.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/tests/api/apm/test_topo_handler.py
Labels: project/apm, fix

#2073 feat: eBPF 仪表盘版本升级 & 简化 --story=117923219
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/bk_dataview/settings.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Out-Of-The-Box.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Overview.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL_Monitoring-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Applicaton-Dubbo-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log-Cloud.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
Labels: project/monitor, feat

#2080 fix: 策略编辑/克隆页面无法提交 --bug=125853787
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.scss
Labels: project/monitor, fix

#2083 feat: 告警策略列表与屏蔽列表查询报错优化 --story=117941261
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#2082 fix: 修复查询 resource 路径在未定义 endpoint 下失效 --bug=125876739
  bkmonitor/bkmonitor/trace/django.py
  bkmonitor/core/drf_resource/viewsets.py
Labels: project/apm, fix

#2084 feat: 屏蔽配置缓存优先级提高到告警处理队列中 --story=118041923
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#2086 fix: 修复获取特殊接口失败 --bug=125899541
  bkmonitor/bkmonitor/trace/django.py
Labels: project/apm, fix

#2088 feat: 增加前端全局配置url --story=118047989
  bklog/apps/utils/context_processors.py
  bklog/config/default.py
  bklog/web/webpack.config.js
Labels: project/log, feat

#2087 feat: 关闭指标发现的任务 --story=118047655
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/tests/task/test_custom_report.py
Labels: project/monitor, feat

#2078 fix: 重新计算策略优先级分组 --bug=125782845
  bkmonitor/bkmonitor/migrations/0162_rebuild_strategy_priority_group_key.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, fix

#2089 minor: profile 数据采集仅限web服务
  bkmonitor/bkmonitor/app.py
Labels: project/apm, chore, notapd

#2093 fix: hostIntelligenAnomalyRange增加策略id参数 --bug=124607841
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
Labels: project/monitor, fix

#2094 feat: 维度指标默认去除bk_job和bk_instance --story=118060321
  bkmonitor/metadata/data/k8s_metrics/node.yaml
  bkmonitor/metadata/management/commands/check_k8s_metrics.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#2095 fix: 主机智能检测标识调整 --bug=124607841
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/view-info.tsx
Labels: project/monitor, fix

#2096 fix: 修复告警分派，基于标签的include， exclude过滤调试异常的问题 --bug=125988899
  bkmonitor/bkmonitor/utils/range/conditions.py
Labels: project/monitor, fix

#2099 feat: 增加前端全局配置url --story=118069731
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/webpack/utils.js
Labels: project/monitor, feat

#2098 feat: 优化consul更新异常日志 --story=118069671
  bkmonitor/metadata/utils/consul_tools.py
Labels: project/monitor, feat

#2070 fix: 修复指标发现时间变更标签变动 --bug=125699611
  bkmonitor/metadata/models/custom_report/time_series.py
Labels: project/monitor, fix

#2100 feat: 日志过滤功能开发
  bklog/web/src/components/collection-access/components/log-filter/index.scss
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/validator-input.scss
  bklog/web/src/components/collection-access/components/log-filter/validator-input.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
Labels: project/log, feat

#2101 fix: subject.id empty问题修复
  bklog/apps/log_search/permission.py
  bklog/config/default.py
Labels: project/log, fix, notapd

#2105 fix: 告警详情主机智能检测图表展示所有告警区域数据 --bug=124607841
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/intelligence-scene.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/performance-chart/performance-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, fix

#1989 feat: 【产品功能】仪表盘字段支持后端排序 --story=117686797
  bklog/apps/grafana/handlers/query.py
  bklog/apps/grafana/serializers.py
Labels: project/log, feat

#2106 feat: 插件调试配置模板内置最大运行时长5min --story=118083188
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/datadog_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/exporter_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/jmx_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/pushgateway_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_aix_powerpc/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_aarch64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/script_templates/external_plugins_windows_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
  bkmonitor/packages/monitor_web/plugin/plugin_templates/snmp_templates/external_plugins_linux_x86_64/plugin_name/etc/bkmonitorbeat_debug.yaml.tpl
Labels: project/monitor, feat

#2104 feat: 图表数据查询增加topo维度翻译 --story=117725691
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#2111 feat: 忽略事件中心查询不存在的主机日志索引报错问题 --story=118094591
  bkmonitor/packages/monitor_web/scene_view/resources/log.py
Labels: project/monitor, feat

#2112 fix: 事件中心查询处理记录没传时间报错问题 --bug=126089257
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, fix

#2114 fix: 字段分析图表配置串趋势图配置修复
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.scss
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
Labels: project/log, fix

#2107 fix: 修复 eBPF 采集部署内置仪表盘导入失败的问题 --bug=126047991
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-DNS-Monitoring.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Ingress.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-K8s-Pod.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Out-Of-The-Box.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Redis-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Request-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-SQL-Monitoring-K8S.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Application-Service-List.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Distributed-Tracing.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Event.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Cloud-Host.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-Flow-Log.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod-Map.json
  bkmonitor/packages/monitor_web/grafana/dashboards/apm_ebpf/Network-K8s-Pod.json
Labels: project/monitor, fix

#2113 fix: 邮件订阅单图截图时图表处于动画阶段问题处理 --bug=126090621
  bkmonitor/alarm_backends/service/report/handler.py
Labels: project/monitor, fix

#2097 fix: 故障自愈适配标准运维无权限错误码 --bug=126004333
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, fix

#2109 feat: 适配bkmonitorbeat采集新增状态码 --story=118087389
  bkmonitor/bkmonitor/utils/kubernetes.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/webpack/webpack/utils.js
Labels: project/monitor, feat

#2115 fix: 告警详情视图跳转检索timezone缺失导致页面报错 --bug=126107927
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/monitor-pc/i18n/dayjs.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#2110 feat: 日志过滤功能开发
  bklog/web/src/components/collection-access/components/log-filter/index.scss
  bklog/web/src/components/collection-access/components/log-filter/index.tsx
  bklog/web/src/components/collection-access/components/log-filter/type.ts
  bklog/web/src/components/collection-access/components/log-filter/validator-input.scss
  bklog/web/src/components/collection-access/components/log-filter/validator-input.tsx
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, feat

#2048 feat: 告警事件查询语句格式错误时清空查询语句 --story=117855485
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, feat

#2121 feat: 【免评审】日志 - 过滤功能优化 --story=116120320
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/handlers/collector_scenario/row.py
  bklog/apps/log_databus/handlers/collector_scenario/section.py
  bklog/apps/log_databus/handlers/collector_scenario/utils.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/tests/log_databus/test_collectorhandler.py
Labels: project/log, feat

#2127 feat: 事件中心并发查询上线后优化 --story=118108075
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/serializers.py
Labels: project/monitor, feat

#2103 feat: manage_group_duty_snap周期任务出现死锁 --story=118055769
  bkmonitor/bkmonitor/action/duty_manage.py
  bkmonitor/bkmonitor/migrations/0163_auto_20240619_1130.py
  bkmonitor/bkmonitor/models/strategy.py
Labels: project/monitor, feat

#2102 feat: 优化仪表盘切换显示 --story=118075143
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, feat

#2123 fix: 修复告警策略监控数据设置去掉维度后，无数据的维度不会取消问题 --bug=126004891
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.tsx
Labels: project/monitor, fix

#2124 fix: 克隆操作后检索过滤条件候选列表回填 --bug=126147255
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, fix

#2122 fix: 修复日志聚类备注覆盖问题 --bug=126147495
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#2129 fix: 去除无数据告警主动刷新主机缓存逻辑，避免数据冲突 --bug=126300257
  bkmonitor/alarm_backends/service/nodata/scenarios/base.py
Labels: project/monitor, fix

#2132 fix: 不支持远程采集插件在插件页面出现远程采集配置 --bug=126320023
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-select/config-select.vue
Labels: project/monitor, fix

#2060 perf: [apm] topo_view 接口优化 --bug=125639882
  bkmonitor/packages/apm_web/topo/handle/topo.py
Labels: project/apm, perf

#2128 feat: 添加通过计算平台获取指标的结果表API --story=118139205
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/__init__.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/resources/test_bkdata_link.py
  bkmonitor/metadata/utils/redis_tools.py
Labels: project/monitor, feat

#2134 fix: 采集详情目标机器回填失败 --bug=126346189
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
Labels: project/monitor, fix

#2137 fix: 告警列表未显示空间名 --bug=126357149
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
Labels: project/monitor, fix

#2136 feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/relation-topo.scss
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo-mini-map.scss
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo-mini-map.tsx
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.scss
  bkmonitor/webpack/src/trace/components/relation-topo/service-topo.tsx
  bkmonitor/webpack/src/trace/components/trace-view/typings/trace.ts
  bkmonitor/webpack/src/trace/hooks/vue-flow-hooks.ts
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/main/inquire-content/node-topo.scss
  bkmonitor/webpack/src/trace/pages/main/inquire-content/node-topo.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/graph-tools/graph-tools.scss
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph/graph-tools/graph-tools.tsx
  bkmonitor/webpack/src/trace/plugins/charts/span-list/span-list.scss
  bkmonitor/webpack/src/trace/plugins/charts/span-list/span-list.tsx
  bkmonitor/webpack/src/trace/plugins/charts/span-list/topo-span-list.tsx
  bkmonitor/webpack/src/trace/plugins/typings/span-list.ts
  bkmonitor/webpack/src/trace/store/modules/trace.ts
  bkmonitor/webpack/src/trace/typings/trace.ts
Labels: project/monitor, feat

#2140 fix: APM应用概览时序图跳转检索错误无响应 --bug=126384845
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
Labels: project/apm, fix

#2126 feat: 新增kafka采集功能
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/handlers/collector_scenario/kafka.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#2091 Feat/some opt from 38
  bkmonitor/kernel_api/views/v4/notice_group.py
  bkmonitor/packages/monitor_web/plugin/serializers.py
Labels: project/monitor, feat

#2081 feat: 指标插件自定义参数增加必填选项
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-info/plugin-info.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/components/config-param.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-plugin.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-test.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/tag-switch.vue
Labels: project/monitor, feat

#2108 fix: markdown通知模板渲染字符转义及空行保留 --bug=126039097
  bkmonitor/bkmonitor/utils/template.py
Labels: project/monitor, fix

#2144 fix: 【APM】Trace检索页面，重新选择右上角的时间后，条件被清空了 --bug=125841225
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/apm, fix

#2148 fix: 【监控】策略配置页面因头部通知栏导致样式异常 --bug=126435372
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.scss
Labels: project/monitor, fix

#2149 feat: 索引列表接口增加标签字段注入 --story=118204152
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#2141 fix: 仪表盘切换业务链接访问dashboard ID错误 --bug=126407845
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, fix

#2066 fix: 语法转换异常的 case 处理 --bug=125395021
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#2150 feat: vue父子组件通信$emit统一更改为kebab-case --story=118216927
  bklog/web/eslint.config.js
  bklog/web/src/components/collection-access/components/cluster-table.vue
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/label-target-dialog.vue
  bklog/web/src/components/collection-access/components/step-add/match-label-item.vue
  bklog/web/src/components/collection-access/components/step-add/multiline-reg-dialog.vue
  bklog/web/src/components/collection-access/components/step-add/yaml-editor.vue
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/collection-access/step-capacity.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/components/collection-access/step-issued.vue
  bklog/web/src/components/collection-access/step-masking.tsx
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/global-setting/index.tsx
  bklog/web/src/components/log-ip-selector/log-ip-selector.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/components/nav/log-version.vue
  bklog/web/src/mixins/result-table-mixin.js
Labels: project/log, fix

#2152 feat: 集成-指标插件页面响应速度优化 --story=118013934
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/monitor_web/commons/biz/space_api.py
Labels: project/monitor, feat

#2153 fix: 修复进程采集返回的scene_view_id错误问题
  bkmonitor/packages/monitor_web/scene_view/resources/observation_scene.py
Labels: project/monitor, fix

#2154 feat: vue父子组件通信$emit统一更改为kebab-case --story=118216927
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/views/extract/create/ip-select.vue
  bklog/web/src/views/extract/create/preview-files.vue
  bklog/web/src/views/extract/home/file-date-picker.vue
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/components/intro-panel.vue
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/es-slider.vue
  bklog/web/src/views/manage/log-archive/archive-list/components/archive-slider.vue
  bklog/web/src/views/manage/log-archive/archive-repository/repository-slider.vue
  bklog/web/src/views/manage/log-archive/archive-restore/restore-slider.vue
  bklog/web/src/views/manage/manage-access/components/collection-report-view/index.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-es.vue
  bklog/web/src/views/manage/manage-access/components/usage-details/select-date.vue
  bklog/web/src/views/manage/manage-access/custom-report/components/intro-panel.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/select-date.vue
  bklog/web/src/views/manage/manage-data-link/manage-data-link-conf/config-dialog.vue
  bklog/web/src/views/manage/manage-extract/manage-extract-permission/module-select.vue
  bklog/web/src/views/retrieve/collect/collect-index.tsx
  bklog/web/src/views/retrieve/condition-comp/favorite-card.vue
  bklog/web/src/views/retrieve/condition-comp/favorite-popper.vue
  bklog/web/src/views/retrieve/condition-comp/field-filter-popover.vue
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/condition-comp/field-item.vue
  bklog/web/src/views/retrieve/condition-comp/filter-condition-item.vue
  bklog/web/src/views/retrieve/condition-comp/select-date.vue
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/condition-comp/select-indexSet.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-event-popover.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/empty-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
  bklog/web/src/views/retrieve/setting-modal/field-extraction.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
  bklog/web/src/views/retrieve/setting-modal/log-cluster.vue
  bklog/web/src/views/retrieve/setting-modal/rule-table.vue
Labels: project/log, feat

#2155 feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/components/trace-view/utils/date.tsx
  bkmonitor/webpack/src/trace/hooks/vue-flow-hooks.ts
  bkmonitor/webpack/src/trace/plugins/charts/span-list/span-list.scss
  bkmonitor/webpack/src/trace/plugins/charts/span-list/span-list.tsx
Labels: project/monitor, feat

#2157 feat: 日志聚类异常日志梳理 --story=118000999
  bklog/apps/log_clustering/tasks/sync_pattern.py
Labels: project/log, feat

#2159 feat: 优化图表几天的时间范围的X轴展示 --story=118006160
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/axis.ts
Labels: project/monitor, feat

#2161 fix: 字段分析验收修复
  bklog/web/src/common/util.js
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/field-filter-comp/agg-chart.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-analysis.tsx
  bklog/web/src/views/retrieve/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
Labels: project/log, fix

#2160 fix: 修复日志聚类分组时责任人/备注编辑错位问题 --bug=126524335
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#2163 fix: 【监控】监控版本日志更新 --bug=126424905
  bkmonitor/version_logs_md/en/V3.9.0_20240630.md
  bkmonitor/version_logs_md/zh-cn/V3.9.0_20240630.md
Labels: project/monitor, fix

#2131 feat: 轮值结束时间逻辑完善 --story=118119447
  bkmonitor/alarm_backends/tests/service/fta_action/duty/conftest.py
  bkmonitor/alarm_backends/tests/service/fta_action/duty/test_duty_plan.py
  bkmonitor/alarm_backends/tests/service/fta_action/duty/test_end_time.py
  bkmonitor/bkmonitor/action/duty_manage.py
  bkmonitor/bkmonitor/action/serializers/strategy.py
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/bkmonitor/utils/time_tools.py
  bkmonitor/packages/monitor_web/user_group/resources.py
  bkmonitor/tests/web/fta_actions/test_user_group.py
Labels: project/monitor, feat

#2164 feat: 移除已经废弃的redis key --story=118235299
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/management/commands/check_space_redis_data.py
  bkmonitor/metadata/management/commands/switch_query_vm_space.py
  bkmonitor/metadata/models/space/space_redis.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/commands/test_query_vm_space.py
  bkmonitor/metadata/tests/space/test_space.py
  bkmonitor/metadata/tests/task/conftest.py
Labels: project/monitor, feat

#2142 fix: bcs资源数据同步兼容没有pod_name的情况 --bug=126420175
  bkmonitor/bkmonitor/models/bcs_base.py
Labels: project/monitor, fix

#2162 feat: 采集列表采集状态添加可过滤操作 --story=117875154
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/mixins/collected-items-mixin.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
Labels: project/log, feat

#2166 chore: 编辑时，开放切换日志类型 --bug=111727531
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, chore

#2167 feat: 【专项】Trace 检索—新拓扑图支持
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.scss
  bkmonitor/webpack/src/trace/components/relation-topo/edge-label-custom.tsx
  bkmonitor/webpack/src/trace/hooks/vue-flow-hooks.ts
  bkmonitor/webpack/src/trace/store/modules/trace.ts
Labels: project/monitor, feat

#2165 feat: 更新linter工具配置 --story=118240736
  bkmonitor/webpack/eslint.config.js
Labels: project/monitor, perf

#1991 fix: 【监控】容器监控搜索字段字符重合 --bug=125214897
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
Labels: project/monitor, fix

#2170 fix: 自定义事件聚合sum报错问题 --bug=126560487
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix
