Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-04, with the labels that each got.

#1444 fix: 【监控】采集状态视图显示错乱】--bug=121912331
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/link-status-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/link-status-chart.tsx
Labels: project/monitor, fix

#1523 fix: 告警业务汇总通知监控目标需要选择代表告警 --bug=122329031
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/bkmonitor/documents/alert.py
Labels: project/monitor, fix

#1518 fix: 修复没有可展示的内置字段时，未隐藏展开更多按钮问题 --bug=122262735
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#1529 fix: 聚类pattern在某些情 况下拼接异常 --bug=122349133
  bklog/apps/log_clustering/tasks/sync_pattern.py
Labels: project/log, fix

#1530 feat: 告警骨架屏
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/event-table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/event-table-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/static/scss/mixin.scss
Labels: project/monitor, feat

#1532 fix: 开启自动发现插件数据接入计算平台数据源失败问题修复 --bug=122189713
  bkmonitor/bkmonitor/utils/common_utils.py
Labels: project/monitor, fix

#1528 feat: 采集过滤功能增强
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/collector_scenario/row.py
  bklog/apps/log_databus/handlers/collector_scenario/section.py
  bklog/apps/log_databus/handlers/collector_scenario/syslog.py
  bklog/apps/log_databus/handlers/collector_scenario/utils.py
  bklog/apps/log_databus/handlers/collector_scenario/wineventlog.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/constants.py
  bklog/apps/tests/log_databus/test_collector.py
  bklog/apps/tests/log_databus/test_collectorhandler.py
  bklog/apps/tests/log_databus/test_etl.py
  bklog/apps/utils/__init__.py
Labels: project/log, feat, notapd

#1510 feat: 日志清洗支持分隔符 --story=116721310
  bklog/apps/log_databus/handlers/etl_storage/utils/transfer.py
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#1526 feat: fronted dependency @zijiaone
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, feat

#1535 fix: 联合查询回归验收修复
  bklog/web/src/components/empty-status/index.vue
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/condition-comp/select-index-set-input.tsx
  bklog/web/src/views/retrieve/condition-comp/select-index-set.scss
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
Labels: project/log, fix

#1536 fix: 联合检索报错提示文案调整
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#1525 feat: [apm] add QPS config --story=116822767
  bkmonitor/apm/resources.py
Labels: project/apm, feat

#1540 fix: 组件库升级导致部分组件样式错误 --bug=122404617
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-container.tsx
  bkmonitor/webpack/src/monitor-ui/package.json
Labels: project/monitor, fix

#1542 feat: 时间字段清洗支持纳秒时间精度 #1010158081116846471
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#1547 feat: 完成轮值和告警屏蔽的table骨架屏展示
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.tsx
  bkmonitor/webpack/src/trace/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/trace/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#1548 feat: 插件依赖文件上传
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-plugin.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/upload/upload.vue
Labels: project/monitor, feat

#1533 feat: 后台新增部分告警相关接口 --story=116827492
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v4/alert.py
Labels: project/monitor, feat

#1544 feat: 新版本日期选择器 --story=116854611
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/history-share-manage.tsx
  bkmonitor/webpack/src/monitor-pc/components/time-range/time-range.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/components/time-range/time-range.tsx
  bkmonitor/webpack/src/trace/components/time-range/utils.ts
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#1551 fix: 轮值及屏蔽列表页排序问题修复 --bug=122617520
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
Labels: project/monitor, fix

#1402 feat: 【产品功能】编辑数据采集没有回填已有的名称 --story=116523298
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
Labels: project/monitor, feat

#1524 fix: 【监控】条件值选框中，搜索出来的结果，移动鼠标进入结果区域，会自动刷新为初始态 --bug=122078479
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-input.tsx
Labels: project/monitor, fix

#1552 feat: 调整套餐调试默认示例变量 --story=116888695
  bkmonitor/constants/action.py
  bkmonitor/packages/fta_web/action/resources/frontend_resources.py
  bkmonitor/tests/web/fta_actions/test_action_instance.py
  scripts/sensitive_info_check/ip_white_list.dat
Labels: project/monitor, feat

#1554 fix: 修复fta service-worker报错 --bug=122676115
  bkmonitor/webpack/src/fta-solutions/index.ts
Labels: project/monitor, fix

#1543 fix: 日志聚类责任人未选任何选项时点击确认传参异常修复 --bug=122506613
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#1558 fix: 修复没有page_title没有生效问题 --bug=122687339
  bkmonitor/webpack/src/monitor-pc/i18n/i18n.ts
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
Labels: project/monitor, fix

#1559 feat: k8s新增部分内置指标 --story=116903665
  bkmonitor/metadata/data/k8s_metrics/node.yaml
Labels: project/monitor, feat

#1561 fix: 优化内置kubernetes集群资源-Pod仪表盘 --bug=122690619
  bkmonitor/packages/monitor_web/grafana/dashboards/kubernetes集群资源-Pod.json
Labels: project/monitor, fix

#1563 Revert "feat: 时间字段清洗支持纳秒时间精度"
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/apps/log_search/constants.py
Labels: notapd

#1567 fix: 部分告警字段在第一次通知时更新不及时 --bug=122718065
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
Labels: project/monitor, fix

#1568 feat: 部分前端代码优化
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/components/collection-access/step-storage.vue
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/text-segmentation.scss
  bklog/web/src/views/retrieve/result-comp/text-segmentation.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/tsconfig.json
  bklog/web/webpack.config.js
Labels: project/log, feat

#1570 fix: 部分图表stack展示异常 --bug=122722349
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series-forecast/time-series-forecast.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/types/monitor-echarts.ts
Labels: project/monitor, fix

#1488 feat: 自监控页面elmenet转换为bkmagicbox --story=116696349
  bkmonitor/webpack/babel.config.js
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/common/import-elment-ui.js
  bkmonitor/webpack/src/monitor-pc/email-index.js
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/healthz-new/healthz-alarm.scss
  bkmonitor/webpack/src/monitor-pc/pages/healthz-new/healthz-alarm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/healthz/authority-map.ts
  bkmonitor/webpack/src/monitor-pc/pages/healthz/common/healthz-common-popup-window.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/common/healthz-component-tooltip.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/common/healthz-saas-component-tooltip.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/common/healthz-saas-popup-window.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/config.json
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-backend/healthz-backend-collector.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-backend/healthz-backend-component.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-backend/healthz-backend-dataflow.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-backend/healthz-backend-metrics.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-backend/healthz-backend.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-error.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-header.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-saas/healthz-saas-component.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz-saas/healthz-saas.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/healthz.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/message-mixin.js
  bkmonitor/webpack/src/monitor-pc/pages/healthz/panel.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz/store/healthz/store.js
  bkmonitor/webpack/src/monitor-pc/pages/healthz/style/healthz.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/common/mixins.scss
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
  bkmonitor/webpack/src/monitor-pc/static/css/old-global.scss
  bkmonitor/webpack/src/monitor-pc/static/images/png/error-icon.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-expand-hover.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-expand.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-group-description.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-groupname.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-permission-setting.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-personnel-allocation.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-reduce-hover.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-reduce.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/icon-volume.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/mail.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/phone.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/rtx.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/sms.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/warning-icon.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/wechat.png
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, feat

#1545 fix: 插件参数不填，命令行参数下发时出现参数错位问题 --bug=122329495
  bkmonitor/packages/monitor_web/plugin/manager/exporter.py
  bkmonitor/packages/monitor_web/plugin/manager/script.py
Labels: project/monitor, fix

#1522 feat: 拨测任务配置参数支持编码 --story=116364837
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, feat

#1572 fix: podmonitor/servicemonitor采集状态显示异常 --bug=122741451
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, fix

#1565 fix: 修复查询链路命令 --bug=122692107
  bkmonitor/metadata/service/storage_details.py
  bkmonitor/metadata/tests/commands/conftest.py
  bkmonitor/metadata/tests/commands/test_query_storage.py
Labels: project/monitor, fix

#1575 feat: bcs cc api 全量项目列表接口替换 --story=116925271
  bklog/apps/api/modules/bcs.py
  bklog/apps/api/modules/bcs_cc.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/tests/log_databus/test_collector.py
Labels: project/log, feat

#1576 feat: 过滤条件支持‘且’检索
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/search-comp/condition.scss
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#1579 fix: 修复切换汇聚周期时检索结果异常问题 --bug=122769311
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
Labels: project/log, fix

#1581 fix: 条件表达式ply解析不支持含点号key --bug=122771151
  bkmonitor/bkmonitor/as_code/ply/conditions/__init__.py
Labels: project/monitor, fix

#1471 【APM】修复 service_query_exception 接口返回url链接 --bug=122121650
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, fix

#1472 perf: [apm] error_list interface perf --bug=122121978
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, perf

#1571 perf: [apm] endpoints_list, service_list interface perf --bug=122723288
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, perf

#1502 perf: [apm] service_list_async interface perf --bug=122218836
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/handlers/component_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, perf

#1553 fix: 增加预计算标准字段 --bug=122643285
  bkmonitor/constants/apm.py
Labels: project/apm, fix

#1582 fix: 修复告警后台单测问题&修复单测流水线 --bug=122765117
  .pre-commit-config.yaml
  bkmonitor/alarm_backends/tests/service/access/event/config.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_close.py
  bkmonitor/alarm_backends/tests/service/converge/test_shield.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
  bkmonitor/scripts/unittest/parse_test_output.py
Labels: project/monitor, fix

#1588 fix: 修复profile 文件上传无法查询到数据 --bug=122802253
  bkmonitor/packages/apm_web/profile/collector.py
  bkmonitor/packages/apm_web/profile/file_handler.py
Labels: project/apm, fix

#1584 fix: 修复过滤条件点击清空后还携带检索条件问题
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/search-comp/condition.tsx
Labels: project/log, fix

#1590 fix: 采集器up指标值错误导致采集状态显示异常 --bug=122804539
  bkmonitor/api/kubernetes/default.py
  bkmonitor/bkmonitor/utils/kubernetes.py
Labels: project/monitor, fix

#1589 feat: 时间字段清洗支持纳秒时间精度 --story=116846471
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/es/indices_optimizer_context_tail.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/dev.env.yml
  bklog/web/src/common/util.js
  bklog/web/src/components/common/time-formatter.vue
  bklog/web/src/mixins/result-table-mixin.js
  bklog/web/src/store/constant.js
  bklog/web/src/views/retrieve/condition-comp/field-filter-popover.vue
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
Labels: project/log, feat

#1555 feat: UserGroup接口性能优化 --story=116379225
  bkmonitor/bkmonitor/action/serializers/strategy.py
  bkmonitor/bkmonitor/migrations/0160_alter_dutyplan_finished_time.py
  bkmonitor/bkmonitor/models/strategy.py
Labels: project/monitor, feat

#1591 fix: 修复检索字段过滤后无可显示的隐藏字段时未隐藏展开全部按钮 --bug=122806207
  bklog/web/src/views/retrieve/condition-comp/field-filter.vue
Labels: project/log, fix

#1593 feat: 检索条件单行内的查询条件可以自行指定或/与关系 --story=116571588
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/constants.py
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/search-comp/condition.scss
  bklog/web/src/views/retrieve/search-comp/condition.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#1587 fix: 主机详情内网IP跳转cmdb链接更新 --bug=122797767
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
Labels: project/monitor, fix

#1595 fix: [apm] 修复 topo node 指标顺序不一致问题 --bug=122816240
  bkmonitor/packages/apm_web/topo/handle/topo.py
Labels: project/apm, fix

#1596 fix: 修复仪表盘切换业务一直loading问题 --bug=122818033
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#1537 feat: GSE API 接口迁移 --story=116645947
  bklog/apps/api/modules/bk_node.py
  bklog/apps/api/modules/gse.py
  bklog/apps/log_search/handlers/biz.py
  bklog/apps/tests/log_search/test_biz.py
  bklog/apps/utils/ipchooser.py
  bklog/bkm_ipchooser/handlers/dynamic_group_handler.py
  bklog/bkm_ipchooser/handlers/host_handler.py
  bklog/bkm_ipchooser/handlers/template_handler.py
  bklog/bkm_ipchooser/handlers/topo_handler.py
  bklog/bkm_ipchooser/tools/gse_tool.py
Labels: project/log, feat

#1597 fix: 修复告警后台单元测试遗留问题-通知执行 --bug=122819633
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
Labels: project/monitor, fix

#1578 feat: 升级监控构建工具 --story=116937036
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/pnpm-workspace.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/monitor-pc/components/promql-editor/promql-editor.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/map/china.js
Labels: project/monitor, feat

#1598 fix: 联合查询问题修复
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/apps/log_measure/apps.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/bk_monitor/api/client.py
  bklog/config/default.py
Labels: project/log, fix, notapd

#1599 fix: 修复集群切换索引集没有同步的问题 --bug=122756613
  bkmonitor/api/log_search/default.py
  bkmonitor/apm/models/datasource.py
Labels: project/apm, fix

#1601 fix: 修复部分日志索引集字段导致页面渲染白屏 --bug=122846071
  bklog/web/src/mixins/result-table-mixin.js
Labels: project/log, fix

#1600 fix: 联合查询功能合入主分支后的问题修复
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.tsx
Labels: project/log, fix

#1606 minor: 日志平台上报的apm数据，在resource下补充上net.host.ip字段
  bklog/apps/log_trace/trace/__init__.py
  bklog/apps/utils/__init__.py
Labels: project/log, feat

#1603 feat: 运营统计细化组织架构维度 --story=116828260
  bklog/apps/api/modules/bk_login.py
  bklog/apps/log_commons/views.py
Labels: project/log, feat

#1557 feat: 骨架屏开发
  bkmonitor/webpack/src/fta-solutions/pages/event/event.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/integrated.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-card-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-card-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-filter-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/static/scss/global.scss
  bkmonitor/webpack/src/fta-solutions/static/scss/mixin.scss
  bkmonitor/webpack/src/monitor-pc/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-manager.vue
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/skeleton/task-card-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/skeleton/task-card-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task.tsx
  bkmonitor/webpack/src/monitor-pc/static/css/mixin.scss
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts.vue
Labels: project/monitor, feat

#1611 feat: ESQUERY_WHITE_LIST添加鲸眼应用APP_CODE
  bklog/config/default.py
Labels: project/log, feat, notapd

#1618 fix: 修复策略克隆功能页面新增告警组返回没有回填的问题 --bug=122831627
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
Labels: project/monitor, fix

#1617 fix: 策略标签展示溢出等问题 --bug=122853767
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/base-config/base-config.tsx
Labels: project/monitor, fix

#1614 chore: 日志采集项编辑时, 采集项英文名不进行长度超50的校验
  bklog/web/src/components/collection-access/step-add.vue
Labels: project/log, chore

#1620 fix: 主机对象获取到后，必定补上bk_host_id。 后续模块基于bk_host_id即可确认唯一主机 --bug=122848257
  bkmonitor/alarm_backends/core/alert/adapter.py
  bkmonitor/alarm_backends/service/access/data/fullers.py
  bkmonitor/alarm_backends/service/alert/enricher/cmdb.py
Labels: project/monitor, fix

#1549 【WIP】feat: exporter插件支持额外文件上传能力 #1010158081116615341
  bkmonitor/packages/monitor_web/plugin/manager/__init__.py
  bkmonitor/packages/monitor_web/plugin/manager/exporter.py
  bkmonitor/packages/monitor_web/plugin/resources.py
  bkmonitor/requirements.txt
Labels: project/monitor, feat

#1419 feat: 新增运营统计相关命令 --story=116540958
  bkmonitor/bkmonitor/management/commands/run_cmd.py
  bkmonitor/bkmonitor/management/commands/run_test.py
Labels: project/monitor, feat

#1628 feat: 针对gse接口支持sasl --story=117005938
  bkmonitor/api/gse/default.py
  bkmonitor/metadata/config.py
  bkmonitor/metadata/management/commands/sync_zk_config.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#1633 fix: 线上问题处理 --bug=123008119
  bklog/apps/api/modules/bcs.py
  bklog/apps/api/modules/bk_node.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_search/serializers.py
Labels: project/log, fix

#1635 fix: 快速切换索引集时，字段列表会加载为上一个索引的字段 --bug=122755403
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#1636 fix: 升级组件库导致trace弹窗错误 --bug=123026729
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#1637 Revert "chore: 日志检索表格默认展示改为原始日志"
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: notapd

#1639 chore: 检索首页表格等宽字体调整 --bug=123039593
  bklog/web/src/App.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, chore

#1641 fix: po外部版接口权限豁免 --bug=123045815
  bklog/apps/constants.py
Labels: project/log, fix

#1643 fix: 修复查询语句输入框值更新延时导致传参错误问题 --bug=123046821
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.tsx
Labels: project/log, fix

#1644 fix: 优化获取索引查询历史的接口性能 --bug=123052575
  bklog/apps/log_search/migrations/0074_userindexsetsearchhistory_log_search__created_04cea8_idx.py
  bklog/apps/log_search/models.py
Labels: project/log, fix

#1621 feat: 接口性能优化 --story=116918306
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/models.py
  bklog/apps/tests/log_search/test_search.py
Labels: project/log, feat

#1647 feat: 针对制定任务添加超时时间 --story=117044796
  bkmonitor/metadata/task/sync_space.py
Labels: project/monitor, feat

#1648 fix: 修复非业务创建 profile 数据源 --bug=123072005
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/models/doris.py
Labels: project/apm, fix

#1646 fix: apm错误信息页码展示问题 --bug=123067743
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/message-chart/message-chart.tsx
Labels: project/monitor, fix

#1649 fix: 检索趋势图分段请求错误轮询错误捕获 --bug=123074283
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
Labels: project/log, fix

#1651 chore: 检索首页kv列表等宽字体调整 --bug=123039593
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
Labels: project/log, chore

#1654 feat: ESB注册文件添加索引集脱敏状态API
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat, notapd

#1656 feat: ajax请求过期登录弹窗改造 --story=117054246
  bklog/templates/account/login_success.html
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/App.vue
  bklog/web/src/api/index.js
Labels: project/log, feat

#1659 fix: 修复syslog过滤功能
  bklog/apps/log_databus/handlers/collector_scenario/syslog.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix, notapd

#1661 fix: 计算平台查询切换unify-query问题修复 --bug=122848257
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#1662 fix: 多指标查询metric alias 错误 --bug=123116341
  bkmonitor/webpack/src/monitor-pc/common/constant.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
Labels: project/monitor, fix

#1657 feat: 【日志清洗】支持从管理端动态配置时间格式 --story=116998331
  bklog/apps/log_databus/admin.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/migrations/0040_auto_20240419_0954.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_search/constants.py
Labels: project/log, feat

#1665 fix: 修复新建采集项清洗未选模式出现弹窗问题 --bug=123133557
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/language/lang/en/content.ts
Labels: project/log, fix

#1658 feat: ajax请求过期登录弹窗改造 --story=117054246 (#1656)
  bklog/templates/account/login_success.html
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/App.vue
  bklog/web/src/api/index.js
Labels: project/log, feat

#1663 chore: 原始日志时间宽度调整 上下文、实时日志字体调整 --bug=123035959
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
Labels: project/log, chore

#1673 feat: 优化日志前端构建 --story=117078096
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/common/util.js
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/components/time-range/time-range.tsx
  bklog/web/src/main.js
  bklog/web/src/views/retrieve/condition-comp/favorite-card.vue
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/webpack.config.js
Labels: project/log, feat

#1671 fix: 修复创建采集项参数校验问题 --bug=123142235
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#1670 fix: 【监控】指标选择器去除默认勾选 --bug=123140143
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#1675 feat: 针对云桌面主机指标添加两个对应维度 --story=117088249
  bkmonitor/metadata/management/commands/add_bkci_system_dimensions.py
  bkmonitor/metadata/tests/commands/test_add_bkci_system_dimensions.py
Labels: project/monitor, feat

#1631 feat: 【产品功能】告警屏蔽列表页面增加更新人字段 --story=116939287
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
Labels: project/monitor, feat

#1668 feat: 告警策略新增/编辑/详情页面告警组接口调整为异步，并增加骨架屏展示 --story=117066862
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#1660 feat: 策略详情指标表名字段增加复制功能 --story=117018264
  bkmonitor/webpack/src/monitor-pc/mixins/metricTipsContentMixinTsx.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/metric-list-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/metric-list-item.tsx
Labels: project/monitor, feat

#1676 feat: 数据检索表格时间列增加升降序排列 --story=117089716
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, feat

#1330 perf: --story=116364103 降低自定义上报 token 配置下发延迟
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/task/custom_report.py
Labels: project/monitor, perf

#1627 feat: 链路健康内置策略，在采集删除后，需要同步删除对应策略和分派规则 --story=116629395
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/strategies/loader/datalink_loader.py
  bkmonitor/packages/monitor_web/strategies/user_groups.py
  bkmonitor/packages/monitor_web/tests/strategies/loader/test_datalink_loader.py
Labels: project/monitor, feat

#1642 feat: search_user_groups接口功能扩展 --story=117025142
  bkmonitor/bkmonitor/action/serializers/strategy.py
  bkmonitor/core/errors/user_group.py
  bkmonitor/kernel_api/views/v4/notice_group.py
Labels: project/monitor, feat

#1677 feat:更新ESB注册配置文件
  bklog/docs/apidocs/bk_log.yaml
Labels: project/log, feat, notapd

#862 fix: aiops&主机场景智能检测
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/view-info.tsx
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/typings.ts
  bkmonitor/webpack/src/monitor-pc/constant/constant.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-metric-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/aiops-monitor-metric-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data-empty.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/type.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/multiple-metric-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/multiple-metric-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-view.tsx
Labels: project/monitor, feat

#1678 fix: 策略详情表达式没有展示 --bug=123238745
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/components/metric-list-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
Labels: project/monitor, fix

#1681 perf: 优化es生命周期管理异常日志 --story=117110670
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#1653 feat: js接口函数生成最后一行增加逗号 --story=117052369
  bkmonitor/core/drf_resource/management/js_api_generator.py
Labels: project/monitor, feat

#1683 feat: 新版登入 --story=117110615
  bkmonitor/bkmonitor/templates/account/login_success.html
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-api/axios/axios.js
  bkmonitor/webpack/src/monitor-pc/common/global-login.ts
  bkmonitor/webpack/src/monitor-pc/common/global.js
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#1679 fix: bkdata查询切换unify-query，豁免多指标时，高级算法未同步豁免的问题
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/packages/monitor_web/models/uptime_check.py
Labels: project/monitor, fix

#1684 fix: 修复图表菜单样式错误 --bug=123253997
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title-menu.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title-menu.tsx
Labels: project/monitor, fix

#1686 fix: 计算平台查询切换unify-query问题修复 --bug=122848257
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#1674 feat: 无数据告警针对实时变更的目标，告警未丰富关联信息的修复 --story=117075736
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/alarm_backends/core/cache/cmdb/business.py
  bkmonitor/alarm_backends/service/nodata/scenarios/base.py
Labels: project/monitor, feat

#1682 feat: APM健康情况梳理，NoAccessException优化，改为日志处理 --story=117111093
  bkmonitor/packages/monitor_web/aiops/host_monitor/resources.py
Labels: project/monitor, feat, perf

#1692 feat: 删除多余依赖 --story=117118799
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/common/global.js
  bklog/web/src/main.js
Labels: project/log, feat

#1694 fix: monaco-editor编辑器不能粘贴 --bug=123272157
  bkmonitor/templates/account/login_success.html
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, fix

#1690 feat: 【产品功能】希望插件输入框这里可以全屏 --story=116964075
  bkmonitor/webpack/src/monitor-pc/components/editors/monaco-editor.vue
Labels: feat

#1691 fix: 【蓝鲸监控】事件详情日志tab无数据图标居中显示 --bug=120840667
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/log-info.scss
Labels: project/monitor, fix

#1695 fix: 【监控】promql编辑器主题样式冲突 --bug=123283310
  bkmonitor/webpack/src/monitor-pc/components/editors/monaco-editor.vue
  bkmonitor/webpack/src/monitor-pc/components/promql-editor/promql-editor.tsx
Labels: project/monitor, fix

#1696 fix: 修复首页弹框报错的问题 --bug=123287465
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/monitor_web/aiops/host_monitor/resources.py
Labels: project/monitor, fix

#1519 feat: 大数据量策略拉取优化 --story=116791520
  bkmonitor/alarm_backends/core/cache/key.py
  bkmonitor/alarm_backends/service/access/data/__init__.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/access/tasks.py
  bkmonitor/alarm_backends/tests/service/access/data/config.py
  bkmonitor/alarm_backends/tests/service/access/data/test_processor.py
  bkmonitor/alarm_backends/tests/service/access/event/config.py
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_close.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#1699 fix: 指标选择器优化 --bug=123307212
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#1703 feat: 仪表盘变量获取接口支持变量全选能力 --story=117143010
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Labels: project/monitor, feat

#1705 fix: redis发生非预期路由导致通知收敛失效 --bug=123356949
  bkmonitor/alarm_backends/service/converge/converge_manger.py
  bkmonitor/alarm_backends/service/converge/dimension.py
  bkmonitor/alarm_backends/service/fta_action/collect/processor.py
Labels: project/monitor, fix

#1701 fix: 修复单元测试报错 --bug=123333717
  bkmonitor/alarm_backends/tests/service/alert/manager/checker/test_close.py
  bkmonitor/alarm_backends/tests/service/detect/test_multivariate_anomaly_detection.py
Labels: project/monitor, fix

#1698 feat: 数据平台指标支持多指标计算 --story=117131072
  bkmonitor/webpack/eslint.config.js
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
Labels: project/monitor, feat

#1708 feat: 单元测试调整 --story=117156689
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/alarm_backends/tests/service/access/data/test_processor.py
Labels: project/monitor, feat

#1669 fix: 优化邮件订阅调度发送逻辑 --bug=123053233
  bkmonitor/alarm_backends/service/new_report/tasks.py
  bkmonitor/bkmonitor/report/utils.py
  bkmonitor/templates/new_report/clustering/clustering_wechat.jinja
  bkmonitor/templates/new_report/clustering/clustering_wechat_en.jinja
Labels: project/log, fix

#1710 feat: 登陆页面跳转弹窗逻辑优化 --story=117159778
  bklog/config/default.py
Labels: project/log, feat

#1713 feat: 维度下钻调整，当指标不存在时，无需进行维度下钻 --story=117164728
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, feat

#1714 fix: BKCHAT系列变量拼写错误 --bug=123406735
  bkmonitor/api/bkchat/default.py
  bkmonitor/config/default.py
Labels: project/monitor, fix

#1715 fix: ascode条件表达式生成兼容异常值 --bug=123411705
  bkmonitor/bkmonitor/as_code/utils.py
Labels: project/monitor, fix

#1624 fix: profiling一期验收问题修复 --bug=122893413
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/discover/profile/base.py
  bkmonitor/apm/core/handlers/profile/query.py
  bkmonitor/apm/migrations/0038_profiledatasource_profile_bk_biz_id.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/models/doris.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/callgraph.py
  bkmonitor/packages/apm_web/profile/diagrams/diff.py
  bkmonitor/packages/apm_web/profile/diagrams/table.py
  bkmonitor/packages/apm_web/profile/diagrams/tendency.py
  bkmonitor/packages/apm_web/profile/doris/converter.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/trace/diagram/base.py
  bkmonitor/packages/apm_web/utils.py
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.scss
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/filter-select/filter-select.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/filter-select/filter-select.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/frame-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/use-flame.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/topo-graph/use-topo.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/profiling-graph.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/page-header.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.scss
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/plugins/base-echart.scss
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/flame-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/apm, fix

#1717 feat: 调整拨测任务名称长度上限 --story=117180477
  bkmonitor/packages/monitor/migrations/0103_alter_uptimechecktask_name.py
  bkmonitor/packages/monitor/models/models.py
Labels: project/monitor, feat

#1716 feat: 事件中心骨架屏 --story=116415917
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/static/scss/global.scss
  bkmonitor/webpack/src/fta-solutions/static/scss/mixin.scss
Labels: project/monitor, feat

#1718 feat: BCS索引集注入内置标签 --story=117062204
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, feat

#1307 feat: bkmonitorbeat指标过滤黑白名单 --story=116109250
  bkmonitor/packages/monitor_web/collecting/resources/backend_resources.py
  bkmonitor/packages/monitor_web/collecting/views.py
Labels: project/monitor, feat

#1501 feat: 存量实时监控策略切换 --story=116292554
  bkmonitor/bkmonitor/migrations/0160_migrate_real_time_strategy.py
Labels: project/monitor, feat

#1723 fix: 【监控】日志指标策略检索跳转出错 --bug=123473271
  bkmonitor/webpack/src/monitor-pc/utils/index.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series-forecast/time-series-forecast.tsx
  bkmonitor/webpack/src/trace/plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/trace/plugins/utls/menu.ts
Labels: project/monitor, fix

#1712 fix: 【监控】主机详情左侧区域切换视角交互优化 --bug=123368724
  bkmonitor/webpack/src/monitor-pc/components/resize-layout/resize-layout.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
Labels: project/monitor, fix

#1725 fix: 相同索引集的收藏项之间切换查询参数未更新导致检索失效 --bug=123484841
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#1724 feat: 检索页面联合查询模式下路由参数只保留unionList，不需要索引集ID参数 --story=117200446
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, feat

#1731 Revert "feat: 检索页面联合查询模式下路由参数只保留unionList，不需要索引集ID参数 --story=117200446"
  bklog/web/src/views/retrieve/condition-comp/select-index-set.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
Labels: project/log, fix

#1728 feat: 配置管理骨架屏改造 --story=116415933
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal.tsx
  bkmonitor/webpack/src/monitor-pc/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/skeleton/filter-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/skeleton/filter-list.tsx
  bkmonitor/webpack/src/trace/components/skeleton/table-skeleton.scss
  bkmonitor/webpack/src/trace/components/skeleton/table-skeleton.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation.tsx
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#1732 feat: 集成管理骨架屏改造 --story=116415936
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/filter-list-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/filter-list-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/integrated.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-card-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-card-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/integrated/skeleton/integrated-filter-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-manager.vue
Labels: project/monitor, feat
