Repository TencentBlueKing/bk-monitor, pull requests merged in 2024-03, with the labels that each got.

#1296 chore: 优化推荐指标模板异常场景的日志打印逻辑
  bkmonitor/alarm_backends/core/context/alarm.py
Labels: project/monitor, chore

#1295 perf: [apm] topo_view perf --bug=120642154
  bkmonitor/packages/apm_web/topo/handle/topo.py
Labels: project/apm, perf

#1219 perf: [apm] service_info perf --bug=120636180
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, perf

#1298 fix: 1. profiling查询项key值变更后，清空value值 2. profiling查询项value值列表增加滚动分页功能
  bkmonitor/webpack/src/trace/pages/profiling/components/condition-item.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
Labels: project/monitor, fix

#1299 feat: 1.trace数据趋势图联调 2. 应用配置 tracing/profiling 开关参数调整
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trace-chart/trace-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trace-chart/trace-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trace-chart/util.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/trend-chart/trend-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/profiling-graph.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
  bkmonitor/webpack/src/trace/typings/trace.ts
Labels: project/apm, feat

#1300 fix: 日志同步导出问题修复
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
  bklog/web/src/api/index.js
  bklog/web/src/common/util.js
  bklog/web/src/views/retrieve/result-comp/export-history.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
Labels: project/log, fix, notapd

#1292 fix: 日志采集-环境选择字号不对 --bug=101015808
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/scss/app.scss
  bklog/web/src/views/extract/create/index.vue
  bklog/web/src/views/extract/create/preview-files.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
  bklog/web/src/views/manage/manage-extract/manage-extract-permission/directory-manage.vue
Labels: project/log, fix

#1302 fix: 修复尾部采样条件连接or和and的大小写问题 --bug=121125723
  bkmonitor/apm/core/handlers/bk_data/tail_sampling_flink.java
Labels: project/apm, fix

#1153 fix: 没有收藏的时候要不要展示 --bug=106638085
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
Labels: project/monitor, fix

#1297 feat: 监控前端docker构建 --story=116360096
  bkmonitor/webpack/.dockerignore
  bkmonitor/webpack/Dockerfile
  bkmonitor/webpack/docker_build.sh
Labels: project/monitor, feat

#1306 fix: 交替轮值人员顺序切换时，对生效起始时间进行判断修改
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/trace/pages/rotation/rotation-config.tsx
Labels: project/monitor, fix

#1301 feat: 监控get_ts_data接口切换为unify_query --story=116335545
  bklog/apps/bk_log_admin/constants.py
  bklog/apps/bk_log_admin/handlers/index_set.py
  bklog/apps/log_measure/constants.py
  bklog/apps/log_measure/handlers/metric_collectors/log_databus.py
Labels: project/log, feat

#1309 fix: 新建应用日志路径必填校验失败 --fix=101015808
  bkmonitor/webpack/src/apm/pages/application/app-add/select-system.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
Labels: project/apm, fix

#1310 fix: 修复shadowdom下datepicker转换错误问题 --bug=121183245
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, feat

#1311 fix: Prometheus Alert rule 迁移告警策略导入失败修复 --bug=121199001
  bkmonitor/packages/monitor_web/promql_import/resources.py
Labels: project/monitor, fix

#1313 feat: scroll接口支持不传递 cluster_id 参数 --story=116409407
  bklog/apps/log_esquery/serializers.py
Labels: project/log, feat

#1314 fix: 修复全角字符转换和数值类型的通配检索
  bklog/apps/constants.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#1312 feat: 添加vm集群，同时支持更新业务下默认集群 --story=116406203
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/vm.py
Labels: project/monitor, feat

#1315 fix: 修复编辑数据采集时参数回填错误的问题 --bug=121218225
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/config-set.vue
Labels: project/monitor, fix

#1246 fix: 【监控】左侧导航栏输入自动折叠 --bug=116030993
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, fix

#1317 feat: 前端workspace引用管理 --story=116414667
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-api/axios/axios.js
  bkmonitor/webpack/src/monitor-api/base.js
  bkmonitor/webpack/src/monitor-api/package.json
  bkmonitor/webpack/src/monitor-common/utils/drag-directive.ts
  bkmonitor/webpack/src/monitor-mobile/i18n/i18n.ts
  bkmonitor/webpack/src/monitor-mobile/index.ts
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-mobile/pages/alarm-info/alarm-info.vue
  bkmonitor/webpack/src/monitor-mobile/pages/app.vue
  bkmonitor/webpack/src/monitor-mobile/pages/tendency-chart/data-compare.vue
  bkmonitor/webpack/src/monitor-mobile/store/modules/alarm-info.ts
  bkmonitor/webpack/src/monitor-mobile/store/modules/event-center.ts
  bkmonitor/webpack/src/monitor-mobile/store/modules/event-detail.ts
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#1318 fix: 修复采集下发途中页面弹出 Attribute Error 的问题 --bug=121225153
  bkmonitor/packages/monitor_web/strategies/user_groups.py
Labels: project/monitor, fix

#1319 feat: 替换bcs查询项目接口 --story=116410084
  bkmonitor/api/bcs/default.py
  bkmonitor/api/bcs_project/default.py
  bkmonitor/apm_ebpf/handlers/relation.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/management/commands/check_dependent_service_health.py
  bkmonitor/metadata/models/space/utils.py
Labels: project/monitor, feat

#1320 fix: 修复运营数据仪表盘部分业务无数据的问题 --bug=121231585
  bkmonitor/api/grafana/default.py
Labels: project/monitor, fix

#1321 feat: 数据平台指标支持检索函数 --story=116419787
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/member-selector.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, feat

#1323 feat: 上传profiling查询时间范围调整为上传文件查询时间范围
  bkmonitor/webpack/src/trace/pages/profiling/components/page-header.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/upload-retrieval-view.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-retrieval.ts
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
  bkmonitor/webpack/src/trace/plugins/hooks/chart.ts
Labels: project/apm, feat

#1322 feat: 新增监控文档链接接口 --story=116414467
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/commons/bkdocs/resources.py
  bkmonitor/packages/monitor_web/commons/bkdocs/views.py
  bkmonitor/webpack/src/monitor-api/modules/commons.js
Labels: project/monitor, feat

#1324 feat: 【产品功能】业务选择器支持首字母拼音搜索 --story=116421323
  bkmonitor/webpack/src/fta-solutions/store/modules/app.ts
  bkmonitor/webpack/src/monitor-common/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, feat

#1327 fix: 实时监控数据业务ID为空时报错 --bug=121271521
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, fix

#1326 fix: 日志聚类创建流程修复 --bug=121264777
  bklog/apps/log_clustering/handlers/data_access/data_access.py
Labels: project/log, fix

#1279 feat:【产品功能】日志聚类，增加展示未备注/未指定责任人的功能 --story=115665528
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0027_auto_20240306_1125.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
  bklog/apps/log_clustering/views/pattern_views.py
Labels: project/log, feat

#1304 perf: [apm] 接口、服务统计接口优化 --bug_id=121153510
  bkmonitor/apm/core/handlers/query/statistics_query.py
Labels: project/apm, perf

#1328 fix: 修复应用内置告警策略因配置项不存在导致失败的问题 --bug=121286469
  bkmonitor/packages/monitor_web/strategies/loader/datalink_loader.py
  bkmonitor/packages/monitor_web/strategies/loader/gse_loader.py
Labels: project/monitor, fix

#1316 Feat: 第三方ES索引集支持配置上下文字段
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-collection.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-es.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, feat

#1043 feat: grafana支持 all 选项 --story=115886431
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
  bkmonitor/packages/monitor_web/grafana/utils.py
Labels: project/monitor, feat

#1336 fix: Profile 线上问题修复 --bug=121384227
  bkmonitor/apm/admin.py
  bkmonitor/packages/apm_web/admin.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/migrations/0018_alter_profileuploadrecord_app_name.py
  bkmonitor/packages/apm_web/migrations/0020_add_profile_upload_fields.py
  bkmonitor/packages/apm_web/profile/resources.py
Labels: project/apm, fix

#1338 fix: 【监控】事件中心处理记录获取关联告警列表有误 --bug=121413377
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/action-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-slider.tsx
Labels: project/monitor, fix

#1339 feat: 适配vue3组件按需加载 --story=116435815
  bkmonitor/webpack/babel.config.js
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, perf

#1340 fix: 指标查询忽略为空的data_label过滤条件 --bug=121424831
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, fix

#1337 fix: 修复聚类切换原始后下方字段区域无法操作问题 --bug=120196437
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#1343 feat: profiling服务详情增加错误信息 --bug=101015808
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.scss
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-detail.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling.ts
Labels: project/apm, feat

#1345 fix: 修复 perf 无法解析问题 --bug=121441581
  bkmonitor/packages/apm_web/profile/perf/converter.py
Labels: project/apm, fix

#1341 fix: 修复联合检索默认显示字段排序问题
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#1347 feat: 有效时间范围交互修改 --bug=121177275
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
Labels: project/monitor, project/log, feat

#1325 feat: 【产品功能】聚类告警通知内容优化 --story=116255246
  bklog/apps/log_clustering/constants.py
  bkmonitor/api/log_search/default.py
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/log, feat

#1346 feat: 完成骨架屏基础组件开发
  bkmonitor/webpack/src/monitor-pc/components/skeleton/skeleton-base.scss
  bkmonitor/webpack/src/monitor-pc/components/skeleton/skeleton-base.tsx
Labels: project/monitor, feat

#1348 feat: 有效时间范围交互修改以及对应的详情试图显示的修改 --bug=121177275
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/my-apply/components/report-detail.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/subscription-detail.tsx
Labels: project/monitor, project/log, feat

#1349 fix: 修复labels_value值重复问题 & 增加多格式解析上传文件 --bug=121469201
  bkmonitor/packages/apm_web/migrations/0021_auto_20240312_1441.py
  bkmonitor/packages/apm_web/models/profile.py
  bkmonitor/packages/apm_web/profile/converter.py
  bkmonitor/packages/apm_web/profile/file_handler.py
  bkmonitor/packages/apm_web/profile/perf/converter.py
  bkmonitor/packages/apm_web/profile/serializers.py
  bkmonitor/packages/apm_web/profile/views.py
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix

#1350 feat: 日志聚类支持维度和责任人、备注过滤
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
Labels: project/log, feat

#1351 feat: 尾部采样必采规则编辑交互调整 --story=101015808
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/configuration.scss
Labels: project/apm, feat

#1356 fix: 重新生成 migrations --bug=121499147
  bkmonitor/packages/apm_web/migrations/0019_auto_20240312_1750.py
  bkmonitor/packages/apm_web/migrations/0020_add_profile_upload_fields.py
  bkmonitor/packages/apm_web/migrations/0021_auto_20240312_1441.py
Labels: project/apm, fix

#1359 fix: 修复 perf 数据数值操作类型不一致问题 --bug=121504189
  bkmonitor/packages/apm_web/profile/collector.py
  bkmonitor/packages/apm_web/profile/file_handler.py
Labels: project/apm, fix

#1360 feat: 调整单元测试用例 --story=116500184
  bkmonitor/alarm_backends/tests/core/control/test_strategy.py
Labels: project/monitor, feat

#1332 feat: 添加切换链路需要的接口 --story=116444178
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/service/vm_storage.py
  bkmonitor/metadata/tests/service/conftest.py
  bkmonitor/metadata/tests/service/vm_storage.py
Labels: project/monitor, feat

#1357 chore: 第三方ES已选索引高亮调整
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
Labels: project/log, feat

#1277 feat: 添加BCS合流任务 --story=116324368
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/vm/utils.py
Labels: project/monitor, feat

#1362 fix: 邮件订阅的发送频率调整。--story=885662873
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/my-subscription/utils/index.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/utils/index.ts
Labels: project/monitor, project/log, fix

#1363 feat: 数据指纹下钻携带分组条件
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#1365 feat:【产品功能】日志聚类，增加展示未备注/未指定责任人的功能 --story=115665528
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0027_auto_20240306_1125.py
  bklog/apps/log_clustering/migrations/0028_clustering_remark.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
  bklog/apps/log_clustering/views/pattern_views.py
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#1366 feat: 初步完成指标检索，事件检索，k8s三个页面的骨架屏开发
  bkmonitor/webpack/src/monitor-pc/components/skeleton/skeleton-base.scss
  bkmonitor/webpack/src/monitor-pc/components/skeleton/skeleton-base.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval-view/data-retrieval-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list-k8s/common-list-k8s.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list-k8s/common-list-k8s.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list/common-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-list/common-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-tree/common-tree.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-tree/common-tree.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/select-panel/apm-api-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/select-panel/apm-api-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-list/host-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-list/host-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.scss
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, feat

#1367 fix: 去除按需引入组件的多余的样式 --bug=121552549
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/pages/app.tsx
Labels: project/monitor, fix

#1369 fix: 关闭当前浏览器tab时缓存当前空间id --bug=121553987
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-navigation/monitor-navigation.vue
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, fix

#1370 fix: APM服务详情profiling数据类型切换无效 --bug=101015808
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-file-upload.tsx
  bkmonitor/webpack/src/trace/pages/profiling/typings/profiling-file.ts
Labels: project/apm, fix

#1334 feat: syslog、winlog过滤功能
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/collector_scenario/syslog.py
  bklog/apps/log_databus/handlers/collector_scenario/utils.py
  bklog/apps/log_databus/handlers/collector_scenario/wineventlog.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/constants.py
  bklog/apps/tests/log_databus/test_collector.py
  bklog/apps/tests/log_databus/test_collectorhandler.py
Labels: project/log, feat

#1373 fix: 邮件订阅的订阅配置下添加订阅审批查询 --story=885662873
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.scss
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, feat

#1375 fix: 仪表盘迁移报错问题处理 --bug=121564255
  bkmonitor/alarm_backends/core/api_cache/library.py
  bkmonitor/packages/monitor_web/promql_import/resources.py
Labels: project/monitor, fix

#1344 fix: AsCode导入导致伪事件型策略算法失效问题处理 --bug=121439983
  bkmonitor/bkmonitor/as_code/parse.py
Labels: project/monitor, fix

#1377 fix: 邮件订阅的修改radio字体大小 --story=885662873
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.scss
Labels: project/monitor, fix

#1378 feat: 前端各个应用盒模型统一border-box --bug=121606767
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/static/css/reset.scss
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#1368 feat: 针对部分插件授权给bkci项目查询 --story=116521687
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
Labels: project/monitor, feat

#1380 fix: 邮件订阅日志平台侧边栏配置 --story=885662873
  bklog/web/src/router/index.js
Labels: project/log, fix

#1382 fix: --bug=119820111 告警流水中监控的页面路由跳转格式调整
  bkmonitor/bkmonitor/action/alert_assign.py
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/packages/fta_web/alert/handlers/alert_log.py
Labels: project/monitor, feat

#655 fix: 告警事件缺少事件来源的统计和查询
  bkmonitor/webpack/src/fta-solutions/pages/event/alert-analyze.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/typings/event.ts
Labels: project/monitor, fix

#1385 fix: --bug=118075451 告警事件缺少事件来源的统计和查询
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Labels: project/monitor, feat

#1387 fix: 修复lucene语法优化单据问题
  bklog/apps/constants.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#1388 fix: 告警流水中监控的页面路由跳转格式调整 --bug=119820111
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/circulation-record.tsx
Labels: project/monitor, fix

#1390 fix: 邮件订阅日志平台侧边栏配置 --story=885662873
  bklog/web/src/router/index.js
Labels: project/log, fix

#1391 feat: 完成指标检索，事件检索页面中的所有loading替换
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/skeleton/model.ts
  bkmonitor/webpack/src/monitor-pc/components/skeleton/skeleton-base.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/filter-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-container.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/manage-group-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-select-table/common-select-table.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, feat

#1392 feat: 首页骨架屏
  bkmonitor/webpack/src/monitor-pc/pages/home/business-item-big.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/home.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-item-big-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-item-big-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-right.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-right.tsx
Labels: project/monitor, feat

#1393 feat: AIOps策略接入支持按方案类型设置分组透传字段 --story=116563532
  bkmonitor/bkmonitor/dataflow/node/machine_learning.py
Labels: project/log, feat

#1394 fix: 应用列表子表格数据加载问题 --bug=121729044
  bkmonitor/webpack/src/apm/pages/home/app-list-new.tsx
Labels: project/monitor, fix

#1398 fix: apigw请求头参数取值修复 --bug=121734107
  bklog/blueking/component/client.py
Labels: project/log, fix

#1397 fix: 容器采集规则列表报错修复 --bug=121734157
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#1403 fix: 修复临时分享复制链接弹窗提示层级展示问题 --bug=121655549
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/temporary-share.tsx
Labels: project/monitor, fix

#1407 fix: Trace检索span详情侧栏工具按钮显示异常 --bug=101015808
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
Labels: project/apm, fix

#1395 fix: 日志导出下载问题修复 --bug=121727363
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, fix

#1374 fix: 调整标准运维无权限判定逻辑 --bug=121530129
  bkmonitor/api/sops/default.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, fix

#1400 fix: 图表图例文本支持选中复制且不触发点击事件进行图例过滤 --story=116552157
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/common-legend.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/components/chart-legend.vue
Labels: project/monitor, feat

#1376 feat: 自定义事件，自定义指标无数据时展示无数据组件 --bug=121575371
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/flex-dashboard-panel.tsx
Labels: project/monitor, fix

#1411 feat: 拨测任务导入excel优化引入 --story=116594610
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/subscription-content.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task/uptime-check-import/uptime-check-import.vue
  bkmonitor/webpack/src/monitor-pc/static/css/reset.scss
Labels: project/monitor, feat

#1412 fix: 兼容流转记录旧的告警屏蔽链接 --bug=119820111
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/circulation-record.tsx
Labels: project/monitor, fix

#1413 fix: 邮件订阅的一些问题 --story=885662873
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/views/manage/report-management/index.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
Labels: project/monitor, project/log, fix

#1415 fix: 事件中心场景视图图表错误 --bug=121659463
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/scene-view.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/base-echart.scss
Labels: project/monitor, fix

#1417 minor: 优化前端构建
  bklog/.gitignore
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/collection-access/components/step-add/match-label-item.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/components/log-masking/masking-field-input.scss
  bklog/web/src/components/log-masking/masking-field.scss
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/scss/mixins/scroller.scss
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.scss
  bklog/web/src/views/retrieve/condition-comp/favorite-list.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/cluster-filter.scss
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
Labels: project/log, feat

#1420 feat: 事件中心骨架屏
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/advanced-filter-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/event-table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/event-table-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/filter-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/skeleton/filter-skeleton.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/skeleton/monitor-echarts-skeleton.scss
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/skeleton/monitor-echarts-skeleton.tsx
Labels: project/monitor, feat

#1383 fix: 告警流水中监控的页面路由跳转格式调整 --bug=119820111
  bkmonitor/bkmonitor/action/alert_assign.py
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/packages/fta_web/alert/handlers/alert_log.py
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/circulation-record.tsx
Labels: project/monitor, feat

#1422 fix：修改第三方ES、计算平台默认排序字段的初始化逻辑
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, fix, notapd

#1414 fix: 第三方 ES 接入功能验收修复
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-es.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, fix

#1399 feat: 添加通过bcs集群过滤使用的vm结果表的API --story=116572550
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/service/vm_storage.py
Labels: project/monitor, feat

#1425 feat: 调整gse域名配置 --story=116607819
  bkmonitor/api/gse/default.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#1427 feat: 运营统计细化组织架构维度 --story=116604644
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_execute.py
  bkmonitor/packages/monitor_web/commons/report/resources.py
  scripts/sensitive_info_check/ip_white_list.dat
Labels: project/monitor, feat

#1428 feat: 日志聚类忽略数字&符号采样统计占比调整 --story=116616692
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
Labels: project/log, feat

#1431 chore: 第三方ES时间字段外显
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
Labels: project/log, chore

#1421 feat: 首页骨架屏 --story=116601143
  bkmonitor/webpack/src/monitor-pc/pages/home/business-item-big.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/home.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-item-big-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-item-big-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-right.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/skeleton/business-right.tsx
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
Labels: project/monitor, feat

#1384 feat: 优化前端首页阻塞渲染及清理无用的资源 --story=116547585
  bkmonitor/webpack/index.ejs
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/guide-pages/guide-pages.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/guide-pages/guide-pages.tsx
  bkmonitor/webpack/src/monitor-static/svg-icons/icons/k8s-guide-step-1.svg
  bkmonitor/webpack/src/monitor-static/svg-icons/icons/k8s-guide-step-2.svg
  bkmonitor/webpack/src/monitor-static/svg-icons/icons/k8s-guide-step-3.svg
  bkmonitor/webpack/src/monitor-ui/authority-modal/AuthorityModal.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/map/china.js
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
Labels: project/monitor, perf

#1429 fix: 联调问题修复
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
Labels: project/log, fix

#1418 fix: 修复 span 折叠报错问题 --bug=121804751
  bkmonitor/packages/apm_web/trace/diagram/topo.py
Labels: project/apm, fix

#1435 fix: 尾部采样已注册资源问题 --bug=121887369
  bkmonitor/api/bkdata/default.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#1437 fix: 修复k8s视图详情状态样式展示不全的问题 --bug=121893295
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.scss
Labels: project/monitor, fix

#1436 fix: 【监控】图表图例切换列时异常 --bug=121604541
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/resize.ts
Labels: project/monitor, fix

#1434 chore: 日志聚类修改维度添加二次确认弹窗 --bug=121891345
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/finger-operate.vue
Labels: project/log, chore

#1438 feat: 自定义实时日志、上下文字段功能 --story=885578403
  bklog/apps/log_search/handlers/es/bk_mock_body.py
  bklog/apps/log_search/handlers/es/dsl_bkdata_builder.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/result_table.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/migrations/0072_auto_20231228_1420.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/tests/log_search/test_indexset.py
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/components/index-set/create/index.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-collection.vue
  bklog/web/src/views/manage/manage-access/components/index-set/create/select-es.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, feat

#1424 chore: 日志第三方ES解除内置索引集删除限制
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
Labels: project/log, chore

#1443 fix: 导出配置报错问题处理 --bug=121916071
  bkmonitor/packages/monitor_web/export_import/resources.py
Labels: project/monitor, fix

#1433 perf: 前端升级typescript及一些其他依赖 --story=116619202
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/home/home.tsx
  bkmonitor/webpack/src/monitor-api/package.json
  bkmonitor/webpack/src/monitor-common/package.json
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/components/multi-label-select/multi-label-select.tsx
  bkmonitor/webpack/src/monitor-pc/components/novice-guide/notice-guide.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-shield/alarm-shield-set/alarm-shield-dimension.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/home.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/no-business-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/page-title.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/panel-tools/target-compare-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/chart-filter-tool.vue
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-list.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/components/new-plugin-monaco.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-alert.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-common-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/strategy-metric-table-event.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-config-metric/strategy-config-metric-new.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-config-retrieval/strategy-config-retreval.vue
  bkmonitor/webpack/src/monitor-static/package.json
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-email.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-mobile-echarts.vue
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/i18n/i18n.ts
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/main/event-retrieval/field-list.scss
  bkmonitor/webpack/src/trace/pages/main/search-left/search-left.tsx
  bkmonitor/webpack/src/trace/plugins/charts/flame-graph-v2/types.ts
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
  bkmonitor/webpack/src/trace/shim.d.ts
Labels: project/monitor, perf

#1445 fix: 【监控】主机监控翻译问题修复 --bug=121920440
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/performance/components/performance-table.vue
Labels: project/monitor, fix

#1446 feat: 处理记录详情骨架屏
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/action-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/skeleton/action-detail-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/skeleton/action-detail-skeleton.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/skeleton/action-detail-table-skeleton.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/skeleton/action-detail-table-skeleton.tsx
Labels: project/monitor, feat

#1449 fix: 清洗参数修复
  bklog/web/src/components/collection-access/step-field.vue
Labels: project/log, chore

#1441 fix: profile数据时间问题修复 --bug=121907565
  bkmonitor/apm/models/doris.py
  bkmonitor/packages/apm_web/profile/file_handler.py
Labels: project/apm, fix

#1452 fix: trace检索app应用无法选中问题 --bug=121961565
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-strategy.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/scope-date-config.tsx
  bkmonitor/webpack/src/trace/pages/main/search-left/search-left.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/replace-rotation-table-item.tsx
  bkmonitor/webpack/src/trace/plugins/charts/related-log-chart/related-log-chart.tsx
Labels: project/monitor, fix

#1456 fix: 解决k8s详情状态文本展示错误
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
Labels: project/monitor, fix

#1453 fix: 上下文支持开关判断逻辑问题修复 --bug=121956601
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#1442 chore: 管理页样式修复
  bklog/web/src/App.vue
  bklog/web/src/common/util.js
  bklog/web/src/components/index-set-label-select/index.scss
  bklog/web/src/components/index-set-label-select/index.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/manage/manage-access/components/index-set/list/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/list.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/index.vue
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, chore

#1450 fix: 修复获取配置及设置空间类型不正确问题 --bug=121911449
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/config/default.py
  bkmonitor/metadata/management/commands/check_ts_metrics.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/tests/commands/test_check_ts_metrics.py
Labels: project/monitor, fix

#1303 feat: 监控目标条件传参优化，按云区域分组，避免过多的or条件 --story=116107962
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
Labels: project/monitor, feat

#1458 feat: 尾部采样提交采样参数缺失 --story=116680837
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
Labels: project/apm, fix

#1459 chore: 日志聚类下钻改为新开页 --bug=122042755
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, chore

#1464 feat: 调整指标或维度字段名大小写敏感 --story=116700415
  bkmonitor/metadata/migrations/0179_auto_20240326_1157.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, feat

#1460 feat: 后台cmdb缓存兼容json格式并增加启动开关 --story=116640960
  bkmonitor/alarm_backends/core/cache/cmdb/base.py
  bkmonitor/alarm_backends/core/cache/cmdb/business.py
  bkmonitor/alarm_backends/core/cache/cmdb/host.py
  bkmonitor/alarm_backends/core/cache/cmdb/module.py
  bkmonitor/alarm_backends/core/cache/cmdb/service_instance.py
  bkmonitor/alarm_backends/core/cache/cmdb/service_template.py
  bkmonitor/alarm_backends/core/cache/cmdb/set.py
  bkmonitor/alarm_backends/core/cache/cmdb/set_template.py
  bkmonitor/alarm_backends/core/cache/cmdb/topo.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  scripts/sensitive_info_check/ip_white_list.dat
Labels: project/monitor, feat

#1355 perf: query_topo_instance interface perf --bug=121497718
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/topo/handle/topo.py
Labels: project/apm, perf

#1451 perf: list_db_statistics interface perf --bug=121937096
  bkmonitor/packages/apm_web/db/resources.py
  bkmonitor/packages/apm_web/handlers/db_handler.py
Labels: project/apm, perf

#1440 perf: query_endpoint_statistics interface perf --bug=121903404
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, perf

#1468 feat: 取消切换集群时丢失数据的提示，现在可以无损切换 --story=101015808
  bklog/web/src/components/collection-access/components/cluster-table.vue
Labels: project/log, fix

#1467 chore: ES查询支持大小写敏感修复
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/views/retrieve/setting-modal/index.vue
Labels: project/log, chore

#1470 feat: 策略及告警组列表骨架屏
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/skeleton/alarm-group-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/skeleton/alarm-group-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/skeleton/strategy-table-skeleton.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/skeleton/strategy-table-skeleton.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#712 feat: apigw/esb鉴权参数调整
  bkmonitor/api/bk_paas/default.py
  bkmonitor/api/bk_plugin/default.py
  bkmonitor/api/common/default.py
  bkmonitor/bkmonitor/utils/request.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, feat

#1461 fix: 主机监控详情左侧主机列表滚动条异常问题 --bug=122056142
  bkmonitor/webpack/src/monitor-pc/components/resize-layout/resize-layout.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
Labels: project/monitor, fix

#1478 feat: 检索首页表格字体优化 --story=101015808
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/scss/app.scss
  bklog/web/src/scss/bk-patch.scss
  bklog/web/src/views/retrieve/condition-comp/retrieve-input.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/export-log.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.scss
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
  bklog/web/src/views/retrieve/result-comp/result-main.vue
  bklog/web/src/views/retrieve/result-comp/table-column.vue
  bklog/web/src/views/retrieve/result-table-panel/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/ignore-table.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/empty-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/expand-view.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/index.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-list.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, feat

#1396 feat: 智能异常检测，中间环节去掉存储节点 --story=116549706
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/dataflow/task/base.py
  bkmonitor/bkmonitor/dataflow/task/cmdblevel.py
  bkmonitor/bkmonitor/dataflow/task/intelligent_detect.py
  bkmonitor/bkmonitor/management/commands/migrate_cmdblevel_dataflow.py
Labels: project/monitor, feat

#1473 feat: 添加接口支持动态调整后段链路的kafka配置 --story=116700523
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/service/vm_storage.py
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, feat

#1477 fix: 联合查询验收修复
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/views/retrieve/condition-comp/retrieve-detail-input.vue
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-comp/original-light-height.tsx
  bklog/web/src/views/retrieve/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/operator-tools.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/original-list.vue
  bklog/web/src/views/retrieve/search-comp/retrieve-detail-input-editor.tsx
Labels: project/log, fix

#1481 feat: 删除重复文件 --story=116725625
  bklog/web/src/views/retrieve/condition-comp/data-filter.vue
  bklog/web/src/views/retrieve/condition-comp/log-filter.vue
  bklog/web/src/views/retrieve/result-comp/context-log.vue
  bklog/web/src/views/retrieve/result-comp/real-time-log.vue
Labels: project/log, feat

#1482 feat: 调整healthz检查cmdb缓存时间及key范围 --story=116726649
  bkmonitor/alarm_backends/management/story/kernel_story.py
Labels: project/monitor, feat

#1475 feat: 检索语句语法检测返回数据格式调整
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Labels: project/log, feat

#1484 fix: aiops相关智能异常检测策略对应bkdata查询兼容，不触发unify-query查询 --bug=122125251
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/monitor, fix

#1485 fix: 图表菜单层级问题 --bug=122170122
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.scss
Labels: project/monitor, fix

#1486 feat: 去除告警后台cmdb host_id缓存，Host支持topo_link字段实例化 --story=116731301
  bkmonitor/alarm_backends/core/cache/cmdb/__init__.py
  bkmonitor/alarm_backends/core/cache/cmdb/host.py
  bkmonitor/api/cmdb/define.py
Labels: project/monitor, feat

#1487 feat: 计算平台指标支持转换promql --story=116735545
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
Labels: project/monitor, feat

#1489 fix: bkdata支持promql校验数据源失败 --bug=122190087
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, fix

#1490 feat: 计算平台指标支持转换promql --story=116735545
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
Labels: project/monitor, feat
