Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-04, with the labels that each got.

#5751 refactor: 优化告警故障入口文案 --story=122087649
  bkmonitor/bkmonitor/aiops/utils.py
Labels: project/monitor, refactor

#5754 feat: 支持容器事件检索嵌入 --Story=122688663
  bkmonitor/webpack/src/apm/pages/app.tsx
  bkmonitor/webpack/src/fta-solutions/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-header.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-navigation/monitor-navigation.vue
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, feat

#5755 fix: 新版事件/故障详情验收问题汇总 --Bug=140422049
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-view.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.scss
Labels: project/monitor, feat

#5753 feat: 增加获取聚类配置列表的接口
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/views/clustering_config_views.py
Labels: project/log, notapd

#5706 refactor: 自定义事件多租户改造 --story=122596750
  bkmonitor/bkmonitor/share/handler.py
  bkmonitor/packages/monitor_web/collecting/resources/status.py
  bkmonitor/packages/monitor_web/custom_report/resources/event.py
  bkmonitor/packages/monitor_web/grafana/utils.py
  bkmonitor/packages/monitor_web/migrations/0073_customeventgroup_bk_tenant_id.py
  bkmonitor/packages/monitor_web/migrations/0074_merge_20250328_1643.py
  bkmonitor/packages/monitor_web/models/custom_report.py
  bkmonitor/packages/monitor_web/models/plugin.py
  bkmonitor/packages/monitor_web/plugin/manager/log.py
  bkmonitor/packages/monitor_web/scene_view/builtin/custom_event.py
  bkmonitor/packages/monitor_web/scene_view/resources/custom_event.py
  bkmonitor/packages/monitor_web/scene_view/resources/observation_scene.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#5758 feat: 优化主机状态字段对应不监控匹配方式 --story=122692226
  bkmonitor/api/cmdb/define.py
Labels: project/monitor, feat

#5760 feat: APM日志组件更新 --Story=122715383
  bklog/web/scripts/apm-package.json
  bklog/web/scripts/create-monitor.js
  bklog/web/scripts/trace-package.json
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-result.vue
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
Labels: project/monitor, feat

#5761 fix: 对profiling的聚合方法修改为全局配置 --bug=140442155
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/apm_web/profile/diagrams/base.py
  bkmonitor/packages/apm_web/profile/resources.py
Labels: project/apm, fix

#5749 feat: 新增快速导入仪表盘&策略的api --story=122475780
  bkmonitor/packages/monitor_web/export_import/import_config.py
  bkmonitor/packages/monitor_web/export_import/resources.py
  bkmonitor/packages/monitor_web/export_import/views.py
Labels: project/monitor, feat

#5736 feat: 容器-容量场景 --story=122566491
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/scenario/capacity.py
Labels: project/monitor, feat

#5766 feat: 日志关键字支持 UnifyQuery 检索 --story=122726198
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/constants/data_source.py
Labels: project/apm, feat

#5767 feat: 事件检索开放日志关键字能力 --Story=122720984
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-header.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
Labels: project/monitor, feat

#5729 refactor: 日历支持多租户 --story=122682615
  bkmonitor/alarm_backends/core/cache/calendar.py
  bkmonitor/alarm_backends/core/cache/cmdb/business.py
  bkmonitor/alarm_backends/core/control/strategy.py
  bkmonitor/bkm_space/utils.py
  bkmonitor/calendars/migrations/0007_calendarmodel_bk_tenant_id.py
  bkmonitor/calendars/migrations/0008_calendaritemmodel_bk_tenant_id.py
  bkmonitor/calendars/models.py
  bkmonitor/calendars/resources/calendar.py
  bkmonitor/calendars/resources/item.py
Labels: project/monitor, feat

#5770 fix: 变更 profiling 数据对 avg 和 last 等聚合方式的逻辑
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix, notapd

#5769 fix: 自定义指标分组更新失效问题处理 --bug=140473305
  bkmonitor/packages/monitor_web/custom_report/resources/metric.py
  bkmonitor/packages/monitor_web/models/custom_report.py
Labels: project/monitor, fix

#5724 feat: 日志聚类责任人&告警创建 --story=122618577
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0035_clusteringremark_strategy_enabled_and_more.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/pattern_views.py
Labels: project/log, feat

#5772 fix: 变更 profiling 数据对 avg 和 last 等聚合方式的逻辑，和趋势图的聚合周期对齐
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix, notapd

#5763 feat: 字段模板功能补全
  bklog/web/src/global/field-setting.vue
  bklog/web/src/views/retrieve-v2/collect/collect-container.tsx
  bklog/web/src/views/retrieve-v2/collect/collect-group.tsx
  bklog/web/src/views/retrieve-v2/collect/collect-index.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/update/field-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/field-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting-operate.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/table-sort.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.scss
  bklog/web/src/views/retrieve-v2/search-result-chart/index.scss
Labels: project/log, feat

#5775 feat: 故障图表title去除overflowtips --Bug=140378499
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, feat

#5776 fix: 变更 profiling 数据对 avg 和 last 等聚合方式的逻辑，和趋势图的聚合周期对齐
  bkmonitor/packages/apm_web/profile/diagrams/tree_converter.py
Labels: project/apm, fix, notapd

#5778 fix: 原始JSON带了 mark & 页面新加载50条的时间应该和以上一次最后的时间为起点请求50条，而不是当前时间
  bklog/web/src/global/json-format-wrapper.vue
  bklog/web/src/store/index.js
Labels: project/log, fix

#5781 feat: 字段模板开发
  bklog/web/src/store/retrieve.js
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting.vue
Labels: project/log, feat

#5787 feat: 字段模板开发
  bklog/web/src/views/retrieve-v2/field-filter-comp/update/field-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/index.vue
Labels: project/log, fix

#5780 fix: 字段展示问题修复 --bug=140469919
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/utils.py
Labels: project/log, fix

#5784 feat: 日志聚类备注支持按照内外部环境隔离 --story=122746549
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0036_clusteringremark_source_app_code.py
  bklog/apps/log_clustering/models.py
  bklog/apps/utils/local.py
Labels: project/log, feat

#5790 fix: 修复轮值时间选择器空值的逻辑
  bkmonitor/webpack/src/trace/pages/rotation/components/time-tag-picker.scss
  bkmonitor/webpack/src/trace/pages/rotation/components/time-tag-picker.tsx
Labels: project/monitor, fix

#5793 minor: profiling 数据状态检测增加到20分钟内
  bkmonitor/packages/apm_web/handlers/service_handler.py
Labels: project/apm, chore, notapd

#5728 refactor: 自定义指标支持多租户 --story=122681850
  bkmonitor/bkmonitor/management/commands/add_bkm_statistics.py
  bkmonitor/bkmonitor/share/handler.py
  bkmonitor/packages/monitor_web/custom_report/resources/metric.py
  bkmonitor/packages/monitor_web/custom_report/resources/old_metric.py
  bkmonitor/packages/monitor_web/migrations/0075_customtstable_bk_tenant_id.py
  bkmonitor/packages/monitor_web/models/custom_report.py
  bkmonitor/packages/monitor_web/scene_view/builtin/custom_metric.py
  bkmonitor/packages/monitor_web/scene_view/resources/custom_metric.py
  bkmonitor/packages/monitor_web/scene_view/resources/observation_scene.py
Labels: project/monitor, feat

#5794 feat:日志聚类责任人&告警创建
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/services/log-clustering.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/sub-bar/warning-setting.vue
Labels: project/log, feat

#5791 feat: vue3组件库升级（屏蔽详情）
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-scope.scss
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config-scope.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-detail.scss
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-detail.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/dimension-input.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/select-input.scss
  bkmonitor/webpack/src/trace/pages/rotation/components/rotation-calendar-preview.tsx
Labels: project/monitor, feat

#5795 feat: 全局设置popover实现
  bklog/web/src/global/field-setting.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve-v2/field-filter-comp/update/field-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/setting-more-menu.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/bar-global-setting.scss
  bklog/web/src/views/retrieve-v2/sub-bar/bar-global-setting.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, feat

#5798 feat: 日志聚类责任人&告警创建 告警组owner更新 --story=122762064
  bklog/apps/log_clustering/handlers/clustering_monitor.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0037_clusteringremark_notice_group_id.py
  bklog/apps/log_clustering/models.py
Labels: project/log, feat

#5803 fix: 修复 trace_detail 接口报错
  bkmonitor/packages/apm_web/trace/diagram/topo.py
Labels: project/apm, fix, notapd

#5802 feat: vue3组件库升级（vxetable css变量）
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#5804 fix: 调整复制仪表盘uid
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
Labels: project/monitor, fix

#5810 minor: 查询 profile 原始数据排序规则变更
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, chore, notapd

#5812 minor: 查询 profile 原始数据，在查询达到最大数量时，优先取最新的数据
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, chore, notapd

#5811 fix: 日志新版首页体验问题优化
  bklog/web/src/common/field-resolver.ts
  bklog/web/src/views/retrieve-v2/collect/collect-group.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/update/field-list.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/update/field-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/field-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/update/fields-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.scss
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.scss
Labels: project/log, fix

#5806 fix: 订阅审批表头筛选展示问题
  bkmonitor/webpack/src/trace/pages/email-subscription/email-subscription-config.tsx
  bkmonitor/webpack/src/trace/pages/email-subscription/types/index.ts
Labels: project/monitor, fix

#5813 feat: bcs项目下集群列表实现优化，仅拉去和bcs当前项目下有关的集群列表 --story=122727967
  bkmonitor/api/kubernetes/default.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, feat

#5816 feat: profiling切换数据类型 趋势图不刷新问题
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
Labels: project/monitor, fix, notapd

#5814 feat: 收藏夹批量展开/收起功能icon调整 --story=122792361
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
Labels: project/monitor, feat

#5779 fix: 修复轮值组页面无法删除
  bkmonitor/bkmonitor/action/utils.py
Labels: project/monitor, fix

#5807 feat: 【产品功能】关联信息是日志时，需要点击后查看完整日志，解析好json结构查看
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
Labels: project/monitor, feat

#5822 fix: 故障节点跳转新版容器监控页 --Bug=120152378
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
Labels: project/monitor, feat

#5821 fix: 关联日志按钮错位问题
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
Labels: project/monitor, fix

#5818 fix: 策略详情关联告警不显示判断条件 --story=122588562
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
Labels: project/monitor, fix

#5819 fix: 【事件检索】点击部分收藏项时会导致图表区域接口循环进行请求 --bug=140770495
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, fix

#5826 fix: 故障详情表格tooltip问题修复 --Bug=120152378
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
Labels: project/monitor, feat

#5825 fix: 修复apm模块的cls.patch_group_panels方法参数传递错误的问题 --bug=140799795
  bkmonitor/packages/apm_web/container/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/kubernetes.py
Labels: project/apm, fix

#5817 feat: 事件检索-维度列表调整禁用逻辑--story=122798334
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
Labels: project/monitor, feat

#5808 feat: 增加索引集自定义配置 --story=122779675
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/migrations/0085_indexsetcustomconfig.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#5830 feat: 新版事件/故障详情验收问题汇总 --Bug=140422023
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/aiops-container-new.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/tab-title.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/mixins/tools.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
Labels: project/monitor, fix

#5832 fix: 【APM】服务实例数值显示不正确 --bug=140283595
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
Labels: project/monitor, fix

#5829 fix: 【事件检索】Mac 系统下，要显示 Cmd 的快捷键 --story=122793438
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
Labels: project/monitor, fix

#5836 feat: 【事件检索】UI Search Tag 的Value，Font-Family 加上 Consolas --story=122795089
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/kv-tag.scss
Labels: project/monitor, feat

#5839 feat: 进程重启事件告警清晰字段新增 --story=122831092
  bkmonitor/alarm_backends/service/access/event/records/gse_process_event.py
Labels: project/monitor, feat

#5841 fix: vue3组件库升级问题
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, fix

#5845 fix: vue3组件库升级问题
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/timeline.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/fixed-rotation-tab.tsx
  bkmonitor/webpack/src/trace/pages/rotation/rotation-config.tsx
Labels: project/monitor, fix

#5848 feat: 事件检索从收藏项切换到新检索后，数据ID不需要变更 --story=122792674
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
Labels: project/monitor, feat

#5853 fix: 容器网络场景问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Labels: project/monitor, fix

#5851 fix: 【Trace】Span详情页，查看原始数据，切换的时候不应该重复请求数据 --bug=140107549
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.tsx
Labels: project/monitor, fix

#5786 feat: 【事件 / 数据探索】字段分析 / info 接口开发 --story=122746154
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/packages/apm_web/event/serializers.py
  bkmonitor/packages/apm_web/event/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
  bkmonitor/packages/monitor_web/data_explorer/views.py
Labels: project/apm, feat

#5857 fix: mark标签空格问题处理
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#5858 fix: 修复事件检索维度侧栏名丢失的问题
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
Labels: project/monitor, fix

#5837 feat: 灰度新版故障详情展示 --Story=122831300
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/aiops-container-new.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
Labels: project/monitor, feat

#5834 feat: 增加事件中心AIOps开关 #1010158081122829274
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
Labels: project/monitor, feat

#5860 feat: 升级 celery 版本 --story=123379486
  bklog/requirements.txt
Labels: project/log, feat

#5865 fix: 后台任务更新执行人不正确 --bug=140935254
  bklog/apps/log_commons/job.py
Labels: project/log, fix

#5863 fix: 修复profiling sdk 上报路径 --bug=140935307
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, fix

#5852 feat: 字段别名快速配置接口 --story=122842298
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#5869 feat: 开启数值类型字段分析配置 --story=123382135
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
Labels: project/apm, feat

#5871 feat: 容器-容量场景 --story=122566491
  bkmonitor/alarm_backends/tests/service/access/event/config.py
  bkmonitor/bkmonitor/models/bcs_node.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
Labels: project/monitor, feat

#5872 fix: 修复网络场景pod维度报KeyError('workload')
  bkmonitor/packages/monitor_web/k8s/resources.py
Labels: project/monitor, fix

#5870 refactor: 异常维度优先使用维度key的中文名来展示 --story=122087649
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, refactor

#5831 fix: 非cmdb业务支持外部版适配 --bug=140856415
  bkmonitor/packages/monitor_web/iam/resources.py
Labels: project/monitor, fix

#5873 feat: CustomGroup新增max_future_time_offset --story=123388589
  bkmonitor/metadata/migrations/0213_auto_20250409_1650.py
  bkmonitor/metadata/models/custom_report/base.py
Labels: project/monitor, feat

#5875 fix: 监控引导key还原 --Bug=140949097
  bkmonitor/webpack/src/monitor-pc/components/novice-guide/notice-guide.scss
  bkmonitor/webpack/src/monitor-pc/components/novice-guide/notice-guide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
Labels: project/monitor, fix

#5589 feat: 容器场景新增网络场景 --story=122173210
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, feat

#5561 feat: 容器场景新增网络场景 --story=122173210
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/k8s/scenario/__init__.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, feat

#5876 feat: 单元测试执行配置优化 --story=123389573
  bkmonitor/.coveragerc
  bkmonitor/.pytest_local.sh
  bkmonitor/.pytest_web.sh
  bkmonitor/Procfile
  bkmonitor/SELF_CONTAINED_PIP_PKG
  bkmonitor/ignorefile
  bkmonitor/packages/monitor_api/apps.py
  bkmonitor/pyproject.toml
  bkmonitor/pytest.ini
  bkmonitor/requirements_test.txt
  bkmonitor/runtime.txt
Labels: project/monitor, feat

#5880 feat: 优化PromQL 调整 * on 过滤方法
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, feat

#5878 feat: 【自定义指标】可视化详情的切换，要支持搜索 --Story=122821804
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/components/select-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/group-by/components/select-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/components/edit-panel/panel-key-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/components/edit-panel/panel-key-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-result-list/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/metrics-select/components/render-metrics-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/metrics-select/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/page-header/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/view-tab/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/new-metric-view.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/custom-escalation-view.ts
Labels: project/monitor, feat

#5884 fix: 空格问题修复 & mark标签转义
  bklog/web/package-lock.json
  bklog/web/src/global/json-format-wrapper.vue
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/views/retrieve-v2/result-comp/text-segmentation.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
Labels: project/log, fix

#5885 fix: profiling 数据兼容 mapping 数据为空的场景
  bkmonitor/packages/apm_web/profile/doris/converter.py
Labels: project/apm, fix, notapd

#5887 fix: apm profiling无数据展示优化 --Bug=140960902
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/multiple-metric-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set/strategy-view/strategy-chart/strategy-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/directive/index.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
Labels: project/monitor, feat

#5886 fix: 修复 APM 关联事件列表无数据的问题 --bug=140959351
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/apm, fix

#5890 fix: 修复分词边界情况渲染逻辑
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
Labels: project/log, fix

#5891 fix: JOB 执行脚本请求角色不正确 --bug=140982658
  bklog/apps/log_commons/job.py
Labels: project/log, fix

#5893 fix: 文档链接调整 --bug=140983273
  bklog/apps/log_commons/views.py
Labels: project/log, fix

#5894 fix: 服务关联主机，unify-query 查询参数兼容修改
  bkmonitor/packages/apm_web/handlers/host_handler.py
Labels: project/apm, fix, notapd

#5897 fix: 1. 修复事件检索数据id取值问题 2. 修复容器监控网络场景指标隐藏逻辑
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#5895 fix: 【容器监控】触底加载逻辑兼容屏幕过大或dpr很小的边际场景处理
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#5900 fix: pattern_level相关设置修改
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
Labels: project/log, fix

#5902 fix: 修复 ES 5.x 的连通性测试兼容问题 --bug=140991551
  bklog/apps/log_databus/handlers/storage.py
  bklog/apps/log_measure/handlers/metrics.py
  bklog/apps/log_measure/utils/metric.py
Labels: project/log, fix

#5903 fix: 修复新增订阅样式
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-create-subscription-drawer/create-subscription-form.tsx
Labels: project/log, fix

#5899 fix: 容器监控网络场景聚合维度添加按钮优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#5906 fix: 查询node信息报错
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, fix

#5907 fix: Metadata: 多租户问题修复 --bug=140991054
  bkmonitor/metadata/migrations/0220_auto_20250410_1609.py
  bkmonitor/metadata/models/custom_report/base.py
  bkmonitor/metadata/models/es_snapshot.py
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, fix

#5911 fix: Metadata: DB变动问题修复 --bug=141005005
  bkmonitor/metadata/migrations/0220_auto_20250410_1609.py
  bkmonitor/metadata/models/es_snapshot.py
Labels: project/monitor, fix

#5319 feat: 清理废弃的job调用代码 --story=122251750
  bkmonitor/api/job/default.py
  bkmonitor/bkmonitor/commons/tools.py
  bkmonitor/bkmonitor/management/commands/check_custom_report_data.py
  bkmonitor/packages/monitor_web/commons/job/__init__.py
  bkmonitor/packages/monitor_web/commons/job/resources.py
  bkmonitor/packages/monitor_web/commons/job/views.py
  bkmonitor/packages/monitor_web/commons/resources.py
  bkmonitor/packages/monitor_web/management/commands/script/mv_uptimecheck_linux
  bkmonitor/packages/monitor_web/management/commands/script/mv_uptimecheck_windows
  bkmonitor/packages/monitor_web/management/commands/update_uptimecheck_task.py
Labels: project/monitor, feat

#5898 fix: 【事件 / 数据探索】日志关键字 -- 问题修复 --bug=140940924
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/system.py
Labels: project/apm, fix

#5916 feat: 容器-容量场景 --story=122566491
  bkmonitor/alarm_backends/management/story/kernel_story.py
  bkmonitor/bkmonitor/management/commands/kube_state_analysis.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, feat

#5912 feat: trace检索过滤栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#5914 feat: 完成trace检索部分开发
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/trace/components/monitor-drag/monitor-drag.scss
  bkmonitor/webpack/src/trace/components/monitor-drag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/field-type-icon.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/field-type-icon.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-layout.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-layout.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/typing.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/utils.tsx
Labels: project/monitor, feat

#5859 feat: 【事件 / 数据探索】字段分析 / graph 接口开发 --story=122760009
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/packages/apm_web/event/serializers.py
  bkmonitor/packages/apm_web/event/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
  bkmonitor/packages/monitor_web/data_explorer/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_event.js
  bkmonitor/webpack/src/monitor-api/modules/data_explorer.js
Labels: project/apm, feat

#5367 feat: 解决apm模块的应用详情的主机查询过慢的问题 --story=122313936
  bkmonitor/packages/apm_web/handlers/host_handler.py
Labels: project/apm, feat

#5920 perf: 服务关联主机性能优化，缓存周期改为5分钟
  bkmonitor/packages/apm_web/handlers/host_handler.py
Labels: project/apm, perf, notapd

#5918 fix: AsCode轮值导入问题处理 --bug=141030689
  bkmonitor/bkmonitor/as_code/parse.py
  bkmonitor/bkmonitor/as_code/parse_yaml.py
Labels: project/monitor, fix

#5919 feat: 监控平台图表数据查询维度翻译支持bcs_cluster_id --story=123410535
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#5905 feat: 【业务拜访】【时间选择器】时间选择器交互不够丝滑，比如选择日期范围，需要点击多次交互，期望在一次交互里完成 --Story=1…
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#5922 feat: 前端依赖管理优化 --Story=123426672
  bkmonitor/webpack/babel.config.js
  bkmonitor/webpack/eslint.config.js
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/prettier.config.js
  bkmonitor/webpack/public/external/service-worker.js
  bkmonitor/webpack/public/mobile/service-worker.js
  bkmonitor/webpack/public/pc/service-worker.js
  bkmonitor/webpack/public/trace/service-worker.js
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-api/package.json
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/stylelint.config.js
  bkmonitor/webpack/taze.config.ts
  bkmonitor/webpack/tsconfig.json
  bkmonitor/webpack/webpack.config.js
  bkmonitor/webpack/webpack/change-modules-code.js
  bkmonitor/webpack/webpack/exec-shell.js
  bkmonitor/webpack/webpack/export-dependencies-csv.js
  bkmonitor/webpack/webpack/monitor-webpack-plugin.js
  bkmonitor/webpack/webpack/tranlate.js
  bkmonitor/webpack/webpack/update-iconfont.js
  bkmonitor/webpack/webpack/utils.js
  bkmonitor/webpack/webpack/verify-commit.js
Labels: project/monitor, feat

#5701 fix: 日志提取关键字过滤失效问题 --bug=140247957
  bklog/apps/log_extract/scripts/pack.sh
Labels: project/log, fix

#5924 fix: Metadata: DB变动问题修复 --bug=141005005
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, fix

#5925 feat: trace检索过滤栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/auto-width-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/auto-width-input.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/text-highlighter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-input.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-selector.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-selector.tsx
Labels: project/monitor, feat

#5926 feat: 完成trace检索维度列表弹窗和侧栏功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#5917 feat: trace检索table表格开发
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-table/trace-explore-table.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-table/typing.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-table/utils.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-view/trace-explore-view.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-view/trace-explore-view.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#5927 feat: 【容器场景】表格 ingress 列也允许点击打开详情页
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, feat

#5932 fix: 【事件检索】kv面板key值溢出换行样式优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.scss
Labels: project/monitor, fix

#5934 fix: 容器监控网络场景体验问题汇总 --Bug=141147920
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Labels: project/monitor, fix

#5861 feat: 服务 k8s 事件支持自动关联 Workload --story=123379542
  bkmonitor/apm/core/discover/node.py
  bkmonitor/apm/models/config.py
  bkmonitor/packages/apm_web/event/handler.py
  bkmonitor/packages/apm_web/event/serializers.py
  bkmonitor/packages/apm_web/models/service.py
Labels: project/apm, feat

#5936 feat: trace检索过滤栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector-help.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector-help.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/query-string-utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-selector.tsx
Labels: project/monitor, feat

#5937 feat: trace检索开发
  bkmonitor/webpack/src/trace/hooks/useUserConfig.ts
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-layout.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/typing.ts
  bkmonitor/webpack/src/trace/store/modules/explore.ts
Labels: project/monitor, feat

#5940 feat: trace检索开发
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-trace-slider/explore-trace-slider.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-trace-slider/explore-trace-slider.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-layout.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore-view/trace-explore-view.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#5943 feat: 容器-容量场景 --story=122566491
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, feat

#5510 feat: apm模块，观测场景的应用详情内的日志切页查询优化 --story=122454199
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, feat

#5948 feat: 精简 apm 逻辑，关于判断服务是否有日志关联
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, perf, notapd

#5949 fix: 变更 apm 服务关联日志逻辑，调整代码实现
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, chore, notapd

#5944 feat: 注册日志平台需求的网关API --story=123478768
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
  bkmonitor/support-files/apigw/resources/internal/app/report.yaml
Labels: project/monitor, feat

#5950 fix: 修复服务事件获取失败的问题 --bug=141186487
  bkmonitor/packages/apm_web/event/handler.py
  bkmonitor/packages/apm_web/event/serializers.py
Labels: project/apm, fix

#5953 fix: 【自定义指标】指标管理相关优化
  bkmonitor/webpack/src/monitor-pc/lang/new-metric-view.ts
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/timeseries-detail.tsx
  bkmonitor/webpack/src/monitor-pc/types/custom-escalation/custom-escalation-detail.ts
Labels: project/monitor, fix

#5958 feat: 支持检索结果无限滚动
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, feat

#5955 feat: 【告警】图表截至时间线样式优化 --Story=122532492
  bkmonitor/alarm_backends/templates/image_exporter/graph.html
Labels: project/monitor, feat

#5960 feat: 图表数据下钻逻辑优化 - 根据聚合方法计算值并增加单位 --story=123522064
  bkmonitor/packages/monitor_web/scene_view/resources/custom_metric.py
Labels: project/monitor, feat

#5951 feat: 告警记录需要支持下责任人和结束时间 --story=123506408
  bklog/apps/log_search/handlers/alert_strategy.py
  bklog/apps/log_search/views/alert_strategy_view.py
Labels: project/log, feat

#5963 feat: trace检索过滤栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/kv-tag.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/kv-tag.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting-transfer.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting-transfer.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/i18n/i18n.ts
Labels: project/monitor, feat

#5962 feat: 【自定义指标】维度管理增加显示/隐藏交互 --story=123511118
  bkmonitor/webpack/src/monitor-pc/lang/new-metric-view.ts
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-table-slide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/field-edit-range.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/field-edit-range.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.tsx
Labels: project/monitor, feat

#5966 feat: 【指标检索】维度多的时候tips展示不全 --Story=123459068
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
Labels: project/monitor, feat

#5923 refactor: 场景方案配置固化到监控saas后台 --story=122430386
  bkmonitor/bkmonitor/migrations/0178_algorithmchoiceconfig.py
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, refactor

#5947 fix: metric为空时，获取dimensions报错 --bug=141162036
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, fix

#5968 feat: trace检索开发
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-span-slider/explore-span-slider.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-trace-slider/explore-trace-slider.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#5935 fix: 修复分词符在某些情况下保存不正确的问题 --bug=141135176
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, fix

#5972 feat: Metadata: 所有存储表新增bk_tenant_id租户属性字段 --story=123538070
  bkmonitor/metadata/migrations/0221_merge_0213_auto_20250409_1650_0220_auto_20250410_1609.py
  bkmonitor/metadata/migrations/0222_auto_20250416_1427.py
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#5970 feat: 日志平台多租户适配
  bklog/apps/api/base.py
  bklog/apps/api/modules/bk_login.py
  bklog/apps/iam/handlers/permission.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/storage.py
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/log_search/migrations/0086_space_bk_tenant_id.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/tasks/space.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/log_search/views/meta_views.py
  bklog/apps/utils/local.py
  bklog/bkm_space/define.py
  bklog/config/default.py
  bklog/dev.env.yml
  bklog/prod.env.yml
  bklog/requirements.txt
  bklog/stag.env.yml
Labels: project/log, feat

#5974 fix: 修复网络场景下ingress 未关联service后无法获取service信息的问题 --bug=141280625
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, fix

#5975 fix: 修复网络场景下ingress 未关联service后无法获取service信息的问题 --bug=141280625
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, fix

#5973 feat: 【告警】bcs告警详情补充集群跳转链接 --story=123522218
  bkmonitor/packages/fta_web/alert/resources.py
Labels: project/monitor, feat

#5978 perf: 调整 apm 服务关联主机逻辑，加快页面切换性能
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, perf, notapd

#5981 feat: Span详情关联页面（主机、容器、日志、Profiling）增加跳转链接 --Story=123464641
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/trace/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/trace/components/monitor-tab/monitor-tab.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/store/modules/span-detail-query.ts
Labels: project/monitor, feat

#5929 feat: 【快捷屏蔽】支持反选操作
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/dimension-transfer.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/dimension-transfer.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
Labels: project/monitor, feat
