Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-01, with the labels that each got.

#4635 fix: 智能监控容器场景产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.scss
Labels: project/monitor, fix

#4641 fix: k8s验收文档反馈优化
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Labels: project/monitor, fix

#4643 最近使用/告警事件接口联调
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.scss
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/my-favorites.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/my-favorites.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/new-biz-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/dashboard.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/retrieval.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/service.png
Labels: project/monitor, feat

#4644 fix: 【容器场景】表格代码优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#4645 feat: 查询V4数据源时不再强加业务ID&query_storage命令返回正确的时间戳 --story=121482046
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/service/storage_details.py
Labels: project/monitor, feat

#4646 fix: 图表图例table模式展示错误 --Bug=136465943
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/flex-dashboard-panel.tsx
Labels: project/monitor, fix

#4647 feat: sdk智能检测支持promsql --story=120679992
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
  bkmonitor/alarm_backends/service/preparation/aiops/processor.py
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, feat

#4636 fix: 【告警策略】告警组未配置时点击提交没有定位
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, fix

#4648 fix: 智能监控容器场景产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
Labels: project/monitor, fix

#4634 fix: 通知API返回格式导致TypeError问题处理 --bug=136316605
  bkmonitor/api/cmsi/default.py
Labels: project/monitor, fix

#4611 feat: 图片渲染API增加用户权限校验 --story=121414739
  bkmonitor/kernel_api/views/v4/mail_report.py
Labels: project/monitor, feat

#4633 feat: 新增is_ajax_request工具函数用于替换is_ajax --story=121438770
  bkmonitor/bk_dataview/views.py
  bkmonitor/bkmonitor/middlewares/request_middlewares.py
  bkmonitor/bkmonitor/utils/request.py
  bkmonitor/packages/monitor_api/middlewares.py
  bkmonitor/packages/monitor_web/tests/middlewares.py
Labels: project/monitor, feat

#4654 feat: django模块appconfig注册调整 --story=121492255
  bkmonitor/alarm_backends/__init__.py
  bkmonitor/alarm_backends/apps.py
  bkmonitor/apm/__init__.py
  bkmonitor/bk_dataview/__init__.py
  bkmonitor/bkm_space/__init__.py
  bkmonitor/bkmonitor/__init__.py
  bkmonitor/bkmonitor/apps.py
  bkmonitor/core/drf_resource/__init__.py
  bkmonitor/core/drf_resource/app.py
  bkmonitor/core/drf_resource/apps.py
  bkmonitor/kernel_api/__init__.py
  bkmonitor/kernel_api/apps.py
  bkmonitor/metadata/__init__.py
  bkmonitor/packages/apm_web/__init__.py
  bkmonitor/packages/audit/__init__.py
  bkmonitor/packages/fta_web/__init__.py
  bkmonitor/packages/monitor/__init__.py
  bkmonitor/packages/monitor_api/__init__.py
  bkmonitor/packages/monitor_web/__init__.py
  bkmonitor/packages/weixin/core/__init__.py
  bkmonitor/query_api/__init__.py
Labels: project/monitor, feat

#4651 fix: 优化按需渲染 & canvas绘制优化性能
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/hooks/use-truncate-text.ts
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/fade-stagger-circles.svg
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/pixi-text-pool.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/table-column.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-width-helper.ts
Labels: project/log, fix

#4655 feat: drf_resource注册逻辑优化 --story=121493313
  bkmonitor/core/drf_resource/routers.py
  bkmonitor/core/drf_resource/viewsets.py
  bkmonitor/packages/apm_web/trace/diagram/base.py
  bkmonitor/packages/apm_web/trace/diagram/diff.py
Labels: project/monitor, feat

#4656 feat: sg 环境离岸账号支持邮件通知渠道 #1010158081119720848
  bkmonitor/api/cmsi/default.py
Labels: project/monitor, feat

#4660 fix: 修复行元素在可视区域变化计算逻辑导致的抖动
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4661 feat: custom_report接口不合理报错优化 --story=121501299
  bkmonitor/packages/monitor_web/custom_report/resources.py
Labels: project/monitor, feat

#4662 fix: k8s验收文档问题修复
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#4665 feat: 优化微前端沙盒性能 --Story=121504203
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#4667 fix: 【监控】trace日志样式冲突 --Bug=136528901
  bkmonitor/webpack/src/monitor-pc/pages/apm/apm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/incident/incident-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/share/share.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
Labels: project/monitor, fix

#4659 feat: redis-py版本升级到4.6.0 --story=121497442
  bkmonitor/requirements.txt
Labels: project/monitor, feat

#4657 feat: ot及bk-audit版本升级 --story=121495202
  bkmonitor/requirements.txt
Labels: project/monitor, feat

#4668 feat: Metadata: 预计算接口调整适配 --story=121500760
  bkmonitor/metadata/migrations/0207_recordrule_count_freq.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/record_rule/test_compose_flow_node.py
  bkmonitor/metadata/tests/record_rule/test_record_rule_service.py
Labels: project/monitor, feat

#4669 fix: 设置默认z-index & 调整ResizeObserver代理
  bklog/web/src/common/demand-import.js
  bklog/web/src/main.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4639 feat: 修改聚类信息时，修改和重启逻辑分离&重启的任务改为延迟启动 --story=121441020
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/tasks/flow.py
Labels: project/log, feat

#4671 fix: 容器监控头部区域样式优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
Labels: project/monitor, fix

#4675 fix: debounce import
  bklog/web/src/main.js
Labels: project/log, fix

#4674 feat: 【容器监控】表格指标列相关逻辑修改
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4676 feat: Otel 上报服务名区分服务类型 --story=121519474
  bkmonitor/config/default.py
Labels: project/monitor, project/apm, feat

#4629 fix: 优化关联页面接口速度 --bug=136238209
  bkmonitor/api/apm_api/default.py
  bkmonitor/packages/apm_web/container/resources.py
  bkmonitor/packages/apm_web/handlers/host_handler.py
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_trace-container.json
Labels: project/apm, fix

#4677 fix: 调整分词合并上限到500
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4415 feat: 新增支持通过 ebpf 采集的 Profiling 数据
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm_ebpf/resource.py
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/ebpf_converter.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/monitor, feat

#4679 feat: 告警屏蔽配置列表支持基于策略ID进行检索 --story=121529777
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
Labels: project/monitor, feat

#4663 feat: 【产品功能】移动端事件 API 补充结构化维度字段 --story=121484148
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/serializers.py
  bkmonitor/packages/weixin/event/resources.py
Labels: project/monitor, feat

#4683 feat: 【容器场景】表格指标列异步渲染逻辑修改
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, feat

#4684 feat: 将django路由注册函数url改为re_path --story=121537497
  bkmonitor/apm/urls.py
  bkmonitor/bk_dataview/urls.py
  bkmonitor/calendars/urls.py
  bkmonitor/kernel_api/urls.py
  bkmonitor/packages/apm_trace/urls.py
  bkmonitor/packages/apm_web/container/urls.py
  bkmonitor/packages/apm_web/db/urls.py
  bkmonitor/packages/apm_web/log/urls.py
  bkmonitor/packages/apm_web/meta/urls.py
  bkmonitor/packages/apm_web/metric/urls.py
  bkmonitor/packages/apm_web/service/urls.py
  bkmonitor/packages/apm_web/topo/urls.py
  bkmonitor/packages/apm_web/trace/urls.py
  bkmonitor/packages/apm_web/urls.py
  bkmonitor/packages/fta_web/action/urls.py
  bkmonitor/packages/fta_web/alert/urls.py
  bkmonitor/packages/fta_web/assign/urls.py
  bkmonitor/packages/fta_web/event_plugin/urls.py
  bkmonitor/packages/fta_web/home/urls.py
  bkmonitor/packages/fta_web/urls.py
  bkmonitor/packages/healthz/urls.py
  bkmonitor/packages/monitor_adapter/api/urls.py
  bkmonitor/packages/monitor_adapter/grafana/urls.py
  bkmonitor/packages/monitor_adapter/home/urls.py
  bkmonitor/packages/monitor_adapter/urls.py
  bkmonitor/packages/monitor_api/urls.py
  bkmonitor/packages/monitor_web/ai_assistant/urls.py
  bkmonitor/packages/monitor_web/aiops/urls.py
  bkmonitor/packages/monitor_web/alert_events/urls.py
  bkmonitor/packages/monitor_web/as_code/urls.py
  bkmonitor/packages/monitor_web/collecting/urls.py
  bkmonitor/packages/monitor_web/commons/urls.py
  bkmonitor/packages/monitor_web/config/urls.py
  bkmonitor/packages/monitor_web/custom_report/urls.py
  bkmonitor/packages/monitor_web/data_explorer/urls.py
  bkmonitor/packages/monitor_web/datalink/urls.py
  bkmonitor/packages/monitor_web/export_import/urls.py
  bkmonitor/packages/monitor_web/grafana/urls.py
  bkmonitor/packages/monitor_web/iam/urls.py
  bkmonitor/packages/monitor_web/incident/urls.py
  bkmonitor/packages/monitor_web/k8s/urls.py
  bkmonitor/packages/monitor_web/new_report/urls.py
  bkmonitor/packages/monitor_web/notice_group/urls.py
  bkmonitor/packages/monitor_web/overview/urls.py
  bkmonitor/packages/monitor_web/performance/urls.py
  bkmonitor/packages/monitor_web/plugin/urls.py
  bkmonitor/packages/monitor_web/promql_import/urls.py
  bkmonitor/packages/monitor_web/report/urls.py
  bkmonitor/packages/monitor_web/scene_view/urls.py
  bkmonitor/packages/monitor_web/search/urls.py
  bkmonitor/packages/monitor_web/service_classify/urls.py
  bkmonitor/packages/monitor_web/share/urls.py
  bkmonitor/packages/monitor_web/shield/urls.py
  bkmonitor/packages/monitor_web/strategies/urls.py
  bkmonitor/packages/monitor_web/urls.py
  bkmonitor/packages/monitor_web/user_group/urls.py
  bkmonitor/packages/weixin/core/urls.py
  bkmonitor/packages/weixin/event/urls.py
  bkmonitor/packages/weixin/urls.py
  bkmonitor/urls.py
Labels: project/monitor, feat

#4637 feat: 新增接口：”获取用户最近查询的索引集“ 和 ”获取用户收藏的索引集“ --story=121336534
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat

#4673 feat: 自定义上报更新时增加sort_fields和target_fields字段 --story=121516342
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, feat

#4687 feat: Otel 上报服务名区分服务类型 --story=121538416
  bkmonitor/config/default.py
Labels: project/monitor, feat

#4670 feat: 编辑自定义上报新增字段设置功能
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/components/field-setting.vue
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
Labels: feat

#4685 fix: 智能监控容器场景产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Labels: project/monitor, fix

#4680 feat: 图例下钻功能增加取消下钻展示以及下钻功能菜单逻辑调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/group-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Labels: project/monitor, feat

#4689 fix: 容器监控图表支持table tooltips展示 --Bug=136664043
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
  bkmonitor/webpack/src/trace/static/scss/global.scss
Labels: project/monitor, feat

#4691 fix: 停用容器采集项时，结果表未禁用 --bug=136666197
  bklog/apps/log_databus/handlers/collector.py
Labels: project/log, fix

#4693 feat: 【容器监控】指标列表动态转换单位
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, feat

#4688 fix: 事件详情视图条件拼接逻辑优化，非聚合维度不加入过滤条件 --bug=136659977
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, fix

#4698 fix: 【故障】故障里的告警详情里临时分享点击后报错 --Bug=136062793
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/history-share-manage.tsx
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/temporary-share.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
Labels: project/monitor, fix

#4699 feat: 维度下钻图例保持一致 --bug=121437807
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/tab-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
Labels: project/monitor, feat

#4664 feat: 【APM】维度下钻饼图/柱状图已下钻字段增加不可选中态 --story=121371212
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-bar-chart/caller-bar-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-pie-chart/caller-pie-chart.tsx
Labels: project/monitor, feat

#4690 feat: 日志聚类对接资源调整接口 --story=121336172
  bklog/apps/api/modules/bkdata_dataflow.py
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_search/constants.py
  bklog/dev.env.yml
  bklog/prod.env.yml
  bklog/stag.env.yml
Labels: project/log, feat

#4678 feat: Metadata: 生成ES记录路由时，规避enable_time为空导致路由生成不及时问题 --story=121511943
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/tests/common_utils.py
  bkmonitor/metadata/tests/space/test_ongoing_es_storage_management.py
  bkmonitor/metadata/utils/basic.py
Labels: project/monitor, feat

#4708 feat: 自定义上报更新时增加sort_fields和target_fields字段 --story=121516342
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/views/manage/manage-access/custom-report/components/field-setting.vue
  bklog/web/src/views/manage/manage-access/custom-report/create.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-result.vue
Labels: project/log, feat

#4705 feat: 【容器监控】表格指标列汇聚类型可选项调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#4704 perf: error_list & endpoint_list 优化
  bkmonitor/apm/models/datasource.py
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/resources/base.py
  bkmonitor/packages/monitor_web/scene_view/table_format.py
Labels: project/apm, perf

#4710 Feat: AI 小鲸及细节优化
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/i18n/commmon.ts
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/header-setting-modal.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/ai-whale-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/ai-whale-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-biz-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-biz-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/type.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/ai-whale.ts
Labels: project/monitor, feat

#4707 fix: 修复路径查询不到时获取nodes节点报错 --bug=136749739
  bkmonitor/packages/apm_web/handlers/log_handler.py
Labels: project/apm, fix

#4712 feat: SDK检测模式通过业务开关控制 --story=121365740
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#4717 feat: 【容器监控】表格下钻维度数据重复时兼容处理
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, feat

#4720 feat: 优化采集指标/维度表格渲染 --Story=121577348
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/components/field-details.tsx
Labels: project/monitor, feat

#4715 feat: Metadata: 元信息查询工具优化，新增完整链路信息&采集项索引信息 &预计算接口回滚--story=121575200
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/tests/record_rule/test_compose_flow_node.py
  bkmonitor/metadata/tests/record_rule/test_record_rule_service.py
Labels: project/monitor, feat

#4721 feat: redis/es 单元测试问题 --story=121577460
  bkmonitor/.pytest_local.sh
  bkmonitor/alarm_backends/tests/core/detect_result/mock.py
  bkmonitor/alarm_backends/tests/core/detect_result/test_check_result.py
  bkmonitor/alarm_backends/tests/core/detect_result/test_clean.py
  bkmonitor/alarm_backends/tests/service/conftest.py
  bkmonitor/alarm_backends/tests/service/fta_action/test_notice_by_fakees.py
  bkmonitor/bkmonitor/models/home.py
  bkmonitor/bkmonitor/utils/elasticsearch/fake_elasticsearch.py
  bkmonitor/packages/apm_web/handlers/strategy_group/groups/rpc/constants.py
  bkmonitor/packages/apm_web/handlers/strategy_group/groups/rpc/rpc.py
  bkmonitor/packages/apm_web/management/commands/apply_rpc_strategies.py
  bkmonitor/packages/monitor_web/k8s/scenario/performance.py
  bkmonitor/packages/monitor_web/tests/datalink/test_resources.py
  bkmonitor/pytest.ini
  bkmonitor/requirements_test.txt
Labels: project/monitor, feat

#4711 fix: endpoint list接口改为循环获取, 并发流程缓存不生效 & 根据查询时间修正es索引列表
  bkmonitor/apm/utils/es_search.py
  bkmonitor/packages/monitor_web/scene_view/resources/base.py
Labels: project/apm, perf

#4723 feat: 容器监控图表支持流量视图 --Story=121580597
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, feat

#4722 fix: 修复上下文targetFields配置的key为多层对象结构时解析错误bug
  bklog/web/src/views/retrieve-v2/result-comp/context-log.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/table-log.vue
  bklog/web/src/views/retrieve/result-table-panel/original-log/table-log.vue
Labels: project/log, fix

#4724 fix: 外部版接口豁免更新 --bug=136787669
  bklog/apps/constants.py
Labels: project/log, fix

#4725 fix: 修复智能监控巡检任务误判SDK模式为异常的bug --bug=136790563
  bkmonitor/bkmonitor/aiops/alert/maintainer.py
Labels: project/monitor, fix

#4726 fix: 取消 apm 查询时对 index 的过滤逻辑
  bkmonitor/apm/utils/es_search.py
Labels: project/apm, fix, notapd

#4727 feat: trace检索主机详情面板开发
  bkmonitor/webpack/src/trace/components/common-detail/collapse-item.scss
  bkmonitor/webpack/src/trace/components/common-detail/collapse-item.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.scss
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/common-detail/typing.ts
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.scss
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/typings/table.ts
Labels: project/monitor, feat

#4696 feat: 调用分析指标预计算接入支持 --story=121543449
  bkmonitor/packages/apm_web/handlers/metric_group/__init__.py
  bkmonitor/packages/apm_web/handlers/metric_group/base.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/resource.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/apm_web/handlers/metric_group/helper.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
Labels: project/apm, feat

#4732 fix: doris指标上报bug修复 --bug=136806633
  bklog/apps/log_search/metrics.py
Labels: project/log, fix

#4735 fix: 上下文目标字段存在嵌套时，无法正确读取字段值 --bug=136807017
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4737 feat: 容器监控图表支持CPU限流占比指标 --Story=121589357
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Labels: project/monitor, feat

#4736 feat：快速下载 & 异步下载切换集群优化
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/tasks/async_export.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat, notapd

#4729 perf: 缓存前触发翻译懒加载, 缓存翻译后的值
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/monitor_web/scene_view/resources/base.py
Labels: project/apm, perf, notapd

#4738 fix: 查询event根据name过滤 --bug=136813003
  bkmonitor/apm/models/datasource.py
Labels: project/apm, fix

#4739 feat: 【容器监控】表格指标列汇聚类型为COUNT时显示原始数据且不显示单位
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, feat

#4741 fix: 【容器监控】文案大小写风格统一
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#4716 feat: 页面刷新回填集群id
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4744 feat: trace检索span详情主机tab栏开发
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/layout-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/layout-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/time-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/time-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/utils.ts
Labels: project/monitor, feat

#4640 fix: 字段分析is_wildcard参数支持优化 --bug=136420277
  bklog/apps/constants.py
  bklog/apps/log_unifyquery/constants.py
Labels: project/log, fix

#4745 feat: prometheus sdk 升级 --story=121595998
  bkmonitor/requirements.txt
Labels: project/monitor, feat

#4740 feat: 首页支持日志索引集收藏及最近访问记录 --story=121589508
  bkmonitor/api/log_search/default.py
  bkmonitor/packages/monitor_web/overview/resources.py
Labels: project/monitor, feat

#4746 fix: 修复智能监控相关后台测试用例 --bug=136790563
  bkmonitor/alarm_backends/tests/service/detect/mocked_data/__init__.py
  bkmonitor/alarm_backends/tests/service/detect/test_abnormal_cluster.py
  bkmonitor/alarm_backends/tests/service/detect/test_advanced_ring_ratio.py
  bkmonitor/alarm_backends/tests/service/detect/test_advanced_year_round.py
  bkmonitor/alarm_backends/tests/service/detect/test_aiops_sdk_detect.py
  bkmonitor/alarm_backends/tests/service/detect/test_host_anomaly_detection.py
  bkmonitor/alarm_backends/tests/service/detect/test_intelligent_detect.py
  bkmonitor/alarm_backends/tests/service/detect/test_os_restart.py
  bkmonitor/alarm_backends/tests/service/detect/test_proc_port.py
  bkmonitor/alarm_backends/tests/service/detect/test_ring_ratio_amplitude.py
  bkmonitor/alarm_backends/tests/service/detect/test_simple_ring_ratio.py
  bkmonitor/alarm_backends/tests/service/detect/test_simple_year_round.py
  bkmonitor/alarm_backends/tests/service/detect/test_threshold.py
  bkmonitor/alarm_backends/tests/service/detect/test_time_series_forecasting.py
  bkmonitor/alarm_backends/tests/service/detect/test_year_round_amplitude.py
  bkmonitor/alarm_backends/tests/service/detect/test_year_round_range.py
Labels: project/monitor, fix

#4747 fix: 统计图表无法展示 --bug=136519117
  bklog/apps/bk_log_admin/handlers/index_set.py
Labels: project/log, fix

#4754 fix: 修复日志无关联问题 --bug=136870571
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, fix

#4749 fix: k8s-v2 filter by选择器优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
Labels: project/monitor, fix

#4755 fix: 修复日志缓存没有记录参数问题 --bug=136875477
  bkmonitor/packages/apm_web/handlers/log_handler.py
Labels: project/apm, fix

#4757 fix: 添加loading
  bkmonitor/webpack/src/monitor-pc/components/time-range/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
Labels: project/monitor, fix

#4752 fix: 查询提示任务延迟问题修复 --bug=136861841
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
Labels: project/log, fix

#4758 feat: 聚类patter表支持独立配置存储集群 --story=121606339
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/templates/flow/log_count_aggregation_flow.json
Labels: project/log, feat

#4697 feat: SQL查询提示功能支持 --story=121539292
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, feat

#4759 feat: k8s功能优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/table-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/components/chart-legend.vue
Labels: project/monitor, feat

#4760 feat: trace检索主机详情开发
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.scss
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.tsx
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.scss
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.scss
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.tsx
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/utils/utils.ts
Labels: project/monitor, feat

#4763 fix: 细节调整
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
Labels: project/monitor, fix

#4764 feat: trace检索span详情主机tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/utils.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4695 feat: getcontext支持默认业务配置 --story=121543542
  bkmonitor/packages/monitor/models/models.py
  bkmonitor/packages/monitor_web/commons/context/resources.py
Labels: project/monitor, feat

#4765 feat: 容器init进程调整，避免僵尸进程 --story=121610301
  bkmonitor/Dockerfile
Labels: project/monitor, feat

#4766 fix: text-segment.tsx file
  bklog/web/package-lock.json
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4743 feat: 告警后台查询请求头记录来源策略ID --story=121594380
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/api/unify_query/default.py
Labels: project/monitor, feat

#4770 fix: 【APM】Profiling 重复ID导致火焰图部分数据重叠 --bug=137053223
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/utils/utils.ts
Labels: project/monitor, fix

#4773 feat: 新增日志检索模块
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
Labels: project/monitor, feat

#4776 feat: 在故障拓扑中提供span级别根因定位信息 --story=121277803
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/virtualized-trace-view.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-zoom.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/types.ts
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-list.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4780 fix: 修复关联traceid查询失效问题
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#4777 feat: access data 补充推送日志 --story=121644176
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, feat

#4782 feat: trace检索span详情主机容器tab
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-select-simple.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/layout-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/utils.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4778 feat: 支持基于特定范围匹配的告警流控能力 --story=121606337
  bkmonitor/alarm_backends/core/alert/alert.py
  bkmonitor/alarm_backends/core/cache/shield.py
  bkmonitor/alarm_backends/service/alert/qos/__init__.py
  bkmonitor/alarm_backends/service/alert/qos/influence.py
  bkmonitor/alarm_backends/service/alert/qos/scope/__init__.py
  bkmonitor/alarm_backends/service/alert/qos/scope/vm_test.py
  bkmonitor/alarm_backends/service/converge/shield/shield_obj.py
  bkmonitor/alarm_backends/service/converge/shield/shielder/saas_config.py
  bkmonitor/kernel_api/resource/qos.py
  bkmonitor/kernel_api/views/v4/alert.py
Labels: project/monitor, feat

#4786 feat: 支持基于特定范围匹配的告警流控能力 --story=121606337
  bkmonitor/alarm_backends/core/alert/alert.py
Labels: project/monitor, feat

#4787 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.tsx
Labels: project/monitor, feat

#4788 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
Labels: project/monitor, feat

#4790 fix: 转发日志平台接口添加监控平台标识 --bug=137111879
  bkmonitor/packages/apm_web/log_proxy/views.py
Labels: project/apm, fix

#4791 feat: 完成trace检索主机和容器详情面板的开发
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/host-detail-view/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#4789 feat: 支持APM调用api模块使用saas直查鉴权 --story=121655647
  bklog/apps/api/modules/utils.py
Labels: project/log, feat

#4794 fix: apm自定义指标索引没有选中到指标图表 --Bug=137125191
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-detail.tsx
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
Labels: project/monitor, fix

#4785 feat: 告警编辑 Y 轴坐标数量级不准确 --story=121606553
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#4796 fix: 日志聚类总数z-inde问题修复
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
Labels: project/log, fix

#4798 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
Labels: project/monitor, feat

#4797 fix: 修复后台查询 date_histogram 失败的问题 --bug=137129989
  bklog/apps/log_search/handlers/search/aggs_handlers.py
Labels: project/log, fix

#4793 fix：【监控】告警详情的侧滑挡住ai小鲸问题
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.scss
Labels: project/monitor, fix

#4802 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.tsx
Labels: project/monitor, feat

#4803 feat: 【容器监控】新版因功能未完整需要增加切换旧版按钮 --Story=121575194
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s.tsx
  bkmonitor/webpack/src/monitor-pc/router/router.ts
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#4642 feat: 【告警屏蔽】移动端快捷屏蔽支持维度编辑
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
Labels: project/monitor, feat

#4801 feat: 【Profiling】左侧搜索区域首次添加条件时会触发接口请求 --story=121663424
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, perf

#4771 feat: 基于策略屏蔽FrontendShieldDetailResource，查看详细优化 --story=121597574
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
Labels: project/monitor, feat

#4652 feat: 【告警事件】告警事件视图跳转到检索条件为空导致报错问题 --story=120103635
  bkmonitor/packages/monitor_web/data_explorer/resources.py
Labels: project/monitor, feat

#4804 fix: 【Profiling】左侧搜索区域首次添加条件时会触发接口请求 --Story=121663424
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
Labels: project/monitor, fix

#4805 fix: 容器监控table图例样式错误 --Bug=137148399
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/cards-container.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.scss
Labels: project/monitor, fix

#4806 fix: 首页体验文档修复0115
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
Labels: project/monitor, fix

#4807 fix: 把trace/resourse.py文件抛出的异常类改为自定义异常 --bug=137169705
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, fix

#4792 feat: 新增采集项批量操作接口 --story=121611122
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/collector_batch_operation.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#4810 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
Labels: project/monitor, feat

#4809 fix: 修复日志检索结果文本无法选中 --bug=137171761
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
Labels: project/log, fix

#4800 feat: 提供脚本，检索全业务下策略配置了bk_target_ip维度，但未配置bk_target_cloud_id维度的策略列表，并打印对应策略的信息：ID，名字，业务id --story=121660169
  bkmonitor/bkmonitor/management/commands/strategy_diagnosis.py
Labels: project/monitor, feat

#4772 feat: Metadata: 新增查询BCS集群相关链路信息接口 --story=121640085
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/config.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/resources/test_bcs_related_resources.py
Labels: project/monitor, feat

#4812 fix: 新增图表dialog改为组件
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
Labels: project/monitor, fix

#4814 fix: 上下文接口bug修复 --bug=137194081
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4815 feat: trace检索span详情主机容器tab栏
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.tsx
Labels: project/monitor, feat

#4706 feat: 业务选择器增加默认业务交互需求
  bkmonitor/webpack/src/monitor-common/shim.d.ts
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.scss
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.tsx
  bkmonitor/webpack/src/monitor-pc/index.ts
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/store/getters.js
  bkmonitor/webpack/src/monitor-pc/store/modules/app.js
Labels: project/monitor, feat

#4565 feat: 【APM】 指标视图下钻交互优化 --story=120951026
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title-menu.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title-menu.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, feat

#4734 feat: SDK检测模式通过业务开关控制 --story=121365740
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#4817 feat: 聚类正则调试增加合法性校验 --story=121682487
  bklog/apps/log_clustering/utils/pattern.py
Labels: project/log, feat

#4821 fix: 故障根因拓扑时间轴切片service框异常展示修复 --Bug=137169919
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/aiops-container.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/types.ts
Labels: project/monitor, fix

#4825 fix: 首页问题修复
  bkmonitor/webpack/src/monitor-pc/common/constant.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-biz-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-biz-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, fix

#4709 feat: Metadata: 预计算RT命名规范化调整&SaaS指标缓存适配预计算短链路 --story=121559643
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/models/record_rule/utils.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/record_rule/conftest.py
  bkmonitor/metadata/tests/record_rule/test_record_rule_service.py
  bkmonitor/metadata/tests/record_rule/test_utils.py
  bkmonitor/metadata/tests/resources/test_metric_cache_resource_for_saas.py
  bkmonitor/metadata/utils/data_link.py
Labels: project/monitor, feat

#4816 feat: span 检索详情增加主机、容器关联页面 --story=120945407
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_trace-container.json
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_trace-host.json
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.scss
  bkmonitor/webpack/src/trace/components/collapse-item/collapse-item.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-detail.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-status/common-status.tsx
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.scss
  bkmonitor/webpack/src/trace/components/common-detail/common-tag-list/common-tag-list.tsx
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.scss
  bkmonitor/webpack/src/trace/components/common-detail/host-detail-view.tsx
  bkmonitor/webpack/src/trace/components/common-detail/typing.ts
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.scss
  bkmonitor/webpack/src/trace/components/content-collapse/content-collapse.tsx
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.scss
  bkmonitor/webpack/src/trace/components/monitor-grag/monitor-drag.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-group.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-select-simple.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-select-simple.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/filter-var-tag-input.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/groups-selector.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/layout-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/layout-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/target-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/time-compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/time-compare-select.tsx
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/utils.ts
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/typings/table.ts
  bkmonitor/webpack/src/trace/utils/utils.ts
Labels: project/apm, feat

#4829 feat: object支持别名
  bklog/apps/grafana/handlers/query.py
  bklog/apps/log_databus/handlers/clean.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/migrations/0042_cleantemplate_alias_settings.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/clean_views.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#4830 fix: 时间格式切换显示问题修复 --bug=137233097
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4831 fix: 采集插件兼容空指标维度分组 --bug=137235527
  bkmonitor/bkmonitor/utils/serializers.py
Labels: project/monitor, fix

#4820 feat: 去除GrafanaAuthSync调用 --story=121683826
  bkmonitor/bkmonitor/as_code/parse.py
  bkmonitor/core/errors/dashboard.py
  bkmonitor/packages/monitor_web/export_import/import_config.py
  bkmonitor/packages/monitor_web/export_import/resources.py
  bkmonitor/packages/monitor_web/grafana/auth.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/packages/monitor_web/iam/resources.py
  bkmonitor/packages/monitor_web/promql_import/resources.py
  bkmonitor/packages/monitor_web/tests/grafana/test_auth.py
Labels: project/monitor, feat

#4833 fix: 告警策略优先级未使用策略时间周期 --bug=137241437
  bkmonitor/alarm_backends/service/access/priority.py
Labels: project/monitor, fix
