Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-09, with the labels that each got.

#7749 feat: 添加 APM 应用新增删除的每周环比运营数据 --story=126769258
  bkmonitor/config/celery/config.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/management/commands/week_over_week_analysis.py
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, feat

#7897 fix: 【查询模板】关联指标显示异常问题修复 --bug=147530412
  bkmonitor/bkmonitor/query_template/builtin/apm.py
Labels: project/apm, fix

#7825 feat：【APM】服务配置-关联日志交互补充
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/migrations/0030_logservicerelation_value_list.py
  bkmonitor/packages/apm_web/migrations/0031_logservicerelation_value_to_value_list.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/apm_web/service/serializers.py
Labels: project/apm, feat

#7900 fix: 查询模版配置交互优化 --bug=147537816
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name.tsx
Labels: project/monitor, fix

#7903 feat: 告警action执行收敛异步任务推送新增延迟3s --story=127008626
  bkmonitor/alarm_backends/service/fta_action/utils.py
Labels: project/monitor, feat

#7881 feat: 系统事件告警策略优先级处理逻辑定位 --story=126796380
  bkmonitor/alarm_backends/service/access/event/processor.py
  bkmonitor/alarm_backends/service/access/event/processorv2.py
Labels: project/monitor, feat

#7904 feat: 查询模板体验汇总 --Story=127012350
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#7905 fix: 查询模版配置优化 --bug=147537816
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/query-variable-tool.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/template/utils.ts
Labels: project/monitor, fix

#7883 fix: 导入采集后， 不选目标，这个采集配置查看详情的时候会报错 --bug=147463526
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
  bkmonitor/packages/monitor_web/collecting/resources/backend.py
Labels: project/monitor, fix

#7906 feat: 新增统计业务仪表盘数量 --story=127029228
  bklog/apps/log_databus/management/commands/migrate_grafana.py
Labels: project/log, feat

#7912 feat: AI 小鲸支持 beforeRequest 和划选过滤 --Story=127010409
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-common/utils/url.ts
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/types.ts
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#7907 feat: 系统事件告警策略优先级处理逻辑定位 --story=126796380
  bkmonitor/alarm_backends/service/access/event/processor.py
  bkmonitor/alarm_backends/service/access/event/processorv2.py
Labels: project/monitor, feat

#7913 feat: 支持根据索引集id跳转正确的业务 --story=1010158081127036477
  bklog/web/src/main.js
  bklog/web/src/preload.ts
  bklog/web/src/services/indexSet.js
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/url-resolver.ts
Labels: project/log, fix

#7909 feat: 存在操作符优化 --story=126991543
  bklog/apps/log_unifyquery/constants.py
Labels: project/log, feat

#7915 feat: 索引集跳转链接问题修复 --Story=127044757
  bklog/web/src/views/retrieve-v3/search-result/template-manage/index-set-list/index.tsx
Labels: project/log, feat

#7920 feat: 多租户人员选择器联调 --Story=126817184
  bklog/web/src/components/user-selector/index.tsx
Labels: project/log, feat

#7923 fix: 【putong租户】新建 Exporter 类型 指标插件调试保存 出现 请求系统'metadata_v3'错误，返回错误码: 500 --bug=147590552
  bkmonitor/apm/models/datasource.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, fix

#7926 fix: 【putong租户】事件检索 - 点击回到旧版出现【3301001】请求系统'metadata_v3'错误 弹框 --bug=147595358
  bkmonitor/packages/monitor_web/grafana/resources/log.py
Labels: project/monitor, fix

#7898 feat: 实例列表页面性能优化 --story=127001776
  bklog/apps/log_databus/exceptions.py
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/collector/host.py
Labels: project/log, feat

#7866 feat: span 公共属性命名统一 --story=126954304
  bklog/apps/log_trace/trace/__init__.py
Labels: project/log, feat

#7789 feat: 路由批量更新接口 --story=126829184
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, feat

#7929 feat: 告警通知及处理动作相关mysql表支持扩展路由 --story=127053574
  bkmonitor/alarm_backends/service/fta_action/__init__.py
  bkmonitor/bkmonitor/db_routers.py
  bkmonitor/bkmonitor/models/fta/action.py
  bkmonitor/config/default.py
  bkmonitor/config/tools/mysql.py
Labels: project/monitor, feat

#7930 feat: UQ 调用时增加调用来源的请求头 --story=127056201
  bklog/apps/api/modules/unify_query.py
  bklog/apps/log_trace/trace/__init__.py
Labels: project/log, feat

#7876 feat: 【告警策略】告警策略关联日历操作补充 --Story=126660299
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/judging-condition/judging-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#7928 fix: 【多租户】切换语言接口要替换成APIGW接口 --Bug=147465792
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, feat

#7935 feat: 【快捷屏蔽】增加 集群模块屏蔽范围 --story=126805419
  bkmonitor/packages/monitor_web/scene_view/resources/host.py
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
Labels: project/monitor, fix

#7936 fix: 首页检索多租户适配 --bug=147623263
  bkmonitor/bkmonitor/iam/drf.py
  bkmonitor/packages/monitor_web/overview/resources.py
  bkmonitor/packages/monitor_web/overview/search.py
  bkmonitor/packages/monitor_web/overview/views.py
Labels: project/monitor, fix

#7939 fix: 【调用分析】图表跳转到策略配置回填异常 --Bug=147618880
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval-view/data-retrieval-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, fix

#7945 fix: 修复多租户场景下 apm 创建指标异常问题 #1010158081147628172
  bkmonitor/apm/models/datasource.py
Labels: project/apm, fix

#7937 feat: 对接unify-query日志下载接口 --story=125852491
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#7931 fix: 【多租户】点击全选导出采集配置显示导出失败 --bug=147548204
  bkmonitor/packages/monitor_web/plugin/manager/base.py
Labels: project/monitor, fix

#7948 feat: 查询模板增加一个表达式函数变量
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/constants.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/template-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/template-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/query-chart/query-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/create-function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/edit-function-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7950 feat: 图表新增策略放开多指标限制 --Story=127066708
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/dashboard-panels.vue
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-title/chart-title.tsx
Labels: project/monitor, feat

#7952 feat: 告警中心检索栏代码优化
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/alarm-retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/components/alarm-module-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/components/module-cascade-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/components/selector-trigger.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/hooks/use-alarm-filter.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/hooks/use-cascade-select.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/hooks/use-module-select.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/hooks/use-space-select.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/alert-services.ts
  bkmonitor/webpack/src/trace/store/modules/alarm-center.ts
Labels: project/monitor, feat

#7956 fix: 修复多租户场景下查询 apm 详情错误 #1010158081147630652
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/profile/doris/querier.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, fix

#7957 feat: 处理 request trace hook 失效问题 --story=127067938
  bklog/apps/log_trace/trace/__init__.py
Labels: project/log, feat

#7959 feat: 指标缓存查询db优化 --story=127069343
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#7958 feat: 故障诊断新增事件分析、日志分析模块 --story=125983745
  bkmonitor/webpack/src/monitor-common/svg/base64.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-detail.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/dimension-transfer.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/dimension-transfer.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.scss
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/quick-shield.tsx
  bkmonitor/webpack/src/trace/pages/failure/constant.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/timeline-diagram.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/topo-tools.tsx
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
  bkmonitor/webpack/src/trace/pages/failure/types/type.ts
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.tsx
  bkmonitor/webpack/src/trace/plugins/components/alert-action-list.tsx
Labels: feat, project/incident

#7962 fix: 【多租户】导入插件数据后有报错弹框 --bug=147547856
  bkmonitor/packages/monitor_web/plugin/serializers.py
Labels: project/monitor, fix

#7940 feat: 支持多别名自动生成别名字段功能 --story=1010158081127051517
  bklog/web/package-lock.json
  bklog/web/src/App.vue
  bklog/web/src/app.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/hooks/use-field-name.ts
  bklog/web/src/index.d.ts
  bklog/web/src/router/index.js
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/store.type.ts
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Labels: project/log, feat

#7965 fix: Metadata: 集群注册接口未支持租户 --bug=147655894
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, fix

#7966 feat: apm 打通普通租户创建流程 #1010158081127080822
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/metadata/resources/resources.py
Labels: project/apm, feat

#7967 fix: 修复 apm 应用创建时设置的租户不正确问题 #1010158081147661262
  bkmonitor/apm/models/application.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, fix

#7977 fix: 修复 migrate 报错 --bug=147678944
  bkmonitor/packages/apm_web/migrations/0031_logservicerelation_value_to_value_list.py
Labels: project/apm, fix

#7979 feat: UQ header 用户名获取失败的问题 --story=127093181
  bklog/apps/api/modules/unify_query.py
Labels: project/log, feat

#7981 feat: 告警中心-告警场景完善
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/alarm-table.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/hooks/use-popover.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/scenarios/alert-scenario.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/theme/alert-table-theme.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/services/alert-services.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/collapse-tags.tsx
Labels: project/monitor, feat

#6955 feat: 【事件检索】补充添加告警策略入口 --Story=125084363
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#7989 feat: 日志聚类pattern列展开收起问题修复 --Story=127134531
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.tsx
Labels: project/log, feat

#7994 feat: 日志聚类分组切换卡顿问题修复 --Story=127136899
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/quick-filter/dimension-split/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/quick-filter/temporary-group/index.tsx
Labels: project/log, feat

#7992 perf: 优化 AI 分析 Tracing 的 prompt --story=126981516
  bkmonitor/ai_whale/local_command_handlers.py
  bkmonitor/ai_whale/tests/services/test_command_handler.py
  bkmonitor/ai_whale/utils.py
Labels: project/apm, perf

#7996 fix: 修正egg_field字段逻辑
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
Labels: project/log, fix

#7999 feat: 【产品功能】多租户版本测试验收 --story=127044622
  bklog/apps/api/modules/job.py
Labels: project/log, feat

#8003 fix: AI 分析 tracing 数据 , 计算 trace 总耗时逻辑错误 --story=126931253
  bkmonitor/ai_whale/local_command_handlers.py
Labels: project/apm, fix

#8004 feat: 日志聚类外部版判断逻辑修正 --Story=127198856
  bklog/web/src/index.d.ts
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/main-header/index.tsx
Labels: project/log, feat

#8007 feat: 新版告警中心，UI模式下支持范围查询 --story=127095965
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/serializers.py
Labels: project/monitor, feat

#7971 feat: gtm pr 创建404跟进 --story=127085310
  bkmonitor/alarm_backends/core/detect_result/tasks.py
Labels: project/monitor, feat

#8006 fix: 【Tracing 检索】Span 详情的类型 ICON 应该和列表保持一致 --Bug=147302337
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, fix

#8010 feat: po环境日志聚类开关控制 --Story=127212455
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/index.tsx
Labels: project/log, feat

#8012 fix: Metadata: 结果表查询接口多租户适配 --bug=147737118
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, fix

#8014 chore: 升级bk-notice-sdk==1.4.2
  bklog/requirements.txt
Labels: project/log, chore

#8018 feat: 空间列表接口功能扩展 --story=127233678
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/meta_views.py
  bklog/apps/utils/parser.out
  bklog/apps/utils/parsetab.py
Labels: project/log, feat

#8030 feat: ai小鲸升级
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/global/ai-assitant.tsx
  bklog/web/src/global/ai-type.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-result.vue
Labels: project/log, feat

#8035 feat: 修复图表分析周期 --story=127260008
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#8033 feat: AIAgetns: 小鲸灰度方式由按用户名更改为按业务 --story=127251795
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat, project/aiops

#8039 feat: 日志聚类新版验收问题修复 --Story=127234387
  bklog/web/src/components/filter-rule/config-rule/index.scss
  bklog/web/src/components/filter-rule/config-rule/index.tsx
  bklog/web/src/hooks/use-field-egges.ts
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, feat

#8050 feat: AI小鲸: 可观测指标名统一,监控&日志平台使用同样的指标名 --story=127279148
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat, project/aiops

#8036 feat: 内置字段联想失败未发起请求 --story=127261768
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
Labels: project/log, feat

#8038 feat: 字段设置表格排序空设置保存导致排序参数报错 --story=127262695
  bklog/web/src/views/retrieve-v2/result-comp/update/table-sort.vue
Labels: project/log, feat

#8056 feat: apm调用分析返回码增加重定义功能
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/utils.ts
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-redefine-slider.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-redefine-slider.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-remarks.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-remarks.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/monitor, feat

#8054 feat: 告警中心-告警指标配置预览组件及promql语法高亮预览组件开关
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-content-detail/alert-content-detail.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-content-detail/alert-content-detail.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/promql-viewer/constants.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/promql-viewer/promql-viewer.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/promql-viewer/promql-viewer.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/promql-viewer/utils.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/query-config-viewer/query-config-viewer.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/query-config-viewer/query-config-viewer.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/services/alert-services.ts
Labels: project/monitor, feat

#8057 feat: 日志聚类过滤规则列表无别名显示问题修复 --Story=127284659
  bklog/web/src/components/filter-rule/config-rule/index.tsx
  bklog/web/src/components/filter-rule/index.tsx
Labels: project/log, feat

#8058 feat: 【查询模板】列表页-表格底部框的线条粗细样式优化 --Story=127297918
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.scss
Labels: project/monitor, feat

#8060 feat: 检索接口参数增加timezone --story=127299834
  bklog/web/src/global/ai-assitant.tsx
  bklog/web/src/polyfill.ts
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
Labels: project/log, feat

#8063 feat: AI小鲸: 会话标题重命名效果优化,根据用户问题生成 --story=127301573
  ai_agent/core/aidev_interface.py
  bkmonitor/ai_whale/resources/resources.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat, project/aiops

#8067 feat: AI小鲸: 会话标题重命名效果优化,根据用户问题生成 --story=127301573
  ai_agent/core/aidev_interface.py
Labels: project/monitor, feat

#8055 feat: 查询接口支持传入用户时区 --story=127262577
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_trace/serializers.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#8072 fix: 异步日志下载问题 --bug=147913906
  bklog/apps/log_search/serializers.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, fix

#8071 feat: apm一键添加策略功能
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/judgment-conditions.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/judgment-conditions.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/quick-add-strategy.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/quick-add-strategy.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/template-list.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/template-list.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/quick-add-strategy/typing.ts
Labels: project/monitor, feat

#8073 feat: Tracing 检索 Span 列表查询延迟优化 --story=127310471
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/packages/monitor_web/overview/search.py
Labels: project/apm, feat

#8102 fix: 修复批量快捷屏蔽没有屏蔽范围不生效
  bkmonitor/packages/monitor_web/shield/serializers.py
Labels: project/monitor, fix

#8108 fix: 修复批量快捷屏蔽没有屏蔽范围不生效
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
Labels: project/monitor, fix

#8048 feat: 【需求】APM返回码重定义功能 --story=121049364
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/apm_web/service/serializers.py
  bkmonitor/packages/apm_web/service/views.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
Labels: project/monitor, feat

#8110 feat: 过滤规则定位与粘贴问题修复 --Story=127439820
  bklog/web/src/components/filter-rule/config-rule/index.tsx
Labels: project/log, feat

#8111 fix: 故障页面异常展示了告警列表数据 --bug=147990787
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/typings/event.ts
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
Labels: fix, project/incident

#8109 feat: APM 返回码重定义功能 --story=121049364
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/migrations/0032_auto_20250903_1533.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/apm_web/service/mock_data.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/apm_web/service/serializers.py
  bkmonitor/packages/apm_web/service/views.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
  bkmonitor/webpack/src/monitor-api/modules/apm_service.js
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-redefine-slider.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-redefine-slider.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-remarks-dialog.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-remarks-dialog.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/type.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/dashboard-panel.ts
Labels: project/apm, feat

#8107 feat: 优化state更新逻辑 --story=1010158081127361606
  bklog/web/src/store/index.js
Labels: project/log, feat

#8077 【新版告警中心】 告警字段，聚合条件增加中文翻译
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Labels: project/monitor, feat

#8119 feat: APM告警模板开发 --Story=127443639
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/application/app-add/no-data-guide.tsx
  bkmonitor/webpack/src/apm/store/modules/application.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-wrapper.tsx
Labels: project/monitor, feat

#8123 feat: 过滤规则默认值设置问题修复 --Story=127463234
  bklog/web/src/components/filter-rule/config-rule/index.tsx
Labels: project/log, feat

#8130 feat: apm告警模板开发
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-delete-confirm/alarm-delete-confirm.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-delete-confirm/alarm-delete-confirm.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-template-table/alarm-template-table.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-template-table/alarm-template-table.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-templte-search/alarm-template-search.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/batch-operations/batch-operations.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/batch-operations/batch-operations.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/constant.ts
  bkmonitor/webpack/src/apm/pages/alarm-template/typeing/constants.ts
  bkmonitor/webpack/src/apm/pages/alarm-template/typeing/index.ts
  bkmonitor/webpack/src/apm/pages/alarm-template/typeing/table.ts
  bkmonitor/webpack/src/apm/static/scss/global.scss
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/new-metric-view.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#8126 fix: 日志弹窗popover问题修复 --bug=127279631
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.scss
  bkmonitor/webpack/src/trace/pages/failure/trouble-shooting/trouble-shooting.tsx
Labels: fix, project/incident

#8129 fix: Endpoints 刷新任务有并发问题，出现了重复数据，需要增加一个去重的逻辑 --bug=148074385
  bkmonitor/apm/core/discover/endpoint.py
Labels: project/apm, fix

#8128 fix: APM 详情页面，接口TOP，跳转无法定位具体接口问题 --bug=148076899
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#8134 feat: APM span详情value字段展示优化显示 --Story=127478263
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#8135 feat: 新版上下文与实时日志验收问题修复 --Story=127356231
  bklog/web/package.json
  bklog/web/src/common/util.js
  bklog/web/src/components/log-view/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v3/search-result/original-log/components/data-filter/fields-config/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/original-log/components/data-filter/highlight-control/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/original-log/components/data-filter/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/original-log/components/origin-log-result/index.scss
  bklog/web/src/views/retrieve-v3/search-result/original-log/components/origin-log-result/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/original-log/context-log/index.scss
  bklog/web/src/views/retrieve-v3/search-result/original-log/context-log/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/original-log/real-time-log/index.scss
  bklog/web/src/views/retrieve-v3/search-result/original-log/real-time-log/index.tsx
Labels: project/log, feat

#8142 feat: APM接入流程优化验收汇总 --Story=127492765
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-resize-layout.scss
  bkmonitor/webpack/src/apm/pages/home/nav-bar.scss
  bkmonitor/webpack/src/apm/pages/service/service-add-side-item.scss
  bkmonitor/webpack/src/apm/pages/service/service-add-side-item.tsx
  bkmonitor/webpack/src/apm/pages/service/service-add-side.scss
  bkmonitor/webpack/src/apm/pages/service/service-add-side.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-list/group.tsx
Labels: project/monitor, feat

#8143 feat: 索引数量过多导致redis 缓存加载失败 --story=127500444
  bklog/apps/log_search/handlers/search/pre_search_handlers.py
Labels: project/log, feat

#8152 feat: 兼容节点管理接口格式改动 --story=127508822
  bklog/apps/log_databus/handlers/collector/host.py
Labels: project/log, feat

#8140 feat: 高亮支持大小写敏感&完全匹配&正则匹配 --story=127477353
  bklog/web/src/global/match-mode/index.scss
  bklog/web/src/global/match-mode/index.tsx
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/scss/theme/theme-dark.scss
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-core/optimized-highlighter.ts
  bklog/web/src/views/retrieve-core/static.util.ts
  bklog/web/src/views/retrieve-helper.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index-set-list.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/index.vue
  bklog/web/src/views/retrieve-v3/grep/grep-cli-result.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli.scss
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
Labels: project/log, feat

#8153 feat: demo业务点击触发逻辑更新 & 字段分析弹出侧栏去重后字段统计数量回滚 --story=127508784
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/hooks/use-nav-menu.ts
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
Labels: project/log, feat

#8157 feat: APM接入服务全部切换到侧弹窗展开 --Story=127515207
  bkmonitor/webpack/src/apm/pages/application/app-configuration/custom-service.tsx
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-form.tsx
  bkmonitor/webpack/src/apm/pages/home/add-app/add-app-side.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/home/utils.ts
  bkmonitor/webpack/src/apm/pages/service/data-guide.tsx
  bkmonitor/webpack/src/apm/pages/service/service-add-side.tsx
  bkmonitor/webpack/src/apm/pages/service/service-add.tsx
  bkmonitor/webpack/src/monitor-pc/components/guide-page/guide-page.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
Labels: project/monitor, feat

#8162 feat: APM 应用详情接口增加 Trace 索引集 ID 信息 --story=127525402
  bkmonitor/apm/models/datasource.py
Labels: project/apm, feat

#8165 feat: 【快捷屏蔽】增加 集群模块屏蔽范围(选择逻辑调整) --Story=126805419
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
Labels: project/monitor, feat

#8166 feat: 增加全局配置黑名单 --story=127466964
  bklog/apps/feature_toggle/plugins/constants.py
  bklog/apps/log_extract/handlers/explorer.py
  bklog/apps/log_search/tasks/unify_query_async_export.py
  bklog/apps/log_unifyquery/handler/async_export_handlers.py
Labels: project/log, feat

#8168 feat: 完成告警模板编辑模板功能部分开发
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/detect-rules/threshold.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/edit-template-slider.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/edit-template-slider.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/template-form.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/template-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/metric.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/edit-constant-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/edit-dimension-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/edit-function-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/create-method-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/edit-method-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/method-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#8171 feat: 20250917待发布验收功能修复 --story=127530179
  bklog/web/src/views/retrieve-v2/result-comp/update/table-sort.vue
Labels: project/log, feat

#8172 feat: apm告警模板开发
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-template-config-dialog/alarm-template-config-dialog.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-template-config-dialog/alarm-template-config-dialog.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/alarm-template-table/alarm-template-table.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/typing/table.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
Labels: project/monitor, feat

#8173 fix: APM调用分析表格饼图图标展示问题 --Bug=148215337
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
Labels: project/monitor, fix

#8174 fix: 修复告警归属查不到的问题 --bug=147788856
  bkmonitor/alarm_backends/service/access/incident/processor.py
Labels: fix, project/aiops

#8175 feat: 【告警中心】告警分析查询报错修复&优化 --story=127535604
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/utils.py
  bkmonitor/packages/fta_web/tests/alert/test_utils.py
Labels: project/monitor, feat

#8179 fix: 拨测测试获取job返回结果协议适配 --bug=148244574
  bkmonitor/packages/monitor_web/commons/job/resources.py
Labels: project/monitor, fix

#8180 fix: 修改快捷屏蔽的范围逻辑
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
Labels: project/monitor, fix

#8182 fix: 修复APM返回码重定义功能测试问题
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/code/code-redefine-slider.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
Labels: project/monitor, fix

#8186 feat: apm 告警模板下发侧栏开发
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/relation-service-table.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/relation-service-table.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/template-details.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/template-push.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
Labels: project/monitor, feat

#8188 feat: 【仪表盘】graph_promql_query接口增加维度翻译 #1010158081127505279
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#8193 fix: 修复维度tooltip、画布节点tooltip展示问题 --bug=148176205
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/TagDisplay.tsx
Labels: fix, project/incident

#8198 fix: 修复故障拓扑相同节点边高亮异常
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/types.ts
Labels: fix, project/incident

#8183 feat: 【APM 策略模板】search 接口 --story=127521445
  bkmonitor/packages/apm_web/strategy/serializers.py
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8199 feat: 告警策略保存返回priority_group_key字段 --Story=127602563
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#8201 feat: 【监控小鲸】Tracing&Profiling分析等预设场景，文案改为对应指令名称 --Story=127352202
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/types.ts
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail-header.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/profiling-retrieval-view.tsx
Labels: project/monitor, feat

#8202 feat: 【监控小鲸】默认快捷指令列表中移除PromQL助手 --Story=127351980
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
  bkmonitor/webpack/src/monitor-pc/utils/promql-detector.ts
Labels: project/monitor, feat

#8200 feat: 【APM 策略模板】detail 接口 --story=127571524
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8206 feat: grafana 迁移脚本完善 --story=127607948
  bklog/apps/log_databus/management/commands/migrate_grafana.py
  bklog/bk_dataview/grafana/client.py
Labels: project/log, feat

#8207 feat: @blueking/ip-selector版本升级
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, feat

#8205 feat: 【APM 策略模板】update 接口 --story=127606679
  bkmonitor/packages/apm_web/strategy/serializers.py
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8203 feat: APM首页 搜索框及样式更新 --Story=127606143
  bkmonitor/webpack/src/apm/pages/home/apm-home.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.scss
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
Labels: project/monitor, feat

#8211 feat: 优化指标发现 RPC 服务准确性 --story=127587842
  bkmonitor/apm/core/discover/metric/service.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
  bkmonitor/packages/apm_web/handlers/strategy_group/groups/rpc/rpc.py
  bkmonitor/packages/apm_web/metric/resources.py
  bkmonitor/packages/apm_web/migrations/0033_remove_coderedefinedconfigrelation_ret_code_as_exception.py
  bkmonitor/packages/apm_web/models/service.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-caller_callee.json
Labels: project/apm, feat

#8178 feat: 监控前端linter工具更新优化 --Story=127531507
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/package.json
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-mobile/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, feat

#8214 feat: 【APM 策略模板】delete 接口 --story=127636202
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8217 feat: 【查询模板】表格中消费场景一列在禁用筛选逻辑后样式未右对齐 --Story=127640621
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.scss
Labels: project/monitor, feat

#8218 feat: apm告警模板下发侧栏&一键添加策略侧栏功能
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/template-list.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/service/detail.ts
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/template-details.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/template-details.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/typings.ts
Labels: project/monitor, feat

#8187 feat: 索引数据分类字段设置默认值 #1010158081127577462
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/result_table.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat

#8235 feat: 【APM 策略模板】detail 接口 --story=127571524
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8236 feat: 【APM 策略模板】clone 接口 --story=127668064
  bkmonitor/packages/apm_web/strategy/views.py
Labels: project/apm, feat

#8237 feat: 调整APM服务添加策略模板表单项是否编辑的判断逻辑
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/detect-rules/threshold.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/edit-template-slider.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.tsx
Labels: project/monitor, feat

#8243 fix: 策略编辑优先级为 0 时展示不出来 --Bug=148490820
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#8245 fix: 不设置优先级时，后台的priority_group_key 需要被清空为空字符串 --bug=148444233
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, fix

#8219 feat: 【自定义指标】放开聚合周期选择 --Story=127353281
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/interval/index.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/interval/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/panel-chart-view.tsx
Labels: project/monitor, feat

#8204 feat: 索引集所属多采集项数据结构优化 --story=127517291
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/retrieve.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/retrieve-v2/components/index-set-choice/content.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/favorite-list.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index-set-list.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/use-choice.tsx
  bklog/web/src/views/retrieve-v2/components/index-set-choice/use-index-set-list.tsx
  bklog/web/src/views/retrieve-v2/search-bar/bookmark-pop.vue
  bklog/web/src/views/retrieve-v2/search-bar/favorite-list.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/favorite/hooks/use-favorite.ts
  bklog/web/src/views/retrieve-v3/favorite/types/index.ts
Labels: project/log, feat

#8226 feat: 日志集群可见范围编辑报错 --story=127650007
  bklog/web/src/views/manage-v2/es-cluster/cluster-manage/es-slider.tsx
Labels: project/log, feat

#8238 feat: 日志检索横向滚动加载更多定位优化 --story=127679054
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, feat

#7691 feat: 仪表盘升级为蓝鲸监控仪表盘 --story=126741437
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/router/dashboard.js
  bklog/web/src/views/dashboard/home.tsx
  bklog/web/src/views/dashboard/index.tsx
  bklog/web/src/views/dashboard/old-index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-preview/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/template-manage/index.tsx
Labels: project/log, feat

#8250 feat: doris存储路由持久化 --story=127693262
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_unifyquery/handler/tail.py
Labels: project/log, feat

#8251 feat: collector 集群配置文件变更，增加去重逻辑，先下发再清理，优先清理旧的，保留最新的配置 --story=127694409
  bkmonitor/bkmonitor/utils/bk_collector_config.py
Labels: project/apm, feat

#8254 feat: priority_group_key字段引起as code导入失败处理 --story=127698820
  bkmonitor/bkmonitor/as_code/schema.py
Labels: project/monitor, feat

#8255 fix: 修复滚动加载定位问题
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#8246 feat: apm策略模板支持初始化打开详情页
  bkmonitor/webpack/src/apm/pages/alarm-template/alarm-template.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/constant.ts
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/template-operate/template-details.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, feat

#8248 feat: 解决一些样式以及校验问题
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/edit-template-slider.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/template-form.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/components/template-form/template-form.tsx
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.scss
  bkmonitor/webpack/src/apm/pages/alarm-template/quick-add-strategy/quick-add-strategy.tsx
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.scss
Labels: project/monitor, feat

#8256 feat: 索引集选择数据结构适配最后选择索引过滤逻辑
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, feat

#8258 feat: doris存储路由持久化 --story=127693262
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, feat
