Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-08, with the labels that each got.

#7390 fix: 修复趋势图loading显示问题
  bklog/web/src/views/retrieve-v2/search-result-chart/index.scss
  bklog/web/src/views/retrieve-v2/search-result-chart/index.tsx
Labels: project/log, fix

#7402 feat: 修复日志采集页面路由重复的问题
  bklog/web/src/router/manage.js
Labels: project/log, feat

#7358 feat: 【轮值&订阅配置】多租户兼容-人员选择器替换
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/apm/index.ts
  bkmonitor/webpack/src/fta-solutions/index.ts
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-group.ts
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.tsx
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/email-subscription/components/create-subscription-form.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/fixed-rotation-tab.scss
  bkmonitor/webpack/src/trace/pages/rotation/components/fixed-rotation-tab.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/replace-rotation-table-item.scss
  bkmonitor/webpack/src/trace/pages/rotation/components/replace-rotation-table-item.tsx
Labels: project/monitor, feat

#7404 fix: unify-query查询reference_name获取边界问题 --bug=146208028
  bklog/apps/log_unifyquery/constants.py
  bklog/apps/log_unifyquery/handler/base.py
  bklog/apps/log_unifyquery/handler/chart.py
  bklog/apps/tests/log_unifyquery/test_base.py
Labels: project/log, fix

#7403 feat: 策略配置接口支持新维度检测算法 --story=126197940
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/bkmonitor/strategy/serializers.py
Labels: project/monitor, feat

#7409 feat: grafana 参数同步时去除 orgName 参数的同步 --Story=126293861
  bkmonitor/webpack/src/monitor-pc/pages/grafana/grafana.tsx
Labels: project/monitor, feat

#7405 feat: 容器监控指标增加show_chart字段控制是否展示图表
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#7415 feat: APM 调用分析图表图例验收对齐 --Story=126295290
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-chart/aiops-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apdex-chart/apdex-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-time-series/apm-time-series.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/monitor, feat

#7416 feat: 告警查询conditions参数支持action_id
  bkmonitor/bkmonitor/utils/elasticsearch/handler.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
Labels: project/monitor, feat

#7422 feat: 新版告警中心开发
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/scenarios/action-scenario.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/scenarios/alert-scenario.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/scenarios/incident-scenario.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/services/action-services.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/collapse-tags.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/user-tags-cell.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-cell.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
Labels: project/monitor, feat

#7399 feat: AI 小鲸版本升级支持会话管理 --Story=126262897
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#7371 feat: shift + wheel 实现横向滚动功能
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/scroll-x-bar.tsx
Labels: project/log, feat

#7424 feat: 告警屏蔽列表响应速度慢，后台有较多无用调用 --story=126265912
  .gitignore
  bkmonitor/bkmonitor/utils/shield.py
  bkmonitor/packages/monitor_web/commons/cc/utils/cmdb.py
  bkmonitor/packages/monitor_web/shield/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/shield/utils.py
Labels: project/monitor, feat

#7429 chore: AIAgents: GetChatSessionContent URL后缀调整 --story=126323494
  bkmonitor/ai_agents/views.py
Labels: project/monitor, feat

#7397 feat：重构归档仓库、归档列表、归档回溯页面
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/router/manage.js
  bklog/web/src/views/manage-v2/log-archive/archive-list/index.scss
  bklog/web/src/views/manage-v2/log-archive/archive-list/index.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-list/list-slider.scss
  bklog/web/src/views/manage-v2/log-archive/archive-list/list-slider.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-list/state-table.scss
  bklog/web/src/views/manage-v2/log-archive/archive-list/state-table.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-repository/index.scss
  bklog/web/src/views/manage-v2/log-archive/archive-repository/index.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-repository/repository-slider.scss
  bklog/web/src/views/manage-v2/log-archive/archive-repository/repository-slider.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-restore/index.scss
  bklog/web/src/views/manage-v2/log-archive/archive-restore/index.tsx
  bklog/web/src/views/manage-v2/log-archive/archive-restore/restore-slider.scss
  bklog/web/src/views/manage-v2/log-archive/archive-restore/restore-slider.tsx
Labels: project/log, feat

#7428 feat: 划词弹出复制功能实现
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/hooks/use-segment-pop.ts
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-helper.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
Labels: project/log, feat

#7440 feat: AIAgents: 小鲸接入Langfuse,实现全流程打点 --story=126362461
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/ai_agents/services/callback.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat, project/aiops

#7442 feat: Metadata: CreateOrUpdateLogRouter接口推送DataLabel时使用默认逻辑,DataLabel不再支持多对多 --story=126371796
  bkmonitor/metadata/resources/log_datalink.py
Labels: project/monitor, feat

#7443 feat: 禁用新建检索标签
  bklog/web/src/hooks/use-segment-pop.ts
Labels: project/log, feat

#7423 fix: 查询后台 application detail 数据时，依赖于 saas 侧数据 --bug=146215826
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#7447 feat: 移动端快捷屏蔽提交后回到首页 --Story=126378785
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
Labels: project/monitor, feat

#7438 feat: 【AI小鲸】Trace检索详情增加trace分析AI入口 --story=122106959
  bkmonitor/ai_agents/services/command_handler.py
  bkmonitor/ai_agents/tests/services/test_command_handler.py
Labels: project/apm, feat, project/aiops

#7434 feat: 查询主机列表接口报错问题修复 --story=126321267
  bklog/apps/api/modules/utils.py
Labels: project/log, feat

#7460 fix: 日志检索起止时间小于最大保存时间时，查询结果不符合预期 --bug=146402451
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
Labels: project/log, fix

#7412 feat: Doris 路由注册逻辑开发 --story=126235536
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/log_unifyquery/handler/chart.py
Labels: project/log, feat

#7461 feat: AIAgents: 小鲸会话管理支持修改会话名称,API Client历史问题去除,优化小鲸接口实现 --story=126407914
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/views.py
Labels: project/monitor, feat

#7464 feat: 全局配置-通知方式-消息队列支持值为复杂类型 --Story=126413739
  bkmonitor/webpack/src/monitor-pc/pages/global-config/global-config.vue
Labels: project/monitor, feat

#7463 feat: alarm_backends.fta_action.message_queue支持基于业务的多队列推送 --story=126389223
  bkmonitor/alarm_backends/service/tools.py
Labels: project/monitor, feat

#7465 fix: 修复索引集选择默认加载展开节点逻辑 & 关联TraceID异常处理
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index-set-list.tsx
  bklog/web/src/views/retrieve-v2/hooks/use-text-action.ts
Labels: project/log, fix

#7456 fix: 修复指标服务发现信息有概率被覆盖的问题 --bug=146396057
  bkmonitor/apm/core/discover/metric/service.py
Labels: project/apm, fix

#7476 fix: 查询脱敏原始日志排序参数报错问题 --bug=146435946
  bklog/apps/log_search/views/search_views.py
Labels: project/log, fix

#7479 feat: 【需求】告警分派能力优化 --Story=121568253
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/debugging-result.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/debugging-result.tsx
Labels: project/monitor, feat

#7430 fix: APM 查看大图时间对比失效 --bug=146161736
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-custom-graph/apm-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/monitor, fix

#7478 fix: 修复Addition判定逻辑
  bklog/web/src/store/url-resolver.ts
Labels: project/log, fix

#7480 fix: 事件检索检索值输入框样式优化 --bug=146453096
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-input.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-input.tsx
Labels: project/monitor, fix

#7481 fix: 修复 APM 自定义指标发现偶现失败的问题 --bug=146453387
  bkmonitor/constants/apm.py
Labels: project/apm, fix

#7454 feat: ascode导出支持app字段过滤 --story=126391319
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, feat

#7483 feat: 日志关键字指标缓存维度去除检索字段 --story=126438075
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#7487 chore: Metadata: 推送Doris路由时补充租户ID --story=126447227
  bkmonitor/metadata/resources/log_datalink.py
Labels: project/monitor, feat

#7468 feat: 【告警策略】策略里只用了智能算法时判断条件优化 --story=125874837
  bkmonitor/alarm_backends/core/control/strategy.py
  bkmonitor/alarm_backends/tests/core/control/test_aiops_algorithm.py
Labels: project/monitor, feat

#7498 fix: 修复 APM 自定义指标在部分场景下没有排除主被调指标的问题 --bug=146550625
  bkmonitor/constants/apm.py
Labels: project/apm, fix

#7499 feat: llm日志分析新版格式适配 --story=124497006
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: feat, project/aiops

#7507 feat: 日志路由接口别名配置默认为None而非空列表 --story=126489143
  bkmonitor/metadata/resources/log_datalink.py
Labels: project/monitor, feat

#7466 feat: pattern_search 接口需要增加 origin_log 的返回 --story=126367458
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/migrations/0038_aiopssignatureandpattern_origin_log.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/tasks/sync_pattern.py
Labels: project/log, feat

#7511 feat: Metadata bkdata datalink相关接口调用增加租户ID --story=126505598
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#7515 feat: access模块处理队列支持基于策略对应的数据源进行路由 --story=126460489
  bkmonitor/alarm_backends/service/access/handler.py
  bkmonitor/alarm_backends/service/access/tasks.py
Labels: project/monitor, feat

#7518 fix: top_n接口，修复bucket_count字段返回不是准确的桶的数量 --bug=146428402
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/utils.py
Labels: project/monitor, fix

#7509 fix: 检索结果在二次触发检索时横向滚动失效 --bug=146573713
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix, 二次检索-检索结果横向滚动失效

#7432 fix: 别名的传参bug修复 --bug=146320292
  bklog/apps/log_databus/handlers/clean.py
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_databus/views/clean_views.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/tests/log_databus/test_clean_template.py
Labels: project/log, fix

#7530 fix: 用户日志平台首次加载业务列表默认选择无权限业务问题 & 默认选择索引集无数据问题修复 --bug=146681617
  bklog/web/src/preload.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix, 用户日志平台首次加载逻辑定位异常优化

#7533 feat: AIAgents: 运营数据埋点支持快捷指令调用统计 --story=126535831
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/services/metrics_reporter.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#7534 fix: 日志时间排序默认排序设置 --bug=146648630
  bklog/web/src/store/index.js
Labels: project/log, fix

#7521 feat: 告警推送的kafka库升级到confluent_kafka --story=126504778
  bkmonitor/alarm_backends/service/fta_action/message_queue/client.py
  bkmonitor/alarm_backends/service/fta_action/message_queue/processor.py
Labels: project/monitor, feat

#7527 feat: 聚类正则模板参数调整 --story=126540600
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/regex_template.py
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_clustering/views/regex_template_views.py
Labels: project/log, feat

#7547 feat: Trace 详情小鲸 --Story=126560792
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
Labels: project/monitor, feat

#7550 feat: 主动关闭告警API --story=126564421
  bkmonitor/packages/fta_web/alert/resources.py
  bkmonitor/packages/fta_web/alert/views.py
  bkmonitor/support-files/apigw/docs/zh/close_alert.md
  bkmonitor/support-files/apigw/resources/internal/app/alert.yaml
Labels: project/monitor, feat

#7545 fix: 日志时间排序分页参数修复 --bug=146710603
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#7551 feat: 去除小鲸翻译指令 --Story=126566850
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/types.ts
Labels: project/monitor, feat

#7554 fix: 修复日志检索结果重新检索导致Resize横向滚动条计算逻辑修复
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/views/retrieve-core/retrieve-events.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#7558 fix: 点击更多阻止行展开行 & 展开宽度计算问题修复 --bug=146767302
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/components/result-storage/index.tsx
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#7561 feat: 优化自定义指标列表，查询关联策略 --story=126577047
  bkmonitor/packages/monitor_web/custom_report/resources/metric.py
Labels: project/monitor, feat

#7559 feat: 【指标选择器】计算平台指标增加tips --Story=126562180
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/checkedbox-list.scss
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/checkedbox-list.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#7564 fix: highlight-notworking --bug=146777879
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-core/optimized-highlighter.ts
  bklog/web/src/views/retrieve-core/static.util.ts
  bklog/web/src/views/retrieve-helper.tsx
Labels: project/log, fix

#7567 fix: 字段分析参数问题修复
  bklog/web/src/views/retrieve-v2/field-filter-comp/agg-chart.tsx
Labels: project/log, fix

#7571 feat: 添加对故障分析结果增加内容的检查 --story=124497006
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: feat, project/aiops

#7552 feat: unify-query 接口封装 --story=126526662
  bklog/apps/constants.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_unifyquery/urls.py
  bklog/apps/log_unifyquery/utils.py
  bklog/apps/log_unifyquery/views.py
  bklog/urls.py
Labels: project/log, feat

#7568 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/template-config/template-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/template-config/template-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/type/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
Labels: project/monitor, feat

#7572 feat: 事件检索点击提交偶尔出现 tooltips 展示位置有误 --Story=126584742
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
Labels: project/monitor, feat

#7573 feat: 采集插件创建数据源时指定业务ID --story=126589916
  bkmonitor/metadata/task/tasks.py
  bkmonitor/packages/monitor_web/commons/data_access.py
Labels: project/monitor, feat

#7575 fix: 修复po环境快速下载问题 --bug=146808256
  bklog/apps/constants.py
Labels: project/log, fix

#7580 fix: uq接口路由修改 --bug=146815444
  bklog/apps/log_unifyquery/views.py
Labels: project/log, fix

#7581 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/query-string-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/type/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
Labels: project/monitor, feat

#7582 feat: ES报错信息优化补充 --story=126602913
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/exceptions.py
  bklog/apps/tests/log_search/test_error_message.py
Labels: project/log, feat

#7585 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator-pop.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
Labels: project/monitor, feat

#7502 feat: 采集状态支持展示动态分组名称 --story=126214009
  bklog/apps/log_databus/handlers/collector/host.py
Labels: project/log, feat

#7577 feat: 【容器事件场景】事件检索功能，嵌入至容器监控的事件场景 --story=124971045
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/k8s.py
Labels: project/monitor, feat

#7595 feat: 日志聚类接入重构与新交互开发 --story=126602975
  bklog/web/.bk-wiki-ai/meta/src$components$filter-rule$index.tsx.wkm
  bklog/web/.bk-wiki-ai/meta/src$components$log-icon$index.tsx.wkm
  bklog/web/.bkwikiairc
  bklog/web/package.json
  bklog/web/src/common/util.js
  bklog/web/src/components/filter-rule/config-rule/control-operate/index.scss
  bklog/web/src/components/filter-rule/config-rule/control-operate/index.tsx
  bklog/web/src/components/filter-rule/config-rule/index.scss
  bklog/web/src/components/filter-rule/config-rule/index.tsx
  bklog/web/src/components/filter-rule/config-rule/rule-trigger/index.scss
  bklog/web/src/components/filter-rule/config-rule/rule-trigger/index.tsx
  bklog/web/src/components/filter-rule/index.scss
  bklog/web/src/components/filter-rule/index.tsx
  bklog/web/src/components/import-from-other-index-set/index.scss
  bklog/web/src/components/import-from-other-index-set/index.tsx
  bklog/web/src/components/log-icon/index.scss
  bklog/web/src/components/log-icon/index.tsx
  bklog/web/src/components/rule-config-operate/debug-tool/index.scss
  bklog/web/src/components/rule-config-operate/debug-tool/index.tsx
  bklog/web/src/components/rule-config-operate/index.scss
  bklog/web/src/components/rule-config-operate/index.tsx
  bklog/web/src/components/rule-table/add-rule/index.scss
  bklog/web/src/components/rule-table/add-rule/index.tsx
  bklog/web/src/components/rule-table/index.scss
  bklog/web/src/components/rule-table/index.tsx
  bklog/web/src/hooks/use-locale.ts
  bklog/web/src/images/cluster-img/cluster.png
  bklog/web/src/index.d.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/main.js
  bklog/web/src/router/index.js
  bklog/web/src/router/retrieve.js
  bklog/web/src/services/log-clustering.js
  bklog/web/src/services/log-clustering.ts
  bklog/web/src/services/new-report.ts
  bklog/web/src/services/retrieve.ts
  bklog/web/src/services/type.ts
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/views/retrieve-v3/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/cluster-access/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/cluster-access/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/cluster-access/preview-result/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/cluster-access/preview-result/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/quick-open-cluster/index.tsx
Labels: project/log, feat

#7602 fix: 修复profiling指引切换报错问题以及调整图表为默认展开 --bug=146866555
  bkmonitor/webpack/src/trace/pages/profiling/components/retrieval-search.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/profiling/profiling.tsx
Labels: project/monitor, fix

#7606 fix: 修复多租户 apm 后台请求 unifyquery 未携带租户问题 --bug=146883182
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix

#7608 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-popover.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/metric/metric-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/metric.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/typings/index.ts
Labels: project/monitor, feat

#7629 feat: 查询模板开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config.detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/interval/interval-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/metric/metric-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/query-variable-tool.ts
Labels: project/monitor, feat

#7617 fix: kv模式字段宽度修复 --bug=146943146
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve/result-comp/kv-list.vue
Labels: project/log, fix

#7627 feat: UI查询隐藏选项自动添加到URL并支持解析 --story=126692741
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/store/condition-operator.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/store.type.ts
  bklog/web/src/views/retrieve-v2/search-bar/const.common.ts
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v2/search-result-chart/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, feat

#7633 feat: 【AI小鲸】预设术语解读文案优化 --Story=126658942
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.tsx
Labels: project/monitor, feat

#7634 feat: 图表分析支持下载 sql 查询结果 --story=126705279
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-chart/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
Labels: project/log, feat

#7638 feat: 新建查询模板抽离代码
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/create.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/constant-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/create-constant-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/edit-constant-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/dimension-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/edit-dimension-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/create-function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/edit-function-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/function-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/create-method-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/edit-method-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/method-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7643 fix: 修复UI查询默认参数解析
  bklog/web/src/store/index.js
Labels: project/log, fix

#7644 feat: 监控 - 自定义指标时间戳问题 --story=126714991
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/utils.ts
Labels: project/monitor, feat

#7647 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-tag-selector.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-tag-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/query-config.ts
Labels: project/monitor, feat

#7639 feat: 【需求】仪表盘导入，只能导入到 "General"目录下 --story=121048730
  bkmonitor/packages/monitor_web/export_import/import_config.py
  bkmonitor/packages/monitor_web/export_import/resources.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#7650 feat: 调整 apm 下 profile 数据的批次发送大小 --story=126726974
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/application_config.py
Labels: project/apm, feat

#7651 feat: doris路由协议优化 --story=126709496
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, feat

#7655 feat: 查询模板开发
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail-kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/components/delete-confirm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/query-variable-tool.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/constants.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/detail.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/query-config.ts
Labels: project/monitor, feat

#7658 fix: 日志聚类测试问题修复 --Bug=146994949
  bklog/web/src/components/filter-rule/config-rule/index.tsx
  bklog/web/src/components/filter-rule/index.tsx
  bklog/web/src/components/rule-table/add-rule/index.scss
  bklog/web/src/components/rule-table/add-rule/index.tsx
  bklog/web/src/components/rule-table/index.tsx
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/utils/decode.ts
  bklog/web/src/utils/index.ts
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/cluster-start-fail/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-preview/custom-highlight/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-preview/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-table/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/cluster-popover/regex-match/regex-table/validate-input/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/content-table/remark-edit-tip/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/main-header/head-column.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/log-table/main-header/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/cluster-config/edit-config/index.scss
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/cluster-config/edit-config/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/cluster-config/edit-config/rule-operate/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/cluster-config/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/email-subscription/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/log-clustering/top-operation/strategy/index.tsx
Labels: project/log, fix

#7649 feat: tag选择器下拉框支持模糊搜索 --Bug=126280956
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/typings/event.ts
Labels: feat, project/incident

#7665 feat: 调整快速下载最大限制 --story=126736904
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#7668 fix: 下载文件名优化
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
Labels: project/log, fix

#7681 feat: 提供配置，支持多租户环境下关闭尾部采样 --story=126728093
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, feat

#7682 feat: 升级ip模块选择器修复查询问题 --story=126746137
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, feat

#7685 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-option.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/add-variable-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/select-wrap.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/variable-name-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/query-config.ts
Labels: project/monitor, feat

#7686 feat: 查询模板开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config-viewer/query-config-viewer.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/constants.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/query-template.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/table.ts
Labels: project/monitor, feat

#7688 feat: 新建查询模板功能优化
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/route.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/constants.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/create-constant-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/edit-constant-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/edit-dimension-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/create-function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/edit-function-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/edit-method-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/variables-manage/variable-guide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/variables-manage/variables-manage.tsx
Labels: project/monitor, feat

#7690 feat：删除reactive用法
  bklog/web/src/views/manage-v2/log-extract/extract-config/index.tsx
  bklog/web/src/views/manage-v2/log-extract/extract-link/link-create.tsx
  bklog/web/src/views/manage-v2/log-extract/extract-link/link-list.tsx
  bklog/web/src/views/manage-v2/log-extract/extract-task/task-list/index.tsx
Labels: project/log, feat

#7630 feat: Metadata: 集群信息支持多租户 --story=126691452
  bkmonitor/apm/core/discover/precalculation/consul_handler.py
  bkmonitor/apm/core/handlers/application_hepler.py
  bkmonitor/apm/core/handlers/bk_data/flow.py
  bkmonitor/apm/core/handlers/bk_data/tail_sampling.py
  bkmonitor/apm/core/handlers/ebpf/base.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/metadata/management/commands/access_bkdata_vm.py
  bkmonitor/metadata/management/commands/query_table_id_and_data_id.py
  bkmonitor/metadata/migrations/0237_auto_20250818_1926.py
  bkmonitor/metadata/models/custom_report/event.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/es_snapshot.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/record_rule/service.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/models/vm/bk_data.py
  bkmonitor/metadata/models/vm/config.py
  bkmonitor/metadata/models/vm/managers.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/resources/cluster.py
  bkmonitor/metadata/resources/datalink_operation.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/service/storage_details.py
  bkmonitor/metadata/service/sync_metadata.py
  bkmonitor/metadata/service/vm_storage.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/data_link/test_compose_data_link_configs.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
  bkmonitor/metadata/tests/data_link/test_space_related_storage_info.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/metadata/tests/space/test_space_router.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
  bkmonitor/metadata/utils/es_tools.py
  bkmonitor/metadata/utils/golang_time_format.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#7693 feat: 【APM 内置策略】查询模板和策略模板 mock 数据 --story=126513879
  bkmonitor/packages/monitor_web/query_template/serializers.py
  bkmonitor/packages/monitor_web/query_template/views.py
Labels: project/apm, feat

#7694 feat: 【APM 内置策略】查询模板和策略模板 mock 数据 --story=126513879
  bkmonitor/webpack/src/monitor-api/modules/model.js
Labels: project/apm, feat

#7695 feat: AI 小鲸版本升级修复历史会话问题 --Story=126758149
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#7696 feat: 日志提取模块切回旧路由
  bklog/web/src/router/manage.js
  bklog/web/src/views/manage-v2/log-extract/extract-config/config-slider.tsx
  bklog/web/src/views/manage-v2/log-extract/extract-config/validate-user-selector.tsx
Labels: project/log, feat

#7698 feat: 图表分析表格填充10W+数据逻辑优化 --story=126759695
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
Labels: project/log, feat

#7700 feat: 查询模版配置接口数据转换
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/metric.ts
Labels: project/monitor, feat

#7684 fix: 兼容 apm 下当 profile 创建失败时，页面的报错 --bug=147077714
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, fix

#7704 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel-loading.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-panel/expression-panel-loading.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel-loading.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-panel/query-panel-loading.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/metric.ts
Labels: project/monitor, feat

#7671 feat: AIAgents: 小鲸逻辑抽象,提取SDK交互句柄,移动至项目外层以供日志平台使用 --story=126726655
  ai_agent/core/aidev_interface.py
  ai_agent/services/__init__.py
  ai_agent/services/local_command_handler.py
  ai_agent/services/metrics_reporter.py
  ai_agent/utils.py
  bkmonitor/ai_agents/services/callback.py
  bkmonitor/ai_agents/tests/services/__init__.py
  bkmonitor/ai_agents/tests/test_agent_config.py
  bkmonitor/ai_whale/__init__.py
  bkmonitor/ai_whale/apps.py
  bkmonitor/ai_whale/local_command_handlers.py
  bkmonitor/ai_whale/resources/__init__.py
  bkmonitor/ai_whale/resources/resources.py
  bkmonitor/ai_whale/tests/__init__.py
  bkmonitor/ai_whale/tests/resources/__init__.py
  bkmonitor/ai_whale/tests/resources/test_chat_completion.py
  bkmonitor/ai_whale/tests/resources/test_switch_agent_by_command.py
  bkmonitor/ai_whale/tests/services/__init__.py
  bkmonitor/ai_whale/tests/services/test_command_handler.py
  bkmonitor/ai_whale/tests/test_agent_config.py
  bkmonitor/ai_whale/urls.py
  bkmonitor/ai_whale/utils.py
  bkmonitor/ai_whale/views.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/urls.py
Labels: project/monitor, feat, project/aiops

#7706 feat: AI 小鲸 Agent 请求地址变更 --Story=126767794
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
Labels: project/monitor, feat

#7707 feat: 新建查询面板开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/typing.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression-config/expression-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/constants.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/create.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/edit-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/create-constant-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/create-function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/create-method-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/variables-manage/variable-guide.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/variables-manage/variable-guide.tsx
Labels: project/monitor, feat

#7703 feat: 多租户改造 --story=126625832
  bklog/apps/api/base.py
  bklog/apps/iam/handlers/permission.py
  bklog/apps/log_search/tasks/unify_query_async_export.py
Labels: project/log, feat

#7715 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/metric/metric-creator.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/metric/metric-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/metric.ts
Labels: project/monitor, feat

#7716 feat: 查询模板接口联调
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-view/query-template-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/template-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/create.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/dimension-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/edit-dimension-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7724 feat: 查询模板开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config-viewer/query-config-viewer.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/detail.ts
Labels: project/monitor, feat

#7713 feat: AIAgents: 小鲸逻辑进一步精简，去除历史逻辑 --story=126772113
  ai_agent/README.md
  ai_agent/conf/__init__.py
  ai_agent/conf/default.py
  ai_agent/core/errors.py
  ai_agent/core/qa/__init__.py
  ai_agent/core/qa/agent.py
  ai_agent/core/qa/prompts.py
  ai_agent/core/qa/retriever.py
  ai_agent/core/streams/__init__.py
  ai_agent/scenarios/__init__.py
  ai_agent/scenarios/bkm_chat/__init__.py
  ai_agent/scenarios/bkm_chat/agent.py
  ai_agent/scenarios/bkm_chat/resources.py
  ai_agent/scenarios/bkm_chat/views.py
  ai_agent/urls.py
  bkmonitor/config/default.py
  bkmonitor/packages/monitor_web/ai_assistant/__init__.py
  bkmonitor/packages/monitor_web/ai_assistant/urls.py
  bkmonitor/packages/monitor_web/ai_assistant/views.py
  bkmonitor/packages/monitor_web/urls.py
Labels: project/monitor, feat, project/aiops

#7726 feat: 多租户改造 --story=126625832
  bklog/apps/log_search/handlers/meta.py
  bklog/apps/utils/context_processors.py
Labels: project/log, feat

#7727 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-tag-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/query-config.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7721 feat: 把插件管理中涉及tarfile.extractall解压的功能改造换成安全的 --story=126744787
  bkmonitor/packages/monitor_web/commons/file_manager.py
  bkmonitor/packages/monitor_web/management/commands/sign_package.py
Labels: project/monitor, feat

#7730 feat: 查询模板功能优化
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/common-form/variable-common-form.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/edit-condition-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/create-constant-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/constant/edit-constant-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/edit-dimension-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/create-function-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/function/edit-function-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/create-method-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/edit-method-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7732 feat: AIAgents: 流式对话指标上报资源维度修正 --story=126798305
  ai_agent/core/aidev_interface.py
Labels: project/monitor, feat, project/aiops

#7734 feat: 【APM 内置策略】查询模板更新接口 --story=126792643
  bkmonitor/packages/monitor_web/query_template/serializers.py
  bkmonitor/packages/monitor_web/query_template/views.py
Labels: project/apm, feat

#7735 feat: 【APM 内置策略】查询模板删除接口 --story=126793789
  bkmonitor/packages/monitor_web/query_template/views.py
Labels: project/apm, feat

#7739 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
Labels: project/monitor, feat

#7742 fix: Metadata: 日志路由变更需要推送旧的data_label --bug=147185311
  bkmonitor/metadata/resources/log_datalink.py
Labels: project/monitor, fix

#7743 feat: 查询模板联调开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/expression/expression-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/function/function-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/method/method-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/components/delete-confirm.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/utils/query-variable-tool.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/consume-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/template-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/query-template.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/table.ts
Labels: project/monitor, feat

#7765 fix: 修复查询模板变量保存后为空的问题 --bug=147264353
  bkmonitor/bkmonitor/query_template/serializers.py
Labels: project/apm, fix

#7766 feat: 流水线构建 vue 版本升级导致__VUE_PROD_HYDRATION_MISMATCH_DETAILS__问题 --Sto…
  bkmonitor/webpack/webpack.config.js
Labels: project/monitor, feat

#7768 fix: 流水线构建 vue 版本升级导致__VUE_PROD_HYDRATION_MISMATCH_DETAILS__问题 --Bug=…
  bkmonitor/webpack/src/monitor-pc/public-path.js
Labels: project/monitor, feat

#7771 feat: 查询模板接口联调
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-set/query-template-set.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/create.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/create-condition-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/dimension-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/variable-panel/variable-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7772 fix: Metadata: check_event_update执行报错问题 --bug=147269664
  bkmonitor/metadata/task/custom_report.py
Labels: project/monitor, fix

#7769 feat: 点击日志查询更新当前时间 --story=126856850
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
Labels: project/log, feat

#7762 feat: 优化收藏功能点击收藏收起激活Tab会默认切换为原始日志问题 --story=126852093
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-hub.vue
  bklog/web/src/views/retrieve-v2/collect/add-collect-dialog.scss
  bklog/web/src/views/retrieve-v2/collect/add-collect-dialog.tsx
  bklog/web/src/views/retrieve-v2/collect/collect-container.scss
  bklog/web/src/views/retrieve-v2/collect/collect-container.tsx
  bklog/web/src/views/retrieve-v2/collect/collect-group.scss
  bklog/web/src/views/retrieve-v2/collect/collect-group.tsx
  bklog/web/src/views/retrieve-v2/collect/collect-index.scss
  bklog/web/src/views/retrieve-v2/collect/collect-index.tsx
  bklog/web/src/views/retrieve-v2/collect/component/group-dropdown.scss
  bklog/web/src/views/retrieve-v2/collect/component/group-dropdown.tsx
  bklog/web/src/views/retrieve-v2/collect/component/manage-input.scss
  bklog/web/src/views/retrieve-v2/collect/component/manage-input.tsx
  bklog/web/src/views/retrieve-v2/collect/favorite-detail.vue
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v3/favorite/index.tsx
Labels: project/log, fix

#7711 feat: 图表分析表格下载文件命名格式修正 --story=126772607
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/index.tsx
Labels: project/log, feat

#7777 feat: 仪表盘迁移命令支持
  bklog/apps/log_databus/management/commands/migrate_grafana.py
  bklog/bk_dataview/grafana/client.py
  bkmonitor/support-files/iam/0003_initial.json
Labels: project/log, feat, notapd

#7778 feat: JSON空对象判定逻辑优化 --story=126858648
  bklog/web/src/global/json-formatter.vue
Labels: project/log, feat

#7780 feat: 查询模版配置开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-creator.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/metric.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/metric.ts
Labels: project/monitor, feat

#7785 feat: 查询模板开发
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/condition/condition-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/dimension/dimension-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-config/query-config-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/query-template-table/query-template-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/components/config-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/detail/template-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/query-template.tsx
Labels: project/monitor, feat

#7788 feat: 指标模板联调
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/validate.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/components/basic-info/basic-info.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/create/template-create.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/edit/template-edit.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/service/metric.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/typings/variables.ts
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/condition/condition-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/create-dimension-value-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/dimension-value.scss
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension-value/edit-dimension-value-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/create-dimension-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/dimension/dimension-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/create-method-variable.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/edit-method-variable-value.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/components/method/method-variable-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/query-template/variables/index.ts
Labels: project/monitor, feat

#7790 feat: 弹出添加检索条件样式优化 --story=126895388
  bklog/web/src/global/json-view/index.ts
  bklog/web/src/views/retrieve-v3/index.tsx
  bklog/web/src/views/retrieve-v3/segment-pop.scss
Labels: project/log, feat

#7791 feat: 容器监控事件检索跳转能力 --Story=126891970
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#7800 feat: 图表分析监听事件优化 --story=126900090
  bklog/web/src/hooks/use-retrieve-event.ts
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, feat

#7802 fix：修复日志提取页面loading问题
  bklog/web/src/views/manage-v2/log-extract/extract-task/index.tsx
  bklog/web/src/views/manage-v2/log-extract/extract-task/task-create/index.tsx
Labels: project/log, fix

#7806 feat: 流水线打包报错 --Story=126902322
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#7779 fix: Metadata: vm接入巡检任务报错问题处理 --bug=147297302
  bkmonitor/metadata/management/commands/switch_data_id_from_influxdb_to_bkbase_v4.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/vm/utils.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/task/vm.py
Labels: project/monitor, fix

#7815 feat: 优化 apm 对 Endpoint 表的查询逻辑 --story=126906164
  bkmonitor/apm/core/discover/endpoint.py
Labels: project/apm, feat
