Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-07, with the labels that each got.

#6989 fix: 优化lucene分词性能 & 分词边界问题
  bklog/web/src/hooks/lucene.segment.ts
  bklog/web/src/hooks/use-json-formatter.ts
Labels: project/log, fix

#6987 feat: 新版告警中心开发
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/alarm-table.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/alarm-table.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/common-table.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/common-table.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/composables/use-table-columns.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/action-services.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/alert-services.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/incident-services.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/typings/constants.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/typings/services.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/typings/table.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-cell.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/theme/trace-table.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
Labels: project/monitor, feat

#6992 feat: AIAgents: LLM支持调整默认温度 & 移除冗余环境变量 --story=125434399
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
Labels: project/monitor, feat

#6995 feat: AIAgent:优化快捷指令,不影响常规流程 --story=125438913
  bkmonitor/ai_agents/resources/resources.py
Labels: project/monitor, feat

#6971 feat: Metadata: Redis路由多租户适配 --story=125372263
  bkmonitor/alarm_backends/tests/service/detect/mocked_data/__init__.py
  bkmonitor/alarm_backends/tests/service/detect/test_abnormal_cluster.py
  bkmonitor/alarm_backends/tests/service/detect/test_aiops_sdk_detect.py
  bkmonitor/alarm_backends/tests/service/detect/test_time_series_forecasting.py
  bkmonitor/apm/tests/storage/test_normal_type_value_config.py
  bkmonitor/apm/tests/test_query_topo_instance.py
  bkmonitor/apm/tests/test_release_app_config.py
  bkmonitor/apm/tests/test_topoinstance.py
  bkmonitor/bkmonitor/as_code/tests/test_assign.py
  bkmonitor/bkmonitor/as_code/tests/test_duty_rule.py
  bkmonitor/bkmonitor/as_code/tests/test_notice.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/tests/test_log_search.py
  bkmonitor/calendars/tests/calendar.py
  bkmonitor/calendars/tests/item.py
  bkmonitor/metadata/models/space/space.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/resources/log_datalink.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/signals.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/conftest.py
  bkmonitor/metadata/tests/monitor_router/test_data_label_to_rt.py
  bkmonitor/metadata/tests/monitor_router/test_result_table_detail.py
  bkmonitor/metadata/tests/monitor_router/test_space_to_rt.py
  bkmonitor/metadata/tests/resources/test_log_data_link.py
  bkmonitor/metadata/tests/resources/test_space.py
  bkmonitor/metadata/tests/space/conftest.py
  bkmonitor/metadata/tests/space/test_compose_space_to_result_table_data.py
  bkmonitor/metadata/tests/space/test_ongoing_es_storage_management.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/metadata/tests/space/test_space_router.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
  bkmonitor/metadata/tests/space/test_utils.py
  bkmonitor/metadata/tests/test_bcs.py
  bkmonitor/metadata/tests/test_consul_cluster.py
  bkmonitor/metadata/tests/utils/test_bcs.py
  bkmonitor/metadata/utils/db.py
  bkmonitor/metadata/utils/redis_tools.py
  bkmonitor/packages/apm_web/tests/db_scene/test_application_info.py
  bkmonitor/packages/apm_web/tests/db_scene/test_list_db_span.py
  bkmonitor/packages/apm_web/tests/db_scene/test_list_db_statistics.py
  bkmonitor/packages/apm_web/tests/db_scene/test_list_db_system.py
  bkmonitor/packages/monitor_web/tests/grafana/test_dimension_unify_query.py
  bkmonitor/packages/monitor_web/tests/scene_view/api/bcs/test_sync_bcs_node_to_db.py
  bkmonitor/packages/monitor_web/tests/scene_view/api/kubernetes/test_fetch_k8s_pod_monitor_list_by_cluster.py
  bkmonitor/packages/monitor_web/tests/scene_view/api/kubernetes/test_fetch_k8s_service_monitor_list_by_cluster.py
  bkmonitor/packages/monitor_web/tests/strategies/test_resource_list_result_table_pagesize.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_generate_sub_config.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_node_list.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_task_change_status.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_task_list.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_test_task.py
  bkmonitor/packages/monitor_web/tests/uptime_check/test_uptime_check_node.py
  bkmonitor/query_api/tests/test_influxdb_drivers.py
Labels: project/monitor, feat

#6996 fix: llm_summary故障事件适配 --story=119032343
  bkmonitor/alarm_backends/service/access/incident/processor.py
Labels: fix, project/aiops

#6997 Feat/llm summary
  bkmonitor/alarm_backends/service/access/incident/processor.py
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: project/aiops

#7003 fix: 非rca定位故障兼容告警信息 --story=119032343
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: fix, project/aiops

#6998 feat: 优化指标缓存避免过多请求query_time_series_group接口 --story=125449586
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat

#7004 feat: Metadata: table_id_detail 路由信息中新增 cmdb_level_vm_rt --story=125501375
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
Labels: project/monitor, feat

#6952 fix: 优化一些代码规范&去除组件中的mixin
  bklog/web/src/App.vue
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/biz-menu/list.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.scss
  bklog/web/src/global/bk-space-choice/list.tsx
  bklog/web/src/hooks/use-nav-menu.ts
  bklog/web/src/views/authorization/authorization-list.tsx
  bklog/web/src/views/retrieve/result-comp/result-header.vue
Labels: project/log, fix

#7005 feat: 【全局 TimeFilter】布局优化 --Story=124498332
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#6990 fix: 【事件检索】表格排序缓存功能导致部分场景路由数据回填失效
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
Labels: project/monitor, fix

#7009 feat: 完成容器监控事件场景部分开发
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#7010 feat: 容器监控时间场景检索栏优化
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#6985 feat: 图表查询接口增加返回指标信息控制参数--story=125383881
  bkmonitor/kernel_api/resource/grafana.py
  bkmonitor/kernel_api/views/v4/grafana.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/monitor, feat

#6930 feat: Metadata: 日志路由变更API支持查询别名设置 --story=125233767
  bkmonitor/metadata/resources/log_datalink.py
Labels: project/monitor, feat

#7002 feat: 【监控元数据】data_label支持多对多（模型改造+路由改造） --story=125190650
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/tests/monitor_router/test_compose_result_table_detail.py
  bkmonitor/metadata/tests/monitor_router/test_data_label_to_rt.py
  bkmonitor/metadata/tests/monitor_router/test_result_table_detail.py
  bkmonitor/metadata/tests/space/test_ongoing_es_storage_management.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/metadata/tests/space/test_space_router.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
Labels: project/monitor, feat, metadata

#7019 feat: 容器监控事件场景检索栏优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/k8s-event-explore.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/k8s-event-explore.tsx
Labels: project/monitor, feat

#7020 feat: 容器监控事件场景开发
  bkmonitor/webpack/src/fta-solutions/pages/event/monitor-drag.tsx
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-retrieval-layout.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/k8s-event-explore.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/k8s-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#6974 feat: 增加字段查询缓存，当清洗发生变化再请求metadata接口 --story=125382128
  bklog/apps/api/base.py
  bklog/apps/api/constants.py
  bklog/apps/api/modules/transfer.py
Labels: project/log, feat

#6943 feat: grep_query接口支持别名查询,并记录trace信息 --story=125234518
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/utils.py
  bklog/apps/tests/log_search/test_grep_logic.py
Labels: project/log, feat

#7011 fix: 常驻条件没有带到下载参数里 & 开放grep模式
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, fix

#7007 feat: @blueking/date-picker升级2.0.0-beta.48
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, fix

#7000 fix: 修复原始数据渲染问题
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/global/lazy-render.vue
  bklog/web/src/hooks/use-intersection-observer.ts
  bklog/web/src/hooks/use-json-formatter.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-column-resolver.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-row-attributes.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/row-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/table-column.vue
  bklog/web/src/views/retrieve-v3/search-bar/index.scss
Labels: project/log, fix

#7027 feat: APM 模板加载模式优化 --story=125557389
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/core/platform_config.py
  bkmonitor/packages/apm_web/meta/plugin/help.py
Labels: project/apm, feat

#7026 feat: Metadata & AIAgents: jinja2 render 替换 --story=125557313
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/data_link/utils.py
  bkmonitor/metadata/models/vm/config.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat

#7033 fix: 容器监控-切换场景逻辑错误切换后未重新创建groupBy维度类,导致维度数据错误
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#7032 feat: 优化前端 docker 构建步骤 --Story=125565943
  bkmonitor/Dockerfile
  bkmonitor/webpack/Dockerfile
  bkmonitor/webpack/package.json
Labels: project/monitor, feat

#7021 feat: 调整anomaly_analysis的enabled状态和结构 --story=119032343
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: fix, project/aiops

#7034 feat: AIAgents: AI小鲸添加权限控制,和业务访问权限保持一致 --story=125572232
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/views.py
Labels: project/monitor, feat, project/aiops

#7035 feat: 完成事件中心总趋势图开发
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/composables/use-analysis.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/typings/constants.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/explore-chart.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/use-chart-title-event.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/use-echarts.ts
Labels: project/monitor, feat

#7038 feat: 【产品功能】告警分派支持复制多行到条件框 --story=122849759
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
Labels: project/monitor, feat

#7036 feat: 【容器监控】事件场景开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Labels: project/monitor, feat

#7042 fix: test_grep_logic单测问题修复 --bug=144537755
  bklog/apps/tests/log_search/test_grep_logic.py
Labels: project/log, fix

#7050 feat: Metadata: 日志路由Option防御,避免被误清理 --story=125616779
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, feat

#7039 feat: 插件调试放开仅 Agent 正常主机调试 --Story=125583215
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/components/select-host.vue
Labels: project/monitor, feat

#7053 feat: Metadata: 元信息接口精简模式包含前端Kafka信息 --story=125619308
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/tests/resources/test_query_data_link_info.py
Labels: project/monitor, feat

#7052 feat: 多租户调试统一问题处理 --story=125572488
  bkmonitor/api/cmdb/ipchooser.py
  bkmonitor/api/node_man/default.py
  bkmonitor/bkm_ipchooser/tools/gse_tool.py
  bkmonitor/bkmonitor/utils/user.py
  bkmonitor/packages/monitor_web/performance/resources.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#7054 fix: grep模式切换索引渲染优化 & loading逻辑优化 & 索引导入JSON解析问题修复
  bklog/web/src/components/collection-access/components/index-import-modal/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/grep/grep-cli-result.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#7043 feat: trace检索耗时输入去掉单位ns、支持us与μs等同 --story=125588404
  bkmonitor/webpack/src/trace/components/retrieval-filter/duration-input-utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/duration-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/duration-input.tsx
Labels: project/monitor, feat

#7045 feat：业务切换组件新增“常用的”功能
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.scss
  bklog/web/src/global/bk-space-choice/list.tsx
Labels: project/log, feat

#7058 feat: 升级 Django 依赖版本 --story=125631753
  bklog/requirements.txt
Labels: project/log, feat

#7048 feat: bk-collector自动部署及配置下发支持多租户 --story=125610296
  bkmonitor/alarm_backends/core/cache/models/custom_ts_group.py
  bkmonitor/api/node_man/default.py
  bkmonitor/bkmonitor/management/commands/remove_proxy_custom_conf.py
  bkmonitor/bkmonitor/utils/version.py
  bkmonitor/metadata/migrations/0231_auto_20250707_2319.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/metadata/models/ping_server.py
  bkmonitor/metadata/task/auto_deploy_proxy.py
  bkmonitor/metadata/task/custom_report.py
  bkmonitor/metadata/task/ping_server.py
Labels: project/monitor, feat

#7062 feat: 事件检索-kv面板下拉菜单增加查看该对象的其他场景选项（跳转至容器监控对应场景）
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/apm-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-condition-menu.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-condition-menu.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#7068 feat: AIAgents: 修改会话内容接口pk_field调整 & Config兼容特殊角色 --story=125665673
  bkmonitor/ai_agents/models/agent_config.py
  bkmonitor/ai_agents/views.py
Labels: project/monitor, feat, project/aiops

#7044 feat: Tracing 检索耗时分析交互优化 --story=124794722
  bkmonitor/apm/constants.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
  bkmonitor/packages/apm_web/handlers/trace_handler/dimension_statistics.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#7072 fix: override braces
  bklog/web/package-lock.json
  bklog/web/package.json
Labels: project/log, fix

#7075 fix: 获取结果表缓存的bug修复 --bug=144958638
  bklog/apps/api/modules/transfer.py
Labels: project/log, fix

#7079 feat: 用户选择器API优化 --story=125678457
  bkmonitor/packages/monitor_web/commons/user/views.py
Labels: project/monitor, feat

#7082 feat: Github CodeQL Dependabot alerts --Story=125683280
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-api/package.json
Labels: project/monitor, feat

#7084 fix: 指标缓存刷新业务插件指标仅有一个指标 --bug=145024789
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, fix

#6827 feat: 重试action脚本 --story=124960930
  bkmonitor/scripts/retry_action_script.py
Labels: project/monitor, feat

#7066 【仪表盘】订阅设置优化 --Story=123888541
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/add-content.vue
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/subscription-content.scss
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/subscription-content.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/types.ts
Labels: project/monitor, feat

#7093 fix: grep模式提示tips位置修复
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
Labels: project/log, fix

#7041 feat: 告警分派列表需要一个变更人和时间的列信息 --story=124503271
  bkmonitor/bkmonitor/action/serializers/assign.py
Labels: project/monitor, feat

#7070 feat: 优化告警详情日志查询，对query string 中的特殊字符进行转义
  bkmonitor/bkmonitor/data_source/backends/log_search/compiler.py
Labels: project/monitor, feat

#7017 feat:【接口性能优化】monitor_web.collecting.resources.backend.CollectConfigListResource --strory=124847901
  bkmonitor/packages/monitor_web/collecting/resources/backend.py
Labels: project/monitor, feat

#7102 feat: 取消的请求不弹窗提示 --Story=125712045
  bkmonitor/webpack/src/monitor-api/base.js
  bkmonitor/webpack/src/monitor-api/utils/index.js
Labels: project/monitor, feat

#7085 fix: 更新默认状态 --story=119032343
  bkmonitor/constants/incident.py
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: fix, project/aiops

#7065 feat: as code配置读取优化 --story=125664111
  bkmonitor/packages/monitor_web/as_code/resources.py
Labels: project/monitor, feat

#7104 fix: 权限中心回调适配多租户问题 --bug=145190637
  bklog/apps/iam/views/resources.py
Labels: project/log, fix

#7090 feat: AIAgent: AI小鲸支持通过快捷指令方式切换智能体,元数据排障快捷指令实现落地 --story=125700636
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/ai_agents/services/command_handler.py
  bkmonitor/ai_agents/tests/resources/test_switch_agent_by_command.py
  bkmonitor/ai_agents/utils.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat, project/aiops

#7114 fix: 修复 date_nanos 格式化
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v3/search-result/index.tsx
Labels: project/log, fix

#7115 feat: 优化bcs资源和性能数据同步周期 --story=125741517
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#7118 fix: 修复查看 Trace 详情偶现报错的问题 --bug=145240439
  bkmonitor/packages/apm_web/trace/diagram/topo.py
Labels: project/apm, fix

#7113 feat: trace检索耗时维度分析功能展示调整 --story=124794722
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/trace/components/trace-view/utils/date.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-echarts.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/typing.ts
Labels: project/monitor, feat

#7111 【告警策略】【DBM】快捷屏蔽时去掉告警级别的展示 --Story=125681956
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
Labels: project/monitor, feat

#7059 feat：业务切换组件替换
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/pnpm-lock.yaml
  bklog/web/src/App.vue
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/biz-menu/list.vue
  bklog/web/src/components/bklog-popover/index.tsx
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/global/bk-space-choice/index.scss
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.scss
  bklog/web/src/global/bk-space-choice/list.tsx
  bklog/web/src/hooks/use-nav-menu.ts
  bklog/web/src/main.js
  bklog/web/src/mixins/userStoreConfig.ts
  bklog/web/src/scss/theme/common.scss
  bklog/web/src/scss/theme/index.scss
  bklog/web/src/scss/theme/mixin.scss
  bklog/web/src/scss/theme/theme.scss
  bklog/web/src/store/index.js
  bklog/web/src/views/authorization/authorization-list.tsx
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/es-slider.vue
  bklog/web/src/views/retrieve-v3/grep/index.tsx
  bklog/web/src/views/retrieve/result-comp/result-header.vue
  bklog/web/src/vue-virtual-scroller.d.ts
  package-lock.json
Labels: project/log, feat

#7122 fix: 修复故障更新时快照为空触发的问题 --bug=145188667
  bkmonitor/alarm_backends/service/access/incident/processor.py
Labels: fix, project/aiops

#7121 feat: 修复SQLCompiler中对query_string转义报错问题
  bkmonitor/bkmonitor/data_source/backends/log_search/compiler.py
Labels: project/monitor, fix

#7127 feat: Tracing 检索耗时分析交互优化 --story=124794722
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/handlers/trace_handler/dimension_statistics.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#7131 fix: fix actions/unpinned-tag rule code scan alert --bug=145283675
  .github/workflows/codecov.yml
  .github/workflows/label_check.yml
  bkmonitor/templates/404.html
Labels: project/monitor, fix

#7133 feat: Metadata: 查询路由多租户适配调整 --story=125769365
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/tests/monitor_router/test_data_label_to_rt.py
  bkmonitor/metadata/tests/monitor_router/test_result_table_detail.py
  bkmonitor/metadata/tests/monitor_router/test_space_to_rt.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
Labels: project/monitor, feat

#7134 minor: 补充多租户部分缺失的 migrations 文件
  bkmonitor/apm/migrations/0049_subscriptionconfig_bk_tenant_id.py
Labels: project/apm, chore, notapd

#7125 feat: 告警中心检索栏开发
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/alarm-retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#7137 feat: 告警详情负责人展示样式优化 --Story=125781979
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/circulation-record.tsx
  bkmonitor/webpack/src/fta-solutions/store/modules/event-detail.ts
  bkmonitor/webpack/src/monitor-pc/shims.d.ts
  bkmonitor/webpack/src/monitor-pc/store/modules/event-center.js
Labels: project/monitor, feat

#7132 fix: sql查询调整 Enter 为检索 & 优化检索结果样式优化切换json解析体验
  bklog/web/src/global/json-view/index.scss
  bklog/web/src/views/retrieve-v2/search-bar/codemirror-lucene.js
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
Labels: project/log, fix

#7143 feat: Metadata: APM路由需求支持,BKCI下特定RT使用RT中的别名作为filter key --story=125792496
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
Labels: project/monitor, feat

#7145 feat: date 与 date_nanos 字段类型合并逻辑优化 --story=125789556
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#7154 fix: 修复业务选择器默认值设置
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/list.tsx
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/store.type.ts
  bklog/web/src/views/authorization/authorization-list.tsx
Labels: project/log, fix

#7157 feat: 导入导出优化压缩包内容解析，跳过解压直接读取压缩包 --story=125734760
  bkmonitor/packages/monitor_web/export_import/parse_config.py
Labels: project/monitor, fix

#7158 fix: 修复date-nanos格式化逻辑
  bklog/web/src/common/util.js
Labels: project/log, fix

#7129 feat: 【告警中心】过滤条件支持集群模块 --story=125507553
  bkmonitor/api/cmdb/default.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/monitor_web/commons/cc/resources/backend_resources.py
  bkmonitor/packages/monitor_web/commons/cc/views.py
  bkmonitor/webpack/src/monitor-api/modules/alert.js
Labels: project/monitor, feat

#7160 feat: 【告警中心】过滤条件支持集群模块 --story=125507553 (#7129)
  bkmonitor/api/cmdb/default.py
  bkmonitor/packages/fta_web/alert/handlers/alert.py
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/monitor_web/commons/cc/resources/backend_resources.py
  bkmonitor/packages/monitor_web/commons/cc/views.py
  bkmonitor/webpack/src/monitor-api/modules/alert.js
Labels: project/monitor, feat

#7167 feat: 修复事件中心总趋势图表自适应问题以及解决告警分析加载更多详情百分比错误问题
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-analysis/alarm-analysis.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-analysis/alarm-analysis.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/composables/use-analysis.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-collapse.tsx
Labels: project/monitor, feat

#7172 fix：修复体验demo按钮不更新常用列表的bug、优化样式
  bklog/web/src/global/bk-space-choice/index.scss
  bklog/web/src/global/bk-space-choice/index.tsx
Labels: project/log, fix

#7168 feat: 调整trace检索耗时分析文本展示格式
  bkmonitor/webpack/src/trace/components/trace-view/utils/date.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
Labels: project/monitor, feat

#7162 feat: Tracing 检索耗时分析交互优化 --story=124794722
  bkmonitor/apm/resources.py
  bkmonitor/packages/apm_web/handlers/trace_handler/dimension_statistics.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#7174 feat: APM Trace 数据检索切换至 unify-query --story=125865251
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, feat

#7176 feat: 【告警分派】策略选择器展示所有策略，标记未开启的策略 --story=124801212
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/components/common-condition-new.tsx
Labels: project/monitor, feat

#7164 feat: 索引集支持跨集群查询特性 --story=124862509
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#7177 fix: json解析date格式数据解析修复
  bklog/web/src/global/json-formatter.vue
Labels: project/log, fix

#7178 feat: Metadata: 集群迁移时,额外创建上一周期的读写别名在新ES集群中,处理边界场景 --story=125874441
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#7188 fix: fields 接口 time_field_type 赋值不正确 --bug=145554534
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#7186 feat: 告警策略批量操作增加分享功能 --story=125573745
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#7187 fix: 修复timestamp date_nanos format
  bklog/web/src/common/util.js
Labels: project/log, fix

#7194 feat: 告警详情处理记录没有展示问题 --Story=125895015
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/handle-experiences.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/handle-experiences.tsx
Labels: project/monitor, feat

#7190 feat: Metadata&多租户: 主机基础数据原1001数据链路自动化创建,使用V4 ConditionalSink解决方案 --story=125838401
  bkmonitor/metadata/migrations/0232_auto_20250715_2037.py
  bkmonitor/metadata/models/bkdata/result_table.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/data_link/constants.py
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/models/data_link/data_link_configs.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/data_link/test_compose_data_link_configs.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#7202 feat: AI小鲸快捷指令放开 --Story=125934948
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
Labels: project/monitor, feat

#7153 feat: 支持自定义指标/事件从 k8s 集群内上报 --story=125815240
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/core/cluster_config.py
  bkmonitor/apm/core/platform_config.py
  bkmonitor/bkmonitor/utils/bk_collector_config.py
  bkmonitor/constants/apm.py
  bkmonitor/constants/bk_collector.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/apm, feat

#7205 feat: 仪表盘 PromQL 场景支持非时序对齐场景 --story=125813163
  bkmonitor/api/unify_query/default.py
  bkmonitor/packages/monitor_web/grafana/resources/unify_query.py
Labels: project/apm, feat

#7209 feat: 不显示集成内置策略
  bkmonitor/packages/monitor_web/export_import/resources.py
Labels: project/monitor, feat

#7213 feat: 新版告警中心-表格区域开发
  bkmonitor/webpack/src/trace/pages/alarm-center/alarm-center.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/alarm-table.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-content-detail/alert-content-detail.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-content-detail/alert-content-detail.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-metrics-config/alert-metrics-config.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-selection-toolbar/alert-selection-toolbar.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/alert-selection-toolbar/alert-selection-toolbar.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/description-card/description-card.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-table/components/description-card/description-card.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/composables/use-table-columns.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/services/alert-services.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/typings/table.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/collapse-tags.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/tags-cell.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/components/table-cell/tags-cell.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-cell.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/typing.ts
Labels: project/monitor, feat

#7215 feat: 告警分派列表增加变更人和变更人时间字段展示 --story=124503271
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/alarm-dispatch.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-dispatch/typing/index.ts
Labels: project/monitor, feat

#7218 fix: 修复 attributes 为空的场景下 Trace 详情查看报错的问题 --bug=145647791
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/apm, fix

#7124 feat: ES报错信息优化 --story=125747701
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/utils.py
  bklog/apps/tests/log_search/test_error_message.py
Labels: project/log, feat

#7223 feat: 【告警】新版告警事件里当前空间交互优化 --story=125967798
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/monitor-pc/components/space-select/space-select.tsx
Labels: project/monitor, feat

#7237 feat: Github CodeQL检测依赖更新 --Story=126012792
  bkmonitor/webpack/biome.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/pnpm-workspace.yaml
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-content/http-callback.tsx
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/set-meal/set-meal-add/meal-content/http-callback.tsx
Labels: project/monitor, feat

#7236 【告警策略】移动端快捷屏蔽提交后跳转问题 --Story=125682497
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
Labels: project/monitor, fix

#7243 feat: 优化主机重启告警后台检测资源 --story=126018048
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#7247 fix: 打通自定义日志下发配置流程，同时支持QPS调整，默认为500 --bug=145767306
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
  bkmonitor/metadata/task/custom_report.py
Labels: project/apm, fix

#7222 【告警策略】【DBM】快捷屏蔽增加常用时间选项 --Story=125682241
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/quick-shield.tsx
  bkmonitor/webpack/src/monitor-mobile/lang/en.json
  bkmonitor/webpack/src/monitor-mobile/lang/zh-cn.json
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
  bkmonitor/webpack/src/monitor-pc/components/verify-input/verify-input.vue
Labels: project/monitor, feat

#7249 fix: 修复自定义指标/事件配置下发周期任务可能异常的问题 --bug=145783116
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#7250 fix: 进故障详情页后没有默认选中该空间 --bug=145748708
  bkmonitor/webpack/src/trace/pages/failure/failure-handle/filter-search-main.tsx
Labels: fix, project/incident

#7233 feat：新增趋势图柱子展示时间范围、缩放毫秒级展示、趋势图支持回退
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/components/monitor-echarts/components/chart-title-new.vue
  bklog/web/src/components/monitor-echarts/components/chart-title-old.vue
  bklog/web/src/components/monitor-echarts/components/chart-title-v2.vue
  bklog/web/src/components/monitor-echarts/monitor-echarts-new.vue
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/components/time-range/time-range.tsx
  bklog/web/src/hooks/trend-chart-options.ts
  bklog/web/src/hooks/use-trend-chart.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/store.type.ts
  bklog/web/src/views/retrieve-v2/search-result-chart/index.scss
  bklog/web/src/views/retrieve-v2/search-result-chart/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-chart/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
  bklog/web/src/views/retrieve/result-comp/result-chart.vue
Labels: project/log, feat

#7252 feat: AIAgents: 小鲸后端实现埋点上报运营指标 --story=126031517
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/services/metrics_reporter.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat, project/aiops

#7191 feat: 索引集支持跨集群查询特性 --story=125891540
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/migrations/0088_logindexsetdata_scenario_id_and_more.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/log_unifyquery/handler/base.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#7251 fix: sql查询提示问题修复 & 分词弹出项点击位置优化 & 图表分析sql格式化语言设置
  bklog/web/src/hooks/use-segment-pop.ts
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#7259 feat: Metadata: Doris查询路由支持配置字段别名 --story=126038746
  bkmonitor/metadata/migrations/0234_merge_20250722_1451.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
Labels: project/monitor, feat

#7254 fix: 跨集群支持参数优化
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/views/index_set_views.py
Labels: project/log, fix, notapd

#7261 feat: AI 小鲸新增PromQL助手快捷指令 --Story=126041339
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, feat

#7264 feat: 1. 趋势图增加汇聚周期选项 2. 告警分析设置弹窗样式调整
  bkmonitor/webpack/src/trace/components/interval-select/interval-select.scss
  bkmonitor/webpack/src/trace/components/interval-select/interval-select.tsx
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-analysis/alarm-analysis.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-analysis/setting-dialog.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.scss
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-trend-chart/alarm-trend-chart.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-layout.scss
Labels: project/monitor, feat

#7265 feat: Metadata: QueryVMDataLink 默认返回全部信息,忽略DS/RT状态 --story=126042971
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/service/vm_storage.py
  bkmonitor/metadata/tests/service/vm_storage.py
  bkmonitor/metadata/tests/storage/test_vm_storage.py
Labels: project/monitor, feat

#7266 fix: 跨集群调用参数优化 --bug=145789011
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, fix

#7268 feat: 多租户1000 & 1001 数据链路 数据源创建问题更正 --story=126048531
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#7270 feat: 告警中心空间选择器交互优化
  bkmonitor/webpack/src/trace/components/space-select/space-selector.tsx
  bkmonitor/webpack/src/trace/components/space-select/typing.ts
  bkmonitor/webpack/src/trace/pages/alarm-center/components/alarm-retrieval-filter/alarm-retrieval-filter.tsx
Labels: project/monitor, feat

#7273 feat: Metadata: ES集群无损迁移防御,在非用户触发场景(后台脚本)下,两步检查StorageClusterRecord记录是否正确 --story=126050326
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#7276 fix: trace 检索详情表格排序不符 --Bug=145815397
  bkmonitor/webpack/src/trace/components/statistics-table/statistics-table.tsx
Labels: project/monitor, fix

#7278 feat: AIAgents: 小鲸运营指标去除session_code维度,避免维度爆炸 --story=126053742
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/services/metrics_reporter.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat, project/aiops

#7287 fix: 修复total接口请求失败loading不消失的问题
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-chart/index.tsx
Labels: project/log, fix

#7284 fix: route query.tags 解析逻辑处理
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index-set-list.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-lazy-render.tsx
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#7290 feat: 性能场景扩展增加下cpu/ mem 的request 指标 --story=126034656
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/scenario/performance.py
Labels: project/monitor, feat

#7302 feat: trace检索查询条件携带traceId查询条件时，展开详情侧栏
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#7216 feat: Trace检索针对页面的默认配置，新增应用级别的设置 --story=125963701
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, feat

#7282 chore: Metadata: 多租户V4 yaml 配置调整 & ContionalSink & Sink中的tenant适配 --story=126068318
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#7310 feat: 字段查询别名快速配置接口开发 --story=125200436
  bklog/apps/exceptions.py
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/migrations/0089_logindexset_query_alias_settings.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#7306 feat：重构路由
  bklog/web/src/router/dashboard.js
  bklog/web/src/router/index.js
  bklog/web/src/router/manage.js
  bklog/web/src/router/monitor.js
  bklog/web/src/router/retrieve.js
  bklog/web/src/views/retrieve-v2/search-result-panel/index.vue
Labels: project/log, feat

#7313 feat: 性能场景扩展增加下cpu/ mem 的request 指标 --story=126034656
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/scenario/__init__.py
  bkmonitor/packages/monitor_web/k8s/scenario/capacity.py
  bkmonitor/packages/monitor_web/k8s/scenario/network.py
  bkmonitor/packages/monitor_web/k8s/scenario/performance.py
Labels: project/monitor, feat

#7291 feat: 自定义指标自动发现校验字段名 --story=126085110
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/models/custom_report/time_series.py
Labels: project/monitor, feat

#7318 fix: 修复日志下载联合查询下载问题
  bklog/web/src/views/retrieve-v2/result-comp/export-history.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
Labels: project/log, fix

#7299 feat: 指标bkpull插件参数引导优化 --story=125860334
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-plugin.vue
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-instance/set-steps/step-set-test.vue
Labels: project/monitor, feat

#7307 feat: Metadata: 多租户1001数据链路配置调整,去除bkbase v4 relabels配置 --story=126102660
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#7325 feat: 优化主机重启告警后台检测资源 --story=126018048
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/tools.py
  bkmonitor/constants/strategy.py
Labels: project/monitor, feat

#7087 feat: 容器监控-表格快捷操作工具栏优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-custom-graph.tsx
Labels: project/monitor, feat

#7330 feat: 新增网关apigw白名单 --story=126161794
  bklog/config/default.py
Labels: project/log, feat

#7333 feat: 容器监控-事件场景跳转其他场景功能入口隐藏
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-condition-menu.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-quick-tools/k8s-quick-tools.scss
Labels: project/monitor, feat

#7332 feat: 【告警屏蔽】屏蔽列表加载慢问题 --story=126114764
  bkmonitor/config/celery/config.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#7336 feat: 事件检索快捷跳转容器监控功能隐藏
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-condition-menu.tsx
Labels: project/monitor, feat

#7341 feat: 多租户内置指标缓存 --story=126163044
  bkmonitor/packages/monitor_web/strategies/default_settings/os/v1.py
  bkmonitor/packages/monitor_web/strategies/metric_cache/built_in_metrics.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
Labels: project/monitor, feat
