Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-02, with the labels that each got.

#4899 fix: 修复故障列表topn接口报错的问题 --bug=133011311
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, fix

#4903 fix: 修复sdk智能监控生成告警的dimension_fields不对的问题 && sdk智能检测增加1min等待时间 --bug=1…
  bkmonitor/alarm_backends/core/control/item.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
Labels: project/monitor, fix

#4902 feat: Docker 构建缓存优化 --story=121808212
  bkmonitor/Dockerfile
  bkmonitor/gunicorn_config.py
Labels: project/monitor, feat

#4900 fix: 首页最近日志索引集去重 --bug=137723015
  bkmonitor/packages/monitor_web/overview/resources.py
Labels: project/monitor, fix

#4836 feat: 支持nested字段解析展示 --story=121689159
  bklog/web/src/common/util.js
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/table-column.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, feat

#4860 fix: 展开收起更多白行修复 --bug=137306103
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4905 fix: 公共自定义事件未进行业务过滤 --bug=137754735
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#4909 feat: 策略优先级单元测试报错 --story=121820682
  bkmonitor/alarm_backends/tests/service/access/data/test_priority.py
Labels: project/monitor, feat

#4863 fix: 日志检索log和es情景主动抛出错误信息 --bug=137318915
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4906 feat: bcs元信息表结构主键约束去除自增id字段 --story=121810005
  bkmonitor/bkmonitor/management/commands/sync_bcs_to_db.py
  bkmonitor/bkmonitor/migrations/0173_truncate_bcs_meta_table.py
  bkmonitor/bkmonitor/migrations/0174_auto_20250205_1736.py
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/models/bcs_cluster.py
  bkmonitor/bkmonitor/models/bcs_container.py
  bkmonitor/bkmonitor/models/bcs_node.py
  bkmonitor/bkmonitor/models/bcs_pod.py
  bkmonitor/bkmonitor/models/bcs_pod_monitor.py
  bkmonitor/bkmonitor/models/bcs_service.py
  bkmonitor/bkmonitor/models/bcs_service_monitor.py
  bkmonitor/bkmonitor/models/bcs_workload.py
Labels: project/monitor, feat

#4911 fix: 删除重复的resources.yaml名称 --bug=137766787
  bklog/support-files/apigw/resources.yaml
Labels: project/log, fix

#4912 fix: 修复trace图表startTime默认取值问题
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, fix

#4880 feat: Metadata: 接入计算平台时，table_id生成规避尾部下划线情况 --story=121740589
  bkmonitor/metadata/models/data_link/utils.py
Labels: project/monitor, feat

#4910 feat: Metadata: 支持根据业务ID查询关联的数据源信息，不包含平台级别数据 --story=121821222
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/resources/bkdata_link.py
  bkmonitor/metadata/tests/resources/test_query_datalink_info_resources.py
Labels: project/monitor, feat

#4914 fix: 修复主机sdk智能检测维度不对的问题 --fix=137725765
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
Labels: project/monitor, fix

#4901 fix: 【新容器监控】K8S集群数据详情tab时，表格指标列切换汇聚类型时接口资源类型参数有误 --bug=137720883
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#4915 feat: 容器场景workload总览支持多ns过滤 --story=121838812
  bkmonitor/packages/monitor_web/k8s/resources.py
Labels: project/monitor, feat

#4923 feat: 策略支持后台自定义检测等待时间 --story=121839378
  bkmonitor/alarm_backends/core/control/item.py
  bkmonitor/alarm_backends/service/access/data/processor.py
  bkmonitor/bkmonitor/migrations/0175_itemmodel_add_field.py
  bkmonitor/bkmonitor/models/strategy.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, feat

#4928 feat: ignore_older默认为1天 --story=121849429
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#4932 feat: object支持别名配置
  bklog/apps/grafana/handlers/query.py
  bklog/apps/log_databus/handlers/clean.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/migrations/0042_cleantemplate_alias_settings.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/clean_views.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/web/src/components/collection-access/field-table.vue
  bklog/web/src/components/collection-access/step-field.vue
  bklog/web/src/global/field-setting.vue
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/global/setting-table.vue
  bklog/web/src/hooks/use-field-name.ts
  bklog/web/src/language/lang/en/button.ts
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/store/index.js
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/field-info.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.scss
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/mixins/result-table-mixin.js
  bklog/web/src/views/retrieve-v2/result-comp/context-log.vue
  bklog/web/src/views/retrieve-v2/result-comp/export-log.vue
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/field-filter.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-render-header.ts
Labels: project/log, feat

#4927 fix: 修复周期告警屏蔽不准的问题 --bug=137844371
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
Labels: project/monitor, fix

#4892 fix: 【监控】处理套餐搜索页面搜索结果页面数量显示不正确 --Bug=137445509
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal.tsx
Labels: project/monitor, fix

#4898 feat: 优化 APM 页面加载耗时 --story=121788098
  bkmonitor/apm/core/handlers/discover_handler.py
  bkmonitor/apm/migrations/0047_auto_20250123_1930.py
  bkmonitor/apm/models/application.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/bkmonitor/iam/resource.py
  bkmonitor/bkmonitor/utils/cache.py
  bkmonitor/bkmonitor/utils/model_manager.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/migrations/0027_auto_20250123_1930.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/apm_web/topo/handle/bar_query.py
  bkmonitor/packages/monitor_web/scene_view/builtin/__init__.py
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
  bkmonitor/packages/monitor_web/scene_view/resources/view.py
Labels: project/apm, feat

#4935 fix: 日志检索异常，主动抛出异常 --bug=137880889
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#4921 feat: 监控API文档完善：采集&策略 --story=121689745
  bkmonitor/docs/api/apidocs/zh_hans/delete_alarm_strategy_v3.md
  bkmonitor/docs/api/apidocs/zh_hans/delete_collect_config.md
  bkmonitor/docs/api/apidocs/zh_hans/get_collect_config_list.md
  bkmonitor/docs/api/apidocs/zh_hans/get_collect_log_detail.md
  bkmonitor/docs/api/apidocs/zh_hans/get_collect_status.md
  bkmonitor/docs/api/apidocs/zh_hans/query_collect_config.md
  bkmonitor/docs/api/apidocs/zh_hans/query_collect_config_detail.md
  bkmonitor/docs/api/apidocs/zh_hans/run_collect_config.md
  bkmonitor/docs/api/apidocs/zh_hans/save_collect_config.md
  bkmonitor/docs/api/apidocs/zh_hans/switch_alarm_strategy_by_labels.md
  bkmonitor/docs/api/apidocs/zh_hans/toggle_collect_config_status.md
  bkmonitor/docs/api/apidocs/zh_hans/upgrade_collect_plugin.md
Labels: project/monitor, docs

#4885 feat: 监控API文档完善：拨测&邮件订阅 --story=121689667
  bkmonitor/docs/api/apidocs/zh_hans/change_uptime_check_task_status.md
  bkmonitor/docs/api/apidocs/zh_hans/create_uptime_check_task.md
  bkmonitor/docs/api/apidocs/zh_hans/delete_uptime_check_task.md
  bkmonitor/docs/api/apidocs/zh_hans/deploy_uptime_check_task.md
  bkmonitor/docs/api/apidocs/zh_hans/edit_uptime_check_task.md
  bkmonitor/docs/api/apidocs/zh_hans/get_uptime_check_task_list.md
  bkmonitor/docs/api/apidocs/zh_hans/send_report.md
  bkmonitor/docs/api/apidocs/zh_hans/send_report_mail.md
  bkmonitor/docs/api/apidocs/zh_hans/test_report_mail.md
  bkmonitor/docs/api/apidocs/zh_hans/test_uptime_check_task.md
  bkmonitor/docs/api/apidocs/zh_hans/uptime_check_node_info.md
  bkmonitor/docs/api/apidocs/zh_hans/uptime_check_task_info.md
Labels: project/monitor, feat

#4920 fix: 【新容器监控】k8s对象列太窄问题调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#4929 feat: Metadata: 调整VM接入兜底重试任务至5分钟一次 --story=121855321
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#4884 feat: Metadata: 元数据一致性保障,实现计算平台Redis Watch能力 --story=121743334
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/service/sync_metadata.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
  bkmonitor/metadata/tools/redis_lock.py
  bkmonitor/metadata/utils/redis_tools.py
Labels: project/monitor, feat

#4940 fix: 容器监控container详情出现多条limit线 --Bug=137898443
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, fix

#4941 fix: Span关联日志、主机、容器验收问题修复
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/compare-select.scss
  bkmonitor/webpack/src/trace/pages/main/dashboard-panel/dashboard-panel.tsx
  bkmonitor/webpack/src/trace/plugins/charts/time-series/time-series.tsx
Labels: project/monitor, fix

#4944 feat: 完成trace检索主机，容器，日志验收文档修复
  bklog/web/src/views/retrieve-v2/monitor/monitor.scss
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/index.vue
Labels: project/monitor, feat

#4924 fix: 智能监控容器场景产品验收问题修复
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
Labels: project/monitor, fix

#4934 feat: Metadata: 新增计算平台数据源Kafka采样接口 --story=121858653
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#4939 feat: grafana仪表盘无权限跳转403页面 --story=121873358
  bkmonitor/packages/monitor_adapter/grafana/urls.py
  bkmonitor/packages/monitor_adapter/grafana/views.py
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
Labels: project/monitor, feat

#4954 feat: Metadata: ES支持Object别名--当field已经存在时，不去变动其原先的es_type --story=121888310
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/tests/storage/test_es_storage.py
Labels: project/monitor, feat

#4956 fix: 修复容器关联坐标轴位置 --bug=137932485
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, fix

#4955 feat: 新增支持通过 ebpf 采集的 Profiling 数据
  bkmonitor/api/apm_api/default.py
  bkmonitor/apm/core/handlers/query/ebpf_query.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/views.py
  bkmonitor/apm_ebpf/resource.py
  bkmonitor/docs/api/monitor_v3.yaml
  bkmonitor/packages/apm_web/profile/constants.py
  bkmonitor/packages/apm_web/profile/diagrams/ebpf_converter.py
  bkmonitor/packages/apm_web/profile/resources.py
  bkmonitor/packages/apm_web/profile/views.py
Labels: project/apm, feat, notapd

#4950 feat: 自定义事件支持按 projectId 隔离 --story=121866015
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, feat

#4959 feat: Metadata: KafkaTailResource支持bk_data_id查询方式 --story=121895997
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#4960 fix: 修复trace日志检索报错的问题
  bklog/web/src/hooks/use-scroll.ts
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
  bkmonitor/webpack/src/trace/shim.d.ts
Labels: project/monitor, fix

#4961 feat: trace更新日志依赖包版本
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#4964 feat: Metadata: Kafka采样接口参数判别方式调整 --story=121898421
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#4965 feat: 调整mapping缓存key为索引列表
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, feat

#4968 fix: nested字段展示格式优化 --bug=137960561
  bklog/web/src/common/util.js
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#4957 fix: 全文检索异步下载未初始化 --bug=137931975
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4970 fix: 修复部分场景自定义指标页面打开报错的问题 --bug=137976741
  bkmonitor/packages/monitor_web/scene_view/builtin/apm.py
Labels: project/apm, fix

#4966 fix: 兼容空数据计算逻辑
  bklog/web/src/global/field-setting.vue
Labels: project/log, fix

#4971 fix: 体验文档问题修复v02_12
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.tsx
  bkmonitor/webpack/src/monitor-pc/components/biz-select/list.tsx
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/quick-access.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/quick-access.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/utils.ts
  bkmonitor/webpack/src/monitor-pc/router/router-config.ts
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/dashboard.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/retrieval.png
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/service.png
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, fix

#4972 fix: 检索性能优化 --bug=137983191
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4975 fix: 下载功能load提示&屏蔽字段可选值统计&优化字段名搜索
  bklog/web/src/views/retrieve-v2/field-filter-comp/field-item.tsx
  bklog/web/src/views/retrieve-v2/field-filter-comp/index.tsx
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
Labels: project/log, fix

#4978 fix: search性能优化 --bug=137985957
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#4980 feat: 补充SDK智能检测相关可用性指标 --story=121912424
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#4888 feat: 监控API文档完善：自定义上报&数据查询 --story=121689776
  bkmonitor/docs/api/apidocs/zh_hans/create_custom_event_group.md
  bkmonitor/docs/api/apidocs/zh_hans/create_custom_time_series.md
  bkmonitor/docs/api/apidocs/zh_hans/custom_time_series_detail.md
  bkmonitor/docs/api/apidocs/zh_hans/delete_custom_event_group.md
  bkmonitor/docs/api/apidocs/zh_hans/delete_custom_time_series.md
  bkmonitor/docs/api/apidocs/zh_hans/get_custom_event_group.md
  bkmonitor/docs/api/apidocs/zh_hans/modify_custom_event_group.md
  bkmonitor/docs/api/apidocs/zh_hans/modify_custom_time_series.md
  bkmonitor/docs/api/apidocs/zh_hans/query_custom_event_group.md
  bkmonitor/docs/api/apidocs/zh_hans/time_series_unify_query.md
  bkmonitor/docs/api/apidocs/zh_hans/time_series_unify_query_raw.md
  bkmonitor/docs/api/apidocs/zh_hans/validate_custom_event_group_name.md
  bkmonitor/docs/api/apidocs/zh_hans/validate_custom_ts_group_name.md
Labels: project/monitor, feat

#4984 feat: Metadata: 元数据一致性Redis Watch 当出现differ时添加更多对账日志 --story=121915376
  bkmonitor/metadata/service/sync_metadata.py
Labels: project/monitor, feat

#4986 fix: span详情日志tab问题修复
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-lazy-render.tsx
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
Labels: project/monitor, fix

#4987 feat: trace检索span 日志，容器，主机图表时间取值逻辑调整
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
Labels: project/monitor, feat

#4988 feat: 更新依赖
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#4990 fix: 修复通知组编辑关联轮值规则后保存可能失败的问题 --bug=138052523
  bkmonitor/bkmonitor/action/duty_manage.py
Labels: project/monitor, fix

#4985 feat: bcs新增ingress资源同步支持 --story=121900999
  bkmonitor/api/bcs/tasks.py
  bkmonitor/api/kubernetes/default.py
  bkmonitor/bkmonitor/migrations/0176_auto_20250212_1755.py
  bkmonitor/bkmonitor/models/__init__.py
  bkmonitor/bkmonitor/models/bcs_ingress.py
  bkmonitor/bkmonitor/utils/kubernetes.py
  bkmonitor/config/role/worker.py
Labels: project/monitor, feat

#4991 fix: grafana metric 接口性能问题处理 --bug=138054853
  bklog/apps/grafana/handlers/query.py
Labels: project/log, fix

#4992 feat: 优化pattern结果查询逻辑 --story=121926788
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/utils/bkdata.py
Labels: project/log, feat

#4994 minor: 支持特殊集群内 collector 的配置
  bkmonitor/apm/core/platform_config.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/apm, feat, notapd

#4995 fix: 修复 RPC 策略导入默认告警组创建失败的问题 --bug=138074613
  bkmonitor/packages/apm_web/handlers/strategy_group/groups/rpc/rpc.py
Labels: project/apm, fix

#5000 feat: bcs新增ingress资源同步支持 --story=121900999
  bkmonitor/api/bcs/tasks.py
  bkmonitor/api/kubernetes/default.py
  bkmonitor/bkmonitor/utils/kubernetes.py
Labels: project/monitor, feat

#4943 fix: 【新容器监控】验收文档问题修复
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, fix

#4979 fix: 容器监控filter by交互调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/big-kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/big-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#4996 feat: 采集详情-链路状态-数据采样实现方式优化 --story=121894251
  bkmonitor/packages/monitor_web/datalink/resources.py
Labels: project/monitor, feat

#4997 fix: 修复 APM 部分 PRC 场景下日志预设过滤条件不准确的问题 --bug=138077801
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, fix

#5006 新版首页体验问题修复&导航栏颜色调整
  bkmonitor/webpack/src/fta-solutions/pages/app.tsx
  bkmonitor/webpack/src/monitor-common/utils/constant.ts
  bkmonitor/webpack/src/monitor-pc/components/biz-select/biz-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/app.scss
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.scss
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/quick-access.tsx
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
Labels: project/monitor, fix

#5007 fix: 容器监控过滤条件优化
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/big-kv-tag.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/big-kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
Labels: project/monitor, fix

#5004 refactor: 适配sdk离群检测告警输出内容 --story=121659087
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/abnormal_cluster.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
Labels: project/monitor, refactor

#5009 fix: 容器监控过滤条件优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
Labels: project/monitor, fix

#5010 fix: 事件中心柱状图和列表偶尔不对应的问题 --bug=138129969
  bkmonitor/packages/fta_web/alert/handlers/base.py
Labels: project/monitor, fix

#5011 Feat/new home 0214 v2
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/ai-whale-input.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/ai-whale-input.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/header-setting-modal.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-alarm-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-biz-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/quick-access.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.tsx
  bkmonitor/webpack/src/monitor-pc/static/images/png/new-page/aiWhale.png
  bkmonitor/webpack/src/monitor-pc/store/modules/ai-whale.ts
Labels: project/monitor, fix

#5008 fix:【新容器监控】table触底加载loading兼容table存在固定列时导致行没对齐问题场景
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-converge-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
Labels: project/monitor, fix

#5014 feat: 采集详情-链路状态-数据采样实现方式优化 --story=121894251
  bkmonitor/packages/monitor_web/datalink/resources.py
Labels: project/monitor, fix

#5002 feat: Metadata: Kafka采样接口支持边缘存查集群等带证书鉴权的集群 --story=121938527
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#4998 feat: 字段分析去重下载 --story=121930426
  bklog/apps/log_search/views/field_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5020 feat: Metadata: 获取ES连接句柄时，仅当IPV6时拼接中括号 --story=121967994
  bkmonitor/metadata/utils/es_tools.py
Labels: project/monitor, feat

#5023 Feat/new home 0217
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/add-alarm-chart-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
Labels: project/monitor, fix

#5025 fix: 自定义页面提供的token和后台配置文件下发的token配置文件未匹配问题处理 --bug=138214941
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#4917 feat: 【产品功能】进程监控采集支持cmdb动态分组 --story=120861923
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
  bkmonitor/packages/monitor_web/collecting/resources/backend.py
  bkmonitor/packages/monitor_web/collecting/resources/frontend.py
  bkmonitor/packages/monitor_web/collecting/resources/status.py
Labels: project/monitor, feat

#4922 feat: 【产品功能】进程监控采集支持cmdb动态分组 --story=120861923
  bkmonitor/webpack/src/monitor-pc/components/ip-selector/business/topo-selector-new.vue
  bkmonitor/webpack/src/monitor-pc/components/ip-selector/layout/dynamic-group.vue
  bkmonitor/webpack/src/monitor-pc/components/ip-selector/layout/ip-list.vue
  bkmonitor/webpack/src/monitor-pc/components/ip-selector/types/selector-type.ts
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/monitor-ip-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/utils.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-select/config-select.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-target-add-del/bk-host/bk-host.vue
  bkmonitor/webpack/src/monitor-pc/pages/export-import/import-configuration/import-configuration-target.vue
Labels: project/monitor, feat

#5028 Feat/new home 0217 v2
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-alarm-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.tsx
Labels: project/monitor, fix

#5026 feat: 故障详情页面故障根因信息增加快捷查看span入口 --story=121757275
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-content/failure-content.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure.tsx
  bkmonitor/webpack/src/trace/pages/failure/types/type.ts
Labels: project/monitor, feat

#5024 feat: 新增监控平台三方API监控指标 --story=121970925
  bkmonitor/api/bcs/default.py
  bkmonitor/core/drf_resource/contrib/api.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, feat

#5034 refactor: 故障根因saas支持trace跳转的参数 --story=121928892
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, refactor

#5035 feat: 【产品功能】进程监控采集支持cmdb动态分组 --story=120861923
  bkmonitor/packages/monitor_web/collecting/resources/frontend.py
Labels: project/monitor, feat

#5038 feat: cmdb设备支持前端代码迁移
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/device-metadata.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/link-configuration.js
Labels: project/log, feat

#5040 fix: 自定义页面提供的token和后台配置文件下发的token配置文件未匹配问题处理 --bug=138214941
  bkmonitor/api/monitor/default.py
  bkmonitor/metadata/models/custom_report/subscription_config.py
Labels: project/monitor, fix

#5042 feat: cmdb元数据补充
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/web/src/components/collection-access/components/step-add/config-log-set-item.vue
  bklog/web/src/components/collection-access/components/step-add/device-metadata.vue
  bklog/web/src/components/collection-access/step-add.vue
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/services/link-configuration.js
Labels: feat, notapd

#5018 feat: 分析 search 接口中重复的 SQL 查询并优化 --story=121922048
  bklog/apps/log_clustering/models.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#5029 feat: Profiling 检索页面掉帧优化 --Story=121833786
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/hooks/profiling-graph/types.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/hooks/profiling-graph/use-profiling-flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph-v2.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph-v2.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/utils.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/typings/flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/chart-title/chart-title.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.scss
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-graph.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/table-graph/table-graph.tsx
  bkmonitor/webpack/src/trace/typings/trace.ts
Labels: project/monitor, perf

#5045 feat: 故障未灰度空间文案优化 --story=121757275
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
Labels: project/monitor, feat

#5031 fix: 【监控】APM层级文案调整 --bug=136909581
  bkmonitor/packages/apm_web/topo/handle/relation/path.py
Labels: project/apm, fix

#5019 fix: 2025-02-17发版缺陷修复集合 --bug=138201789
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.scss
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Labels: project/log, fix

#5043 fix: json格式化样式修复 & 空格格式化设置回滚 --bug=138240829
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/use-text-segmentation.ts
Labels: project/log, fix

#5016 feat: apm API对内对外网关标准化 --story=121958022
  bkmonitor/api/apm_api/default.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/views.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/meta/views.py
  bkmonitor/support-files/apigw/resources/external/app/apm.yaml
  bkmonitor/support-files/apigw/resources/internal/app/apm.yaml
Labels: project/apm, feat

#5050 fix: 修复拨测忽略已删除拨测任务触发的告警功能不生效的问题 --bug=138263775
  bkmonitor/alarm_backends/core/alert/event.py
Labels: project/monitor, fix

#5051 feat: 去除APIGW调用中无用的参数补全逻辑 --story=121989397
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, feat

#5052 feat: 修改 TopK limit 参数默认值为 0 --story=121990545
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Labels: project/apm, feat

#5027 feat: 首页告警视图运营数据统计 --story=121945639
  bkmonitor/packages/monitor_web/statistics/v2/factory.py
  bkmonitor/packages/monitor_web/statistics/v2/home.py
Labels: project/monitor, feat

#5054 refactor: 故障持续时间计算方式修改 --story=121747151
  bkmonitor/alarm_backends/service/access/incident/processor.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, refactor

#5055 feat: 字段别名获取方式修改为前端获取自字段配置信息 --story=121988495
  bklog/web/src/hooks/use-field-name.ts
  bklog/web/src/views/retrieve-v2/result-comp/fields-setting.vue
  bklog/web/src/views/retrieve-v2/result-comp/kv-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-render-header.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/original-log/expand-view.vue
Labels: project/log, feat

#5017 feat: 采集详情-链路状态-数据采样实现方式优化 --story=121894251
  bkmonitor/packages/monitor_web/datalink/resources.py
Labels: project/monitor, fix

#5057 feat: 删除检索结果的别名补充 --story=121995675
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#5030 feat: 不同的分组下可以配置相同名称 --story=121972196
  bklog/apps/log_search/handlers/search/favorite_handlers.py
  bklog/apps/log_search/migrations/0084_alter_favorite_unique_together.py
  bklog/apps/log_search/models.py
Labels: project/log, feat

#5059 feat: 智能监控默认使用SDK作为检测后台 --story=121997144
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#5060 feat: Profiling 检索页面掉帧优化 --Story=121833786
  bkmonitor/webpack/src/monitor-ui/chart-plugins/hooks/profiling-graph/use-profiling-flame-graph.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/profiling-graph/flame-graph/flame-graph-v2.tsx
  bkmonitor/webpack/src/trace/plugins/charts/profiling-graph/profiling-flame-graph/flame-graph.tsx
Labels: project/monitor, feat

#4993 feat: 无权限仪表盘有锁定样式
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-aside.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/utils.ts
  bkmonitor/webpack/src/monitor-ui/directive/authority.ts
Labels: project/monitor, feat

#5069 fix: 权限指令变更时展示错误 --Bug=138326841
  bkmonitor/webpack/src/monitor-ui/directive/authority.ts
Labels: project/monitor, fix

#4999 fix: trace 日志tab栏滚动加载问题
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/scroll-top.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-lazy-render.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, fix

#5068 fix: 不同的分组下可以配置相同名称-bug修复 --bug=138324733
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/favorite_handlers.py
Labels: project/log, fix

#5071 fix: trace 日志tab栏滚动加载问题
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, fix

#5073 feat: 常驻字段过滤功能
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/retrieve.js
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-setting-pop.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/const.common.ts
  bklog/web/src/views/retrieve-v2/search-bar/index.scss
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/pop-instance-util.ts
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.scss
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
Labels: project/log, feat

#5074 fix: utc时区指定 --bug=138330575
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix

#5075 feat: Python版本升级 --story=121184117
  bklog/config/default.py
Labels: project/log, feat

#5076 fix: apm自定义指标对比样式问题
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-compare-select/group-compare-select.scss
Labels: project/monitor, fix

#5058 feat: Metadata: 提供InfluxDB->BkBase V4一键迁移工具 --story=121996768
  bkmonitor/metadata/management/commands/switch_data_id_from_influxdb_to_bkbase_v4.py
Labels: project/monitor, feat

#5072 feat: Metadata: 联邦集群接入方式调整，ConditionalSink资源优化 --story=122007427
  bkmonitor/metadata/models/data_link/data_link.py
  bkmonitor/metadata/tests/data_link/test_compose_data_link_configs.py
  bkmonitor/metadata/tests/data_link/test_data_link.py
Labels: project/monitor, feat

#5077 feat: 容器监控图表limit放开 --Story=122009601
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, feat

#5081 fix: SQL查询样式问题修复 --bug=138342739
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve-v2/search-bar/favorite-list.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Labels: project/log, fix

#5082 feat: 仪表盘无权限增加申请弹窗
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/tree-list.tsx
Labels: project/monitor, feat

#4882 feat: 【告警策略】刷新按钮强化 --story=120986901
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/metric-selector/metric-selector.tsx
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
Labels: project/monitor, feat

#4958 feat: 【全局】表格详情页侧滑点击样式优化 --story=121593750
  bkmonitor/webpack/src/fta-solutions/common/table-expand-plugins.ts
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/fta-solutions/static/scss/global.scss
  bkmonitor/webpack/src/monitor-pc/static/css/global.scss
Labels: project/monitor, feat

#5078 feat: 【产品功能】AI小鲸在策略上tips入口应用 --story=122010754
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/common-item.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/components/common-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-item.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/ai-whale.ts
Labels: project/monitor, feat

#5080 feat: Metadata: 更新事件维度时，使用.get，避免KeyError --story=122011406
  bkmonitor/metadata/models/custom_report/event.py
Labels: project/monitor, feat

#5089 新版自定义指标页面视图路由
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/new-metric-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/new-metric-view.tsx
  bkmonitor/webpack/src/monitor-pc/router/integrated/custom-escalation.ts
Labels: project/monitor, feat

#5090 fix: Tracing检索 设置耗时条件后，清除条件点击刷新不了
  bkmonitor/webpack/src/trace/pages/main/duration-filter/duration-filter.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
Labels: project/monitor, fix

#5091 feat: 【产品功能】AI小鲸在策略上tips入口应用 --Story=122010754
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/ai-whale.ts
Labels: project/monitor, feat

#5092 feat: 【产品功能】AI小鲸在策略上tips入口应用 --Story=122010754
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.tsx
Labels: project/monitor, feat

#5093 fix: 修复查询条件复制功能问题
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.scss
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
Labels: project/log, fix

#5094 feat: 补充SDK智能检测相关可用性指标 --story=121912424
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/abnormal_cluster.py
Labels: project/monitor, refactor

#4982 feat: 【产品功能】图标订阅里面的图表不能搜索 --story=121320159
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/add-content.vue
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/checkboxGroup.vue
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/select-chart.vue
Labels: project/monitor, feat

#5087 feat: Metadata: 集群迁移时，同步更新集群内的DataId资源 --story=122016003
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/utils/bcs.py
Labels: project/monitor, feat

#5102 故障的持续时间需要减掉观察窗口的时长 & 故障关联事件跳转 & 交互优化
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-header/failure-header.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-timing/failure-timing.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure.tsx
  bkmonitor/webpack/src/trace/plugins/charts/failure-chart/failure-chart.tsx
Labels: project/monitor, fix

#5097 fix: mock_data 数据修正 --bug=138386179
  bkmonitor/packages/monitor_web/data_explorer/event/mock_data.py
Labels: project/apm, fix

#5105 feat: AI小鲸问答接口调用参数优化 --story=122023242
  bkmonitor/packages/monitor_web/ai_assistant/views.py
Labels: project/monitor, feat

#5106 feat: AI小鲸问答接口调用参数优化 --story=122023242
  bkmonitor/packages/monitor_web/ai_assistant/views.py
Labels: project/monitor, feat

#5107 feat: 故障相关展示文案优化 --story=121757275
  bkmonitor/webpack/src/fta-solutions/pages/event/event.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event.tsx
  bkmonitor/webpack/src/monitor-pc/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/monitor-pc/components/empty-status/types.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/message.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
Labels: project/monitor, feat

#5109 feat: 多事件源聚合查询基础框架 --story=122024130
  bkmonitor/api/unify_query/default.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/bkmonitor/data_source/unify_query/builder.py
  bkmonitor/bkmonitor/data_source/unify_query/query.py
  bkmonitor/packages/apm_web/handlers/metric_group/groups/trpc.py
Labels: project/apm, feat

#5104 feat: 首页搜索跳转运营数据上报 --Story=122008117
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-list.tsx
  bkmonitor/webpack/src/monitor-pc/store/modules/report-log.ts
Labels: project/monitor, feat

#5115 fix: 修复字段过滤功能验收问题
  bklog/web/src/language/lang/en/content.ts
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-setting.vue
  bklog/web/src/views/retrieve-v2/search-bar/index.scss
  bklog/web/src/views/retrieve-v2/search-bar/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.scss
Labels: project/log, fix

#5110 fix: 修复添加告警屏蔽alert类型报错问题 --bug=138419185
  bkmonitor/packages/monitor_web/shield/resources/backend_resources.py
  bkmonitor/packages/monitor_web/shield/serializers.py
  bkmonitor/packages/weixin/event/resources.py
Labels: project/monitor, fix

#5116 feat: Metadata: 路由补充二段式逻辑 --story=122041405
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/service/space_redis.py
Labels: project/monitor, feat

#5117 fix: 容器场景样式调整
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
Labels: project/monitor, fix

#5118 feat: 优化样式布局
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, feat

#4767 feat: python311升级 --story=121620224
  bkmonitor/.devcontainer/Dockerfile
  bkmonitor/.devcontainer/create_venv.sh
  bkmonitor/Dockerfile
  bkmonitor/bkmonitor/documents/action.py
  bkmonitor/bkmonitor/documents/alert.py
  bkmonitor/bkmonitor/documents/event.py
  bkmonitor/pytest.ini
  bkmonitor/requirements.txt
  bkmonitor/requirements_dev.txt
  bkmonitor/requirements_test.txt
Labels: project/monitor, feat

#5121 fix: 拓扑图新增空样式、异常样式 --Bug=138272373
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-graph.scss
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-graph.tsx
  bkmonitor/webpack/src/trace/static/img/error.svg
  bkmonitor/webpack/src/trace/static/img/no-data.svg
Labels: project/monitor, feat
