Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-03, with the labels that each got.

#5246 feat:检索切换unify-query 检索验证
  bklog/apps/api/modules/unify_query.py
  bklog/apps/feature_toggle/plugins/constants.py
  bklog/apps/grafana/handlers/query.py
  bklog/apps/grafana/views.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5237 feat: 收藏另存为后端支持 --story=122117928
  bklog/apps/log_search/handlers/search/favorite_handlers.py
Labels: project/log, feat

#5185 feat: esb注册API重新整理和迁移到bkapigw --story=121990803
  bkmonitor/support-files/apigw/docs/zh/metadata_create_cluster_info.md
  bkmonitor/support-files/apigw/docs/zh/metadata_create_data_source.md
  bkmonitor/support-files/apigw/docs/zh/metadata_create_result_table.md
  bkmonitor/support-files/apigw/docs/zh/metadata_create_result_table_metric_split.md
  bkmonitor/support-files/apigw/docs/zh/metadata_create_time_series_group.md
  bkmonitor/support-files/apigw/docs/zh/metadata_delete_time_series_group.md
  bkmonitor/support-files/apigw/docs/zh/metadata_get_data_source.md
  bkmonitor/support-files/apigw/docs/zh/metadata_get_result_table.md
  bkmonitor/support-files/apigw/docs/zh/metadata_get_result_table_storage.md
  bkmonitor/support-files/apigw/docs/zh/metadata_get_time_series_group.md
  bkmonitor/support-files/apigw/docs/zh/metadata_list_label.md
  bkmonitor/support-files/apigw/docs/zh/metadata_list_result_table.md
  bkmonitor/support-files/apigw/docs/zh/metadata_list_transfer_cluster.md
  bkmonitor/support-files/apigw/docs/zh/metadata_modify_cluster_info.md
  bkmonitor/support-files/apigw/docs/zh/metadata_modify_data_source.md
  bkmonitor/support-files/apigw/docs/zh/metadata_modify_result_table.md
  bkmonitor/support-files/apigw/docs/zh/metadata_modify_time_series_group.md
  bkmonitor/support-files/apigw/docs/zh/metadata_query_tag_values.md
  bkmonitor/support-files/apigw/docs/zh/metadata_query_time_series_group.md
  bkmonitor/support-files/apigw/docs/zh/metadata_upgrade_result_table.md
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
Labels: project/monitor, feat, docs

#5253 fix: apm拓扑服务概览日志趋势图优化
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/related-log-chart/related-log-chart.tsx
Labels: project/monitor, fix

#5036 feat: get_strategy_list接口梳理并进行性能优化 --story=121887983
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#5261 feat: 日志检索时间精度支持毫秒级
  bklog/apps/log_clustering/serializers.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/apps/log_esquery/esquery/esquery.py
  bklog/apps/log_search/handlers/search/aggs_handlers.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_trace/serializers.py
  bklog/apps/tests/log_esquery/test_esquery.py
  bklog/apps/utils/drf.py
  bklog/apps/utils/time_handler.py
  bklog/bkm_search_module/serializers.py
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/components/monitor-echarts/trend-chart.vue
  bklog/web/src/components/time-range/time-range.tsx
  bklog/web/src/components/time-range/utils.ts
  bklog/web/src/hooks/use-trend-chart.ts
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/manage/manage-access/components/usage-details/index.vue
  bklog/web/src/views/manage/manage-access/log-collection/collection-item/manage-collection/data-status/minute-chart.vue
  bklog/web/src/views/retrieve-v2/monitor/monitor.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/time-setting.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve/index.vue
  bklog/web/src/views/retrieve/result-table-panel/log-clustering/components/quick-open-cluster-step/filter-rule.tsx
  bklog/web/src/views/retrieve/search-comp/index.tsx
Labels: project/log, feat

#5262 fix: 修复事件时序数据维度缺失的问题 --bug=138942135
  bkmonitor/bkmonitor/data_source/unify_query/query.py
Labels: project/apm, fix

#5260 feat: 故障详情支持通过参数只展示一跳拓扑图 --story=122087649
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, feat

#5265 feat: get_strategy_list接口梳理并进行性能优化 --story=121887983
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#5264 feat: 图表分析SQL自动补充检索时间范围 --story=122197555
  bklog/apps/log_search/exceptions.py
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/serializers.py
  bklog/apps/tests/log_search/test_chart.py
  bklog/requirements.txt
Labels: project/log, feat

#5268 feat: 容器监控RSS指标切换 --Story=122213325
  bkmonitor/webpack/src/monitor-pc/components/collapse/collapse.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#5247 feat: 调整接收端配置，针对 logs 数据源的处理逻辑，支持对 attributes 和 resource 等字段处理
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/application_config.py
  bkmonitor/apm/core/platform_config.py
Labels: project/apm, feat, notapd

#5263 fix: 【APM】调用拓扑下钻接口点击报错 --bug=138857137
  bkmonitor/packages/apm_web/topo/resources.py
Labels: project/apm, fix

#5271 fix: 修复时间精度调整的兼容问题 --bug=138963123
  bklog/apps/bk_log_admin/handlers/index_set.py
  bklog/apps/bk_log_admin/serializers.py
  bklog/apps/utils/drf.py
Labels: project/log, fix

#5267 feat: Metadata: ClusterInfo新增鉴权协议信息,Kafka采样接口支持鉴权协议 --story=122213327
  bkmonitor/metadata/migrations/0209_auto_20250304_1429.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/resources.py
Labels: project/monitor, feat

#5273 feat: 容器场景V2，新增网络场景及场景指标和资源模型 --story=122174257
  bkmonitor/packages/monitor_web/k8s/core/filters.py
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/k8s/scenario/network.py
Labels: project/monitor, feat

#5275 feat: 图表分析查询参数增加 start_time, end_time
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, feat

#5278 feat: 更新font-cion --story=122219847
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
Labels: project/log, feat

#5280 feat: 容器场景V2，新增网络场景及场景指标和资源模型 --story=122174257
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/k8s/scenario/network.py
Labels: project/monitor, feat

#5269 feat: 首页搜索框自动聚焦
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Labels: project/monitor, feat

#5277 feat: 【首页】支持快捷键 ‘/‘ 聚焦搜索框
  bkmonitor/webpack/src/monitor-pc/lang/new-home.ts
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.tsx
Labels: project/monitor, feat

#5240 feat: 事件中心关键字搜索下拉框支持上下快捷键
  bkmonitor/webpack/src/fta-solutions/pages/event/filter-input.tsx
Labels: project/monitor, feat

#5285 fix: 图表分析sql转换问题修复 --bug=138989721
  bklog/apps/bk_log_admin/handlers/index_set.py
  bklog/apps/log_search/handlers/search/chart_handlers.py
Labels: project/log, fix

#5287 fix: object字段支持value添加为全文检索
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#5220 feat: 旧版首页同时包含querystring和addition场景的查询链接适配
  bklog/web/src/store/index.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/retrieve-v2/index.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/time-setting.vue
Labels: project/log, feat

#5288 fix: generateSql增加参数sql
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, fix

#5290 fix: 多个聚类索引集短时间内编辑可能会导致部分任务未能重启 --bug=139009931
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/tasks/flow.py
Labels: project/log, fix

#5294 fix: 监控网关调用默认code调整 --bug=139013701
  bklog/dev.env.yml
  bklog/prod.env.yml
  bklog/stag.env.yml
Labels: project/log, fix

#5293 自定义指标列表按钮样式修改、管理/可视化入口调整
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
Labels: project/monitor, feat

#5284 feat: apigw 同步命令支持按环境类型同步网关 --story=122222629
  bkmonitor/bkmonitor/management/commands/sync_apigw.py
Labels: project/monitor, feat

#5298 fix: 【首页】按键'/'自动聚焦时会带入/符号问题。功能代码迁入home-select组件内
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/new-home.tsx
Labels: project/monitor, fix

#5299 fix: 图表分析bug修复 --bug=139007481
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
  bklog/requirements.txt
Labels: project/log, feat

#5300 feat: 新增api执行基于业务的token流控检查能力 --story=122234190
  bkmonitor/alarm_backends/management/commands/token.py
  bkmonitor/kernel_api/views/v4/strategy_v3.py
  bkmonitor/support-files/apigw/resources/internal/app/strategy.yaml
Labels: project/monitor, feat

#5304 feat: 修复事件数据源缺失部分维度的问题 --story=122240957
  bkmonitor/packages/monitor_web/grafana/resources/event.py
Labels: project/monitor, feat

#5279 feat: 全业务仪表盘旧图表迁移功能 --story=122217555
  bkmonitor/packages/monitor_web/grafana/resources/manage.py
  bkmonitor/packages/monitor_web/grafana/views.py
  bkmonitor/packages/monitor_web/tasks.py
Labels: project/monitor, feat

#5310 feat: 检索切换unify-query 时间格式毫秒处理
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5312 feat: 事件检索过滤栏语句模式
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-help.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-help.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/text-highlighter.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#5314 feat: 事件检索表格开发
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/utils.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/monitor-cross-drag/monitor-cross-drag.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/monitor-cross-drag/monitor-cross-drag.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/explore-custom-graph/explore-custom-graph.scss
Labels: project/monitor, feat

#5317 fix: 图表分析bug修复 --bug=139067797
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, fix

#5316 fix: 修复事件检索维度不完整的问题 --bug=139063715
  bkmonitor/packages/monitor_web/grafana/resources/event.py
Labels: project/monitor, fix

#5318 fix: 修复查询时loading问题
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/use-field-egges.tsx
Labels: project/log, fix

#5321 feat: 事件丰富（提升可读性）基础框架 --story=122236380
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/k8s.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/system.py
Labels: project/apm, feat

#5325 fix: 修复sql-formatter format parse error
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, fix

#5322 feat: 检索切换unify-query 取样下载兼容处理
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5334 feat: 检索切换unify-query 导出历史 时间格式处理
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5335 feat: 1. 完成收藏功能调整 2. 维度统计面板抽离组件
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/add-collect-dialog.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-container.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-container.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-group.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-index.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/checkbox-list.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/checkbox-list.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/group-dropdown.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/group-dropdown.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/shared-dialog.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/component/shared-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/manage-group-dialog.scss
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/manage-group-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/components/favorite-container/typing.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/event-retrieval/event-retrieval.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-container.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/checkbox-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/group-dropdown.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/group-dropdown.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/shared-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/component/shared-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-container.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/manage-group-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/manage-group-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/typings/index.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5340 feat: 告警详情页面改版 --story=121574382
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/aiops-container-new.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/aiops-container.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/correlation-nav.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/correlation-nav.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-collapse.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-collapse.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-view.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/metrics-view.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/tab-title.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/troubleshooting-collapse.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/troubleshooting-collapse.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/aiops/types.ts
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-head.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-head.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-slider.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail-slider.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.scss
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/tab-container.tsx
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/temporary-share.tsx
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/aiops-dimension-lint/aiops-dimension-lint.tsx
Labels: project/monitor, feat

#5331 feat: 自定义指标新增维度下钻接口 --story=121971892
  bkmonitor/packages/monitor_web/scene_view/resources/custom_metric.py
Labels: project/monitor, feat

#5338 feat: Metadata: 新增查询负数空间ID关联的空间信息和归属业务信息接口 --story=122268868
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/resources/space.py
  bkmonitor/metadata/tests/space/test_utils.py
Labels: project/monitor, feat

#5344 feat: 事件检索开发
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-container.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#5266 feat: Metadata: 元数据智能排障Agent+接口 --story=122210180
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/agents/__init__.py
  bkmonitor/metadata/agents/diagnostic/__init__.py
  bkmonitor/metadata/agents/diagnostic/metadata_diagnostic_agent.py
  bkmonitor/metadata/agents/prompts/diagnostic.md
  bkmonitor/metadata/resources/bkdata_link.py
Labels: project/monitor, feat

#5347 feat: 检索切换unify-query 高亮补充 & 联合索引
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5354 fix: 修复unify-query查询返回count为0的空数据导致前端渲染出错的问题 --bug=139137207
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
Labels: project/apm, fix

#5357 feat: Metadata: 智能排障接口中英文支持 --story=122304572
  bkmonitor/metadata/resources/bkdata_link.py
Labels: project/monitor, feat

#5330 feat: 快速更新接口增加容器场景 --story=122263666
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#5345 fix: 外部版授权人格式化 --bug=139164385
  bklog/apps/log_commons/serializers.py
Labels: project/log, fix

#5358 fix: 存储用量展示-计算平台索引集展示报错 --bug=139228901
  bklog/apps/log_search/handlers/index_set.py
Labels: project/log, fix

#5361 Feat/custom metric view v0308
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail.vue
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/add-group-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/add-group-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-grouping-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-grouping-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-tab-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-tab-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/timeseries-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/timeseries-detail.tsx
  bkmonitor/webpack/src/monitor-pc/router/integrated/custom-escalation.ts
  bkmonitor/webpack/src/monitor-pc/store/modules/custom-escalation.js
Labels: project/monitor, feat

#5297 feat: 【首页】首页搜索历史增加单记录删除
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Labels: project/monitor, feat

#5327 fix: 删空搜索内容后取消history高亮
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Labels: project/monitor, fix

#5363 feat: download_topk 接口请求方式修改为 POST --story=122310524
  bkmonitor/packages/monitor_web/data_explorer/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_event.js
  bkmonitor/webpack/src/monitor-api/modules/data_explorer.js
Labels: project/apm, feat

#5366 feat: 完成维度下载功能以及一些功能优化
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5368 feat: 事件检索过滤栏开发
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/query-string-utils.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5375 fix: 修复基础数据检索打开报错的问题 --bug=139285439
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Labels: project/apm, fix

#5376 fix: 日志聚类开放仅查看新类 --bug=139285243
  bklog/apps/constants.py
Labels: project/log, fix

#5381 feat: 修复 APM 事件 Tab 返回格式不准确的问题 --story=122321129
  bkmonitor/packages/monitor_web/scene_view/builtin/view_configs/apm_service-service-default-event.json
Labels: project/apm, feat

#5353 fix: 修复objext字段添加值到语句查询失效问题
  bklog/web/src/store/index.js
Labels: project/log, fix

#5382 feat: 事件 Context 定义 --story=122325771
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/base.py
Labels: project/apm, feat

#5384 feat: 【移动端】移动端“策略屏蔽”入口隐藏 --Story=122321917
  bkmonitor/webpack/src/monitor-mobile/pages/quick-alarm-shield/quick-alarm-shield.vue
Labels: project/monitor, feat

#5371 feat: Metadata: 新增BkBase数据一致性全量兜底任务 --story=122299537
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#5362 feat: collector plugin 接口支持仅创建 dataid 而不创建结果表 --story=122306409
  bklog/apps/log_databus/handlers/collector_plugin/base.py
  bklog/apps/log_databus/handlers/etl/bkbase.py
  bklog/apps/log_databus/migrations/0043_collectorplugin_is_create_storage.py
  bklog/apps/log_databus/models.py
  bklog/apps/log_databus/serializers.py
  bklog/apps/log_databus/views/collector_plugin_views.py
Labels: project/log, feat

#5389 fix: 字段名带点号的多层字段的高亮逻辑失效问题修复 --bug=139343111
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, fix

#5393 feat: 【trace检索】span耗时短时瀑布图展示优化 --Story=122333524
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/span-bar.tsx
Labels: project/monitor, feat

#5397 fix: 数据检索promql查询项特殊情况会重复 --Bug=139354941
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/data-retrieval.tsx
Labels: project/monitor, fix

#5401 fix: 故障拓扑节点图例缺失时默认填充服务类型图例 --bug=139013985
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/elkjs-utils.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/node-type-svg.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/utils.ts
  bkmonitor/webpack/src/trace/static/img/failure/icon-fuwu.svg
Labels: project/monitor, fix

#5398 feat: 事件检索代码结构调整
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
Labels: project/monitor, feat

#5386 fix: 别名配置更新逻辑修复 --bug=139334045
  bklog/apps/log_databus/handlers/etl_storage/base.py
Labels: project/log, fix

#5404 feat: 图表查询SQL优化 --story=122349154
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, feat

#5405 refactor: 时序预测和离群检测默认使用SDK --story=122350055
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/time_series_forecasting.py
  bkmonitor/api/aiops_sdk/default.py
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, refactor

#5403 feat: Metadata: ES字段别名兼容传参为空场景 --story=122348265
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/tests/result_table/test_result_table.py
Labels: project/monitor, feat

#5406 fix: 修复图表分析接口请求返回结果解析问题 & 检索结果为空判定兼容
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
Labels: project/log, fix

#5409 fix: 修复图表分析结果数据结构&12位长度时间格式化
  bklog/web/shims.d.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/chart/use-chart-render.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/index.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/graph-analysis/sql-editor/index.tsx
Labels: project/log, fix

#5411 fix: 图表分析适配毫秒查询 --bug=139340967
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, fix

#5412 feat: 删除无用的指标上报任务 --story=122355976
  bklog/apps/log_measure/constants.py
  bklog/apps/log_measure/handlers/metric_collectors/log_databus.py
Labels: project/log, feat

#5413 feat: Metadata: 日志V4链路纳秒支持,新增通知变更接口 --story=122358053
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/resources/test_es_resources.py
Labels: project/monitor, feat

#5415 feat: 修复验收单据问题
  bkmonitor/webpack/src/monitor-common/utils/index.ts
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-retrieval-header.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-retrieval-header.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-retrieval-layout.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/utils.tsx
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.css
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.ttf
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff
  bkmonitor/webpack/src/monitor-static/icons/monitor-icons.woff2
Labels: project/monitor, feat

#5418 fix: 【首页】按下快捷键/后，快捷键/按钮不消失问题
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
Labels: project/monitor, fix

#5419 fix: 修复计算平台数据源分组策略带高级过滤条件后导致漏告警的问题 --bug=139411717
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/alarm_backends/service/access/data/processor.py
Labels: project/monitor, fix

#5407 chore: 新增观测场景容器文档
  bkmonitor/packages/monitor_web/k8s/readme.md
  bkmonitor/packages/monitor_web/k8s/readme_dev.md
Labels: project/monitor, docs

#5421 feat: 修复验收文档问题
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5426 feat: trace和profiling发布前验收优化 --Story=122362962
  bkmonitor/webpack/src/trace/components/chart-filtering/chart-filtering.tsx
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.scss
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/profiling/components/comparison-chart.tsx
Labels: project/monitor, fix

#5417 fix: 【处理套餐】研发项目下处理套餐打开卡顿报错优化
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/meal-basic-info/meal-basic-info.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/set-meal-add.scss
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal-add/set-meal-add.tsx
  bkmonitor/webpack/src/fta-solutions/store/modules/set-meal-add.ts
Labels: project/monitor, fix

#5424 feat: 事件检索自测问题优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/utils.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/explore-custom-graph/explore-custom-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/time-series/time-series.tsx
Labels: project/monitor, feat

#5429 feat: Metadata: DataId智能排障Agent 提示词调优 --story=122367125
  bkmonitor/metadata/agents/prompts/diagnostic.md
Labels: project/monitor, feat

#5431 feat: apigw同步命令根据APIGW_STAGE变量发布网关 --story=122368156
  bkmonitor/bkmonitor/management/commands/sync_apigw.py
Labels: project/monitor, feat

#5434 feat: 自定义上报创建接口支持配置目标字段和排序字段 --story=122371127
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/serializers.py
Labels: project/log, feat

#5435 feat: apm事件图表请求优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/explore-custom-graph/explore-custom-graph.tsx
Labels: project/monitor, feat

#5430 feat: 【产品功能】上层 dsl 转化，保证数据展示范围和集群允许的存储时间一致 --story=122283894
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/config/default.py
Labels: project/log, feat

#5437 feat: 自定义上报创建接口支持配置目标字段和排序字段 --story=122371127
  bklog/apps/log_databus/handlers/etl/base.py
Labels: project/log, feat

#5441 feat: 优化维度统计面板功能
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5442 feat: APM 应用增加事件配置 --story=122380213
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/models/application.py
Labels: project/apm, feat

#5443 feat: 事件检索开发
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/explore-custom-graph/explore-custom-graph.tsx
Labels: project/monitor, feat

#5444 feat: 事件检索过滤栏优化
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/query-string-utils.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.tsx
Labels: project/monitor, feat

#5445 feat: 常驻过滤同步收藏和URL
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/lang/button.ts
  bkmonitor/webpack/src/monitor-pc/lang/dropdown.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/lang/title.ts
  bkmonitor/webpack/src/monitor-pc/lang/tooltips.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
Labels: project/monitor, feat

#5447 refactor: 智能监控巡检任务支持SDK检测后台策略的状态巡检 --story=122386711
  bkmonitor/bkmonitor/aiops/alert/maintainer.py
  bkmonitor/bkmonitor/dataflow/constant.py
Labels: project/monitor, refactor

#5450 minor: 修复 ebpf 后台任务报错
  bkmonitor/apm_ebpf/handlers/deepflow.py
Labels: project/apm, chore, notapd

#5446 feat: 【事件 / APM】指标集成事件功能支持（Tags 接口开发） --story=122294321
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/packages/apm_web/event/serializers.py
  bkmonitor/packages/apm_web/event/utils.py
  bkmonitor/packages/apm_web/event/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
Labels: project/apm, feat

#5451 feat: 修复URL无法回填问题以及优化查询触发时机
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/add-collect-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/apm-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/monitor-event-explore.tsx
Labels: project/monitor, feat

#5439 feat: 告警能力补全 --story=122334516
  bklog/apps/api/modules/monitor.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/alert_strategy.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/urls.py
  bklog/apps/log_search/views/alert_strategy_view.py
Labels: project/log, feat

#5454 refactor: 优化智能监控曲线无效比例的指标 --story=122386711
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/core/prometheus/metrics.py
Labels: project/monitor, refactor

#5452 feat: 事件检索过滤栏优化
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/query-string-utils.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.scss
Labels: project/monitor, feat

#5453 feat: 检索切换unify-query date_histogram趋势图接口修改
  bklog/apps/log_search/views/aggs_views.py
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5458 fix: tags 时间戳修复 --bug=139537719
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/webpack/src/monitor-api/modules/apm_event.js
Labels: project/apm, fix

#5459 feat: 事件检索过滤栏优化
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/qs-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting-transfer.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
Labels: project/monitor, feat

#5463 feat: 【告警】日志关键词告警通知增加“日志检索”入口 --story=122340269
  bkmonitor/alarm_backends/core/context/alarm.py
  bkmonitor/packages/monitor_adapter/home/alert_redirect.py
  bkmonitor/packages/monitor_adapter/home/views.py
  bkmonitor/templates/notice/abnormal/action/markdown_content.jinja
  bkmonitor/templates/notice/abnormal/action/markdown_content_en.jinja
Labels: project/monitor, feat

#5465 feat: 提供事件数据源补充元数据的迁移命令 --story=122406615
  bkmonitor/metadata/management/commands/sync_event_es_router.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/models/custom_report/base.py
  bkmonitor/metadata/models/custom_report/event.py
Labels: project/apm, feat

#5466 feat: DB 查询 N+1 优化 --story=122408593
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
Labels: project/apm, feat

#5387 feat: 【事件 / 数据探索】Processor / k8s 事件 --story=121980185
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/base.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/context.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/k8s.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/origin.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
  bkmonitor/packages/monitor_web/data_explorer/views.py
Labels: project/apm, feat

#5416 feat: 【事件 / 数据探索】Processor / 主机事件 --story=121980174
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/context.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/system.py
  bkmonitor/packages/monitor_web/data_explorer/event/mock_data.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
Labels: project/apm, feat

#5472 feat: 事件检索过滤栏优化
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-input.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.tsx
Labels: project/monitor, feat

#5464 faet: kv面板无值时hover不添加高亮下划线效果
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
Labels: project/monitor, feat

#5461 feat: 告警能力补全 --story=122334516
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/alert_strategy.py
  bklog/apps/log_search/views/alert_strategy_view.py
Labels: project/log, feat

#5474 fix: 减少检索报错 --bug=139611813
  bkmonitor/packages/apm_web/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Labels: project/apm, fix

#5477 feat: 1. 修复apm事件参数无法回填URL的问题 2. 修复常驻设置报错的问题
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/apm-event-explore.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, feat

#5467 fix: 修复滚动时点击更多显示问题 & 默认提取分词数错误
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/index.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.scss
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/use-lazy-render.tsx
Labels: project/log, fix

#5479 feat: 事件检索开发
  bkmonitor/webpack/src/monitor-common/svg/svg/default.svg
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/typing.ts
Labels: project/monitor, feat

#5483 feat: 事件检索日志表格空数据效果优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-view.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, feat

#5485 feat: Metadata: 索引轮转埋点上报--轮转原因、轮转状态 --story=122432465
  bkmonitor/core/prometheus/metrics.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#5449 fix: 【K8s 监控】设计还原度问题
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-metric-list.scss
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.scss
Labels: project/monitor, fix

#5480 fix: 告警能力开发-bug修复 --bug=139646761
  bklog/apps/log_search/handlers/alert_strategy.py
Labels: project/log, fix

#5488 feat: 告警能力补全 --story=122334516
  bklog/apps/api/modules/monitor.py
  bklog/apps/log_search/constants.py
  bklog/apps/log_search/handlers/alert_strategy.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/urls.py
  bklog/apps/log_search/views/alert_strategy_view.py
Labels: project/log, feat

#5492 fix: 检索结果换行问题 & 日期改变检索条件丢失问题 --bug=139670505
  bklog/web/src/hooks/hooks-helper.ts
Labels: project/log, fix

#5493 fix: 事件检索体验问题修复
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/kv-tag.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-selector-typing.ts
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-input.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-tag-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, fix

#5343 feat: 自定义指标列表页面优化，间距调整
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.scss
Labels: project/monitor, feat

#5489 feat: date_histogram趋势图 查询function修改
  bklog/apps/log_unifyquery/handler.py
Labels: project/log, feat

#5496 feat: 事件检索表格kv面板优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-expand-view-wrapper.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
Labels: project/monitor, feat

#5500 fix: 修复时间切换后路由参数不对导致回填的问题
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/common-page-new.tsx
Labels: project/monitor, fix

#5501 feat: APM日志组件更新优化 --Story=122442428
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.scss
Labels: project/monitor, feat

#5502 feat: k8s网络场景开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#5504 feat: 事件检索-表格无数据效果优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
Labels: project/monitor, feat

#5499 feat: 【容器监控】网络场景开发
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
Labels: project/monitor, feat

#5505 fix: 【全局检索】其他页面补充快捷键
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.scss
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.scss
  bkmonitor/webpack/src/monitor-pc/pages/nav-tools.tsx
Labels: project/monitor, fix

#5487 fix: 【全局搜索】历史删除icon样式问题
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.scss
Labels: project/monitor, fix

#5506 feat: 完成容器监控网络场景开发
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Labels: project/monitor, feat

#5512 fix: 导入优化和模版添加 --bug=139709817
  bkmonitor/packages/apm_web/event/utils.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/context.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/k8s.py
  bkmonitor/packages/monitor_web/data_explorer/event/core/processors/system.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
Labels: project/apm, fix

#5514 feat: 告警后台策略缓存兜底能力优化 --story=122429282
  bkmonitor/alarm_backends/core/cache/strategy.py
  bkmonitor/bkmonitor/models/bcs_ingress.py
Labels: project/monitor, feat

#5515 fix: KV列表展示空字段渲染内容错误 & 添加告警策略功能修复
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/hooks/use-text-segmentation.ts
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/text-segmentation.tsx
  bklog/web/src/views/retrieve-v2/search-result-tab/index.scss
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/warning-setting.vue
Labels: project/log, fix

#5517 feat: APM日志组件更新优化 --Story=122459214
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-ui/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#5518 feat: 自定义指标导入导出
  bkmonitor/webpack/src/monitor-pc/lang/new-metric-view.ts
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-tab-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/dimension-table-slide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-tab-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.scss
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/timeseries-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/utils.ts
  bkmonitor/webpack/src/monitor-pc/static/images/png/dimension-guide.png
Labels: project/monitor, fix

#5520 fix: 修复是否曾经告警状态丢失的问题 --bug=139376233
  bkmonitor/packages/monitor_web/incident/resources/frontend_resources.py
Labels: project/monitor, fix
