Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-06, with the labels that each got.

#6587 feat: 后台cmdb 缓存bmw 任务注册任务 --story=124402331
  bkmonitor/alarm_backends/service/scheduler/tasks/report_cron.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#6596 fix: trace检索切换应用优化
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, fix

#6592 feat: 前端多租户人员选择器标签替换
  bkmonitor/webpack/src/apm/pages/application/app-configuration/basic-configuration.tsx
  bkmonitor/webpack/src/apm/pages/application/app-configuration/storage-state/storage-state-metric.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/basic-info.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/handle-experiences.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/related-events.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/event-source-detail/detail-header/detail-header.tsx
  bkmonitor/webpack/src/fta-solutions/pages/integrated/list.tsx
  bkmonitor/webpack/src/fta-solutions/pages/setting/set-meal/set-meal.tsx
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/collector-introduction.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-config.vue
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-detail/collector-configuration.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/metrics-manager/components/handle-experiences.tsx
  bkmonitor/webpack/src/monitor-pc/pages/plugin-manager/plugin-manager.vue
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/components/task-card.tsx
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-data.ts
  bkmonitor/webpack/src/monitor-pc/pages/uptime-check/uptime-check-task.tsx
Labels: project/monitor, feat

#6516 feat: Metadata&多租户: 内置事件支持--DataId申请接口 --story=124317369
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/models/constants.py
  bkmonitor/metadata/models/data_link/service.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/space/constants.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/resources/test_create_data_link_resources.py
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
Labels: project/monitor, feat

#6597 fix: 【告警屏蔽】基于维度屏蔽下拉选出非本业务的集群列表 --Story=124397496
  bkmonitor/webpack/src/trace/pages/alarm-shield/components/dimension-input/dimension-input.tsx
Labels: project/monitor, fix

#6598 feat: Metadata: 索引轮转 -- is_mapping_same 别名判别场景优化 --story=124423614
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#6599 feat: trace检索日志开发
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index.tsx
  bklog/web/src/views/retrieve-v3/monitor/trace.ts
  bkmonitor/webpack/src/trace/i18n/i18n.ts
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
  bkmonitor/webpack/src/trace/plugins/components/chart-wrapper.tsx
Labels: project/monitor, project/log, feat

#6601 feat: 优化is_ipv6_biz函数适用范围，基于主机的查询去除is_ipv6_biz判断，直接通过分组字段进行兼容 --story=124437696
  bkmonitor/packages/monitor_web/cc/resources/cmdb.py
Labels: project/monitor, feat

#6603 fix: 创建和修改集群提取租户信息报错 --bug=143052175
  bklog/apps/api/modules/transfer.py
Labels: project/log, fix

#6604 feat: cpu装箱率 和 内存装箱率promql 优化 --Story=124436637
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, feat

#6600 feat: 日志代码修改
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/monitor, project/log, feat

#6607 fix: 修复多租户接口适配bug
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
Labels: project/log, fix

#6608 fix: 事件检索过滤栏候选值获取逻辑调整
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting-transfer.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/api-utils.ts
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/event-explore.tsx
Labels: project/monitor, fix

#6609 feat: APM DB 场景检索对接 UnifyQuery --story=124357094
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/constants.py
  bkmonitor/packages/apm_web/db/resources.py
  bkmonitor/packages/apm_web/handlers/db_handler.py
Labels: project/apm, feat

#6610 feat: access-event 中间队列redis长度保护 --story=124450064
  bkmonitor/alarm_backends/service/access/event/processorv2.py
Labels: project/monitor, feat

#6611 feat: 【告警屏蔽】【MF】列表字段优化2
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/typing/alarm-shield.ts
Labels: project/monitor, feat

#6613 feat: Metadata: timesync内置指标新增数据ID Migration --story=124450283
  bkmonitor/metadata/migrations/0227_system_base_data_source_init.py
  bkmonitor/metadata/models/data_source.py
Labels: project/monitor, feat

#6338 feat: 联合查询支持日志异步下载 --story=123995464
  bklog/apps/log_search/handlers/search/async_export_handlers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/tasks/async_export.py
  bklog/apps/log_search/tasks/unify_query_async_export.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/log_unifyquery/handler/async_export_handlers.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#6620 feat: trace 检索表格滚动条交互优化 --Story=124469940
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
Labels: project/monitor, feat

#6619 fix: 【APM / Trace检索】Trace 视角字段类型修正 --bug=143049012
  bkmonitor/packages/apm_web/handlers/trace_handler/view_config.py
Labels: project/apm, fix

#6616 feat: 【APM / 观测场景】蓝盾流水线关联 mock 数据 --story=124469856
  bkmonitor/packages/apm_web/service/mock_data.py
  bkmonitor/packages/apm_web/service/resources.py
  bkmonitor/packages/apm_web/service/serializers.py
  bkmonitor/packages/apm_web/service/views.py
  bkmonitor/webpack/src/monitor-api/modules/apm_service.js
Labels: project/apm, feat

#6624 fix: 【APM】服务下自定义指标页面URL链接中过滤条件不生效 --Bug=143092484
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-var-select/filter-var-select-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/where-filters/where-filters.tsx
Labels: project/monitor, fix

#6626 feat: 日志聚类清洗同步兼容 ext 字段在原始数据中不存在的情况 --story=124481444
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/handlers/etl_storage/bk_log_json.py
Labels: project/log, feat

#6627 feat: 进程采集调试优化
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/monitor-pc/lang/placeholder.ts
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-pc/pages/collector-config/collector-add/config-set/process-params.vue
Labels: project/monitor, feat

#6628 feat: Metadata: system_base 指标固化 --story=124482761
  bkmonitor/metadata/migrations/0227_system_base_data_source_init.py
Labels: project/monitor, feat

#6631 fix: 旧版 trace 详情参数错误问题 --Bug=143112919
  bkmonitor/webpack/src/trace/pages/main/inquire-content/trace-detail.tsx
Labels: project/monitor, fix

#6632 fix: 锁定echarts版本解决最小高度问题 & 更新ip-selector
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/src/hooks/trend-chart-options.ts
  bklog/web/src/hooks/use-trend-chart.ts
Labels: project/log, fix

#6633 fix: 趋势图分组修复 --bug=143105652
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, fix

#6635 feat: 完成trace检索日志代码开发
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
  bklog/web/src/views/retrieve-v3/monitor/monitor.tsx
  bklog/web/src/views/retrieve-v3/monitor/use-monitor-app-init.ts
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-span-slider/explore-span-slider.tsx
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
Labels: project/monitor, project/log, feat

#6636 fix: 1.trace检索输入框和常驻条件凸显样式优化 2.快捷键/冲突问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/time-consuming.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
Labels: project/monitor, fix

#6639 feat: 多租户人名改造
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/components/receiver-list.vue
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-history.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions.vue
  bkmonitor/webpack/src/monitor-pc/pages/export-import/import-configuration/import-configuration-history.vue
Labels: project/monitor, feat

#6621 feat: 前端多租户人员标签替换
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/action-detail.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/related-events.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-report.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-common/strategy-config.tsx
Labels: project/monitor, feat

#6642 feat: 【Trace 检索】trace详情span错误信息popover弹窗展示内容调整 --Story=124491800
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
Labels: project/monitor, feat

#6645 feat: text字段忽略大小写 & 字段查询失败提示
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-result-exception.tsx
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#6646 fix: 异步下载序列化失败 --bug=143135107
  bklog/apps/log_desensitize/handlers/desensitize_operator/text_replace.py
Labels: project/log, fix

#6618 feat: trace检索span详情日志开发
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/index.vue
  bkmonitor/webpack/src/trace/pages/main/inquire.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.scss
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
Labels: project/monitor, feat

#6649 feat: trace检索日志调整
  bklog/web/src/views/retrieve-core/optimized-highlighter.ts
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/book-mark.ts
Labels: project/monitor, feat

#6653 refactor: 日志采集代码优化
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/check_collector/checker/bkunifylogbeat_checker.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/handlers/collector_batch_operation.py
  bklog/apps/log_databus/handlers/collector_handler/__init__.py
  bklog/apps/log_databus/handlers/collector_handler/base.py
  bklog/apps/log_databus/handlers/collector_handler/host.py
  bklog/apps/log_databus/handlers/collector_handler/k8s.py
  bklog/apps/log_databus/handlers/collector_plugin/base.py
  bklog/apps/log_databus/handlers/collector_plugin/bkbase.py
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/handlers/etl/bkbase.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_databus/management/commands/sync_built_in_platform_collect.py
  bklog/apps/log_databus/tasks/collector.py
  bklog/apps/log_databus/utils/clean.py
  bklog/apps/log_databus/views/collector_views.py
  bklog/apps/tests/log_databus/test_clean.py
  bklog/apps/tests/log_databus/test_collector.py
  bklog/apps/tests/log_databus/test_collectorhandler.py
  bklog/home_application/management/commands/migrate_tool.py
Labels: project/log, refactor, notapd

#6655 feat: 调整query strig 后台查询
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/utils.py
Labels: project/monitor, feat

#6647 feat: selenium版本升级 --story=124505124
  bkmonitor/bkmonitor/utils/graph_exporter/exporter.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat

#6654 fix: 修复部分 Trace 结果表查询元数据未同步的问题 --bug=143153214
  bkmonitor/metadata/migrations/0224_auto_20250512_2100.py
Labels: project/apm, fix

#6478 fix: 日志上报bug修复 --bug=142781748
  bklog/apps/log_databus/constants.py
Labels: project/log, fix

#6658 fix: 修复 apm 关联拓扑报错 --bug=143158331
  bkmonitor/packages/apm_web/topo/handle/relation/query.py
Labels: project/apm, fix

#6662 fix: 修复异步创建 apm 应用失败，将任务延后 3s 执行，防止DB未就绪 --bug=143163924
  bkmonitor/apm/models/application.py
Labels: project/apm, fix

#6671 feat: 容器场景集群列表保持和原版本一致 --story=124509474
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/resources.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, feat

#6637 feat: 删除事件检索事件来源列 --Story=124485472
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
Labels: project/monitor, feat

#6673 feat: access-event 中间队列redis长度保护 --story=124450064
  bkmonitor/alarm_backends/service/access/event/processorv2.py
Labels: project/monitor, feat

#6676 feat: 优化grep模式加载逻辑
  bklog/web/src/views/retrieve-v3/grep/grep-cli-result.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
  bklog/web/src/views/retrieve-v3/grep/types.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, perf

#6678 feat: 事件中心无数据视图预览异常 --story=124545292
  bkmonitor/bkmonitor/aiops/alert/utils.py
Labels: project/monitor, fix

#6682 feat: query string 代码调整
  bkmonitor/packages/fta_web/alert/handlers/base.py
Labels: project/monitor, feat

#5448 fix: 【时间选择器】时间选择多个页面不同步问题
  bkmonitor/webpack/src/apm/components/apm-common-nav-bar/apm-common-nav-bar.tsx
  bkmonitor/webpack/src/apm/pages/application/application.tsx
  bkmonitor/webpack/src/apm/pages/home/apm-home.tsx
  bkmonitor/webpack/src/apm/pages/home/components/apm-home-list.tsx
  bkmonitor/webpack/src/apm/pages/service/service.tsx
Labels: project/monitor, fix

#6686 feat: 【apm】trace 检索复制补充dimensions前缀 --story=124518598
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
Labels: project/apm, feat

#6667 fix: 修复事件检索语句模式缺少正则不等于转换规则的问题 --bug=143167575
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
Labels: project/apm, fix

#6687 fix: 事件检索条件tag tips文案修复
  bkmonitor/webpack/src/monitor-pc/components/retrieval-filter/kv-tag.tsx
Labels: project/monitor, fix

#6688 feat: 【Trace 检索】span视角下 span ID 支持 trace 跳转交互样式调整 --Story=124571642
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-explore-column-config.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
Labels: project/monitor, feat

#6696 fix: sql自动补全&回填位置修复
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
Labels: project/log, fix

#6693 feat: 解决APM调用分析跳转新版事件检索参数格式错误的情况 --bug=143264820
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/components/multi-view-table.tsx
Labels: project/monitor, feat

#6700 fix: 原先pod状态判空逻辑修复 --bug=143286978
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/check_collector/checker/bkunifylogbeat_checker.py
  bklog/config/default.py
Labels: project/log, fix

#6701 fix: sql 自动填充功能调试修复
  bklog/web/src/views/retrieve-v2/search-bar/codemirror-lucene.js
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
Labels: project/log, fix

#6697 feat: 故障页面多租户改造
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/tag-show.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/tag-show.tsx
Labels: project/monitor, feat

#6705 fix: 修复sql查询自动补全功能
  bklog/web/src/views/retrieve-v2/search-bar/codemirror-lucene.js
  bklog/web/src/views/retrieve-v2/search-bar/sql-query-options.vue
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, feat

#6704 fix: 修复默认query.tab判定逻辑
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#6713 feat: 多租户-外部授权列改造
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-calendar-preview.tsx
  bkmonitor/webpack/src/monitor-pc/pages/authorization-list/authorization-list.tsx
  bkmonitor/webpack/src/trace/pages/rotation/components/calendar-preview.ts
  bkmonitor/webpack/src/trace/pages/rotation/components/rotation-calendar-preview.tsx
Labels: project/monitor, feat

#6712 fix: 聚类数量异常告警适配问题 --bug=143354483
  bklog/apps/log_clustering/handlers/clustering_monitor.py
Labels: project/log, fix

#6720 feat: 告警中心事件检索接口filter支持模糊检索 --story=124763939
  bkmonitor/packages/fta_web/alert/handlers/base.py
  bkmonitor/packages/fta_web/alert/serializers.py
Labels: project/monitor, feat

#6718 feat: 多租户人员display-name-tag组件封装
  bkmonitor/webpack/src/trace/components/collapse-tags/collapse-tags.scss
  bkmonitor/webpack/src/trace/components/collapse-tags/collapse-tags.tsx
  bkmonitor/webpack/src/trace/components/collapse-tags/user-display-name-tags.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-tags/failure-tags.tsx
Labels: project/monitor, feat

#6721 feat: 更新k8s内置指标 --story=124765077
  bkmonitor/metadata/data/k8s_metrics/kube.yaml
  bkmonitor/metadata/management/commands/check_k8s_metrics.py
Labels: project/monitor, feat

#6723 fix: trace检索选中收藏项时添加设置筛选需要缓存到收藏项处 --bug=143371229
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, fix

#6724 feat: 图表分析-增加alias_settings字段 --story=124763428
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, feat

#6677 feat: 基于 unify-query 配置字段查询别名 --story=124515529
  bklog/apps/log_databus/handlers/collector/base.py
  bklog/apps/log_databus/handlers/etl/base.py
  bklog/apps/log_databus/handlers/etl/transfer.py
  bklog/apps/log_databus/handlers/etl_storage/base.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/migrations/0088_logindexset_query_alias_settings.py
  bklog/apps/log_search/models.py
  bklog/apps/log_search/views/index_set_views.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#6735 fix: 流水线构建 apm 报错 --Bug=143409380
  bkmonitor/webpack/src/monitor-pc/common/introduce.ts
  bkmonitor/webpack/src/monitor-pc/components/temporary-share/history-share-manage.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-var-select/filter-var-select-group.tsx
  bkmonitor/webpack/src/monitor-pc/utils/index.ts
Labels: project/monitor, fix

#6733 fix: 修复原先BkunifylogbeatChecker中的一些异常情况 --bug=143396536
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/check_collector/checker/bkunifylogbeat_checker.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/tests/log_databus/test_collector.py
  bklog/config/default.py
Labels: project/log, fix

#6738 feat: Span详情页主被调服务样式优化 --story=124427009
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  bkmonitor/webpack/src/trace/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
Labels: project/monitor, feat

#6741 fix: 回滚contains match phrase prefix
  bklog/web/src/hooks/trend-chart-options.ts
  bklog/web/src/hooks/use-trend-chart.ts
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-v2/search-bar/const.common.ts
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, fix

#6743 feat: 兼容历史查询记录中操作符为空的情况 --story=124799506
  bklog/apps/utils/lucene.py
Labels: project/log, feat

#6745 fix: 修复排除包含功能添加到检索问题
  bklog/web/src/hooks/use-trend-chart.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#6746 feat: 【告警分派】策略选择器展示所有策略，标记未开启的策略 --story=124801212
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#6748 feat: 多租户人员选择器替换
  bkmonitor/webpack/src/fta-solutions/components/chat-group/chat-group.scss
  bkmonitor/webpack/src/fta-solutions/components/chat-group/chat-group.tsx
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/alarm-dispatch.tsx
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/components/collapse-tags/collapse-tags.tsx
  bkmonitor/webpack/src/trace/components/collapse-tags/user-display-name-tags.tsx
  bkmonitor/webpack/src/trace/components/user-selector/user-group.ts
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/pages/failure/alarm-detail/alarm-dispatch.tsx
  bkmonitor/webpack/src/trace/shim.d.ts
Labels: project/monitor, feat

#6744 feat: APM 场景页面跳转 Tracing 检索链接不准确 --story=124572375
  bkmonitor/packages/apm_web/db/resources.py
  bkmonitor/packages/apm_web/meta/resources.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, feat

#6752 feat: 更新 监控依赖版本及事件检索应用选择支持上下键选择 --Story=124815581
  bkmonitor/webpack/package.json
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/components/cycle-input/cycle-input.scss
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/trace/package.json
Labels: project/monitor, feat

#6750 feat: 对匹配出来进行状态检测的Pod统一处理 --story=124814604
  bklog/apps/log_databus/handlers/check_collector/checker/bkunifylogbeat_checker.py
Labels: project/log, feat

#6756 fix: 日志清洗快速编辑报错 --bug=143449499
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, fix

#6760 fix: 【trace检索】常驻筛选的样式不统一问题 --bug=143410840
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-input.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/time-consuming.scss
Labels: project/monitor, fix

#6751 feat: get_metric_list接口针对 conditions参数字段 优化 --story=124771493
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#6765 fix: 图表分析别名映射错误的问题 --bug=143459203
  bklog/apps/log_search/serializers.py
Labels: project/log, fix

#6771 feat: 【多租户-pc】人员选择器改造
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/rotation/rotation-preview.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
Labels: project/monitor, feat

#6652 feat: 日志聚类旧逻辑代码删除
  bklog/apps/api/modules/bkdata_aiops.py
  bklog/apps/api/modules/bkdata_dataflow.py
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_clustering/components/collections/aiops_model_component.py
  bklog/apps/log_clustering/components/collections/data_access_component.py
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/components/collections/sample_set_component.py
  bklog/apps/log_clustering/exceptions.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/aiops_model_handler.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/constants.py
  bklog/apps/log_clustering/handlers/aiops/aiops_model/data_cls.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/__init__.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/constants.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/data_cls.py
  bklog/apps/log_clustering/handlers/aiops/sample_set/sample_set_handler.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/handlers/dataflow/constants.py
  bklog/apps/log_clustering/handlers/dataflow/data_cls.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_model_service.py
  bklog/apps/log_clustering/handlers/pipline_service/aiops_service.py
  bklog/apps/log_clustering/handlers/pipline_service/sample_set_service.py
  bklog/apps/log_clustering/models.py
  bklog/apps/log_clustering/views/clustering_config_views.py
  bklog/apps/log_databus/handlers/collector_scenario/base.py
  bklog/apps/log_databus/models.py
Labels: project/log, feat

#6779 feat: 【多租户-pc】人员选择器改造
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/healthz-new/healthz-alarm.tsx
Labels: project/monitor, fix

#6674 fix: 【多租户】IAM 多租户版本接入-问题修复 --bug=143190614
  bklog/apps/iam/handlers/permission.py
  bklog/apps/iam/handlers/resources.py
  bklog/apps/iam/utils.py
  bklog/apps/iam/views/resources.py
Labels: project/log, fix

#6764 feat: 【处理套餐】防御规则增加数据延迟需求 --Story=124035565
  bkmonitor/webpack/src/monitor-pc/lang/form-content.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-detail/strategy-config-detail-common.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.scss
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#6692 feat: AIOPS：Agent-SDK引入监控平台,API适配开发 --story=124580393
  bkmonitor/ai_agents/__init__.py
  bkmonitor/ai_agents/admin.py
  bkmonitor/ai_agents/agent_factory.py
  bkmonitor/ai_agents/apps.py
  bkmonitor/ai_agents/core/__init__.py
  bkmonitor/ai_agents/core/agent/__init__.py
  bkmonitor/ai_agents/core/agent/base_agent.py
  bkmonitor/ai_agents/core/runtime/__init__.py
  bkmonitor/ai_agents/core/runtime/memory.py
  bkmonitor/ai_agents/core/runtime/session.py
  bkmonitor/ai_agents/migrations/__init__.py
  bkmonitor/ai_agents/models/__init__.py
  bkmonitor/ai_agents/models/agent_config.py
  bkmonitor/ai_agents/resources/__init__.py
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/scenario/__init__.py
  bkmonitor/ai_agents/services/__init__.py
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/ai_agents/services/api_client.py
  bkmonitor/ai_agents/tests/__init__.py
  bkmonitor/ai_agents/tests/test_agent_config.py
  bkmonitor/ai_agents/urls.py
  bkmonitor/ai_agents/views.py
  bkmonitor/config/default.py
  bkmonitor/config/role/api.py
  bkmonitor/config/role/web.py
  bkmonitor/config/role/worker.py
  bkmonitor/core/drf_resource/viewsets.py
  bkmonitor/pyproject.toml
  bkmonitor/requirements.txt
  bkmonitor/requirements_aidev.txt
  bkmonitor/urls.py
  bkmonitor/uv.lock
Labels: project/monitor, feat

#6794 fix: grep-mode更新测试问题
  bklog/web/src/views/retrieve-core/base.ts
  bklog/web/src/views/retrieve-core/optimized-highlighter.ts
  bklog/web/src/views/retrieve-core/static.util.ts
  bklog/web/src/views/retrieve-v3/grep/grep-cli-editor.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli-result.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli.scss
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
Labels: project/log, fix

#6789 feat: Metadata: Resource接口适配多租户 --story=124851775
  bkmonitor/metadata/migrations/0228_auto_20250613_1817.py
  bkmonitor/metadata/models/es_snapshot.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/resources/log_datalink.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/resources/space.py
  bkmonitor/metadata/resources/vm.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#6795 fix: 修复test_collector中的参数问题 --bug=143518386
  bklog/apps/log_databus/constants.py
  bklog/apps/log_databus/handlers/check_collector/checker/agent_checker.py
  bklog/apps/log_databus/handlers/check_collector/checker/bkunifylogbeat_checker.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_databus/views/check_collector_views.py
  bklog/apps/tests/log_databus/test_collector.py
Labels: project/log, fix

#6797 feat: AIAgent: 接口返回协议调整,适配AIDEV标准协议 --story=124916540
  bkmonitor/ai_agents/resources/resources.py
Labels: project/monitor, feat

#6790 feat: 多租户人员选择器替换
  bkmonitor/webpack/src/monitor-pc/common/user-display-name.ts
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-selector.scss
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/monitor-pc/pages/email-subscriptions/email-subscriptions-set.vue
  bkmonitor/webpack/src/monitor-pc/pages/resource-register/cluster-config.tsx
  bkmonitor/webpack/src/trace/components/user-selector/user-group.ts
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.scss
  bkmonitor/webpack/src/trace/components/user-selector/user-selector.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.scss
Labels: project/monitor, feat

#6798 feat: 微前端应用关联 vue3应用 root 实例的卸载 --Story=124923334
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/profiling/profiling.tsx
  bkmonitor/webpack/src/monitor-pc/pages/trace-retrieval/trace-retrieval.tsx
  bkmonitor/webpack/src/trace/index.ts
  bkmonitor/webpack/src/trace/plugins/hooks/intersection.ts
Labels: project/monitor, feat

#6801 feat: 【告警中心】指标检索：同时支持搜索 ID 和 名称 --story=124784875
  bkmonitor/alarm_backends/core/alert/adapter.py
Labels: project/monitor, feat

#6800 feat: 【APM / 观测场景】蓝盾网关接口请求参数调整 --story=124900360
  bkmonitor/packages/apm_web/event/serializers.py
Labels: project/apm, feat

#6805 feat: 【事件检索】简易发布订阅代码优化
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/event-explore-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/explore-kv-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/utils.tsx
Labels: project/monitor, feat

#6807 feat: 【APM / 观测场景】增加 bk_product_id 候选字段 --story=124942086
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, feat

#6808 fix: 兼容监控项目iframe嵌入样式
  bklog/web/src/views/retrieve-v2/search-result-panel/index.scss
Labels: project/log, fix

#6810 feat: apm服务容器事件关键兼容无数据情况 --Bug=143596494
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
Labels: project/monitor, feat

#6811 feat: 策略配置告警名称生成规则优化 --Story=124961459
  bkmonitor/webpack/src/monitor-pc/lang/content.ts
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/strategy-config-set.tsx
Labels: project/monitor, feat

#6788 fix: 字段清洗配置保存后的异常报错 --bug=143441458
  bklog/apps/log_databus/handlers/etl_storage/bk_log_delimiter.py
Labels: project/log, fix

#6818 feat: 完成告警组批量编辑通知对象功能 --story=124501126
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/alarm-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/batch-operation-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/batch-operation-dialog.tsx
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-common/utils.ts
Labels: project/monitor, feat

#6819 feat: 插件订阅停用时附带停用巡检 --story=124975000
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
Labels: project/monitor, feat

#6820 fix: 调整参数 bk_biz_id 类型 str 为 int
  bkmonitor/api/kubernetes/default.py
Labels: project/monitor, fix

#6813 feat: 智能异常检测-严格模式灰度 --story=124140546
  .github/workflows/label_check.yml
  bkmonitor/alarm_backends/service/detect/strategy/__init__.py
  bkmonitor/alarm_backends/service/detect/strategy/intelligent_detect.py
  bkmonitor/api/aiops_sdk/default.py
  bkmonitor/bkmonitor/strategy/serializers.py
Labels: project/monitor, feat, project/aiops

#6821 feat: 【告警组】支持批量编辑通知对象 --story=124501126
  bkmonitor/bkmonitor/action/serializers/strategy.py
  bkmonitor/packages/monitor_web/user_group/resources.py
  bkmonitor/packages/monitor_web/user_group/views.py
  bkmonitor/webpack/src/monitor-api/modules/model.js
Labels: project/monitor, feat

#6822 feat: 人员选择器获取用户组数据结构调整
  bkmonitor/webpack/src/monitor-pc/components/user-selector/user-group.ts
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-add/alarm-group-add-common/alarm-group-add.tsx
  bkmonitor/webpack/src/trace/pages/alarm-shield/alarm-shield-config.tsx
Labels: project/monitor, feat

#6831 feat: 分享功能测试修复
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/router/index.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/share-link.tsx
  bklog/web/src/views/share.scss
  bklog/web/src/views/share.tsx
Labels: project/log, feat

#6830 fix: 【APM / 观测场景】产品 ID 为 None 返回空列表 --bug=143637830
  bkmonitor/packages/apm_web/service/resources.py
Labels: project/apm, fix

#6838 feat: AIAgent: 小鲸问答Agent支持知识库检索&SDK版本升级兼容 --story=125002365
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat, project/aiops

#6837 fix: 修复日志关联Trace失败问题 --bug=143639402
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#6839 feat: trace日志检索快速关闭时候会有 api 报错 --Story=125001630
  bkmonitor/webpack/src/trace/plugins/charts/monitor-trace-log/monitor-trace-log.tsx
Labels: project/monitor, feat

#6841 fix: 日志检索-单引号导致报错 --bug=143606843
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Labels: project/log, fix

#6842 fix: apm流水线事件：子节点无信息时 不显示父节点 --Story=124035565
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.scss
  bkmonitor/webpack/src/apm/pages/service/service-config/basic-info.tsx
  bkmonitor/webpack/src/apm/pages/service/service-config/components/pipeline-select-panel.scss
  bkmonitor/webpack/src/apm/pages/service/service-config/components/pipeline-select-panel.tsx
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
Labels: project/monitor, fix

#6848 fix: 告警详情图表循环请求问题 --Bug=143668214
  bkmonitor/webpack/src/fta-solutions/pages/event/event-detail/event-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance.vue
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-relation-graph/apm-relation-graph.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/apm-service-caller-callee/apm-service-caller-callee.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/common-simple-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/event-log-chart/event-log-chart.tsx
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-email.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts-new.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-echarts.vue
  bkmonitor/webpack/src/monitor-ui/monitor-echarts/monitor-mobile-echarts.vue
Labels: project/monitor, fix

#6834 fix: 修复切换索引请求逻辑问题
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/panel-util.js
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/search-result/index.tsx
Labels: project/log, fix

#6849 feat: Metadata: TimeSeriesMetric表新增索引 & Python侧refresh_bcs_metrics_label任务停用 --story=125036628
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/migrations/0229_auto_20250619_1024.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#6806 feat：业务切换组件替换
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/pnpm-lock.yaml
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/global/biz-select/list.scss
  bklog/web/src/global/biz-select/list.tsx
  bklog/web/src/mixins/userStoreConfig.ts
  bklog/web/src/scss/theme/common.scss
  bklog/web/src/scss/theme/index.scss
  bklog/web/src/scss/theme/mixin.scss
  bklog/web/src/scss/theme/theme.scss
  bklog/web/src/store/index.js
  bklog/web/src/views/authorization/authorization-list.tsx
  package-lock.json
Labels: project/log, feat

#6852 feat: 临时分享日志检索支持 --story=124968615
  bklog/apps/constants.py
  bklog/apps/log_commons/exceptions.py
  bklog/apps/log_commons/migrations/0004_alter_apiauthtoken_type_tokenaccessrecord.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/share.py
  bklog/apps/log_commons/urls.py
  bklog/apps/log_commons/views.py
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/router/index.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/share-link.tsx
  bklog/web/src/views/share.scss
  bklog/web/src/views/share.tsx
Labels: project/log, feat

#6854 fix: 优化tab切换触发逻辑
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
Labels: project/log, fix

#6855 feat: 无数据检测周期大于2h可能引起误告优化 --story=125049694
  bkmonitor/alarm_backends/core/detect_result/clean.py
Labels: project/monitor, feat

#6851 feat: 【事件 / 数据探索】优化字段分析数值精度 --story=125043466
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
Labels: project/apm, feat

#6858 feat: 采集升级， 超时配置没有填上一次采集下发的值，而是用的默认值。 --story=124539715
  bkmonitor/packages/monitor_web/collecting/deploy/k8s.py
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
Labels: project/monitor, feat

#6860 fix: 故障拓扑sub_combo展示优先级问题修复 --bug=143284856
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: project/monitor, fix, project/aiops

#6861 feat: 图表分析忽略大小写 --story=125047656
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
Labels: project/log, feat

#6866 feat: django orm访问统计 --story=125079139
  bkmonitor/bkmonitor/db_routers.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#6867 feat: Metadata: SpaceDataSource新增DB索引 --story=125079566
  bkmonitor/metadata/migrations/0230_auto_20250619_1813.py
  bkmonitor/metadata/models/space/space.py
Labels: project/monitor, feat

#6873 fix: 修复json递归导致的错误
  bklog/web/src/views/retrieve-v2/sub-bar/share-link.tsx
Labels: project/log, fix

#6878 feat: fields 接口性能优化 --story=125106264
  bklog/apps/log_esquery/esquery/builder/query_time_builder.py
  bklog/apps/log_search/handlers/search/mapping_handlers.py
Labels: project/log, feat

#6879 feat: AIAgent: 支持batch_delete方式删除对话 --story=125098041
  bkmonitor/ai_agents/resources/resources.py
  bkmonitor/ai_agents/views.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat

#6799 feat: 【产品功能】新版本 AI 小鲸 --Story=125105901
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-common/utils/docs.ts
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.scss
  bkmonitor/webpack/src/monitor-pc/components/ai-whale-icon/ai-whale-icon.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.scss
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-blueking.tsx
  bkmonitor/webpack/src/monitor-pc/components/ai-whale/ai-whale.tsx
  bkmonitor/webpack/src/monitor-pc/package.json
  bkmonitor/webpack/src/monitor-pc/pages/app.tsx
  bkmonitor/webpack/src/monitor-pc/pages/grafana/dashboard-container/dashboard-container.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/home-select.tsx
  bkmonitor/webpack/src/monitor-pc/pages/home/new-home/components/recent-favorites-tab.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/alarm-handling/alarm-handling.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/monitor-data/monitor-data.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-config.tsx
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/notice-config/notice-item.tsx
  bkmonitor/webpack/src/monitor-pc/pages/view-detail/query-criteria-item.vue
  bkmonitor/webpack/src/monitor-pc/store/modules/ai-whale.ts
  bkmonitor/webpack/webpack/export-dependencies-csv.js
  bkmonitor/webpack/webpack/tranlate.js
Labels: project/monitor, feat

#6869 feat: 日志增加索引集默认条件功能
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/monitor/use-monitor-app-init.ts
Labels: project/monitor, project/log, feat

#6843 feat: bcs相关逻辑支持多租户 --story=125003307
  bkmonitor/alarm_backends/core/cache/bcs_cluster.py
  bkmonitor/api/bcs/default.py
  bkmonitor/api/bcs/tasks.py
  bkmonitor/api/bcs_cc/__init__.py
  bkmonitor/api/bcs_cc/default.py
  bkmonitor/api/bcs_cluster_manager/default.py
  bkmonitor/api/bcs_storage/default.py
  bkmonitor/api/kubernetes/default.py
  bkmonitor/apm_ebpf/handlers/deepflow.py
  bkmonitor/apm_ebpf/handlers/relation.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/bkmonitor/migrations/0183_bcscluster_bk_tenant_id.py
  bkmonitor/bkmonitor/models/bcs_base.py
  bkmonitor/bkmonitor/models/bcs_cluster.py
  bkmonitor/bkmonitor/models/bcs_container.py
  bkmonitor/bkmonitor/models/bcs_ingress.py
  bkmonitor/bkmonitor/models/bcs_monitor.py
  bkmonitor/bkmonitor/models/bcs_node.py
  bkmonitor/bkmonitor/models/bcs_pod.py
  bkmonitor/bkmonitor/models/bcs_pod_monitor.py
  bkmonitor/bkmonitor/models/bcs_service.py
  bkmonitor/bkmonitor/models/bcs_service_monitor.py
  bkmonitor/bkmonitor/models/bcs_workload.py
  bkmonitor/config/default.py
  bkmonitor/kernel_api/resource/bcs.py
  bkmonitor/metadata/management/commands/check_dependent_service_health.py
  bkmonitor/metadata/management/commands/sync_bcs_space.py
  bkmonitor/metadata/models/bcs/resource.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/packages/fta_web/migrations/0007_auto_20250618_2212.py
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
  bkmonitor/packages/monitor_web/strategies/loader/k8s_loader.py
  bkmonitor/packages/monitor_web/strategies/metric_list_cache.py
  bkmonitor/pyproject.toml
  bkmonitor/uv.lock
Labels: project/monitor, feat

#6892 feat: 【Trace检索】trace检索收藏功能增加排序字段展示 --story=125156241
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/favorite-info/render-favorite-query.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/store/modules/explore.ts
Labels: project/monitor, feat

#6868 feat: db性能优化降低qps --story=125075544
  bkmonitor/api/metadata/default.py
  bkmonitor/bkmonitor/utils/cache.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#6895 feat: GetKubernetesClusterChoices，新增集群类型(cluster_type)字段
  bkmonitor/packages/monitor_web/scene_view/resources/kubernetes.py
Labels: project/monitor, feat

#6896 feat: AIAgent: 小鲸后端发起对话时,自动防御role=ai的对话上下文,避免携带非预期信息进入模型 --story=125161077
  bkmonitor/ai_agents/services/agent_instance.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
Labels: project/monitor, feat

#6904 feat: ai 小鲸组件升级 --Story=125164116
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/package.json
Labels: project/monitor, feat

#6905 feat: 故障拓扑service框支持跳转 --story=143284856
  bkmonitor/webpack/src/fta-solutions/pages/event/incident-table.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/utils.ts
Labels: project/monitor, feat

#6909 fix: 根据告警查看日志时，趋势图没有刷新
  bklog/web/src/views/retrieve-v2/sub-bar/share-link.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/warning-setting.vue
  bklog/web/src/views/retrieve-v2/use-retrieve-hook.ts
Labels: project/log, fix

#6913 fix: 修复接口请求401弹出问题 & sql唤起默认focus问题
  bklog/web/src/api/index.js
  bklog/web/src/views/retrieve-v2/search-bar/sql-query.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
  bklog/web/src/views/retrieve-v2/search-bar/use-focus-input.ts
Labels: project/log, fix

#6923 fix: 采集项有子集情况收藏功能修复
  bklog/web/src/api/index.js
  bklog/web/src/views/retrieve-v2/components/index-set-choice/use-choice.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli-editor.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
Labels: project/log, fix

#6922 feat: 聚类告警关联信息支持引用 pattern 内容 --story=125224876
  bkmonitor/bkmonitor/utils/event_related_info.py
Labels: project/log, feat

#6926 fix: 修复grep请求逻辑
  bklog/web/src/views/retrieve-v3/grep/grep-cli-result.tsx
  bklog/web/src/views/retrieve-v3/grep/grep-cli.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
Labels: project/log, fix

#6917 feat: grep_query接口支持 sort_list 参数 --story=125208332
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/log_search/serializers.py
Labels: project/log, feat

#6925 fix：业务空间切换组件架构优化调整
  bklog/apps/constants.py
  bklog/apps/log_commons/exceptions.py
  bklog/apps/log_commons/migrations/0004_alter_apiauthtoken_type_tokenaccessrecord.py
  bklog/apps/log_commons/models.py
  bklog/apps/log_commons/serializers.py
  bklog/apps/log_commons/share.py
  bklog/apps/log_commons/urls.py
  bklog/apps/log_commons/views.py
  bklog/apps/log_search/handlers/search/chart_handlers.py
  bklog/apps/tests/log_search/test_chart.py
  bklog/web/package-lock.json
  bklog/web/package.json
  bklog/web/pnpm-lock.yaml
  bklog/web/src/components/biz-menu/index.vue
  bklog/web/src/components/nav/head-nav.vue
  bklog/web/src/global/biz-select/list.scss
  bklog/web/src/global/biz-select/list.tsx
  bklog/web/src/global/bk-space-choice/index.scss
  bklog/web/src/global/bk-space-choice/index.tsx
  bklog/web/src/global/bk-space-choice/use-content.tsx
  bklog/web/src/hooks/use-nav-menu.ts
  bklog/web/src/language/lang/en/label.ts
  bklog/web/src/main.js
  bklog/web/src/mixins/userStoreConfig.ts
  bklog/web/src/router/index.js
  bklog/web/src/services/retrieve.js
  bklog/web/src/static/demo.html
  bklog/web/src/static/fonts/iconcool.eot
  bklog/web/src/static/fonts/iconcool.svg
  bklog/web/src/static/fonts/iconcool.ttf
  bklog/web/src/static/fonts/iconcool.woff
  bklog/web/src/static/iconcool.js
  bklog/web/src/static/iconcool.json
  bklog/web/src/static/style.css
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/manage/es-cluster-status/es-cluster-mess/es-slider.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-clustering/data-fingerprint.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/panel-util.js
  bklog/web/src/views/retrieve-v2/search-result-tab/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v2/sub-bar/share-link.tsx
  bklog/web/src/views/retrieve-v3/grep/index.tsx
  bklog/web/src/views/retrieve-v3/search-result/index.tsx
  bklog/web/src/views/share.scss
  bklog/web/src/views/share.tsx
  bklog/web/src/vue-virtual-scroller.d.ts
  bkmonitor/alarm_backends/core/detect_result/clean.py
  bkmonitor/bkmonitor/aiops/incident/models.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/migrations/0229_auto_20250619_1024.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/task/bcs.py
  bkmonitor/packages/monitor_web/collecting/deploy/k8s.py
  bkmonitor/packages/monitor_web/collecting/deploy/node_man.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/incident/resources.py
Labels: project/log, fix
