Repository TencentBlueKing/bk-monitor, pull requests merged in 2025-05, with the labels that each got.

#6127 feat: Metadata: 新增Doris存储表&日志路由创建接口支持选择存储类型 --story=123751268
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/migrations/0214_auto_20250427_1954.py
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/__init__.py
  bkmonitor/metadata/resources/log_datalink.py
  bkmonitor/metadata/service/space_redis.py
  bkmonitor/metadata/tests/resources/test_log_data_link.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/metadata/tests/space/test_space_to_result_table_router.py
Labels: project/monitor, feat

#6162 feat: keyword查询支持自动检测 __dist_05
  bklog/apps/log_esquery/esquery/dsl_builder/query_builder/query_builder_logic.py
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_unifyquery/handler/base.py
  bklog/apps/tests/log_esquery/test_serializers.py
  bklog/apps/tests/log_search/test_search.py
  bklog/apps/tests/log_unifyquery/__init__.py
  bklog/apps/tests/log_unifyquery/test_base.py
Labels: project/log, feat

#6129 feat: 【APM / Trace检索】Trace检索字段分析能力 --story=123741084
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
  bkmonitor/apm/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/constants.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/serializers.py
Labels: project/apm, feat

#6164 fix: 运营指标上报异常处理: notice_receiver_count --bug=142026677
  bkmonitor/packages/monitor_web/statistics/v2/user_group.py
Labels: project/monitor, fix

#6169 perf: 优化 apm 接口列表进入性能，如果有指定接口，则只需加载一个即可
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/metric/resources.py
Labels: project/apm, perf, notapd

#6168 feat: trace检索收藏及过滤栏功能优化
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/favorite-info/render-favorite-query.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/group-tree/components/render-favorite/components/edit-favorite.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#6173 feat: 升级 opentelemetry 依赖版本 --story=123858174
  bklog/requirements.txt
Labels: project/log, feat

#6174 feat: 进程采集匹配测试二进制 --story=123858441
  bkmonitor/.gitignore
  bkmonitor/packages/monitor_web/plugin/process_matcher/.gitignore
  bkmonitor/packages/monitor_web/plugin/process_matcher/Makefile
  bkmonitor/packages/monitor_web/plugin/process_matcher/go.mod
  bkmonitor/packages/monitor_web/plugin/process_matcher/main.go
  bkmonitor/packages/monitor_web/plugin/process_matcher/main_test.go
Labels: project/monitor, feat

#6167 feat: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配 --story=123854511
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#6175 fix: 邮件订阅发送外部链接错误问题 --bug=142038932
  bkmonitor/alarm_backends/service/report/render/dashboard.py
Labels: project/monitor, fix

#6177 feat: 优化 grafana 导航栏跳转逻辑 --story=123867451
  bklog/bk_dataview/grafana/settings.py
Labels: project/log, feat

#6178 feat: 【APM】错误列表增加调用链跳转按钮 --story=123709904
  bkmonitor/apm/models/datasource.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, feat

#6179 feat: 升级 bamboo-pipeline 版本 --story=123871912
  bklog/requirements.txt
Labels: project/log, feat

#6185 feat: 支持 apm 下服务关联跨业务日志索引集
  bkmonitor/packages/apm_web/handlers/log_handler.py
Labels: project/apm, feat, notapd

#6187 fix: 大范围检索时需要进行分片查询 - 完成 unify-query 的适配,bug修复 --bug=142074464
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, fix

#6188 feat: 1. 完善收藏夹新开标签页功能 2. 维度列表不需要统计功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/index.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#6160 fix: 默认路由解析添加参数问题修复
  bklog/web/src/App.vue
  bklog/web/src/main.js
  bklog/web/src/views/extract/index.vue
  bklog/web/src/views/manage/index.vue
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
  bklog/web/src/views/retrieve/index.vue
Labels: project/log, fix

#6189 feat: trace检索过滤栏优化
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/components/favorite-info/render-favorite-query.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/index.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#6190 minor: apm 获取日志索引集，增加缓存逻辑
  bkmonitor/constants/apm.py
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, chore, notapd

#6163 feat: 镜像构建改为使用uv进行依赖安装 --story=123847581
  bkmonitor/.dockerignore
  bkmonitor/Dockerfile
  bkmonitor/README.md
  bkmonitor/docs/logo.png
  bkmonitor/pyproject.toml
  bkmonitor/requirements.txt
  bkmonitor/requirements_aidev.txt
  bkmonitor/uv.lock
Labels: project/monitor, feat

#6194 perf: 优化 apm 主机发现逻辑，复用告警后台主机缓存数据
  bkmonitor/apm/core/discover/host.py
Labels: project/apm, perf, notapd

#6171 feat: Metadata: 新增计算平台结果表同步周期任务 --story=123849913
  bkmonitor/api/bkdata/default.py
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/config/role/worker.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/task/bkbase.py
  bkmonitor/metadata/task/utils.py
  bkmonitor/metadata/tests/task/test_sync_bkbase_metadata.py
  bkmonitor/metadata/utils/bkbase.py
Labels: project/monitor, feat

#6196 feat: trace 检索新的 trace/span 列表接口 --story=123847415
  bkmonitor/webpack/src/monitor-api/modules/apm_trace.js
Labels: project/apm, feat

#6191 feat: trace检索开发
  bkmonitor/webpack/src/trace/components/monitor-cross-drag/monitor-cross-drag.scss
  bkmonitor/webpack/src/trace/components/monitor-cross-drag/monitor-cross-drag.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-popover.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.scss
Labels: project/monitor, feat

#6197 feat: 【APM / Trace检索】字段分析网关接口补充 --story=123888805
  bkmonitor/api/apm_api/default.py
Labels: project/apm, feat

#6148 feat: 索引集列表支持按分组展示 --story=123773044
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/log_search/serializers.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#6202 feat: 智能监控支持事件和日志来源的时序指标 --story=123867460
  bkmonitor/bkmonitor/strategy/new_strategy.py
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
  bkmonitor/webpack/src/monitor-pc/pages/strategy-config/strategy-config-set-new/detection-rules/detection-rules.tsx
Labels: project/monitor, feat

#6203 fix: 修复获取 apm 关联日志报错
  bkmonitor/packages/apm_web/handlers/log_handler.py
  bkmonitor/packages/apm_web/log/resources.py
Labels: project/apm, fix, notapd

#6198 feat: query string支持单引号语法
  bklog/apps/tests/log_commons/test_lucene.py
  bklog/apps/utils/lucene.py
Labels: project/log, feat

#6208 feat: 优化 trace 上报格式 --story=123905987
  bklog/apps/log_esquery/esquery/client/QueryClientBkData.py
Labels: project/log, feat

#6209 fix: 无数据检测问题修复 --bug=142136315
  bklog/apps/log_esquery/serializers.py
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, fix

#6199 feat: Metadata: BkBase RT信息纳管 -- 监控查询路由+单业务实时同步接口 --story=123888901
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/resources/test_bkdata_resources.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
Labels: project/monitor, feat

#6212 feat: apm多租户改造-appliation models相关改造
  bkmonitor/apm/migrations/0048_auto_20250418_1123.py
  bkmonitor/apm/models/application.py
  bkmonitor/packages/apm_web/migrations/0029_auto_20250418_1123.py
  bkmonitor/packages/apm_web/models/application.py
  bkmonitor/packages/monitor_web/iam/views.py
  bkmonitor/packages/monitor_web/overview/search.py
  bkmonitor/packages/monitor_web/search/handlers/apm.py
Labels: project/apm, feat

#6211 feat: 自定义上报地址改成动态展示-调整接口返回格式 --story=123912065
  bklog/apps/log_databus/views/collector_views.py
Labels: project/log, feat

#6215 feat: Metadata: BkBase路由纳管接口命名调整 --story=123916895
  bkmonitor/kernel_api/views/v3/meta.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/resources/resources.py
  bkmonitor/metadata/tests/resources/test_bkdata_resources.py
  bkmonitor/metadata/tests/space/test_result_table_detail_router.py
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
Labels: project/monitor, feat

#6176 feat: APM 检索能力对接 UnifyQuery / 后台基础接口 --story=123843451
  bkmonitor/apm/models/datasource.py
  bkmonitor/apm/resources.py
  bkmonitor/bkmonitor/data_source/backends/elastic_search/compiler.py
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
  bkmonitor/constants/apm.py
Labels: project/apm, feat

#6195 feat: 【Trace】检索能力对接 UnifyQuery / 首页 TraceID 检索 --story=123883807
  bkmonitor/packages/monitor_web/overview/search.py
Labels: project/apm, feat

#6170 feat: trace 检索新增视图配置接口 --story=122594569
  bkmonitor/packages/apm_web/trace/constants.py
  bkmonitor/packages/apm_web/trace/resources.py
  bkmonitor/packages/apm_web/trace/serializers.py
Labels: project/apm, feat

#6200 feat: trace 检索 info 接口 --story=123776572
  bkmonitor/packages/apm_web/handlers/trace_handler/dimension_statistics.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#6087 feat: 监控网关api 兼容旧esb网关和新网关 --story=123701143
  bklog/apps/api/modules/monitor.py
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_clustering/constants.py
  bklog/apps/log_clustering/handlers/pattern.py
  bklog/apps/log_clustering/utils/monitor.py
  bklog/config/default.py
  bklog/dev.env.yml
  bklog/prod.env.yml
  bklog/stag.env.yml
Labels: project/log, feat

#6217 fix: 调整服务模块相关api接口参数
  bkmonitor/webpack/src/monitor-pc/components/monitor-ip-selector/utils.ts
Labels: project/monitor, fix

#6219 feat: trace检索图表增加图例
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/explore-chart.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/use-chart-legend.ts
Labels: project/monitor, feat

#6220 feat: trace检索开发
  bkmonitor/webpack/src/monitor-pc/lang/form-label.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-collapse.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-collapse.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-field-setting/explore-field-setting.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/constants.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-popover.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils/api-utils.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils/dom-helper.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/utils/index.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.tsx
Labels: project/monitor, feat

#6223 fix: 自定义指标 支持单位搜索
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/custom-escalation-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table-slide.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/custom-escalation-detail/metric-table.tsx
Labels: project/monitor, fix

#6161 fix: 故障拓扑调用边需要有指向箭头
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/resource-graph/resource-graph.tsx
Labels: project/monitor, fix

#6221 feat: 完成图表菜单功能
  bkmonitor/webpack/src/trace/components/chart-filtering/chart-filtering.tsx
  bkmonitor/webpack/src/trace/pages/main/inquire.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/explore-chart.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/explore-chart.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/menu.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/use-chart-title-event.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/use-echarts.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/favorite-box/types.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#6228 fix: 运营数据拨测节点状态采集多租户兼容 --bug=142204043
  bkmonitor/packages/monitor_web/statistics/v2/base.py
  bkmonitor/packages/monitor_web/statistics/v2/uptimecheck.py
  bkmonitor/packages/monitor_web/uptime_check/resources.py
Labels: project/monitor, fix

#6229 fix: combo的label优化、接口联调 --Bug=122594887
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/elkjs-utils.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.scss
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/feedback-cause-dialog.tsx
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/service-combo.tsx
  bkmonitor/webpack/src/trace/static/img/failure/icon-cancel-feedback.svg
  bkmonitor/webpack/src/trace/static/img/failure/icon-feedback.svg
Labels: project/monitor, feat

#6232 feat: batch request 支持设置租户ID --story=123949638
  bklog/apps/api/base.py
Labels: project/log, feat

#6237 feat: 【关联事件】事件展示面板宽度优化
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/custom-event-menu/custom-event-menu.scss
Labels: project/monitor, feat

#6238 fix: 修复快捷键不生效，图表框选时间没有回填的问题
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.scss
  bkmonitor/webpack/src/trace/components/empty-status/empty-status.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, fix

#6239 feat: 监控策略针对服务模板的增删，页面无法正常显示 --story=123859459
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
Labels: project/monitor, feat

#6214 feat: 容器监控容量场景开发
  bkmonitor/webpack/src/monitor-pc/lang/table-column.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/filter-by-condition/filter-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/group-by-condition/group-by-condition.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-detail-slider/k8s-detail-slider.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-left-panel/k8s-dimension-list.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-nav-bar/K8s-nav-bar.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/k8s-dimension.ts
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/typings/k8s-new.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/k8s-custom-graph/k8s-dimension-drilldown.tsx
Labels: project/monitor, feat

#6241 fix: 清洗字段分词符设置失效 --bug=142273297
  bklog/apps/log_databus/handlers/etl_storage/base.py
Labels: project/log, fix

#6240 fix: 指标单位错误，监控容器排序问题
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/scenario/capacity.py
Labels: project/monitor, fix

#6243 fix: 修复servicemonitor同步，metric_path列表重复可能导致同步失败的问题 --bug=142281439
  bkmonitor/bkmonitor/models/bcs_monitor.py
Labels: project/monitor, fix

#6244 fix: 切换业务之后关联trace查询参数错误
  bklog/web/src/store/index.js
Labels: project/log, fix

#6112 fix: unifyquery条件拼接问题
  bklog/apps/log_unifyquery/constants.py
Labels: project/log, fix

#6248 feat: 去除bkmonitorproxy的配置下发逻辑 --story=123968301
  bkmonitor/metadata/models/__init__.py
  bkmonitor/metadata/models/custom_report/__init__.py
  bkmonitor/metadata/task/custom_report.py
Labels: project/apm, feat

#6236 feat: 多租户改造--Metadata数据模型兼容多租户 --story=123942778
  bkmonitor/metadata/migrations/0211_auto_20250326_1534.py
  bkmonitor/metadata/migrations/0212_auto_20250311_1943.py
  bkmonitor/metadata/migrations/0213_auto_20250319_1602.py
  bkmonitor/metadata/migrations/0214_remove_label_bk_tenant_id.py
  bkmonitor/metadata/migrations/0215_auto_20250321_1601.py
  bkmonitor/metadata/migrations/0216_datasource_is_tenant_specific_global.py
  bkmonitor/metadata/migrations/0217_auto_20250327_1150.py
  bkmonitor/metadata/migrations/0218_redisstorage_bk_tenant_id.py
  bkmonitor/metadata/migrations/0219_recordrule_bk_tenant_id.py
  bkmonitor/metadata/migrations/0220_auto_20250410_1609.py
  bkmonitor/metadata/migrations/0221_merge_0213_auto_20250409_1650_0220_auto_20250410_1609.py
  bkmonitor/metadata/migrations/0222_auto_20250416_1427.py
  bkmonitor/metadata/migrations/0223_merge_20250512_2000.py
  bkmonitor/metadata/models/bcs/cluster.py
  bkmonitor/metadata/models/bcs/resource.py
  bkmonitor/metadata/models/bkdata/result_table.py
  bkmonitor/metadata/models/common.py
  bkmonitor/metadata/models/custom_report/base.py
  bkmonitor/metadata/models/custom_report/event.py
  bkmonitor/metadata/models/custom_report/log.py
  bkmonitor/metadata/models/custom_report/time_series.py
  bkmonitor/metadata/models/data_link/__init__.py
  bkmonitor/metadata/models/data_pipeline/pipeline.py
  bkmonitor/metadata/models/data_source.py
  bkmonitor/metadata/models/es_snapshot.py
  bkmonitor/metadata/models/record_rule/__init__.py
  bkmonitor/metadata/models/record_rule/rules.py
  bkmonitor/metadata/models/result_table.py
  bkmonitor/metadata/models/space/ds_rt.py
  bkmonitor/metadata/models/space/space.py
  bkmonitor/metadata/models/space/space_table_id_redis.py
  bkmonitor/metadata/models/space/utils.py
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/models/vm/record.py
  bkmonitor/metadata/task/sync_space.py
  bkmonitor/metadata/task/tasks.py
  bkmonitor/metadata/tests/monitor_router/__init__.py
  bkmonitor/metadata/tests/monitor_router/test_data_label_to_rt.py
  bkmonitor/metadata/tests/monitor_router/test_result_table_detail.py
  bkmonitor/metadata/tests/monitor_router/test_space_to_rt.py
Labels: project/monitor, feat

#6250 fix: Metadata：修复DataSourceResultTable 唯一索引问题 --bug=142303489
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, fix

#6115 feat: Trace 检索元数据补充 --story=123732255
  bkmonitor/apm/core/discover/precalculation/storage.py
  bkmonitor/apm/models/datasource.py
  bkmonitor/constants/apm.py
  bkmonitor/metadata/management/commands/sync_trace_unify_query_router.py
  bkmonitor/metadata/migrations/0215_auto_20250512_2100.py
Labels: project/apm, feat

#6251 fix: trace 检索图表的配置接口补齐 fill_bar 参数 --bug=142302825
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, fix

#6253 fix: Metadata: RT LOG 占位符问题修复 --bug=142305383
  bkmonitor/metadata/models/result_table.py
Labels: project/monitor, fix

#6255 feat: Trace 查询元数据迁移适配多租户 --story=123985074
  bkmonitor/metadata/management/commands/sync_trace_unify_query_router.py
  bkmonitor/metadata/migrations/0215_auto_20250512_2100.py
  bkmonitor/metadata/migrations/0224_auto_20250512_2100.py
Labels: project/apm, feat

#6249 fix: 常驻字段过滤值刷新清理条件不一致问题修复 & fix: 语句模式添加到查询条件格式缺少空格问题修复 & fix: 全文检索文本显示名称修复
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/result-comp/update/table-sort.vue
  bklog/web/src/views/retrieve-v2/search-bar/common-filter-select.vue
  bklog/web/src/views/retrieve-v2/search-bar/ui-input-option.vue
  bklog/web/src/views/retrieve-v2/search-result-panel/log-result/log-rows.tsx
Labels: project/log, fix

#6259 feat: unify-query 支持日志下载
  bklog/apps/log_search/tasks/unify_query_async_export.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/log_unifyquery/handler/async_export_handlers.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#6252 feat: 索引集列表支持按分组展示 --story=123773044
  bklog/apps/iam/handlers/drf.py
  bklog/apps/log_search/views/search_views.py
Labels: project/log, feat

#6256 fix: 添加RUM 配置变量 --story=123985608
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/packages/common/context_processors.py
Labels: project/apm, feat

#6260 feat: 【自定义指标】维度管理跳转页面调整 --story=123980897
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/components/header-box/components/where-condition/components/render-common-list/index.tsx
Labels: project/monitor, fix

#6204 feat: unify-query 支持日志下载 --story=123898988
  bklog/apps/log_search/tasks/unify_query_async_export.py
  bklog/apps/log_search/views/search_views.py
  bklog/apps/log_unifyquery/handler/async_export_handlers.py
  bklog/apps/log_unifyquery/handler/base.py
Labels: project/log, feat

#6261 feat: 添加无应用展示
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/plugins/utls/menu.ts
Labels: project/monitor, feat

#6234 feat: 【APM / Trace检索】图表分析 --story=123784524
  bkmonitor/api/apm_api/default.py
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
  bkmonitor/apm/utils/base.py
  bkmonitor/apm/views.py
  bkmonitor/packages/monitor_web/data_explorer/event/resources.py
  bkmonitor/packages/monitor_web/data_explorer/event/utils.py
  bkmonitor/packages/monitor_web/data_explorer/views.py
Labels: project/apm, feat

#6264 feat: trace检索体验问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting-transfer.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting-transfer.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/use-candidate-value.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, feat

#6276 fix: 修复告警通知检索链接未正确跳转 --bug=142335807
  bkmonitor/packages/monitor_adapter/home/alert_redirect.py
Labels: project/monitor, fix

#6277 feat: trace检索开发-table表格横向滚动条吸底效果
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.scss
Labels: project/monitor, feat

#6273 feat: 切换metadata路由相关接口 --story=123896346
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_search/handlers/index_set.py
  bklog/apps/tests/log_search/test_indexset.py
Labels: project/log, feat

#6268 feat: Metadata: 日志路由接口放开cluster_id参数限制&优化 --story=123925159
  bkmonitor/metadata/models/storage.py
  bkmonitor/metadata/resources/log_datalink.py
  bkmonitor/metadata/tests/resources/test_log_data_link.py
Labels: project/monitor, feat

#6210 feat: 【关联事件】事件展示面板交互优化
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/monitor, feat

#6279 fix: 修复 apm 定时任务，非业务空间下运行失败问题 --bug=142350178
  bkmonitor/apm/core/discover/host.py
Labels: project/apm, fix

#6280 fix: trace检索体验问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/qs-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/use-candidate-value.ts
Labels: project/monitor, fix

#6282 feat: 【关联事件】事件展示面板保存服务配置按钮增加tips
  bkmonitor/webpack/src/monitor-pc/lang/tips.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/caller-line-chart/caller-line-chart.tsx
Labels: project/monitor, feat

#6287 feat: 【自定义指标】数据点信息联动展示 --story=123746388
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/panel-chart-view.tsx
Labels: project/monitor, feat

#6284 feat: trace检索开发-table空状态显示样式调整
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/explore-table-empty.scss
Labels: project/monitor, feat

#6286 feat: 部分维度字段统计增加别名映射展示功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-echarts.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/constants.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/typing.ts
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
Labels: project/monitor, feat

#6283 fix: trace检索体验问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
Labels: project/monitor, fix

#6288 feat: access event 性能优化，支持基于partition的消费扩容 --story=123956000
  bkmonitor/alarm_backends/core/storage/kafka_v2.py
  bkmonitor/alarm_backends/service/access/event/processor.py
Labels: project/monitor, feat

#6291 feat: access event 性能优化，支持基于partition的消费扩容 --story=123956000
  bkmonitor/alarm_backends/core/storage/kafka_v2.py
Labels: project/monitor, feat

#6294 fix: grafana cmdb 变量字段查询兼容cmdb接口查询无数据 --bug=142372493
  bkmonitor/packages/monitor_web/grafana/resources/time_series.py
Labels: project/monitor, fix

#6290 feat: 【Trace】检索能力对接 UnifyQuery / 错误 --story=124001823
  bkmonitor/packages/apm_web/handlers/component_handler.py
  bkmonitor/packages/apm_web/handlers/service_handler.py
  bkmonitor/packages/apm_web/meta/resources.py
Labels: project/apm, feat

#6296 feat: Metadata: 索引轮转 别名字段判断优化 -- 当对同一原始字段配置的别名名称发生变更时,轮转 --story=124019478
  bkmonitor/metadata/models/storage.py
Labels: project/monitor, feat

#6254 feat: 无数据告警恢复或关闭支持消息队列推送 --story=123982853
  bkmonitor/alarm_backends/service/composite/processor.py
  bkmonitor/alarm_backends/service/fta_action/tasks/create_action.py
Labels: project/monitor, feat

#6297 feat: 事件检索维度字段分析图表增加图例功能 --story=123692316
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-echarts.scss
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/dimension-echarts.tsx
  bkmonitor/webpack/src/monitor-pc/pages/event-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/page-legend.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/components/chart-legend/page-legend.tsx
Labels: project/monitor, feat

#6281 feat: 【APM / Trace检索】候选项接口 --story=123958613
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/core/handlers/query/proxy.py
  bkmonitor/apm/core/handlers/query/span_query.py
  bkmonitor/apm/core/handlers/query/trace_query.py
  bkmonitor/apm/resources.py
Labels: project/apm, feat

#6299 fix: trace检索过滤栏增加值别名
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/use-candidate-value.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-tag-selector.tsx
  bkmonitor/webpack/src/trace/directive/index.ts
  bkmonitor/webpack/src/trace/directive/overflow-text.ts
Labels: project/monitor, fix

#6303 fix: 其他模块跳转首页默认路由解析修复
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#6304 fix: 【APM / Trace检索】候选项接口query_string参数设置默认值兼容旧版传参 --bug=142397195
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#6305 fix: 上下文unifyquery接入修复 --bug=142398168
  bklog/apps/log_unifyquery/handler/base.py
  bklog/apps/log_unifyquery/handler/tail.py
Labels: project/log, fix

#6306 fix: 【APM / Trace检索】 修复候选项query_string参数不允许为空字符的问题 --bug=142399629
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#6309 fix: 【APM / Trace检索】修复候选项查询Filters参数序列化器导入错误的问题 --bug=142402514
  bkmonitor/apm/resources.py
Labels: project/apm, fix

#6310 fix: 修复故障拓扑单链路故障数据排版异常 --bug=142327488
  bkmonitor/webpack/src/fta-solutions/package.json
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/elkjs-utils.ts
  bkmonitor/webpack/src/trace/pages/failure/failure-topo/failure-topo-tooltips.tsx
Labels: project/monitor, fix

#6308 fix: 修复space缓存回填问题
  bklog/web/src/main.js
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/preload.ts
  bklog/web/src/router/index.js
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/modules/report-log.ts
  bklog/web/src/store/store.type.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#6314 feat: Metadata: query_vmrt API配置调整 --story=124037918
  bkmonitor/support-files/apigw/resources/internal/app/metadata.yaml
Labels: project/monitor, feat

#5360 feat: trace 检索获取字段候选项 --story=122272976
  bkmonitor/packages/apm_web/handlers/trace_handler/query.py
  bkmonitor/packages/apm_web/trace/resources.py
Labels: project/apm, feat

#6313 fix: 【主机监控】主机树搜索时父节点匹配关键字未展示子节点 --bug=142409159
  bkmonitor/webpack/src/monitor-pc/pages/performance/performance-detail/host-tree/host-tree.tsx
Labels: project/monitor, fix

#6318 fix: trace检索过滤栏缓存逻辑调整
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/typing.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/use-candidate-value.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
Labels: project/monitor, fix

#6319 fix: space切换参数回填问题处理
  bklog/web/src/main.js
  bklog/web/src/mixins/nav-menu-mixin.js
  bklog/web/src/store/index.js
  bklog/web/src/store/url-resolver.ts
  bklog/web/src/views/retrieve-v3/use-app-init.tsx
Labels: project/log, fix

#6321 feat: apm日志开发
  bklog/web/src/store/default-values.ts
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
  bklog/web/src/views/retrieve-v3/monitor/monitor.tsx
  bklog/web/src/views/retrieve-v3/monitor/use-monitor-app-init.ts
  bklog/web/src/views/retrieve-v3/toolbar/index.tsx
Labels: project/monitor, feat

#6322 feat: 短语检索支持前缀匹配 unify-query支持
  bklog/apps/log_unifyquery/constants.py
Labels: project/log, feat

#6324 feat: API请求增加是否将 bk_username 加入请求参数的配置项 --story=124044640
  bkmonitor/api/cmdb/client.py
  bkmonitor/core/drf_resource/contrib/api.py
Labels: project/monitor, feat

#6316 fix: 删除 node 对 master_node_count 和 worker_node_count 的支持
  bkmonitor/packages/monitor_web/k8s/core/meta.py
  bkmonitor/packages/monitor_web/k8s/scenario/capacity.py
Labels: project/monitor, fix

#6327 feat: apm日志优化
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
  bklog/web/src/views/retrieve-v3/monitor/use-monitor-app-init.ts
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
Labels: project/monitor, fix

#6332 fix: JSON解析mark标签导致解析失败降级处理 & 修复趋势图双击失效问题
  bklog/web/src/global/json-formatter.vue
  bklog/web/src/hooks/use-trend-chart.ts
Labels: project/log, fix

#6333 fix: 数据下钻报错问题处理 --bug=142433041
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/monitor, fix

#6334 fix: 修复 APM 服务列表偶现日志数据状态获取失败的问题 --bug=142433727
  bkmonitor/packages/apm_web/handlers/log_handler.py
Labels: project/apm, fix

#6328 feat: apm日志优化
  bklog/web/src/hooks/hooks-helper.ts
  bklog/web/src/views/retrieve-v3/monitor/monitor.scss
  bklog/web/src/views/retrieve-v3/search-result/index.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve-old.scss
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-retrieve/monitor-retrieve.scss
Labels: project/monitor, feat

#6336 fix: 修复默认更新缓存id逻辑
  bklog/web/src/preload.ts
  bklog/web/src/store/index.js
Labels: project/log, fix

#6315 feat: 新增蓝盾插件使用的策略列表 --story=124032830
  bkmonitor/packages/monitor_web/strategies/resources/v2.py
  bkmonitor/packages/monitor_web/strategies/views.py
Labels: project/monitor, feat

#6329 feat: Metadata: 索引轮转任务宏观调度入口不再传递完整QS --story=124046538
  bkmonitor/metadata/task/config_refresh.py
  bkmonitor/metadata/task/tasks.py
Labels: project/monitor, feat

#6340 feat: 【告警组】告警组修改通知人不生效 --story=124059542
  bkmonitor/webpack/src/monitor-pc/pages/alarm-group/alarm-group-detail/alarm-group-detail.tsx
Labels: project/monitor, fix

#6342 feat:【自定义指标】图表多维度对比的时候线条对比不明显 --story=123886586
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/drill-analysis-table.tsx
  bkmonitor/webpack/src/monitor-pc/pages/custom-escalation/new-metric-view/metric-chart-view/metric-chart.tsx
  bkmonitor/webpack/src/monitor-ui/chart-plugins/constants/charts.ts
Labels: project/monitor, feat

#6343 feat: 历史查询接口返回增加created_by,created_at --story=124063267
  bklog/apps/log_search/handlers/search/search_handlers_esquery.py
Labels: project/log, feat

#6347 feat: Metadata: 支持不对特定特殊BCS集群置为删除状态 --story=124064373
  bkmonitor/bkmonitor/define/global_config.py
  bkmonitor/config/default.py
  bkmonitor/metadata/task/bcs.py
Labels: project/monitor, feat

#6344 fix: 修复路由解析参数默认数据类型
  bklog/web/src/components/ellipsis-tag-list/index.tsx
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
  bklog/web/src/views/retrieve-v2/components/index-set-choice/index-set-list.tsx
  bklog/web/src/views/retrieve-v2/sub-bar/index.vue
Labels: project/log, fix

#6349 fix: 修复默认为空解析问题
  bklog/web/src/store/index.js
Labels: project/log, fix

#6317 feat: 【事件检索】收藏夹走查问题
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/batch-operation-menu.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/batch-operation-menu.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-group.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/collect-index.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-detail.tsx
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.scss
  bkmonitor/webpack/src/monitor-pc/pages/data-retrieval/favorite-container/favorite-manage-dialog.tsx
Labels: project/monitor, accepted

#6348 feat: APM 调用分析图表 hover 缺少时间信息 --Story=124007021
  bkmonitor/webpack/src/monitor-ui/chart-plugins/plugins/monitor-base-echart.tsx
Labels: project/monitor, feat

#6352 fix: 容器监控-切换容器场景时列排序未重置逻辑优化
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-table-new/k8s-table-new.tsx
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/monitor-k8s-new.tsx
Labels: project/monitor, fix

#6350 fix: 修复验收文档中的问题
  bkmonitor/webpack/src/trace/pages/main/span-details.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-trace-slider/explore-trace-slider.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/plugins/base-echart.tsx
  bkmonitor/webpack/src/trace/store/modules/explore.ts
Labels: project/monitor, fix

#6357 fix: trace检索-验收文档问题修复
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-collapse.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/explore-chart/chart-wrapper.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/hooks/use-table-popover.ts
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-table/trace-explore-table.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-view/trace-explore-view.scss
Labels: project/monitor, fix

#6358 fix: trace检索开发自测问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting-transfer.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/resident-setting.scss
  bkmonitor/webpack/src/trace/components/retrieval-filter/retrieval-filter.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/setting-kv-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/time-consuming.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/utils.ts
  bkmonitor/webpack/src/trace/components/retrieval-filter/value-options.tsx
Labels: project/monitor, fix

#6360 fix: trace检索开发自测问题修复
  bkmonitor/webpack/src/trace/components/retrieval-filter/time-consuming.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/ui-selector-options.tsx
  bkmonitor/webpack/src/trace/components/retrieval-filter/use-candidate-value.ts
Labels: project/monitor, fix

#6363 fix: 修复 apm 应用数据状态同步任务异常问题 --bug=142535983
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix

#6364 fix: 修复 apm 自定义指标列表获取不全问题 --bug=142536114
  bkmonitor/packages/apm_web/handlers/metric_group/helper.py
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix

#6365 fix: 修复 apm 事件通知上报异常 --bug=142543151
  bkmonitor/packages/apm_web/tasks.py
Labels: project/apm, fix

#6320 feat: 新版 Trace 检索支持使用通配符 --story=124044445
  bkmonitor/bkmonitor/data_source/data_source/__init__.py
Labels: project/apm, feat

#6366 fix: UI查询弹出自动focus功能修复
  bklog/web/src/views/retrieve-v2/search-bar/ui-input.vue
Labels: project/log, fix

#6367 fix: trace 视角 status_code 候选项获取失败 --bug=142561641
  bkmonitor/packages/apm_web/handlers/trace_handler/query.py
Labels: project/apm, fix

#6368 feat: 升级cos-python-sdk依赖版本 --story=124099577
  bklog/requirements.txt
Labels: project/log, feat

#6359 fix: 修复容量场景下排序问题
  bkmonitor/packages/monitor_web/k8s/resources.py
Labels: project/monitor, fix

#6351 feat: 容器监控容量场景指标sql替换 --Story=124069394
  bkmonitor/webpack/pnpm-lock.yaml
  bkmonitor/webpack/src/monitor-pc/pages/monitor-k8s/components/k8s-charts/k8s-charts.tsx
Labels: project/monitor, feat

#6345 fix: cluster 的 worker_node_count 值为空
  bkmonitor/packages/monitor_web/k8s/core/meta.py
Labels: project/monitor, fix

#6356 feat: 多租户异步任务接口调用适配部分修改
  bklog/apps/api/modules/bkdata_aiops.py
  bklog/apps/api/modules/bkdata_dataflow.py
  bklog/apps/api/modules/bkdata_resource_center.py
  bklog/apps/api/modules/cmsi.py
  bklog/apps/api/modules/transfer.py
  bklog/apps/log_clustering/components/collections/flow_component.py
  bklog/apps/log_clustering/handlers/clustering_config.py
  bklog/apps/log_clustering/handlers/data_access/data_access.py
  bklog/apps/log_clustering/handlers/dataflow/dataflow_handler.py
  bklog/apps/log_databus/handlers/collector.py
  bklog/apps/log_search/handlers/meta.py
Labels: project/log, feat

#6369 fix: 修复语句模式添加undefined问题 & 参数bizid解析和spaceId冲突
  bklog/web/src/preload.ts
  bklog/web/src/store/default-values.ts
  bklog/web/src/store/index.js
Labels: project/log, fix

#6231 feat: 进程采集调试接口 --story=123891464
  bkmonitor/core/errors/plugin.py
  bkmonitor/locale/en/LC_MESSAGES/django.mo
  bkmonitor/locale/en/LC_MESSAGES/django.po
  bkmonitor/locale/en/LC_MESSAGES/djangojs.mo
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.mo
  bkmonitor/locale/zh_Hans/LC_MESSAGES/django.po
  bkmonitor/locale/zh_Hans/LC_MESSAGES/djangojs.mo
  bkmonitor/packages/monitor_web/plugin/process_matcher/bin/process_matcher
  bkmonitor/packages/monitor_web/plugin/resources.py
  bkmonitor/packages/monitor_web/plugin/views.py
Labels: project/monitor, feat

#6375 fix: 【APM / Trace检索】修复图表分析接口使用_index查询导致时序数据错误的问题 --bug=142583457
  bkmonitor/apm/core/handlers/query/base.py
Labels: project/apm, fix

#6355 feat: 新版 Trace 过滤支持组件关系 & 模糊检索 --story=124035501
  bkmonitor/apm/constants.py
  bkmonitor/apm/core/handlers/query/base.py
  bkmonitor/apm/resources.py
  bkmonitor/apm/serializers.py
Labels: project/apm, feat

#6372 feat: 维度字段分析图表增加图例功能
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-echarts.scss
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-echarts.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/dimension-filter-panel.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/statistics-list.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/components/trace-explore-header.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/trace-explore.tsx
  bkmonitor/webpack/src/trace/pages/trace-explore/utils.tsx
  bkmonitor/webpack/src/trace/plugins/components/page-legend.scss
  bkmonitor/webpack/src/trace/plugins/components/page-legend.tsx
Labels: project/monitor, feat, fix

#6376 fix: 日期转换支持int类型兼容
  bklog/web/src/common/util.js
Labels: project/log, fix

#6377 feat: kernel_api忽略app_code是否验证，由网关验证即可 --story=124118371
  bkmonitor/kernel_api/middlewares/authentication.py
Labels: project/monitor, feat
